openapi: 3.1.0
info:
  title: Furkot Trips
  description: >
    Furkot provides Rest API to access user trip data.

    Using Furkot API an application can list user trips and display stops for a specific trip.

    Furkot API uses OAuth2 protocol to authorize applications to access data on behalf of users.
  contact:
    email: trips@furkot.com
  version: '1.0.0'
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
servers:
- url: https://trips.furkot.com/pub/api
  variables: {}
- url: https://trips.furkot.com/oauth
  variables: {}
paths:
  /trip:
    get:
      summary: Trip_GET
      description: list user's trips
      operationId: Trip_GET
      parameters: []
      responses:
        '200':
          description: Successful response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Trip'
                description: ''
                contentMediaType: application/json
      deprecated: false
    parameters: []
  /trip/{trip_id}/stop:
    get:
      summary: TripStopByTripId_GET
      description: list stops for a trip identified by {trip_id}
      operationId: TripStopByTripId_GET
      parameters:
      - name: trip_id
        in: path
        description: id of the trip
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          headers: {}
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Step'
                description: ''
                contentMediaType: application/json
      deprecated: false
    parameters: []
components:
  schemas:
    Step:
      title: Step
      type: object
      properties:
        address:
          type: string
          description: address of the stop
        arrival:
          type: string
          description: arrival at the stop in its local timezone as YYYY-MM-DDThh:mm
          contentEncoding: date-time
        coordinates:
          allOf:
          - $ref: '#/components/schemas/Coordinates'
          - description: geographical coordinates of the stop
        departure:
          type: string
          description: departure from the stop in its local timezone as YYYY-MM-DDThh:mm
          contentEncoding: date-time
        name:
          type: string
          description: name of the stop
        nights:
          type: integer
          description: number of nights
          contentEncoding: int64
        passthru:
          type: boolean
          description: true for pass-through points anchoring route
        route:
          allOf:
          - $ref: '#/components/schemas/Route'
          - description: route leading to the stop
        url:
          type: string
          description: url of the page with more information about the stop
    Trip:
      title: Trip
      type: object
      properties:
        begin:
          type: string
          description: begin of the trip in its local timezone as YYYY-MM-DDThh:mm
          contentEncoding: date-time
        description:
          type: string
          description: description of the trip (truncated to 200 characters)
        end:
          type: string
          description: end of the trip in its local timezone as YYYY-MM-DDThh:mm
          contentEncoding: date-time
        id:
          type: string
          description: Unique ID of the trip
        name:
          type: string
          description: name of the trip
    Coordinates:
      title: Coordinates
      type: object
      properties:
        lat:
          type: number
          description: latitude
        lon:
          type: number
          description: longitude
      description: geographical coordinates of the stop
    Mode:
      title: Mode
      enum:
      - car
      - motorcycle
      - bicycle
      - walk
      - other
      type: string
      description: travel mode
    Route:
      title: Route
      type: object
      properties:
        distance:
          type: integer
          description: route distance in meters
          contentEncoding: int64
        duration:
          type: integer
          description: route duration in seconds
          contentEncoding: int64
        mode:
          allOf:
          - $ref: '#/components/schemas/Mode'
          - description: travel mode
        polyline:
          type: string
          description: route path compatible with Google polyline encoding algorithm
      description: route leading to the stop
  securitySchemes:
    furkot_auth_access_code:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://trips.furkot.com/oauth/authorize
          tokenUrl: https://trips.furkot.com/pub/api/access_token
          scopes:
            read:trips: list trips and stops info
    furkot_auth_implicit:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://trips.furkot.com/oauth/authorize
          scopes:
            read:trips: list users trips info
security:
- furkot_auth_access_code:
  - read:trips
- furkot_auth_implicit:
  - read:trips
tags: []
externalDocs:
  description: Furkot API description
  url: https://help.furkot.com/widgets/furkot-api.html
