FORMAT: 1A
HOST: http://athena.us-east-1.amazonaws.com

# Amazon Athena
<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href="http://docs.aws.amazon.com/athena/latest/ug/what-is.html">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href="https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="https://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>

## Authentication
This API uses Custom Header for its authentication.

The parameters that are needed to be sent for this type of authentication are as follows:
+ `Authorization` - Amazon Signature authorization v4

# X Amz TargetAmazonAthenaBatchGetNamedQuery [/#X-Amz-Target=AmazonAthena.BatchGetNamedQuery]

## BatchGetNamedQuery [POST]
Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of query execution IDs.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (BatchGetNamedQueryInput)



+ Response 200 (application/json)

        Success

    + Attributes (BatchGetNamedQueryOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaBatchGetPreparedStatement [/#X-Amz-Target=AmazonAthena.BatchGetPreparedStatement]

## BatchGetPreparedStatement [POST]
Returns the details of a single prepared statement or a list of up to 256 prepared statements for the array of prepared statement names that you provide. Requires you to have access to the workgroup to which the prepared statements belong. If a prepared statement cannot be retrieved for the name specified, the statement is listed in <code>UnprocessedPreparedStatementNames</code>.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (BatchGetPreparedStatementInput)



+ Response 200 (application/json)

        Success

    + Attributes (BatchGetPreparedStatementOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaBatchGetQueryExecution [/#X-Amz-Target=AmazonAthena.BatchGetQueryExecution]

## BatchGetQueryExecution [POST]
Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran. To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details about named queries.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (BatchGetQueryExecutionInput)



+ Response 200 (application/json)

        Success

    + Attributes (BatchGetQueryExecutionOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreateDataCatalog [/#X-Amz-Target=AmazonAthena.CreateDataCatalog]

## CreateDataCatalog [POST]
Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same Amazon Web Services account.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreateDataCatalogInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreateNamedQuery [/#X-Amz-Target=AmazonAthena.CreateNamedQuery]

## CreateNamedQuery [POST]
<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreateNamedQueryInput)



+ Response 200 (application/json)

        Success

    + Attributes (CreateNamedQueryOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreateNotebook [/#X-Amz-Target=AmazonAthena.CreateNotebook]

## CreateNotebook [POST]
Creates an empty <code>ipynb</code> file in the specified Apache Spark enabled workgroup. Throws an error if a file in the workgroup with the same name already exists.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreateNotebookInput)



+ Response 200 (application/json)

        Success

    + Attributes (CreateNotebookOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreatePreparedStatement [/#X-Amz-Target=AmazonAthena.CreatePreparedStatement]

## CreatePreparedStatement [POST]
Creates a prepared statement for use with SQL queries in Athena.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreatePreparedStatementInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreatePresignedNotebookUrl [/#X-Amz-Target=AmazonAthena.CreatePresignedNotebookUrl]

## CreatePresignedNotebookUrl [POST]
Gets an authentication token and the URL at which the notebook can be accessed. During programmatic access, <code>CreatePresignedNotebookUrl</code> must be called every 10 minutes to refresh the authentication token. For information about granting programmatic access, see <a href="https://docs.aws.amazon.com/athena/latest/ug/setting-up.html#setting-up-grant-programmatic-access">Grant programmatic access</a>.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreatePresignedNotebookUrlRequest)



+ Response 200 (application/json)

        Success

    + Attributes (CreatePresignedNotebookUrlResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaCreateWorkGroup [/#X-Amz-Target=AmazonAthena.CreateWorkGroup]

## CreateWorkGroup [POST]
Creates a workgroup with the specified name. A workgroup can be an Apache Spark enabled workgroup or an Athena SQL workgroup.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (CreateWorkGroupInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaDeleteDataCatalog [/#X-Amz-Target=AmazonAthena.DeleteDataCatalog]

## DeleteDataCatalog [POST]
Deletes a data catalog.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (DeleteDataCatalogInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaDeleteNamedQuery [/#X-Amz-Target=AmazonAthena.DeleteNamedQuery]

## DeleteNamedQuery [POST]
<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (DeleteNamedQueryInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaDeleteNotebook [/#X-Amz-Target=AmazonAthena.DeleteNotebook]

## DeleteNotebook [POST]
Deletes the specified notebook.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (DeleteNotebookInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaDeletePreparedStatement [/#X-Amz-Target=AmazonAthena.DeletePreparedStatement]

## DeletePreparedStatement [POST]
Deletes the prepared statement with the specified name from the specified workgroup.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (DeletePreparedStatementInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaDeleteWorkGroup [/#X-Amz-Target=AmazonAthena.DeleteWorkGroup]

## DeleteWorkGroup [POST]
Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (DeleteWorkGroupInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaExportNotebook [/#X-Amz-Target=AmazonAthena.ExportNotebook]

## ExportNotebook [POST]
Exports the specified notebook and its metadata.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ExportNotebookInput)



+ Response 200 (application/json)

        Success

    + Attributes (ExportNotebookOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetCalculationExecution [/#X-Amz-Target=AmazonAthena.GetCalculationExecution]

## GetCalculationExecution [POST]
Describes a previously submitted calculation execution.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetCalculationExecutionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (GetCalculationExecutionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetCalculationExecutionCode [/#X-Amz-Target=AmazonAthena.GetCalculationExecutionCode]

## GetCalculationExecutionCode [POST]
Retrieves the unencrypted code that was executed for the calculation.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetCalculationExecutionCodeRequest)



+ Response 200 (application/json)

        Success

    + Attributes (GetCalculationExecutionCodeResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetCalculationExecutionStatus [/#X-Amz-Target=AmazonAthena.GetCalculationExecutionStatus]

## GetCalculationExecutionStatus [POST]
Gets the status of a current calculation.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetCalculationExecutionStatusRequest)



+ Response 200 (application/json)

        Success

    + Attributes (GetCalculationExecutionStatusResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetDataCatalog [/#X-Amz-Target=AmazonAthena.GetDataCatalog]

## GetDataCatalog [POST]
Returns the specified data catalog.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetDataCatalogInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetDataCatalogOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetDatabase [/#X-Amz-Target=AmazonAthena.GetDatabase]

## GetDatabase [POST]
Returns a database object for the specified database and data catalog.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetDatabaseInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetDatabaseOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        MetadataException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetNamedQuery [/#X-Amz-Target=AmazonAthena.GetNamedQuery]

## GetNamedQuery [POST]
Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetNamedQueryInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetNamedQueryOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetNotebookMetadata [/#X-Amz-Target=AmazonAthena.GetNotebookMetadata]

## GetNotebookMetadata [POST]
Retrieves notebook metadata for the specified notebook ID.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetNotebookMetadataInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetNotebookMetadataOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetPreparedStatement [/#X-Amz-Target=AmazonAthena.GetPreparedStatement]

## GetPreparedStatement [POST]
Retrieves the prepared statement with the specified name from the specified workgroup.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetPreparedStatementInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetPreparedStatementOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetQueryExecution [/#X-Amz-Target=AmazonAthena.GetQueryExecution]

## GetQueryExecution [POST]
Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetQueryExecutionInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetQueryExecutionOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetQueryResults [/#X-Amz-Target=AmazonAthena.GetQueryResults{?MaxResults,NextToken}]

## GetQueryResults [POST]
<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href="https://docs.aws.amazon.com/athena/latest/ug/querying.html">Working with query results, recent queries, and output files</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p> <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p> <important> <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p> </important>
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetQueryResultsInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetQueryResultsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetQueryRuntimeStatistics [/#X-Amz-Target=AmazonAthena.GetQueryRuntimeStatistics]

## GetQueryRuntimeStatistics [POST]
Returns query execution runtime statistics related to a single execution of a query if you have access to the workgroup in which the query ran. Query execution runtime statistics are returned only when <a>QueryExecutionStatus$State</a> is in a SUCCEEDED or FAILED state. Stage-level input and output row count and data size statistics are not shown when a query has row-level filters defined in Lake Formation.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetQueryRuntimeStatisticsInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetQueryRuntimeStatisticsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetSession [/#X-Amz-Target=AmazonAthena.GetSession]

## GetSession [POST]
Gets the full details of a previously created session, including the session status and configuration.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetSessionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (GetSessionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetSessionStatus [/#X-Amz-Target=AmazonAthena.GetSessionStatus]

## GetSessionStatus [POST]
Gets the current status of a session.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetSessionStatusRequest)



+ Response 200 (application/json)

        Success

    + Attributes (GetSessionStatusResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetTableMetadata [/#X-Amz-Target=AmazonAthena.GetTableMetadata]

## GetTableMetadata [POST]
Returns table metadata for the specified catalog, database, and table.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetTableMetadataInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetTableMetadataOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        MetadataException

    + Attributes (string)




# X Amz TargetAmazonAthenaGetWorkGroup [/#X-Amz-Target=AmazonAthena.GetWorkGroup]

## GetWorkGroup [POST]
Returns information about the workgroup with the specified name.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (GetWorkGroupInput)



+ Response 200 (application/json)

        Success

    + Attributes (GetWorkGroupOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaImportNotebook [/#X-Amz-Target=AmazonAthena.ImportNotebook]

## ImportNotebook [POST]
Imports a single <code>ipynb</code> file to a Spark enabled workgroup. The maximum file size that can be imported is 10 megabytes. If an <code>ipynb</code> file with the same name already exists in the workgroup, throws an error.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ImportNotebookInput)



+ Response 200 (application/json)

        Success

    + Attributes (ImportNotebookOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaListApplicationDPUSizes [/#X-Amz-Target=AmazonAthena.ListApplicationDPUSizes{?MaxResults,NextToken}]

## ListApplicationDPUSizes [POST]
Returns the supported DPU sizes for the supported application runtimes (for example, <code>Athena notebook version 1</code>).
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListApplicationDPUSizesInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListApplicationDPUSizesOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaListCalculationExecutions [/#X-Amz-Target=AmazonAthena.ListCalculationExecutions{?MaxResults,NextToken}]

## ListCalculationExecutions [POST]
Lists the calculations that have been submitted to a session in descending order. Newer calculations are listed first; older calculations are listed later.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListCalculationExecutionsRequest)



+ Response 200 (application/json)

        Success

    + Attributes (ListCalculationExecutionsResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaListDataCatalogs [/#X-Amz-Target=AmazonAthena.ListDataCatalogs{?MaxResults,NextToken}]

## ListDataCatalogs [POST]
<p>Lists the data catalogs in the current Amazon Web Services account.</p> <note> <p>In the Athena console, data catalogs are listed as "data sources" on the <b>Data sources</b> page under the <b>Data source name</b> column.</p> </note>
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListDataCatalogsInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListDataCatalogsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaListDatabases [/#X-Amz-Target=AmazonAthena.ListDatabases{?MaxResults,NextToken}]

## ListDatabases [POST]
Lists the databases in the specified data catalog.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListDatabasesInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListDatabasesOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        MetadataException

    + Attributes (string)




# X Amz TargetAmazonAthenaListEngineVersions [/#X-Amz-Target=AmazonAthena.ListEngineVersions{?MaxResults,NextToken}]

## ListEngineVersions [POST]
Returns a list of engine versions that are available to choose from, including the Auto option.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListEngineVersionsInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListEngineVersionsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaListExecutors [/#X-Amz-Target=AmazonAthena.ListExecutors{?MaxResults,NextToken}]

## ListExecutors [POST]
Lists, in descending order, the executors that joined a session. Newer executors are listed first; older executors are listed later. The result can be optionally filtered by state.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListExecutorsRequest)



+ Response 200 (application/json)

        Success

    + Attributes (ListExecutorsResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaListNamedQueries [/#X-Amz-Target=AmazonAthena.ListNamedQueries{?MaxResults,NextToken}]

## ListNamedQueries [POST]
<p>Provides a list of available query IDs only for queries saved in the specified workgroup. Requires that you have access to the specified workgroup. If a workgroup is not specified, lists the saved queries for the primary workgroup.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListNamedQueriesInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListNamedQueriesOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaListNotebookMetadata [/#X-Amz-Target=AmazonAthena.ListNotebookMetadata]

## ListNotebookMetadata [POST]
Displays the notebook files for the specified workgroup in paginated format.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListNotebookMetadataInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListNotebookMetadataOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaListNotebookSessions [/#X-Amz-Target=AmazonAthena.ListNotebookSessions]

## ListNotebookSessions [POST]
Lists, in descending order, the sessions that have been created in a notebook that are in an active state like <code>CREATING</code>, <code>CREATED</code>, <code>IDLE</code> or <code>BUSY</code>. Newer sessions are listed first; older sessions are listed later.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListNotebookSessionsRequest)



+ Response 200 (application/json)

        Success

    + Attributes (ListNotebookSessionsResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaListPreparedStatements [/#X-Amz-Target=AmazonAthena.ListPreparedStatements{?MaxResults,NextToken}]

## ListPreparedStatements [POST]
Lists the prepared statements in the specified workgroup.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListPreparedStatementsInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListPreparedStatementsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaListQueryExecutions [/#X-Amz-Target=AmazonAthena.ListQueryExecutions{?MaxResults,NextToken}]

## ListQueryExecutions [POST]
<p>Provides a list of available query execution IDs for the queries in the specified workgroup. If a workgroup is not specified, returns a list of query execution IDs for the primary workgroup. Requires you to have access to the workgroup in which the queries ran.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListQueryExecutionsInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListQueryExecutionsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaListSessions [/#X-Amz-Target=AmazonAthena.ListSessions{?MaxResults,NextToken}]

## ListSessions [POST]
Lists the sessions in a workgroup that are in an active state like <code>CREATING</code>, <code>CREATED</code>, <code>IDLE</code>, or <code>BUSY</code>. Newer sessions are listed first; older sessions are listed later.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListSessionsRequest)



+ Response 200 (application/json)

        Success

    + Attributes (ListSessionsResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaListTableMetadata [/#X-Amz-Target=AmazonAthena.ListTableMetadata{?MaxResults,NextToken}]

## ListTableMetadata [POST]
Lists the metadata for the tables in the specified data catalog database.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListTableMetadataInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListTableMetadataOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        MetadataException

    + Attributes (string)




# X Amz TargetAmazonAthenaListTagsForResource [/#X-Amz-Target=AmazonAthena.ListTagsForResource{?MaxResults,NextToken}]

## ListTagsForResource [POST]
Lists the tags associated with an Athena workgroup or data catalog resource.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListTagsForResourceInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListTagsForResourceOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaListWorkGroups [/#X-Amz-Target=AmazonAthena.ListWorkGroups{?MaxResults,NextToken}]

## ListWorkGroups [POST]
Lists available workgroups for the account.
+ Parameters
    + MaxResults (string, optional)

        Pagination limit

    + NextToken (string, optional)

        Pagination token


+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (ListWorkGroupsInput)



+ Response 200 (application/json)

        Success

    + Attributes (ListWorkGroupsOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaStartCalculationExecution [/#X-Amz-Target=AmazonAthena.StartCalculationExecution]

## StartCalculationExecution [POST]
Submits calculations for execution within a session. You can supply the code to run as an inline code block within the request.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (StartCalculationExecutionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (StartCalculationExecutionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaStartQueryExecution [/#X-Amz-Target=AmazonAthena.StartQueryExecution]

## StartQueryExecution [POST]
Runs the SQL query statements contained in the <code>Query</code>. Requires you to have access to the workgroup in which the query ran. Running queries against an external catalog requires <a>GetDataCatalog</a> permission to the catalog. For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (StartQueryExecutionInput)



+ Response 200 (application/json)

        Success

    + Attributes (StartQueryExecutionOutput)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaStartSession [/#X-Amz-Target=AmazonAthena.StartSession]

## StartSession [POST]
Creates a session for running calculations within a workgroup. The session is ready when it reaches an <code>IDLE</code> state.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (StartSessionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (StartSessionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)



+ Response 483 (application/json)

        SessionAlreadyExistsException

    + Attributes (string)



+ Response 484 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaStopCalculationExecution [/#X-Amz-Target=AmazonAthena.StopCalculationExecution]

## StopCalculationExecution [POST]
<p>Requests the cancellation of a calculation. A <code>StopCalculationExecution</code> call on a calculation that is already in a terminal state (for example, <code>STOPPED</code>, <code>FAILED</code>, or <code>COMPLETED</code>) succeeds but has no effect.</p> <note> <p>Cancelling a calculation is done on a best effort basis. If a calculation cannot be cancelled, you can be charged for its completion. If you are concerned about being charged for a calculation that cannot be cancelled, consider terminating the session in which the calculation is running.</p> </note>

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (StopCalculationExecutionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (StopCalculationExecutionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaStopQueryExecution [/#X-Amz-Target=AmazonAthena.StopQueryExecution]

## StopQueryExecution [POST]
<p>Stops a query execution. Requires you to have access to the workgroup in which the query ran.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="http://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (StopQueryExecutionInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaTagResource [/#X-Amz-Target=AmazonAthena.TagResource]

## TagResource [POST]
Adds one or more tags to an Athena resource. A tag is a label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href="https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (TagResourceInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaTerminateSession [/#X-Amz-Target=AmazonAthena.TerminateSession]

## TerminateSession [POST]
Terminates an active session. A <code>TerminateSession</code> call on a session that is already inactive (for example, in a <code>FAILED</code>, <code>TERMINATED</code> or <code>TERMINATING</code> state) succeeds but has no effect. Calculations running in the session when <code>TerminateSession</code> is called are forcefully stopped, but may display as <code>FAILED</code> instead of <code>STOPPED</code>.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (TerminateSessionRequest)



+ Response 200 (application/json)

        Success

    + Attributes (TerminateSessionResponse)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaUntagResource [/#X-Amz-Target=AmazonAthena.UntagResource]

## UntagResource [POST]
Removes one or more tags from a data catalog or workgroup resource.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UntagResourceInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdateDataCatalog [/#X-Amz-Target=AmazonAthena.UpdateDataCatalog]

## UpdateDataCatalog [POST]
Updates the data catalog that has the specified name.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdateDataCatalogInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdateNamedQuery [/#X-Amz-Target=AmazonAthena.UpdateNamedQuery]

## UpdateNamedQuery [POST]
Updates a <a>NamedQuery</a> object. The database or workgroup cannot be updated.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdateNamedQueryInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdateNotebook [/#X-Amz-Target=AmazonAthena.UpdateNotebook]

## UpdateNotebook [POST]
Updates the contents of a Spark notebook.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdateNotebookInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdateNotebookMetadata [/#X-Amz-Target=AmazonAthena.UpdateNotebookMetadata]

## UpdateNotebookMetadata [POST]
Updates the metadata for a notebook.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdateNotebookMetadataInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        TooManyRequestsException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdatePreparedStatement [/#X-Amz-Target=AmazonAthena.UpdatePreparedStatement]

## UpdatePreparedStatement [POST]
Updates a prepared statement.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdatePreparedStatementInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)



+ Response 482 (application/json)

        ResourceNotFoundException

    + Attributes (string)




# X Amz TargetAmazonAthenaUpdateWorkGroup [/#X-Amz-Target=AmazonAthena.UpdateWorkGroup]

## UpdateWorkGroup [POST]
Updates the workgroup with the specified name. The workgroup's name cannot be changed. Only <code>ConfigurationUpdates</code> can be specified.

+ Request (<<Add Header Value>>)
    + Headers

            X-Amz-Target:<<Add Header Value>>
            X-Amz-Content-Sha256:<<Add Header Value>>
            X-Amz-Date:<<Add Header Value>>
            X-Amz-Algorithm:<<Add Header Value>>
            X-Amz-Credential:<<Add Header Value>>
            X-Amz-Security-Token:<<Add Header Value>>
            X-Amz-Signature:<<Add Header Value>>
            X-Amz-SignedHeaders:<<Add Header Value>>


    + Attributes (UpdateWorkGroupInput)



+ Response 200 (application/json)

        Success

    + Attributes (object)



+ Response 480 (application/json)

        InternalServerException

    + Attributes (string)



+ Response 481 (application/json)

        InvalidRequestException

    + Attributes (string)




# Data Structures

## BatchGetNamedQueryOutput (object)


### Properties
+ `NamedQueries` (array[NamedQuery], optional) 
+ `UnprocessedNamedQueryIds` (array[UnprocessedNamedQueryId], optional) 


## BatchGetNamedQueryInput (object)
Contains an array of named query IDs.

### Properties
+ `NamedQueryIds` (array[string], required) 


## BatchGetPreparedStatementOutput (object)


### Properties
+ `PreparedStatements` (array[PreparedStatement], optional) 
+ `UnprocessedPreparedStatementNames` (array[UnprocessedPreparedStatementName], optional) 


## BatchGetPreparedStatementInput (object)


### Properties
+ `PreparedStatementNames` (array[string], required) 
+ `WorkGroup` (string, required) 


## BatchGetQueryExecutionOutput (object)


### Properties
+ `QueryExecutions` (array[QueryExecution], optional) 
+ `UnprocessedQueryExecutionIds` (array[UnprocessedQueryExecutionId], optional) 


## BatchGetQueryExecutionInput (object)
Contains an array of query execution IDs.

### Properties
+ `QueryExecutionIds` (array[string], required) 


## CreateDataCatalogInput (object)


### Properties
+ `Name` (string, required) 
+ `Type` (enum[string], required) 
    + `LAMBDA`
    + `GLUE`
    + `HIVE`
+ `Description` (string, optional) 
+ `Parameters` (Parameters, optional) 
+ `Tags` (array[Tag], optional) 


## CreateNamedQueryOutput (object)


### Properties
+ `NamedQueryId` (string, optional) 


## CreateNamedQueryInput (object)


### Properties
+ `Name` (string, required) 
+ `Description` (string, optional) 
+ `Database` (string, required) 
+ `QueryString` (string, required) 
+ `ClientRequestToken` (string, optional) 
+ `WorkGroup` (string, optional) 


## CreateNotebookOutput (object)


### Properties
+ `NotebookId` (string, optional) 


## CreateNotebookInput (object)


### Properties
+ `WorkGroup` (string, required) 
+ `Name` (string, required) 
+ `ClientRequestToken` (string, optional) 


## CreatePreparedStatementInput (object)


### Properties
+ `StatementName` (string, required) 
+ `WorkGroup` (string, required) 
+ `QueryStatement` (string, required) 
+ `Description` (string, optional) 


## CreatePresignedNotebookUrlResponse (object)


### Properties
+ `NotebookUrl` (string, required) 
+ `AuthToken` (string, required) 
+ `AuthTokenExpirationTime` (number, required) 


## CreatePresignedNotebookUrlRequest (object)


### Properties
+ `SessionId` (string, required) 


## CreateWorkGroupInput (object)


### Properties
+ `Name` (string, required) 
+ `Configuration` (Configuration, optional) 
+ `Description` (string, optional) 
+ `Tags` (array[Tag], optional) 


## DeleteDataCatalogInput (object)


### Properties
+ `Name` (string, required) 


## DeleteNamedQueryInput (object)


### Properties
+ `NamedQueryId` (string, required) 


## DeleteNotebookInput (object)


### Properties
+ `NotebookId` (string, required) 


## DeletePreparedStatementInput (object)


### Properties
+ `StatementName` (string, required) 
+ `WorkGroup` (string, required) 


## DeleteWorkGroupInput (object)


### Properties
+ `WorkGroup` (string, required) 
+ `RecursiveDeleteOption` (boolean, optional) 


## ExportNotebookOutput (object)


### Properties
+ `NotebookMetadata` (NotebookMetadata1, optional) 
+ `Payload` (string, optional) 


## ExportNotebookInput (object)


### Properties
+ `NotebookId` (string, required) 


## GetCalculationExecutionResponse (object)


### Properties
+ `CalculationExecutionId` (string, optional) 
+ `SessionId` (string, optional) 
+ `Description` (string, optional) 
+ `WorkingDirectory` (string, optional) 
+ `Status` (Status1, optional) 
+ `Statistics` (Statistics1, optional) 
+ `Result` (Result, optional) 


## GetCalculationExecutionRequest (object)


### Properties
+ `CalculationExecutionId` (string, required) 


## GetCalculationExecutionCodeResponse (object)


### Properties
+ `CodeBlock` (string, optional) 


## GetCalculationExecutionCodeRequest (object)


### Properties
+ `CalculationExecutionId` (string, required) 


## GetCalculationExecutionStatusResponse (object)


### Properties
+ `Status` (Status1, optional) 
+ `Statistics` (Statistics1, optional) 


## GetCalculationExecutionStatusRequest (object)


### Properties
+ `CalculationExecutionId` (string, required) 


## GetDataCatalogOutput (object)


### Properties
+ `DataCatalog` (DataCatalog2, optional) 


## GetDataCatalogInput (object)


### Properties
+ `Name` (string, required) 


## GetDatabaseOutput (object)


### Properties
+ `Database` (Database2, optional) 


## GetDatabaseInput (object)


### Properties
+ `CatalogName` (string, required) 
+ `DatabaseName` (string, required) 


## GetNamedQueryOutput (object)


### Properties
+ `NamedQuery` (NamedQuery1, optional) 


## GetNamedQueryInput (object)


### Properties
+ `NamedQueryId` (string, required) 


## GetNotebookMetadataOutput (object)


### Properties
+ `NotebookMetadata` (NotebookMetadata1, optional) 


## GetNotebookMetadataInput (object)


### Properties
+ `NotebookId` (string, required) 


## GetPreparedStatementOutput (object)


### Properties
+ `PreparedStatement` (PreparedStatement1, optional) 


## GetPreparedStatementInput (object)


### Properties
+ `StatementName` (string, required) 
+ `WorkGroup` (string, required) 


## GetQueryExecutionOutput (object)


### Properties
+ `QueryExecution` (QueryExecution1, optional) 


## GetQueryExecutionInput (object)


### Properties
+ `QueryExecutionId` (string, required) 


## GetQueryResultsOutput (object)


### Properties
+ `UpdateCount` (number, optional) 
+ `ResultSet` (ResultSet2, optional) 
+ `NextToken` (string, optional) 


## GetQueryResultsInput (object)


### Properties
+ `QueryExecutionId` (string, required) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## GetQueryRuntimeStatisticsOutput (object)


### Properties
+ `QueryRuntimeStatistics` (QueryRuntimeStatistics2, optional) 


## GetQueryRuntimeStatisticsInput (object)


### Properties
+ `QueryExecutionId` (string, required) 


## GetSessionResponse (object)


### Properties
+ `SessionId` (string, optional) 
+ `Description` (string, optional) 
+ `WorkGroup` (string, optional) 
+ `EngineVersion` (string, optional) 
+ `EngineConfiguration` (EngineConfiguration1, optional) 
+ `NotebookVersion` (string, optional) 
+ `SessionConfiguration` (SessionConfiguration2, optional) 
+ `Status` (Status3, optional) 
+ `Statistics` (Statistics3, optional) 


## GetSessionRequest (object)


### Properties
+ `SessionId` (string, required) 


## GetSessionStatusResponse (object)


### Properties
+ `SessionId` (string, optional) 
+ `Status` (Status3, optional) 


## GetSessionStatusRequest (object)


### Properties
+ `SessionId` (string, required) 


## GetTableMetadataOutput (object)


### Properties
+ `TableMetadata` (TableMetadata2, optional) 


## GetTableMetadataInput (object)


### Properties
+ `CatalogName` (string, required) 
+ `DatabaseName` (string, required) 
+ `TableName` (string, required) 


## GetWorkGroupOutput (object)


### Properties
+ `WorkGroup` (WorkGroup2, optional) 


## GetWorkGroupInput (object)


### Properties
+ `WorkGroup` (string, required) 


## ImportNotebookOutput (object)


### Properties
+ `NotebookId` (string, optional) 


## ImportNotebookInput (object)


### Properties
+ `WorkGroup` (string, required) 
+ `Name` (string, required) 
+ `Payload` (string, required) 
+ `Type` (enum[string], required) 
    + `IPYNB`
+ `ClientRequestToken` (string, optional) 


## ListApplicationDPUSizesOutput (object)


### Properties
+ `ApplicationDPUSizes` (array[ApplicationDPUSizes], optional) 
+ `NextToken` (string, optional) 


## ListApplicationDPUSizesInput (object)


### Properties
+ `MaxResults` (number, optional) 
+ `NextToken` (string, optional) 


## ListCalculationExecutionsResponse (object)


### Properties
+ `NextToken` (string, optional) 
+ `Calculations` (array[CalculationSummary], optional) 


## ListCalculationExecutionsRequest (object)


### Properties
+ `SessionId` (string, required) 
+ `StateFilter` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `QUEUED`
    + `RUNNING`
    + `CANCELING`
    + `CANCELED`
    + `COMPLETED`
    + `FAILED`
+ `MaxResults` (number, optional) 
+ `NextToken` (string, optional) 


## ListDataCatalogsOutput (object)


### Properties
+ `DataCatalogsSummary` (array[DataCatalogSummary], optional) 
+ `NextToken` (string, optional) 


## ListDataCatalogsInput (object)


### Properties
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListDatabasesOutput (object)


### Properties
+ `DatabaseList` (array[Database], optional) 
+ `NextToken` (string, optional) 


## ListDatabasesInput (object)


### Properties
+ `CatalogName` (string, required) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListEngineVersionsOutput (object)


### Properties
+ `EngineVersions` (array[EngineVersion], optional) 
+ `NextToken` (string, optional) 


## ListEngineVersionsInput (object)


### Properties
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListExecutorsResponse (object)


### Properties
+ `SessionId` (string, required) 
+ `NextToken` (string, optional) 
+ `ExecutorsSummary` (array[ExecutorsSummary], optional) 


## ListExecutorsRequest (object)


### Properties
+ `SessionId` (string, required) 
+ `ExecutorStateFilter` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `REGISTERED`
    + `TERMINATING`
    + `TERMINATED`
    + `FAILED`
+ `MaxResults` (number, optional) 
+ `NextToken` (string, optional) 


## ListNamedQueriesOutput (object)


### Properties
+ `NamedQueryIds` (array[string], optional) 
+ `NextToken` (string, optional) 


## ListNamedQueriesInput (object)


### Properties
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 
+ `WorkGroup` (string, optional) 


## ListNotebookMetadataOutput (object)


### Properties
+ `NextToken` (string, optional) 
+ `NotebookMetadataList` (array[NotebookMetadata], optional) 


## ListNotebookMetadataInput (object)


### Properties
+ `Filters` (Filters, optional) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 
+ `WorkGroup` (string, required) 


## ListNotebookSessionsResponse (object)


### Properties
+ `NotebookSessionsList` (array[NotebookSessionSummary], required) 
+ `NextToken` (string, optional) 


## ListNotebookSessionsRequest (object)


### Properties
+ `NotebookId` (string, required) 
+ `MaxResults` (number, optional) 
+ `NextToken` (string, optional) 


## ListPreparedStatementsOutput (object)


### Properties
+ `PreparedStatements` (array[PreparedStatementSummary], optional) 
+ `NextToken` (string, optional) 


## ListPreparedStatementsInput (object)


### Properties
+ `WorkGroup` (string, required) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListQueryExecutionsOutput (object)


### Properties
+ `QueryExecutionIds` (array[string], optional) 
+ `NextToken` (string, optional) 


## ListQueryExecutionsInput (object)


### Properties
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 
+ `WorkGroup` (string, optional) 


## ListSessionsResponse (object)


### Properties
+ `NextToken` (string, optional) 
+ `Sessions` (array[SessionSummary], optional) 


## ListSessionsRequest (object)


### Properties
+ `WorkGroup` (string, required) 
+ `StateFilter` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `IDLE`
    + `BUSY`
    + `TERMINATING`
    + `TERMINATED`
    + `DEGRADED`
    + `FAILED`
+ `MaxResults` (number, optional) 
+ `NextToken` (string, optional) 


## ListTableMetadataOutput (object)


### Properties
+ `TableMetadataList` (array[TableMetadata], optional) 
+ `NextToken` (string, optional) 


## ListTableMetadataInput (object)


### Properties
+ `CatalogName` (string, required) 
+ `DatabaseName` (string, required) 
+ `Expression` (string, optional) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListTagsForResourceOutput (object)


### Properties
+ `Tags` (array[Tag], optional) 
+ `NextToken` (string, optional) 


## ListTagsForResourceInput (object)


### Properties
+ `ResourceARN` (string, required) 
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## ListWorkGroupsOutput (object)


### Properties
+ `WorkGroups` (array[WorkGroupSummary], optional) 
+ `NextToken` (string, optional) 


## ListWorkGroupsInput (object)


### Properties
+ `NextToken` (string, optional) 
+ `MaxResults` (number, optional) 


## StartCalculationExecutionResponse (object)


### Properties
+ `CalculationExecutionId` (string, optional) 
+ `State` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `QUEUED`
    + `RUNNING`
    + `CANCELING`
    + `CANCELED`
    + `COMPLETED`
    + `FAILED`


## StartCalculationExecutionRequest (object)


### Properties
+ `SessionId` (string, required) 
+ `Description` (string, optional) 
+ `CalculationConfiguration` (GetCalculationExecutionCodeResponse, optional) 
+ `CodeBlock` (string, optional) 
+ `ClientRequestToken` (string, optional) 


## StartQueryExecutionOutput (object)


### Properties
+ `QueryExecutionId` (string, optional) 


## StartQueryExecutionInput (object)


### Properties
+ `QueryString` (string, required) 
+ `ClientRequestToken` (string, optional) 
+ `QueryExecutionContext` (QueryExecutionContext1, optional) 
+ `ResultConfiguration` (ResultConfiguration1, optional) 
+ `WorkGroup` (string, optional) 
+ `ExecutionParameters` (array[string], optional) 
+ `ResultReuseConfiguration` (ResultReuseConfiguration1, optional) 


## StartSessionResponse (object)


### Properties
+ `SessionId` (string, optional) 
+ `State` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `IDLE`
    + `BUSY`
    + `TERMINATING`
    + `TERMINATED`
    + `DEGRADED`
    + `FAILED`


## StartSessionRequest (object)


### Properties
+ `Description` (string, optional) 
+ `WorkGroup` (string, required) 
+ `EngineConfiguration` (EngineConfiguration1, required) 
+ `NotebookVersion` (string, optional) 
+ `SessionIdleTimeoutInMinutes` (number, optional) 
+ `ClientRequestToken` (string, optional) 


## StopCalculationExecutionResponse (object)


### Properties
+ `State` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `QUEUED`
    + `RUNNING`
    + `CANCELING`
    + `CANCELED`
    + `COMPLETED`
    + `FAILED`


## StopCalculationExecutionRequest (object)


### Properties
+ `CalculationExecutionId` (string, required) 


## StopQueryExecutionInput (object)


### Properties
+ `QueryExecutionId` (string, required) 


## TagResourceInput (object)


### Properties
+ `ResourceARN` (string, required) 
+ `Tags` (array[Tag], required) 


## TerminateSessionResponse (object)


### Properties
+ `State` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `IDLE`
    + `BUSY`
    + `TERMINATING`
    + `TERMINATED`
    + `DEGRADED`
    + `FAILED`


## TerminateSessionRequest (object)


### Properties
+ `SessionId` (string, required) 


## UntagResourceInput (object)


### Properties
+ `ResourceARN` (string, required) 
+ `TagKeys` (array[string], required) 


## UpdateDataCatalogInput (object)


### Properties
+ `Name` (string, required) 
+ `Type` (enum[string], required) 
    + `LAMBDA`
    + `GLUE`
    + `HIVE`
+ `Description` (string, optional) 
+ `Parameters` (Parameters, optional) 


## UpdateNamedQueryInput (object)


### Properties
+ `NamedQueryId` (string, required) 
+ `Name` (string, required) 
+ `Description` (string, optional) 
+ `QueryString` (string, required) 


## UpdateNotebookInput (object)


### Properties
+ `NotebookId` (string, required) 
+ `Payload` (string, required) 
+ `Type` (enum[string], required) 
    + `IPYNB`
+ `SessionId` (string, optional) 
+ `ClientRequestToken` (string, optional) 


## UpdateNotebookMetadataInput (object)


### Properties
+ `NotebookId` (string, required) 
+ `ClientRequestToken` (string, optional) 
+ `Name` (string, required) 


## UpdatePreparedStatementInput (object)


### Properties
+ `StatementName` (string, required) 
+ `WorkGroup` (string, required) 
+ `QueryStatement` (string, required) 
+ `Description` (string, optional) 


## UpdateWorkGroupInput (object)


### Properties
+ `WorkGroup` (string, required) 
+ `Description` (string, optional) 
+ `ConfigurationUpdates` (ConfigurationUpdates, optional) 
+ `State` (enum[string], optional) 
    + `ENABLED`
    + `DISABLED`


## AclConfiguration (object)
Indicates that an Amazon S3 canned ACL should be set to control ownership of stored query results. When Athena stores query results in Amazon S3, the canned ACL is set with the <code>x-amz-acl</code> request header. For more information about S3 Object Ownership, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html#object-ownership-overview">Object Ownership settings</a> in the <i>Amazon S3 User Guide</i>.

### Properties
+ `S3AclOption` (enum[string], required) 
    + `BUCKET_OWNER_FULL_CONTROL`


## ApplicationDPUSizes (object)
Contains the application runtime IDs and their supported DPU sizes.

### Properties
+ `ApplicationRuntimeId` (string, optional) 
+ `SupportedDPUSizes` (array[number], optional) 


## AthenaError (object)
Provides information about an Athena query error. The <code>AthenaError</code> feature provides standardized error information to help you understand failed queries and take steps after a query failure occurs. <code>AthenaError</code> includes an <code>ErrorCategory</code> field that specifies whether the cause of the failed query is due to system error, user error, or other error.

### Properties
+ `ErrorCategory` (number, optional) 
+ `ErrorType` (number, optional) 
+ `Retryable` (boolean, optional) 
+ `ErrorMessage` (string, optional) 


## NamedQuery (object)
A query, where <code>QueryString</code> contains the SQL statements that make up the query.

### Properties
+ `Name` (string, required) 
+ `Description` (string, optional) 
+ `Database` (string, required) 
+ `QueryString` (string, required) 
+ `NamedQueryId` (string, optional) 
+ `WorkGroup` (string, optional) 


## UnprocessedNamedQueryId (object)
Information about a named query ID that could not be processed.

### Properties
+ `NamedQueryId` (string, optional) 
+ `ErrorCode` (string, optional) 
+ `ErrorMessage` (string, optional) 


## PreparedStatement (object)
A prepared SQL statement for use with Athena.

### Properties
+ `StatementName` (string, optional) 
+ `QueryStatement` (string, optional) 
+ `WorkGroupName` (string, optional) 
+ `Description` (string, optional) 
+ `LastModifiedTime` (string, optional) 


## UnprocessedPreparedStatementName (object)
The name of a prepared statement that could not be returned.

### Properties
+ `StatementName` (string, optional) 
+ `ErrorCode` (string, optional) 
+ `ErrorMessage` (string, optional) 


## QueryExecution (object)
Information about a single instance of a query execution.

### Properties
+ `QueryExecutionId` (string, optional) 
+ `Query` (string, optional) 
+ `StatementType` (enum[string], optional) 
    + `DDL`
    + `DML`
    + `UTILITY`
+ `ResultConfiguration` (ResultConfiguration1, optional) 
+ `ResultReuseConfiguration` (ResultReuseConfiguration1, optional) 
+ `QueryExecutionContext` (QueryExecutionContext1, optional) 
+ `Status` (Status, optional) 
+ `Statistics` (Statistics, optional) 
+ `WorkGroup` (string, optional) 
+ `EngineVersion` (EngineVersion1, optional) 
+ `ExecutionParameters` (array[string], optional) 
+ `SubstatementType` (string, optional) 


## UnprocessedQueryExecutionId (object)
Describes a query execution that failed to process.

### Properties
+ `QueryExecutionId` (string, optional) 
+ `ErrorCode` (string, optional) 
+ `ErrorMessage` (string, optional) 


## CalculationConfiguration (object)
Contains configuration information for the calculation.

### Properties
+ `CodeBlock` (string, optional) 


## CalculationResult (object)
Contains information about an application-specific calculation result.

### Properties
+ `StdOutS3Uri` (string, optional) 
+ `StdErrorS3Uri` (string, optional) 
+ `ResultS3Uri` (string, optional) 
+ `ResultType` (string, optional) 


## CalculationStatistics (object)
Contains statistics for a notebook calculation.

### Properties
+ `DpuExecutionInMillis` (number, optional) 
+ `Progress` (string, optional) 


## CalculationStatus (object)
Contains information about the status of a notebook calculation.

### Properties
+ `SubmissionDateTime` (string, optional) 
+ `CompletionDateTime` (string, optional) 
+ `State` (enum[string], optional) 
    + `CREATING`
    + `CREATED`
    + `QUEUED`
    + `RUNNING`
    + `CANCELING`
    + `CANCELED`
    + `COMPLETED`
    + `FAILED`
+ `StateChangeReason` (string, optional) 


## CalculationSummary (object)
Summary information for a notebook calculation.

### Properties
+ `CalculationExecutionId` (string, optional) 
+ `Description` (string, optional) 
+ `Status` (Status1, optional) 


## Column (object)
Contains metadata for a column in a table.

### Properties
+ `Name` (string, required) 
+ `Type` (string, optional) 
+ `Comment` (string, optional) 


## ColumnInfo (object)
Information about the columns in a query execution result.

### Properties
+ `CatalogName` (string, optional) 
+ `SchemaName` (string, optional) 
+ `TableName` (string, optional) 
+ `Name` (string, required) 
+ `Label` (string, optional) 
+ `Type` (string, required) 
+ `Precision` (number, optional) 
+ `Scale` (number, optional) 
+ `Nullable` (enum[string], optional) 
    + `NOT_NULL`
    + `NULLABLE`
    + `UNKNOWN`
+ `CaseSensitive` (boolean, optional) 


## Tag (object)
A label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href="https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.

### Properties
+ `Key` (string, optional) 
+ `Value` (string, optional) 


## WorkGroupConfiguration (object)
The configuration of the workgroup, which includes the location in Amazon S3 where query and calculation results are stored, the encryption option, if any, used for query and calculation results, whether the Amazon CloudWatch Metrics are enabled for the workgroup and whether workgroup settings override query settings, and the data usage limits for the amount of data scanned per query or per workgroup. The workgroup settings override is specified in <code>EnforceWorkGroupConfiguration</code> (true/false) in the <code>WorkGroupConfiguration</code>. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.

### Properties
+ `ResultConfiguration` (ResultConfiguration1, optional) 
+ `EnforceWorkGroupConfiguration` (boolean, optional) 
+ `PublishCloudWatchMetricsEnabled` (boolean, optional) 
+ `BytesScannedCutoffPerQuery` (number, optional) 
+ `RequesterPaysEnabled` (boolean, optional) 
+ `EngineVersion` (EngineVersion1, optional) 
+ `AdditionalConfiguration` (string, optional) 
+ `ExecutionRole` (string, optional) 
+ `CustomerContentEncryptionConfiguration` (CustomerContentEncryptionConfiguration2, optional) 
+ `EnableMinimumEncryptionConfiguration` (boolean, optional) 


## CustomerContentEncryptionConfiguration (object)
Specifies the KMS key that is used to encrypt the user's data stores in Athena.

### Properties
+ `KmsKey` (string, required) 


## DataCatalog (object)
<p>Contains information about a data catalog in an Amazon Web Services account.</p> <note> <p>In the Athena console, data catalogs are listed as "data sources" on the <b>Data sources</b> page under the <b>Data source name</b> column.</p> </note>

### Properties
+ `Name` (string, required) 
+ `Description` (string, optional) 
+ `Type` (enum[string], required) 
    + `LAMBDA`
    + `GLUE`
    + `HIVE`
+ `Parameters` (Parameters, optional) 


## DataCatalogSummary (object)
The summary information for the data catalog, which includes its name and type.

### Properties
+ `CatalogName` (string, optional) 
+ `Type` (enum[string], optional) 
    + `LAMBDA`
    + `GLUE`
    + `HIVE`


## Database (object)
Contains metadata information for a database in a data catalog.

### Properties
+ `Name` (string, required) 
+ `Description` (string, optional) 
+ `Parameters` (Parameters, optional) 


## Datum (object)
A piece of data (a field in the table).

### Properties
+ `VarCharValue` (string, optional) 


## EncryptionConfiguration (object)
If query and calculation results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.

### Properties
+ `EncryptionOption` (enum[string], required) 
    + `SSE_S3`
    + `SSE_KMS`
    + `CSE_KMS`
+ `KmsKey` (string, optional) 


## EngineConfiguration (object)
Contains data processing unit (DPU) configuration settings and parameter mappings for a notebook engine.

### Properties
+ `CoordinatorDpuSize` (number, optional) 
+ `MaxConcurrentDpus` (number, required) 
+ `DefaultExecutorDpuSize` (number, optional) 
+ `AdditionalConfigs` (AdditionalConfigs, optional) 


## EngineVersion (object)
The Athena engine version for running queries, or the PySpark engine version for running sessions.

### Properties
+ `SelectedEngineVersion` (string, optional) 
+ `EffectiveEngineVersion` (string, optional) 


[...]
