#%RAML 0.8
title: Amazon Athena
version: 2017-05-18
documentation:
- title: Amazon Athena
  content: <p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href="http://docs.aws.amazon.com/athena/latest/ug/what-is.html">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href="https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="https://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>
baseUri: http://athena.us-east-1.amazonaws.com
securedBy:
- hmac
protocols:
- HTTP
- HTTPS
baseUriParameters: {}
schemas:
- BatchGetNamedQueryOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetNamedQueryOutput",
      "title": "BatchGetNamedQueryOutput",
      "type": "object",
      "properties": {
        "NamedQueries": {
          "description": "",
          "type": "array",
          "items": {
            "id": "NamedQuery",
            "title": "NamedQuery",
            "description": "A query, where <code>QueryString</code> contains the SQL statements that make up the query.",
            "type": "object",
            "properties": {
              "Name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "Database": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255
              },
              "QueryString": {
                "type": "string",
                "minLength": 1,
                "maxLength": 262144
              },
              "Description": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024
              },
              "NamedQueryId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "\\S+"
              },
              "WorkGroup": {
                "type": "string",
                "pattern": "[a-zA-Z0-9._-]{1,128}"
              }
            },
            "required": [
              "Name",
              "Database",
              "QueryString"
            ]
          }
        },
        "UnprocessedNamedQueryIds": {
          "description": "",
          "type": "array",
          "items": {
            "id": "UnprocessedNamedQueryId",
            "title": "UnprocessedNamedQueryId",
            "description": "Information about a named query ID that could not be processed.",
            "type": "object",
            "properties": {
              "NamedQueryId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "\\S+"
              },
              "ErrorCode": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      }
    }
- BatchGetNamedQueryInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetNamedQueryInput",
      "title": "BatchGetNamedQueryInput",
      "description": "Contains an array of named query IDs.",
      "type": "object",
      "properties": {
        "NamedQueryIds": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "\\S+"
          },
          "minItems": 1,
          "maxItems": 50
        }
      },
      "required": [
        "NamedQueryIds"
      ]
    }
- BatchGetPreparedStatementOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetPreparedStatementOutput",
      "title": "BatchGetPreparedStatementOutput",
      "type": "object",
      "properties": {
        "PreparedStatements": {
          "description": "",
          "type": "array",
          "items": {
            "id": "PreparedStatement",
            "title": "PreparedStatement",
            "description": "A prepared SQL statement for use with Athena.",
            "type": "object",
            "properties": {
              "StatementName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256,
                "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
              },
              "QueryStatement": {
                "type": "string",
                "minLength": 1,
                "maxLength": 262144
              },
              "WorkGroupName": {
                "type": "string",
                "pattern": "[a-zA-Z0-9._-]{1,128}"
              },
              "Description": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024
              },
              "LastModifiedTime": {
                "type": "string",
                "format": "date-time"
              }
            }
          }
        },
        "UnprocessedPreparedStatementNames": {
          "description": "",
          "type": "array",
          "items": {
            "id": "UnprocessedPreparedStatementName",
            "title": "UnprocessedPreparedStatementName",
            "description": "The name of a prepared statement that could not be returned.",
            "type": "object",
            "properties": {
              "StatementName": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256,
                "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
              },
              "ErrorCode": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      }
    }
- BatchGetPreparedStatementInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetPreparedStatementInput",
      "title": "BatchGetPreparedStatementInput",
      "type": "object",
      "properties": {
        "PreparedStatementNames": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 256,
            "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
          }
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        }
      },
      "required": [
        "PreparedStatementNames",
        "WorkGroup"
      ]
    }
- BatchGetQueryExecutionOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetQueryExecutionOutput",
      "title": "BatchGetQueryExecutionOutput",
      "type": "object",
      "properties": {
        "QueryExecutions": {
          "description": "",
          "type": "array",
          "items": {
            "id": "QueryExecution",
            "title": "QueryExecution",
            "description": "Information about a single instance of a query execution.",
            "type": "object",
            "properties": {
              "QueryExecutionId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "\\S+"
              },
              "Query": {
                "type": "string",
                "minLength": 1,
                "maxLength": 262144
              },
              "StatementType": {
                "title": "StatementType1",
                "description": "The type of query statement that was run. <code>DDL</code> indicates DDL query statements. <code>DML</code> indicates DML (Data Manipulation Language) query statements, such as <code>CREATE TABLE AS SELECT</code>. <code>UTILITY</code> indicates query statements other than DDL and DML, such as <code>SHOW CREATE TABLE</code>, or <code>DESCRIBE TABLE</code>.",
                "type": "string",
                "additionalProperties": false,
                "enum": [
                  "DDL",
                  "DML",
                  "UTILITY"
                ]
              },
              "ResultConfiguration": {
                "id": "ResultConfiguration1",
                "title": "ResultConfiguration1",
                "type": "object",
                "properties": {
                  "OutputLocation": {
                    "type": "string"
                  },
                  "EncryptionConfiguration": {
                    "id": "EncryptionConfiguration2",
                    "title": "EncryptionConfiguration2",
                    "type": "object",
                    "properties": {
                      "EncryptionOption": {
                        "title": "EncryptionOption1",
                        "description": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "SSE_S3",
                          "SSE_KMS",
                          "CSE_KMS"
                        ]
                      },
                      "KmsKey": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "EncryptionOption"
                    ]
                  },
                  "ExpectedBucketOwner": {
                    "type": "string",
                    "minLength": 12,
                    "maxLength": 12,
                    "pattern": "^[0-9]+$"
                  },
                  "AclConfiguration": {
                    "id": "AclConfiguration1",
                    "title": "AclConfiguration1",
                    "type": "object",
                    "properties": {
                      "S3AclOption": {
                        "title": "S3AclOption1",
                        "description": "The Amazon S3 canned ACL that Athena should specify when storing query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "BUCKET_OWNER_FULL_CONTROL"
                        ]
                      }
                    },
                    "required": [
                      "S3AclOption"
                    ]
                  }
                }
              },
              "ResultReuseConfiguration": {
                "id": "ResultReuseConfiguration1",
                "title": "ResultReuseConfiguration1",
                "type": "object",
                "properties": {
                  "ResultReuseByAgeConfiguration": {
                    "id": "ResultReuseByAgeConfiguration2",
                    "title": "ResultReuseByAgeConfiguration2",
                    "type": "object",
                    "properties": {
                      "Enabled": {
                        "type": "boolean"
                      },
                      "MaxAgeInMinutes": {
                        "type": "integer",
                        "minimum": 0.0,
                        "maximum": 10080.0,
                        "format": "int32"
                      }
                    },
                    "required": [
                      "Enabled"
                    ]
                  }
                }
              },
              "QueryExecutionContext": {
                "id": "QueryExecutionContext1",
                "title": "QueryExecutionContext1",
                "type": "object",
                "properties": {
                  "Database": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "Catalog": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                }
              },
              "Status": {
                "id": "Status",
                "title": "Status",
                "type": "object",
                "properties": {
                  "State": {
                    "title": "QueryExecutionState1",
                    "description": "<p>The state of query execution. <code>QUEUED</code> indicates that the query has been submitted to the service, and Athena will execute the query as soon as resources are available. <code>RUNNING</code> indicates that the query is in execution phase. <code>SUCCEEDED</code> indicates that the query completed without errors. <code>FAILED</code> indicates that the query experienced an error and did not complete processing. <code>CANCELLED</code> indicates that a user input interrupted query execution.</p> <note> <p>Athena automatically retries your queries in cases of certain transient errors. As a result, you may see the query state transition from <code>RUNNING</code> or <code>FAILED</code> to <code>QUEUED</code>. </p> </note>",
                    "type": "string",
                    "additionalProperties": false,
                    "enum": [
                      "QUEUED",
                      "RUNNING",
                      "SUCCEEDED",
                      "FAILED",
                      "CANCELLED"
                    ]
                  },
                  "StateChangeReason": {
                    "type": "string"
                  },
                  "SubmissionDateTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "CompletionDateTime": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "AthenaError": {
                    "id": "AthenaError2",
                    "title": "AthenaError2",
                    "type": "object",
                    "properties": {
                      "ErrorCategory": {
                        "type": "integer",
                        "minimum": 1.0,
                        "maximum": 3.0,
                        "format": "int32"
                      },
                      "ErrorType": {
                        "type": "integer",
                        "minimum": 0.0,
                        "maximum": 9999.0,
                        "format": "int32"
                      },
                      "Retryable": {
                        "type": "boolean"
                      },
                      "ErrorMessage": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "Statistics": {
                "id": "Statistics",
                "title": "Statistics",
                "type": "object",
                "properties": {
                  "EngineExecutionTimeInMillis": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "DataScannedInBytes": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "DataManifestLocation": {
                    "type": "string"
                  },
                  "TotalExecutionTimeInMillis": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "QueryQueueTimeInMillis": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "QueryPlanningTimeInMillis": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ServiceProcessingTimeInMillis": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "ResultReuseInformation": {
                    "id": "ResultReuseInformation2",
                    "title": "ResultReuseInformation2",
                    "type": "object",
                    "properties": {
                      "ReusedPreviousResult": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "ReusedPreviousResult"
                    ]
                  }
                }
              },
              "WorkGroup": {
                "type": "string",
                "pattern": "[a-zA-Z0-9._-]{1,128}"
              },
              "EngineVersion": {
                "id": "EngineVersion1",
                "title": "EngineVersion1",
                "type": "object",
                "properties": {
                  "SelectedEngineVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "EffectiveEngineVersion": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  }
                }
              },
              "ExecutionParameters": {
                "description": "",
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 1024
                },
                "minItems": 1
              },
              "SubstatementType": {
                "type": "string"
              }
            }
          }
        },
        "UnprocessedQueryExecutionIds": {
          "description": "",
          "type": "array",
          "items": {
            "id": "UnprocessedQueryExecutionId",
            "title": "UnprocessedQueryExecutionId",
            "description": "Describes a query execution that failed to process.",
            "type": "object",
            "properties": {
              "QueryExecutionId": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128,
                "pattern": "\\S+"
              },
              "ErrorCode": {
                "type": "string",
                "minLength": 1,
                "maxLength": 256
              },
              "ErrorMessage": {
                "type": "string"
              }
            }
          }
        }
      }
    }
- BatchGetQueryExecutionInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "BatchGetQueryExecutionInput",
      "title": "BatchGetQueryExecutionInput",
      "description": "Contains an array of query execution IDs.",
      "type": "object",
      "properties": {
        "QueryExecutionIds": {
          "description": "",
          "type": "array",
          "items": {
            "type": "string",
            "minLength": 1,
            "maxLength": 128,
            "pattern": "\\S+"
          },
          "minItems": 1,
          "maxItems": 50
        }
      },
      "required": [
        "QueryExecutionIds"
      ]
    }
- CreateDataCatalogInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateDataCatalogInput",
      "title": "CreateDataCatalogInput",
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "Type": {
          "title": "DataCatalogType1",
          "description": "The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an Glue Data Catalog.",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "LAMBDA",
            "GLUE",
            "HIVE"
          ]
        },
        "Description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "Parameters": {
          "id": "Parameters",
          "title": "Parameters",
          "type": "object",
          "additionalProperties": {
            "type": "string",
            "maxLength": 51200
          }
        },
        "Tags": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Tag",
            "title": "Tag",
            "description": "A label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.",
            "type": "object",
            "properties": {
              "Key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "Value": {
                "type": "string",
                "minLength": 0,
                "maxLength": 256
              }
            }
          }
        }
      },
      "required": [
        "Name",
        "Type"
      ]
    }
- CreateNamedQueryOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateNamedQueryOutput",
      "title": "CreateNamedQueryOutput",
      "type": "object",
      "properties": {
        "NamedQueryId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        }
      }
    }
- CreateNamedQueryInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateNamedQueryInput",
      "title": "CreateNamedQueryInput",
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "Database": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "QueryString": {
          "type": "string",
          "minLength": 1,
          "maxLength": 262144
        },
        "Description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "ClientRequestToken": {
          "type": "string",
          "minLength": 32,
          "maxLength": 128
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        }
      },
      "required": [
        "Name",
        "Database",
        "QueryString"
      ]
    }
- CreateNotebookOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateNotebookOutput",
      "title": "CreateNotebookOutput",
      "type": "object",
      "properties": {
        "NotebookId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36,
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
        }
      }
    }
- CreateNotebookInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateNotebookInput",
      "title": "CreateNotebookInput",
      "type": "object",
      "properties": {
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        },
        "Name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 255
        },
        "ClientRequestToken": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36,
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
        }
      },
      "required": [
        "WorkGroup",
        "Name"
      ]
    }
- CreatePreparedStatementInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreatePreparedStatementInput",
      "title": "CreatePreparedStatementInput",
      "type": "object",
      "properties": {
        "StatementName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        },
        "QueryStatement": {
          "type": "string",
          "minLength": 1,
          "maxLength": 262144
        },
        "Description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        }
      },
      "required": [
        "StatementName",
        "WorkGroup",
        "QueryStatement"
      ]
    }
- CreatePresignedNotebookUrlResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreatePresignedNotebookUrlResponse",
      "title": "CreatePresignedNotebookUrlResponse",
      "type": "object",
      "properties": {
        "NotebookUrl": {
          "type": "string"
        },
        "AuthToken": {
          "type": "string",
          "maxLength": 2048
        },
        "AuthTokenExpirationTime": {
          "type": "integer",
          "format": "int32"
        }
      },
      "required": [
        "NotebookUrl",
        "AuthToken",
        "AuthTokenExpirationTime"
      ]
    }
- CreatePresignedNotebookUrlRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreatePresignedNotebookUrlRequest",
      "title": "CreatePresignedNotebookUrlRequest",
      "type": "object",
      "properties": {
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "SessionId"
      ]
    }
- CreateWorkGroupInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "CreateWorkGroupInput",
      "title": "CreateWorkGroupInput",
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        },
        "Configuration": {
          "id": "Configuration",
          "title": "Configuration",
          "type": "object",
          "properties": {
            "ResultConfiguration": {
              "id": "ResultConfiguration1",
              "title": "ResultConfiguration1",
              "type": "object",
              "properties": {
                "OutputLocation": {
                  "type": "string"
                },
                "EncryptionConfiguration": {
                  "id": "EncryptionConfiguration2",
                  "title": "EncryptionConfiguration2",
                  "type": "object",
                  "properties": {
                    "EncryptionOption": {
                      "title": "EncryptionOption1",
                      "description": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "SSE_S3",
                        "SSE_KMS",
                        "CSE_KMS"
                      ]
                    },
                    "KmsKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "EncryptionOption"
                  ]
                },
                "ExpectedBucketOwner": {
                  "type": "string",
                  "minLength": 12,
                  "maxLength": 12,
                  "pattern": "^[0-9]+$"
                },
                "AclConfiguration": {
                  "id": "AclConfiguration1",
                  "title": "AclConfiguration1",
                  "type": "object",
                  "properties": {
                    "S3AclOption": {
                      "title": "S3AclOption1",
                      "description": "The Amazon S3 canned ACL that Athena should specify when storing query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "BUCKET_OWNER_FULL_CONTROL"
                      ]
                    }
                  },
                  "required": [
                    "S3AclOption"
                  ]
                }
              }
            },
            "EnforceWorkGroupConfiguration": {
              "type": "boolean"
            },
            "PublishCloudWatchMetricsEnabled": {
              "type": "boolean"
            },
            "BytesScannedCutoffPerQuery": {
              "type": "integer",
              "minimum": 10000000.0,
              "format": "int32"
            },
            "RequesterPaysEnabled": {
              "type": "boolean"
            },
            "EngineVersion": {
              "id": "EngineVersion1",
              "title": "EngineVersion1",
              "type": "object",
              "properties": {
                "SelectedEngineVersion": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "EffectiveEngineVersion": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                }
              }
            },
            "AdditionalConfiguration": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "ExecutionRole": {
              "type": "string",
              "minLength": 20,
              "maxLength": 2048,
              "pattern": "^arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
            },
            "CustomerContentEncryptionConfiguration": {
              "id": "CustomerContentEncryptionConfiguration2",
              "title": "CustomerContentEncryptionConfiguration2",
              "type": "object",
              "properties": {
                "KmsKey": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 2048,
                  "pattern": "^arn:aws[a-z\\-]*:kms:([a-z0-9\\-]+):\\d{12}:key/?[a-zA-Z_0-9+=,.@\\-_/]+$|^arn:aws[a-z\\-]*:kms:([a-z0-9\\-]+):\\d{12}:alias/?[a-zA-Z_0-9+=,.@\\-_/]+$|^alias/[a-zA-Z0-9/_-]+$|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
                }
              },
              "required": [
                "KmsKey"
              ]
            },
            "EnableMinimumEncryptionConfiguration": {
              "type": "boolean"
            }
          }
        },
        "Description": {
          "type": "string",
          "minLength": 0,
          "maxLength": 1024
        },
        "Tags": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Tag",
            "title": "Tag",
            "description": "A label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href=\"https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html\">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.",
            "type": "object",
            "properties": {
              "Key": {
                "type": "string",
                "minLength": 1,
                "maxLength": 128
              },
              "Value": {
                "type": "string",
                "minLength": 0,
                "maxLength": 256
              }
            }
          }
        }
      },
      "required": [
        "Name"
      ]
    }
- DeleteDataCatalogInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeleteDataCatalogInput",
      "title": "DeleteDataCatalogInput",
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "Name"
      ]
    }
- DeleteNamedQueryInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeleteNamedQueryInput",
      "title": "DeleteNamedQueryInput",
      "type": "object",
      "properties": {
        "NamedQueryId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        }
      },
      "required": [
        "NamedQueryId"
      ]
    }
- DeleteNotebookInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeleteNotebookInput",
      "title": "DeleteNotebookInput",
      "type": "object",
      "properties": {
        "NotebookId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36,
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
        }
      },
      "required": [
        "NotebookId"
      ]
    }
- DeletePreparedStatementInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeletePreparedStatementInput",
      "title": "DeletePreparedStatementInput",
      "type": "object",
      "properties": {
        "StatementName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        }
      },
      "required": [
        "StatementName",
        "WorkGroup"
      ]
    }
- DeleteWorkGroupInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "DeleteWorkGroupInput",
      "title": "DeleteWorkGroupInput",
      "type": "object",
      "properties": {
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        },
        "RecursiveDeleteOption": {
          "type": "boolean"
        }
      },
      "required": [
        "WorkGroup"
      ]
    }
- ExportNotebookOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ExportNotebookOutput",
      "title": "ExportNotebookOutput",
      "type": "object",
      "properties": {
        "NotebookMetadata": {
          "id": "NotebookMetadata1",
          "title": "NotebookMetadata1",
          "type": "object",
          "properties": {
            "NotebookId": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
            },
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "WorkGroup": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            },
            "CreationTime": {
              "type": "string",
              "format": "date-time"
            },
            "Type": {
              "title": "NotebookType1",
              "description": "The type of notebook. Currently, the only valid type is <code>IPYNB</code>.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "IPYNB"
              ]
            },
            "LastModifiedTime": {
              "type": "string",
              "format": "date-time"
            }
          }
        },
        "Payload": {
          "type": "string",
          "minLength": 1,
          "maxLength": 10485760
        }
      }
    }
- ExportNotebookInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ExportNotebookInput",
      "title": "ExportNotebookInput",
      "type": "object",
      "properties": {
        "NotebookId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36,
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
        }
      },
      "required": [
        "NotebookId"
      ]
    }
- GetCalculationExecutionResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionResponse",
      "title": "GetCalculationExecutionResponse",
      "type": "object",
      "properties": {
        "CalculationExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36
        },
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "Description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "WorkingDirectory": {
          "type": "string",
          "maxLength": 1024,
          "pattern": "^(https|s3|S3)://([^/]+)/?(.*)$"
        },
        "Status": {
          "id": "Status1",
          "title": "Status1",
          "type": "object",
          "properties": {
            "SubmissionDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "CompletionDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "State": {
              "title": "CalculationExecutionState1",
              "description": "<p>The state of the calculation execution. A description of each state follows.</p> <p> <code>CREATING</code> - The calculation is in the process of being created.</p> <p> <code>CREATED</code> - The calculation has been created and is ready to run.</p> <p> <code>QUEUED</code> - The calculation has been queued for processing.</p> <p> <code>RUNNING</code> - The calculation is running.</p> <p> <code>CANCELING</code> - A request to cancel the calculation has been received and the system is working to stop it.</p> <p> <code>CANCELED</code> - The calculation is no longer running as the result of a cancel request.</p> <p> <code>COMPLETED</code> - The calculation has completed without error.</p> <p> <code>FAILED</code> - The calculation failed and is no longer running.</p>",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "CREATING",
                "CREATED",
                "QUEUED",
                "RUNNING",
                "CANCELING",
                "CANCELED",
                "COMPLETED",
                "FAILED"
              ]
            },
            "StateChangeReason": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        },
        "Statistics": {
          "id": "Statistics1",
          "title": "Statistics1",
          "type": "object",
          "properties": {
            "DpuExecutionInMillis": {
              "type": "integer",
              "format": "int32"
            },
            "Progress": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        },
        "Result": {
          "id": "Result",
          "title": "Result",
          "type": "object",
          "properties": {
            "StdOutS3Uri": {
              "type": "string",
              "maxLength": 1024,
              "pattern": "^(https|s3|S3)://([^/]+)/?(.*)$"
            },
            "StdErrorS3Uri": {
              "type": "string",
              "maxLength": 1024,
              "pattern": "^(https|s3|S3)://([^/]+)/?(.*)$"
            },
            "ResultS3Uri": {
              "type": "string",
              "maxLength": 1024,
              "pattern": "^(https|s3|S3)://([^/]+)/?(.*)$"
            },
            "ResultType": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "\\w+\\/[-+.\\w]+"
            }
          }
        }
      }
    }
- GetCalculationExecutionRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionRequest",
      "title": "GetCalculationExecutionRequest",
      "type": "object",
      "properties": {
        "CalculationExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36
        }
      },
      "required": [
        "CalculationExecutionId"
      ]
    }
- GetCalculationExecutionCodeResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionCodeResponse",
      "title": "GetCalculationExecutionCodeResponse",
      "type": "object",
      "properties": {
        "CodeBlock": {
          "type": "string",
          "maxLength": 68000
        }
      }
    }
- GetCalculationExecutionCodeRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionCodeRequest",
      "title": "GetCalculationExecutionCodeRequest",
      "type": "object",
      "properties": {
        "CalculationExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36
        }
      },
      "required": [
        "CalculationExecutionId"
      ]
    }
- GetCalculationExecutionStatusResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionStatusResponse",
      "title": "GetCalculationExecutionStatusResponse",
      "type": "object",
      "properties": {
        "Status": {
          "id": "Status1",
          "title": "Status1",
          "type": "object",
          "properties": {
            "SubmissionDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "CompletionDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "State": {
              "title": "CalculationExecutionState1",
              "description": "<p>The state of the calculation execution. A description of each state follows.</p> <p> <code>CREATING</code> - The calculation is in the process of being created.</p> <p> <code>CREATED</code> - The calculation has been created and is ready to run.</p> <p> <code>QUEUED</code> - The calculation has been queued for processing.</p> <p> <code>RUNNING</code> - The calculation is running.</p> <p> <code>CANCELING</code> - A request to cancel the calculation has been received and the system is working to stop it.</p> <p> <code>CANCELED</code> - The calculation is no longer running as the result of a cancel request.</p> <p> <code>COMPLETED</code> - The calculation has completed without error.</p> <p> <code>FAILED</code> - The calculation failed and is no longer running.</p>",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "CREATING",
                "CREATED",
                "QUEUED",
                "RUNNING",
                "CANCELING",
                "CANCELED",
                "COMPLETED",
                "FAILED"
              ]
            },
            "StateChangeReason": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        },
        "Statistics": {
          "id": "Statistics1",
          "title": "Statistics1",
          "type": "object",
          "properties": {
            "DpuExecutionInMillis": {
              "type": "integer",
              "format": "int32"
            },
            "Progress": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        }
      }
    }
- GetCalculationExecutionStatusRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetCalculationExecutionStatusRequest",
      "title": "GetCalculationExecutionStatusRequest",
      "type": "object",
      "properties": {
        "CalculationExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36
        }
      },
      "required": [
        "CalculationExecutionId"
      ]
    }
- GetDataCatalogOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetDataCatalogOutput",
      "title": "GetDataCatalogOutput",
      "type": "object",
      "properties": {
        "DataCatalog": {
          "id": "DataCatalog2",
          "title": "DataCatalog2",
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            },
            "Type": {
              "title": "DataCatalogType1",
              "description": "The type of data catalog to create: <code>LAMBDA</code> for a federated catalog, <code>HIVE</code> for an external hive metastore, or <code>GLUE</code> for an Glue Data Catalog.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "LAMBDA",
                "GLUE",
                "HIVE"
              ]
            },
            "Description": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            },
            "Parameters": {
              "id": "Parameters",
              "title": "Parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 51200
              }
            }
          },
          "required": [
            "Name",
            "Type"
          ]
        }
      }
    }
- GetDataCatalogInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetDataCatalogInput",
      "title": "GetDataCatalogInput",
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "Name"
      ]
    }
- GetDatabaseOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetDatabaseOutput",
      "title": "GetDatabaseOutput",
      "type": "object",
      "properties": {
        "Database": {
          "id": "Database2",
          "title": "Database2",
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "Description": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            },
            "Parameters": {
              "id": "Parameters",
              "title": "Parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 51200
              }
            }
          },
          "required": [
            "Name"
          ]
        }
      }
    }
- GetDatabaseInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetDatabaseInput",
      "title": "GetDatabaseInput",
      "type": "object",
      "properties": {
        "CatalogName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "DatabaseName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "required": [
        "CatalogName",
        "DatabaseName"
      ]
    }
- GetNamedQueryOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetNamedQueryOutput",
      "title": "GetNamedQueryOutput",
      "type": "object",
      "properties": {
        "NamedQuery": {
          "id": "NamedQuery1",
          "title": "NamedQuery1",
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "Database": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "QueryString": {
              "type": "string",
              "minLength": 1,
              "maxLength": 262144
            },
            "Description": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            },
            "NamedQueryId": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "\\S+"
            },
            "WorkGroup": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            }
          },
          "required": [
            "Name",
            "Database",
            "QueryString"
          ]
        }
      }
    }
- GetNamedQueryInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetNamedQueryInput",
      "title": "GetNamedQueryInput",
      "type": "object",
      "properties": {
        "NamedQueryId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        }
      },
      "required": [
        "NamedQueryId"
      ]
    }
- GetNotebookMetadataOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetNotebookMetadataOutput",
      "title": "GetNotebookMetadataOutput",
      "type": "object",
      "properties": {
        "NotebookMetadata": {
          "id": "NotebookMetadata1",
          "title": "NotebookMetadata1",
          "type": "object",
          "properties": {
            "NotebookId": {
              "type": "string",
              "minLength": 1,
              "maxLength": 36,
              "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
            },
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255
            },
            "WorkGroup": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            },
            "CreationTime": {
              "type": "string",
              "format": "date-time"
            },
            "Type": {
              "title": "NotebookType1",
              "description": "The type of notebook. Currently, the only valid type is <code>IPYNB</code>.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "IPYNB"
              ]
            },
            "LastModifiedTime": {
              "type": "string",
              "format": "date-time"
            }
          }
        }
      }
    }
- GetNotebookMetadataInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetNotebookMetadataInput",
      "title": "GetNotebookMetadataInput",
      "type": "object",
      "properties": {
        "NotebookId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 36,
          "pattern": "[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
        }
      },
      "required": [
        "NotebookId"
      ]
    }
- GetPreparedStatementOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetPreparedStatementOutput",
      "title": "GetPreparedStatementOutput",
      "type": "object",
      "properties": {
        "PreparedStatement": {
          "id": "PreparedStatement1",
          "title": "PreparedStatement1",
          "type": "object",
          "properties": {
            "StatementName": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
            },
            "QueryStatement": {
              "type": "string",
              "minLength": 1,
              "maxLength": 262144
            },
            "WorkGroupName": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            },
            "Description": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            },
            "LastModifiedTime": {
              "type": "string",
              "format": "date-time"
            }
          }
        }
      }
    }
- GetPreparedStatementInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetPreparedStatementInput",
      "title": "GetPreparedStatementInput",
      "type": "object",
      "properties": {
        "StatementName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256,
          "pattern": "[a-zA-Z_][a-zA-Z0-9_@:]{1,256}"
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        }
      },
      "required": [
        "StatementName",
        "WorkGroup"
      ]
    }
- GetQueryExecutionOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryExecutionOutput",
      "title": "GetQueryExecutionOutput",
      "type": "object",
      "properties": {
        "QueryExecution": {
          "id": "QueryExecution1",
          "title": "QueryExecution1",
          "type": "object",
          "properties": {
            "QueryExecutionId": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "\\S+"
            },
            "Query": {
              "type": "string",
              "minLength": 1,
              "maxLength": 262144
            },
            "StatementType": {
              "title": "StatementType1",
              "description": "The type of query statement that was run. <code>DDL</code> indicates DDL query statements. <code>DML</code> indicates DML (Data Manipulation Language) query statements, such as <code>CREATE TABLE AS SELECT</code>. <code>UTILITY</code> indicates query statements other than DDL and DML, such as <code>SHOW CREATE TABLE</code>, or <code>DESCRIBE TABLE</code>.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "DDL",
                "DML",
                "UTILITY"
              ]
            },
            "ResultConfiguration": {
              "id": "ResultConfiguration1",
              "title": "ResultConfiguration1",
              "type": "object",
              "properties": {
                "OutputLocation": {
                  "type": "string"
                },
                "EncryptionConfiguration": {
                  "id": "EncryptionConfiguration2",
                  "title": "EncryptionConfiguration2",
                  "type": "object",
                  "properties": {
                    "EncryptionOption": {
                      "title": "EncryptionOption1",
                      "description": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "SSE_S3",
                        "SSE_KMS",
                        "CSE_KMS"
                      ]
                    },
                    "KmsKey": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "EncryptionOption"
                  ]
                },
                "ExpectedBucketOwner": {
                  "type": "string",
                  "minLength": 12,
                  "maxLength": 12,
                  "pattern": "^[0-9]+$"
                },
                "AclConfiguration": {
                  "id": "AclConfiguration1",
                  "title": "AclConfiguration1",
                  "type": "object",
                  "properties": {
                    "S3AclOption": {
                      "title": "S3AclOption1",
                      "description": "The Amazon S3 canned ACL that Athena should specify when storing query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "BUCKET_OWNER_FULL_CONTROL"
                      ]
                    }
                  },
                  "required": [
                    "S3AclOption"
                  ]
                }
              }
            },
            "ResultReuseConfiguration": {
              "id": "ResultReuseConfiguration1",
              "title": "ResultReuseConfiguration1",
              "type": "object",
              "properties": {
                "ResultReuseByAgeConfiguration": {
                  "id": "ResultReuseByAgeConfiguration2",
                  "title": "ResultReuseByAgeConfiguration2",
                  "type": "object",
                  "properties": {
                    "Enabled": {
                      "type": "boolean"
                    },
                    "MaxAgeInMinutes": {
                      "type": "integer",
                      "minimum": 0.0,
                      "maximum": 10080.0,
                      "format": "int32"
                    }
                  },
                  "required": [
                    "Enabled"
                  ]
                }
              }
            },
            "QueryExecutionContext": {
              "id": "QueryExecutionContext1",
              "title": "QueryExecutionContext1",
              "type": "object",
              "properties": {
                "Database": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 255
                },
                "Catalog": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 256
                }
              }
            },
            "Status": {
              "id": "Status",
              "title": "Status",
              "type": "object",
              "properties": {
                "State": {
                  "title": "QueryExecutionState1",
                  "description": "<p>The state of query execution. <code>QUEUED</code> indicates that the query has been submitted to the service, and Athena will execute the query as soon as resources are available. <code>RUNNING</code> indicates that the query is in execution phase. <code>SUCCEEDED</code> indicates that the query completed without errors. <code>FAILED</code> indicates that the query experienced an error and did not complete processing. <code>CANCELLED</code> indicates that a user input interrupted query execution.</p> <note> <p>Athena automatically retries your queries in cases of certain transient errors. As a result, you may see the query state transition from <code>RUNNING</code> or <code>FAILED</code> to <code>QUEUED</code>. </p> </note>",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "QUEUED",
                    "RUNNING",
                    "SUCCEEDED",
                    "FAILED",
                    "CANCELLED"
                  ]
                },
                "StateChangeReason": {
                  "type": "string"
                },
                "SubmissionDateTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "CompletionDateTime": {
                  "type": "string",
                  "format": "date-time"
                },
                "AthenaError": {
                  "id": "AthenaError2",
                  "title": "AthenaError2",
                  "type": "object",
                  "properties": {
                    "ErrorCategory": {
                      "type": "integer",
                      "minimum": 1.0,
                      "maximum": 3.0,
                      "format": "int32"
                    },
                    "ErrorType": {
                      "type": "integer",
                      "minimum": 0.0,
                      "maximum": 9999.0,
                      "format": "int32"
                    },
                    "Retryable": {
                      "type": "boolean"
                    },
                    "ErrorMessage": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "Statistics": {
              "id": "Statistics",
              "title": "Statistics",
              "type": "object",
              "properties": {
                "EngineExecutionTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "DataScannedInBytes": {
                  "type": "integer",
                  "format": "int32"
                },
                "DataManifestLocation": {
                  "type": "string"
                },
                "TotalExecutionTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "QueryQueueTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "QueryPlanningTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "ServiceProcessingTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "ResultReuseInformation": {
                  "id": "ResultReuseInformation2",
                  "title": "ResultReuseInformation2",
                  "type": "object",
                  "properties": {
                    "ReusedPreviousResult": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ReusedPreviousResult"
                  ]
                }
              }
            },
            "WorkGroup": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            },
            "EngineVersion": {
              "id": "EngineVersion1",
              "title": "EngineVersion1",
              "type": "object",
              "properties": {
                "SelectedEngineVersion": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "EffectiveEngineVersion": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                }
              }
            },
            "ExecutionParameters": {
              "description": "",
              "type": "array",
              "items": {
                "type": "string",
                "minLength": 1,
                "maxLength": 1024
              },
              "minItems": 1
            },
            "SubstatementType": {
              "type": "string"
            }
          }
        }
      }
    }
- GetQueryExecutionInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryExecutionInput",
      "title": "GetQueryExecutionInput",
      "type": "object",
      "properties": {
        "QueryExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        }
      },
      "required": [
        "QueryExecutionId"
      ]
    }
- GetQueryResultsOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryResultsOutput",
      "title": "GetQueryResultsOutput",
      "type": "object",
      "properties": {
        "UpdateCount": {
          "type": "integer",
          "format": "int32"
        },
        "ResultSet": {
          "id": "ResultSet2",
          "title": "ResultSet2",
          "type": "object",
          "properties": {
            "Rows": {
              "description": "",
              "type": "array",
              "items": {
                "id": "Row",
                "title": "Row",
                "description": "The rows that make up a query result table.",
                "type": "object",
                "properties": {
                  "Data": {
                    "description": "",
                    "type": "array",
                    "items": {
                      "id": "Datum",
                      "title": "Datum",
                      "description": "A piece of data (a field in the table).",
                      "type": "object",
                      "properties": {
                        "VarCharValue": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "ResultSetMetadata": {
              "id": "ResultSetMetadata2",
              "title": "ResultSetMetadata2",
              "type": "object",
              "properties": {
                "ColumnInfo": {
                  "description": "",
                  "type": "array",
                  "items": {
                    "id": "ColumnInfo",
                    "title": "ColumnInfo",
                    "description": "Information about the columns in a query execution result.",
                    "type": "object",
                    "properties": {
                      "Name": {
                        "type": "string"
                      },
                      "Type": {
                        "type": "string"
                      },
                      "CatalogName": {
                        "type": "string"
                      },
                      "SchemaName": {
                        "type": "string"
                      },
                      "TableName": {
                        "type": "string"
                      },
                      "Label": {
                        "type": "string"
                      },
                      "Precision": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Scale": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "Nullable": {
                        "title": "ColumnNullable2",
                        "description": "Indicates the column's nullable status.",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "NOT_NULL",
                          "NULLABLE",
                          "UNKNOWN"
                        ]
                      },
                      "CaseSensitive": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "Name",
                      "Type"
                    ]
                  }
                }
              }
            }
          }
        },
        "NextToken": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        }
      }
    }
- GetQueryResultsInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryResultsInput",
      "title": "GetQueryResultsInput",
      "type": "object",
      "properties": {
        "QueryExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        },
        "NextToken": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "MaxResults": {
          "type": "integer",
          "minimum": 1.0,
          "maximum": 1000.0,
          "format": "int32"
        }
      },
      "required": [
        "QueryExecutionId"
      ]
    }
- GetQueryRuntimeStatisticsOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryRuntimeStatisticsOutput",
      "title": "GetQueryRuntimeStatisticsOutput",
      "type": "object",
      "properties": {
        "QueryRuntimeStatistics": {
          "id": "QueryRuntimeStatistics2",
          "title": "QueryRuntimeStatistics2",
          "type": "object",
          "properties": {
            "Timeline": {
              "id": "QueryRuntimeStatisticsTimeline",
              "title": "QueryRuntimeStatisticsTimeline",
              "description": "Timeline statistics such as query queue time, planning time, execution time, service processing time, and total execution time.",
              "type": "object",
              "properties": {
                "QueryQueueTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "QueryPlanningTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "EngineExecutionTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "ServiceProcessingTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                },
                "TotalExecutionTimeInMillis": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "Rows": {
              "id": "QueryRuntimeStatisticsRows",
              "title": "QueryRuntimeStatisticsRows",
              "description": "Statistics such as input rows and bytes read by the query, rows and bytes output by the query, and the number of rows written by the query.",
              "type": "object",
              "properties": {
                "InputRows": {
                  "type": "integer",
                  "format": "int32"
                },
                "InputBytes": {
                  "type": "integer",
                  "format": "int32"
                },
                "OutputBytes": {
                  "type": "integer",
                  "format": "int32"
                },
                "OutputRows": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "OutputStage": {
              "id": "OutputStage",
              "title": "OutputStage",
              "type": "object",
              "properties": {
                "StageId": {
                  "type": "integer",
                  "format": "int32"
                },
                "State": {
                  "type": "string"
                },
                "OutputBytes": {
                  "type": "integer",
                  "format": "int32"
                },
                "OutputRows": {
                  "type": "integer",
                  "format": "int32"
                },
                "InputBytes": {
                  "type": "integer",
                  "format": "int32"
                },
                "InputRows": {
                  "type": "integer",
                  "format": "int32"
                },
                "ExecutionTime": {
                  "type": "integer",
                  "format": "int32"
                },
                "QueryStagePlan": {
                  "id": "QueryStagePlan",
                  "title": "QueryStagePlan",
                  "type": "object",
                  "properties": {
                    "Name": {
                      "type": "string"
                    },
                    "Identifier": {
                      "type": "string"
                    },
                    "Children": {
                      "description": "",
                      "type": "array",
                      "items": {
                        "id": "QueryStagePlanNode",
                        "title": "QueryStagePlanNode",
                        "description": "Stage plan information such as name, identifier, sub plans, and remote sources.",
                        "type": "object",
                        "properties": {
                          "Name": {
                            "type": "string"
                          },
                          "Identifier": {
                            "type": "string"
                          },
                          "Children": {
                            "description": "",
                            "type": "array",
                            "items": {
                              "$ref": "QueryStagePlanNode"
                            }
                          },
                          "RemoteSources": {
                            "description": "",
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "RemoteSources": {
                      "description": "",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "SubStages": {
                  "description": "",
                  "type": "array",
                  "items": {
                    "id": "QueryStage",
                    "title": "QueryStage",
                    "description": "Stage statistics such as input and output rows and bytes, execution time and stage state. This information also includes substages and the query stage plan.",
                    "type": "object",
                    "properties": {
                      "StageId": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "State": {
                        "type": "string"
                      },
                      "OutputBytes": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "OutputRows": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "InputBytes": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "InputRows": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "ExecutionTime": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "QueryStagePlan": {
                        "$ref": "QueryStagePlan"
                      },
                      "SubStages": {
                        "description": "",
                        "type": "array",
                        "items": {
                          "$ref": "QueryStage"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
- GetQueryRuntimeStatisticsInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetQueryRuntimeStatisticsInput",
      "title": "GetQueryRuntimeStatisticsInput",
      "type": "object",
      "properties": {
        "QueryExecutionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128,
          "pattern": "\\S+"
        }
      },
      "required": [
        "QueryExecutionId"
      ]
    }
- GetSessionResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetSessionResponse",
      "title": "GetSessionResponse",
      "type": "object",
      "properties": {
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "Description": {
          "type": "string",
          "minLength": 1,
          "maxLength": 1024
        },
        "WorkGroup": {
          "type": "string",
          "pattern": "[a-zA-Z0-9._-]{1,128}"
        },
        "EngineVersion": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "EngineConfiguration": {
          "id": "EngineConfiguration1",
          "title": "EngineConfiguration1",
          "type": "object",
          "properties": {
            "MaxConcurrentDpus": {
              "type": "integer",
              "minimum": 2.0,
              "maximum": 5000.0,
              "format": "int32"
            },
            "CoordinatorDpuSize": {
              "type": "integer",
              "minimum": 1.0,
              "maximum": 1.0,
              "format": "int32"
            },
            "DefaultExecutorDpuSize": {
              "type": "integer",
              "minimum": 1.0,
              "maximum": 1.0,
              "format": "int32"
            },
            "AdditionalConfigs": {
              "id": "AdditionalConfigs",
              "title": "AdditionalConfigs",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 51200
              }
            }
          },
          "required": [
            "MaxConcurrentDpus"
          ]
        },
        "NotebookVersion": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "SessionConfiguration": {
          "id": "SessionConfiguration2",
          "title": "SessionConfiguration2",
          "type": "object",
          "properties": {
            "ExecutionRole": {
              "type": "string",
              "minLength": 20,
              "maxLength": 2048,
              "pattern": "^arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
            },
            "WorkingDirectory": {
              "type": "string"
            },
            "IdleTimeoutSeconds": {
              "type": "integer",
              "format": "int32"
            },
            "EncryptionConfiguration": {
              "id": "EncryptionConfiguration",
              "title": "EncryptionConfiguration",
              "description": "If query and calculation results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.",
              "type": "object",
              "properties": {
                "EncryptionOption": {
                  "title": "EncryptionOption1",
                  "description": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "SSE_S3",
                    "SSE_KMS",
                    "CSE_KMS"
                  ]
                },
                "KmsKey": {
                  "type": "string"
                }
              },
              "required": [
                "EncryptionOption"
              ]
            }
          }
        },
        "Status": {
          "id": "Status3",
          "title": "Status3",
          "type": "object",
          "properties": {
            "StartDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "LastModifiedDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "EndDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "IdleSinceDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "State": {
              "title": "SessionState1",
              "description": "<p>The state of the session. A description of each state follows.</p> <p> <code>CREATING</code> - The session is being started, including acquiring resources.</p> <p> <code>CREATED</code> - The session has been started.</p> <p> <code>IDLE</code> - The session is able to accept a calculation.</p> <p> <code>BUSY</code> - The session is processing another task and is unable to accept a calculation.</p> <p> <code>TERMINATING</code> - The session is in the process of shutting down.</p> <p> <code>TERMINATED</code> - The session and its resources are no longer running.</p> <p> <code>DEGRADED</code> - The session has no healthy coordinators.</p> <p> <code>FAILED</code> - Due to a failure, the session and its resources are no longer running.</p>",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "CREATING",
                "CREATED",
                "IDLE",
                "BUSY",
                "TERMINATING",
                "TERMINATED",
                "DEGRADED",
                "FAILED"
              ]
            },
            "StateChangeReason": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        },
        "Statistics": {
          "id": "Statistics3",
          "title": "Statistics3",
          "type": "object",
          "properties": {
            "DpuExecutionInMillis": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GetSessionRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetSessionRequest",
      "title": "GetSessionRequest",
      "type": "object",
      "properties": {
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "SessionId"
      ]
    }
- GetSessionStatusResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetSessionStatusResponse",
      "title": "GetSessionStatusResponse",
      "type": "object",
      "properties": {
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "Status": {
          "id": "Status3",
          "title": "Status3",
          "type": "object",
          "properties": {
            "StartDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "LastModifiedDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "EndDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "IdleSinceDateTime": {
              "type": "string",
              "format": "date-time"
            },
            "State": {
              "title": "SessionState1",
              "description": "<p>The state of the session. A description of each state follows.</p> <p> <code>CREATING</code> - The session is being started, including acquiring resources.</p> <p> <code>CREATED</code> - The session has been started.</p> <p> <code>IDLE</code> - The session is able to accept a calculation.</p> <p> <code>BUSY</code> - The session is processing another task and is unable to accept a calculation.</p> <p> <code>TERMINATING</code> - The session is in the process of shutting down.</p> <p> <code>TERMINATED</code> - The session and its resources are no longer running.</p> <p> <code>DEGRADED</code> - The session has no healthy coordinators.</p> <p> <code>FAILED</code> - Due to a failure, the session and its resources are no longer running.</p>",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "CREATING",
                "CREATED",
                "IDLE",
                "BUSY",
                "TERMINATING",
                "TERMINATED",
                "DEGRADED",
                "FAILED"
              ]
            },
            "StateChangeReason": {
              "type": "string",
              "minLength": 1,
              "maxLength": 1024
            }
          }
        }
      }
    }
- GetSessionStatusRequest: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetSessionStatusRequest",
      "title": "GetSessionStatusRequest",
      "type": "object",
      "properties": {
        "SessionId": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        }
      },
      "required": [
        "SessionId"
      ]
    }
- GetTableMetadataOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetTableMetadataOutput",
      "title": "GetTableMetadataOutput",
      "type": "object",
      "properties": {
        "TableMetadata": {
          "id": "TableMetadata2",
          "title": "TableMetadata2",
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128
            },
            "CreateTime": {
              "type": "string",
              "format": "date-time"
            },
            "LastAccessTime": {
              "type": "string",
              "format": "date-time"
            },
            "TableType": {
              "type": "string",
              "maxLength": 255
            },
            "Columns": {
              "description": "",
              "type": "array",
              "items": {
                "id": "Column",
                "title": "Column",
                "description": "Contains metadata for a column in a table.",
                "type": "object",
                "properties": {
                  "Name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 128
                  },
                  "Type": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 4096
                  },
                  "Comment": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 255
                  }
                },
                "required": [
                  "Name"
                ]
              }
            },
            "PartitionKeys": {
              "description": "",
              "type": "array",
              "items": {
                "$ref": "Column"
              }
            },
            "Parameters": {
              "id": "Parameters",
              "title": "Parameters",
              "type": "object",
              "additionalProperties": {
                "type": "string",
                "maxLength": 51200
              }
            }
          },
          "required": [
            "Name"
          ]
        }
      }
    }
- GetTableMetadataInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetTableMetadataInput",
      "title": "GetTableMetadataInput",
      "type": "object",
      "properties": {
        "CatalogName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 256
        },
        "DatabaseName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        },
        "TableName": {
          "type": "string",
          "minLength": 1,
          "maxLength": 128
        }
      },
      "required": [
        "CatalogName",
        "DatabaseName",
        "TableName"
      ]
    }
- GetWorkGroupOutput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetWorkGroupOutput",
      "title": "GetWorkGroupOutput",
      "type": "object",
      "properties": {
        "WorkGroup": {
          "id": "WorkGroup2",
          "title": "WorkGroup2",
          "type": "object",
          "properties": {
            "Name": {
              "type": "string",
              "pattern": "[a-zA-Z0-9._-]{1,128}"
            },
            "State": {
              "title": "WorkGroupState3",
              "description": "The state of the workgroup: ENABLED or DISABLED.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "ENABLED",
                "DISABLED"
              ]
            },
            "Configuration": {
              "id": "Configuration",
              "title": "Configuration",
              "type": "object",
              "properties": {
                "ResultConfiguration": {
                  "id": "ResultConfiguration1",
                  "title": "ResultConfiguration1",
                  "type": "object",
                  "properties": {
                    "OutputLocation": {
                      "type": "string"
                    },
                    "EncryptionConfiguration": {
                      "id": "EncryptionConfiguration2",
                      "title": "EncryptionConfiguration2",
                      "type": "object",
                      "properties": {
                        "EncryptionOption": {
                          "title": "EncryptionOption1",
                          "description": "<p>Indicates whether Amazon S3 server-side encryption with Amazon S3-managed keys (<code>SSE_S3</code>), server-side encryption with KMS-managed keys (<code>SSE_KMS</code>), or client-side encryption with KMS-managed keys (<code>CSE_KMS</code>) is used.</p> <p>If a query runs in a workgroup and the workgroup overrides client-side settings, then the workgroup's setting for encryption is used. It specifies whether query results must be encrypted, for all queries that run in this workgroup. </p>",
                          "type": "string",
                          "additionalProperties": false,
                          "enum": [
                            "SSE_S3",
                            "SSE_KMS",
                            "CSE_KMS"
                          ]
                        },
                        "KmsKey": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "EncryptionOption"
                      ]
                    },
                    "ExpectedBucketOwner": {
                      "type": "string",
                      "minLength": 12,
                      "maxLength": 12,
                      "pattern": "^[0-9]+$"
                    },
                    "AclConfiguration": {
                      "id": "AclConfiguration1",
                      "title": "AclConfiguration1",
                      "type": "object",
                      "properties": {
                        "S3AclOption": {
                          "title": "S3AclOption1",
                          "description": "The Amazon S3 canned ACL that Athena should specify when storing query results. Currently the only supported canned ACL is <code>BUCKET_OWNER_FULL_CONTROL</code>. If a query runs in a workgroup and the workgroup overrides client-side settings, then the Amazon S3 canned ACL specified in the workgroup's settings is used for all queries that run in the workgroup. For more information about Amazon S3 canned ACLs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/userguide/acl-overview.html#canned-acl\">Canned ACL</a> in the <i>Amazon S3 User Guide</i>.",
                          "type": "string",
                          "additionalProperties": false,
                          "enum": [
                            "BUCKET_OWNER_FULL_CONTROL"
                          ]
                        }
                      },
                      "required": [
                        "S3AclOption"
                      ]
                    }
                  }
                },
                "EnforceWorkGroupConfiguration": {
                  "type": "boolean"
                },
                "PublishCloudWatchMetricsEnabled": {
                  "type": "boolean"
                },
                "BytesScannedCutoffPerQuery": {
                  "type": "integer",
                  "minimum": 10000000.0,
                  "format": "int32"
                },
                "RequesterPaysEnabled": {
                  "type": "boolean"
                },
                "EngineVersion": {
                  "id": "EngineVersion1",
                  "title": "EngineVersion1",
                  "type": "object",
                  "properties": {
                    "SelectedEngineVersion": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    },
                    "EffectiveEngineVersion": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 128
                    }
                  }
                },
                "AdditionalConfiguration": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                },
                "ExecutionRole": {
                  "type": "string",
                  "minLength": 20,
                  "maxLength": 2048,
                  "pattern": "^arn:aws[a-z\\-]*:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+$"
                },
                "CustomerContentEncryptionConfiguration": {
                  "id": "CustomerContentEncryptionConfiguration2",
                  "title": "CustomerContentEncryptionConfiguration2",
                  "type": "object",
                  "properties": {
                    "KmsKey": {
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 2048,
                      "pattern": "^arn:aws[a-z\\-]*:kms:([a-z0-9\\-]+):\\d{12}:key/?[a-zA-Z_0-9+=,.@\\-_/]+$|^arn:aws[a-z\\-]*:kms:([a-z0-9\\-]+):\\d{12}:alias/?[a-zA-Z_0-9+=,.@\\-_/]+$|^alias/[a-zA-Z0-9/_-]+$|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
                    }
                  },
                  "required": [
                    "KmsKey"
                  ]
                },
                "EnableMinimumEncryptionConfiguration": {
                  "type": "boolean"
                }
              }
            },
            "Description": {
              "type": "string",
              "minLength": 0,
              "maxLength": 1024
            },
            "CreationTime": {
              "type": "string",
              "format": "date-time"
            }
          },
          "required": [
            "Name"
          ]
        }
      }
    }
- GetWorkGroupInput: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GetWorkGroupInput",
      "title": "GetWorkGroupInput",
      "type": "object",
      "properties": {
[...]
