{
  "swagger": "2.0",
  "info": {
    "version": "2017-05-18",
    "title": "Amazon Athena",
    "description": "<p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/what-is.html\">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html\">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
    "contact": {
      "email": "mike.ralphson@gmail.com",
      "name": "Mike Ralphson",
      "url": "https://github.com/mermade/aws2openapi"
    }
  },
  "host": "athena.us-east-1.amazonaws.com",
  "basePath": "/",
  "securityDefinitions": {
    "hmac": {
      "type": "apiKey",
      "description": "Amazon Signature authorization v4",
      "name": "Authorization",
      "in": "header"
    }
  },
  "schemes": [
    "http",
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/#X-Amz-Target=AmazonAthena.BatchGetNamedQuery": {
      "post": {
        "description": "Returns the details of a single named query or a list of up to 50 queries, which you provide as an array of query ID strings. Requires you to have access to the workgroup in which the queries were saved. Use <a>ListNamedQueriesInput</a> to get the list of named query IDs in the specified workgroup. If information could not be retrieved for a submitted query ID, information about the query ID submitted is listed under <a>UnprocessedNamedQueryId</a>. Named queries differ from executed queries. Use <a>BatchGetQueryExecutionInput</a> to get details about each unique query execution, and <a>ListQueryExecutionsInput</a> to get a list of query execution IDs.",
        "summary": "BatchGetNamedQuery",
        "operationId": "BatchGetNamedQuery",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.BatchGetNamedQuery"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchGetNamedQueryInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetNamedQueryOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.BatchGetPreparedStatement": {
      "post": {
        "description": "Returns the details of a single prepared statement or a list of up to 256 prepared statements for the array of prepared statement names that you provide. Requires you to have access to the workgroup to which the prepared statements belong. If a prepared statement cannot be retrieved for the name specified, the statement is listed in <code>UnprocessedPreparedStatementNames</code>.",
        "summary": "BatchGetPreparedStatement",
        "operationId": "BatchGetPreparedStatement",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.BatchGetPreparedStatement"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchGetPreparedStatementInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetPreparedStatementOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.BatchGetQueryExecution": {
      "post": {
        "description": "Returns the details of a single query execution or a list of up to 50 query executions, which you provide as an array of query execution ID strings. Requires you to have access to the workgroup in which the queries ran. To get a list of query execution IDs, use <a>ListQueryExecutionsInput$WorkGroup</a>. Query executions differ from named (saved) queries. Use <a>BatchGetNamedQueryInput</a> to get details about named queries.",
        "summary": "BatchGetQueryExecution",
        "operationId": "BatchGetQueryExecution",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.BatchGetQueryExecution"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/BatchGetQueryExecutionInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchGetQueryExecutionOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreateDataCatalog": {
      "post": {
        "description": "Creates (registers) a data catalog with the specified name and properties. Catalogs created are visible to all users of the same Amazon Web Services account.",
        "summary": "CreateDataCatalog",
        "operationId": "CreateDataCatalog",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreateDataCatalog"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateDataCatalogInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreateNamedQuery": {
      "post": {
        "description": "<p>Creates a named query in the specified workgroup. Requires that you have access to the workgroup.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "summary": "CreateNamedQuery",
        "operationId": "CreateNamedQuery",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreateNamedQuery"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateNamedQueryInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateNamedQueryOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreateNotebook": {
      "post": {
        "description": "Creates an empty <code>ipynb</code> file in the specified Apache Spark enabled workgroup. Throws an error if a file in the workgroup with the same name already exists.",
        "summary": "CreateNotebook",
        "operationId": "CreateNotebook",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreateNotebook"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateNotebookInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateNotebookOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreatePreparedStatement": {
      "post": {
        "description": "Creates a prepared statement for use with SQL queries in Athena.",
        "summary": "CreatePreparedStatement",
        "operationId": "CreatePreparedStatement",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreatePreparedStatement"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreatePreparedStatementInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreatePresignedNotebookUrl": {
      "post": {
        "description": "Gets an authentication token and the URL at which the notebook can be accessed. During programmatic access, <code>CreatePresignedNotebookUrl</code> must be called every 10 minutes to refresh the authentication token. For information about granting programmatic access, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/setting-up.html#setting-up-grant-programmatic-access\">Grant programmatic access</a>.",
        "summary": "CreatePresignedNotebookUrl",
        "operationId": "CreatePresignedNotebookUrl",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreatePresignedNotebookUrl"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreatePresignedNotebookUrlRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreatePresignedNotebookUrlResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.CreateWorkGroup": {
      "post": {
        "description": "Creates a workgroup with the specified name. A workgroup can be an Apache Spark enabled workgroup or an Athena SQL workgroup.",
        "summary": "CreateWorkGroup",
        "operationId": "CreateWorkGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.CreateWorkGroup"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateWorkGroupInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.DeleteDataCatalog": {
      "post": {
        "description": "Deletes a data catalog.",
        "summary": "DeleteDataCatalog",
        "operationId": "DeleteDataCatalog",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.DeleteDataCatalog"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteDataCatalogInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.DeleteNamedQuery": {
      "post": {
        "description": "<p>Deletes the named query if you have access to the workgroup in which the query was saved.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href=\"http://docs.aws.amazon.com/athena/latest/ug/code-samples.html\">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>",
        "summary": "DeleteNamedQuery",
        "operationId": "DeleteNamedQuery",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.DeleteNamedQuery"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteNamedQueryInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.DeleteNotebook": {
      "post": {
        "description": "Deletes the specified notebook.",
        "summary": "DeleteNotebook",
        "operationId": "DeleteNotebook",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.DeleteNotebook"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteNotebookInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.DeletePreparedStatement": {
      "post": {
        "description": "Deletes the prepared statement with the specified name from the specified workgroup.",
        "summary": "DeletePreparedStatement",
        "operationId": "DeletePreparedStatement",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.DeletePreparedStatement"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeletePreparedStatementInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.DeleteWorkGroup": {
      "post": {
        "description": "Deletes the workgroup with the specified name. The primary workgroup cannot be deleted.",
        "summary": "DeleteWorkGroup",
        "operationId": "DeleteWorkGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.DeleteWorkGroup"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DeleteWorkGroupInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.ExportNotebook": {
      "post": {
        "description": "Exports the specified notebook and its metadata.",
        "summary": "ExportNotebook",
        "operationId": "ExportNotebook",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.ExportNotebook"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExportNotebookInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ExportNotebookOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetCalculationExecution": {
      "post": {
        "description": "Describes a previously submitted calculation execution.",
        "summary": "GetCalculationExecution",
        "operationId": "GetCalculationExecution",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetCalculationExecution"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetCalculationExecutionCode": {
      "post": {
        "description": "Retrieves the unencrypted code that was executed for the calculation.",
        "summary": "GetCalculationExecutionCode",
        "operationId": "GetCalculationExecutionCode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetCalculationExecutionCode"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionCodeRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionCodeResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetCalculationExecutionStatus": {
      "post": {
        "description": "Gets the status of a current calculation.",
        "summary": "GetCalculationExecutionStatus",
        "operationId": "GetCalculationExecutionStatus",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetCalculationExecutionStatus"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionStatusRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCalculationExecutionStatusResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetDataCatalog": {
      "post": {
        "description": "Returns the specified data catalog.",
        "summary": "GetDataCatalog",
        "operationId": "GetDataCatalog",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetDataCatalog"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetDataCatalogInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDataCatalogOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetDatabase": {
      "post": {
        "description": "Returns a database object for the specified database and data catalog.",
        "summary": "GetDatabase",
        "operationId": "GetDatabase",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetDatabase"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetDatabaseInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDatabaseOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "MetadataException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetNamedQuery": {
      "post": {
        "description": "Returns information about a single query. Requires that you have access to the workgroup in which the query was saved.",
        "summary": "GetNamedQuery",
        "operationId": "GetNamedQuery",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetNamedQuery"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetNamedQueryInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetNamedQueryOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetNotebookMetadata": {
      "post": {
        "description": "Retrieves notebook metadata for the specified notebook ID.",
        "summary": "GetNotebookMetadata",
        "operationId": "GetNotebookMetadata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetNotebookMetadata"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetNotebookMetadataInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetNotebookMetadataOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetPreparedStatement": {
      "post": {
        "description": "Retrieves the prepared statement with the specified name from the specified workgroup.",
        "summary": "GetPreparedStatement",
        "operationId": "GetPreparedStatement",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetPreparedStatement"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetPreparedStatementInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetPreparedStatementOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetQueryExecution": {
      "post": {
        "description": "Returns information about a single execution of a query if you have access to the workgroup in which the query ran. Each time a query executes, information about the query execution is saved with a unique ID.",
        "summary": "GetQueryExecution",
        "operationId": "GetQueryExecution",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetQueryExecution"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetQueryExecutionInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetQueryExecutionOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetQueryResults": {
      "post": {
        "description": "<p>Streams the results of a single query execution specified by <code>QueryExecutionId</code> from the Athena query results location in Amazon S3. For more information, see <a href=\"https://docs.aws.amazon.com/athena/latest/ug/querying.html\">Working with query results, recent queries, and output files</a> in the <i>Amazon Athena User Guide</i>. This request does not execute the query but returns results. Use <a>StartQueryExecution</a> to run a query.</p> <p>To stream query results successfully, the IAM principal with permission to call <code>GetQueryResults</code> also must have permissions to the Amazon S3 <code>GetObject</code> action for the Athena query results location.</p> <important> <p>IAM principals with permission to the Amazon S3 <code>GetObject</code> action for the query results location are able to retrieve query results from Amazon S3 even if permission to the <code>GetQueryResults</code> action is denied. To restrict user or role access, ensure that Amazon S3 permissions to the Athena query location are denied.</p> </important>",
        "summary": "GetQueryResults",
        "operationId": "GetQueryResults",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetQueryResults"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetQueryResultsInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "MaxResults",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pagination limit"
          },
          {
            "name": "NextToken",
            "in": "query",
            "required": false,
            "type": "string",
            "description": "Pagination token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetQueryResultsOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "TooManyRequestsException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetQueryRuntimeStatistics": {
      "post": {
        "description": "Returns query execution runtime statistics related to a single execution of a query if you have access to the workgroup in which the query ran. Query execution runtime statistics are returned only when <a>QueryExecutionStatus$State</a> is in a SUCCEEDED or FAILED state. Stage-level input and output row count and data size statistics are not shown when a query has row-level filters defined in Lake Formation.",
        "summary": "GetQueryRuntimeStatistics",
        "operationId": "GetQueryRuntimeStatistics",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetQueryRuntimeStatistics"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetQueryRuntimeStatisticsInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetQueryRuntimeStatisticsOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetSession": {
      "post": {
        "description": "Gets the full details of a previously created session, including the session status and configuration.",
        "summary": "GetSession",
        "operationId": "GetSession",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetSession"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetSessionRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSessionResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetSessionStatus": {
      "post": {
        "description": "Gets the current status of a session.",
        "summary": "GetSessionStatus",
        "operationId": "GetSessionStatus",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetSessionStatus"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetSessionStatusRequest"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSessionStatusResponse"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "ResourceNotFoundException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetTableMetadata": {
      "post": {
        "description": "Returns table metadata for the specified catalog, database, and table.",
        "summary": "GetTableMetadata",
        "operationId": "GetTableMetadata",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetTableMetadata"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetTableMetadataInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetTableMetadataOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          },
          "482": {
            "description": "MetadataException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.GetWorkGroup": {
      "post": {
        "description": "Returns information about the workgroup with the specified name.",
        "summary": "GetWorkGroup",
        "operationId": "GetWorkGroup",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.GetWorkGroup"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetWorkGroupInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetWorkGroupOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
            "headers": {}
          },
          "481": {
            "description": "InvalidRequestException",
            "schema": {},
            "headers": {}
          }
        }
      }
    },
    "/#X-Amz-Target=AmazonAthena.ImportNotebook": {
      "post": {
        "description": "Imports a single <code>ipynb</code> file to a Spark enabled workgroup. The maximum file size that can be imported is 10 megabytes. If an <code>ipynb</code> file with the same name already exists in the workgroup, throws an error.",
        "summary": "ImportNotebook",
        "operationId": "ImportNotebook",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "X-Amz-Target",
            "in": "header",
            "required": true,
            "enum": [
              "AmazonAthena.ImportNotebook"
            ],
            "type": "string"
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ImportNotebookInput"
            }
          },
          {
            "name": "X-Amz-Content-Sha256",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Date",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Algorithm",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Credential",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Security-Token",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-Signature",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "X-Amz-SignedHeaders",
            "in": "header",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ImportNotebookOutput"
            },
            "headers": {}
          },
          "480": {
            "description": "InternalServerException",
            "schema": {},
[...]
