#%RAML 1.0
title: Amazon Athena
version: 2017-05-18
baseUri: http://athena.us-east-1.amazonaws.com
baseUriParameters:
  region:
    required: false
    default: us-east-1
    displayName: region
    description: The AWS region
    type: string
    enum:
    - us-east-1
    - us-east-2
    - us-west-1
    - us-west-2
    - us-gov-west-1
    - us-gov-east-1
    - ca-central-1
    - eu-north-1
    - eu-west-1
    - eu-west-2
    - eu-west-3
    - eu-central-1
    - eu-south-1
    - af-south-1
    - ap-northeast-1
    - ap-northeast-2
    - ap-northeast-3
    - ap-southeast-1
    - ap-southeast-2
    - ap-east-1
    - ap-south-1
    - sa-east-1
    - me-south-1
protocols:
- HTTP
- HTTPS
documentation:
- title: Amazon Athena
  content: <p>Amazon Athena is an interactive query service that lets you use standard SQL to analyze data directly in Amazon S3. You can point Athena at your data in Amazon S3 and run ad-hoc queries and get results in seconds. Athena is serverless, so there is no infrastructure to set up or manage. You pay only for the queries you run. Athena scales automatically—executing queries in parallel—so results are fast, even with large datasets and complex queries. For more information, see <a href="http://docs.aws.amazon.com/athena/latest/ug/what-is.html">What is Amazon Athena</a> in the <i>Amazon Athena User Guide</i>.</p> <p>If you connect to Athena using the JDBC driver, use version 1.1.0 of the driver or later with the Amazon Athena API. Earlier version drivers do not support the API. For more information and to download the driver, see <a href="https://docs.aws.amazon.com/athena/latest/ug/connect-with-jdbc.html">Accessing Amazon Athena with JDBC</a>.</p> <p>For code samples using the Amazon Web Services SDK for Java, see <a href="https://docs.aws.amazon.com/athena/latest/ug/code-samples.html">Examples and Code Samples</a> in the <i>Amazon Athena User Guide</i>.</p>
securitySchemes:
  hmac:
    type: Pass Through
    description: Amazon Signature authorization v4
    describedBy:
      headers:
        Authorization:
          required: true
          displayName: Authorization
          description: Amazon Signature authorization v4
          type: string
securedBy:
- hmac
types:
  BatchGetNamedQueryOutput:
    displayName: BatchGetNamedQueryOutput
    type: object
    properties:
      NamedQueries:
        required: false
        displayName: NamedQueries
        type: array
        items:
          type: NamedQuery
      UnprocessedNamedQueryIds:
        required: false
        displayName: UnprocessedNamedQueryIds
        type: array
        items:
          type: UnprocessedNamedQueryId
  BatchGetNamedQueryInput:
    displayName: BatchGetNamedQueryInput
    description: Contains an array of named query IDs.
    type: object
    properties:
      NamedQueryIds:
        required: true
        displayName: NamedQueryIds
        type: array
        uniqueItems: false
        minItems: 1
        maxItems: 50
        items:
          type: string
          pattern: '\S+'
          minLength: 1
          maxLength: 128
  BatchGetPreparedStatementOutput:
    displayName: BatchGetPreparedStatementOutput
    type: object
    properties:
      PreparedStatements:
        required: false
        displayName: PreparedStatements
        type: array
        items:
          type: PreparedStatement
      UnprocessedPreparedStatementNames:
        required: false
        displayName: UnprocessedPreparedStatementNames
        type: array
        items:
          type: UnprocessedPreparedStatementName
  BatchGetPreparedStatementInput:
    displayName: BatchGetPreparedStatementInput
    type: object
    properties:
      PreparedStatementNames:
        required: true
        displayName: PreparedStatementNames
        type: array
        items:
          type: string
          pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
          minLength: 1
          maxLength: 256
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  BatchGetQueryExecutionOutput:
    displayName: BatchGetQueryExecutionOutput
    type: object
    properties:
      QueryExecutions:
        required: false
        displayName: QueryExecutions
        type: array
        items:
          type: QueryExecution
      UnprocessedQueryExecutionIds:
        required: false
        displayName: UnprocessedQueryExecutionIds
        type: array
        items:
          type: UnprocessedQueryExecutionId
  BatchGetQueryExecutionInput:
    displayName: BatchGetQueryExecutionInput
    description: Contains an array of query execution IDs.
    type: object
    properties:
      QueryExecutionIds:
        required: true
        displayName: QueryExecutionIds
        type: array
        uniqueItems: false
        minItems: 1
        maxItems: 50
        items:
          type: string
          pattern: '\S+'
          minLength: 1
          maxLength: 128
  CreateDataCatalogInput:
    displayName: CreateDataCatalogInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - LAMBDA
        - GLUE
        - HIVE
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
      Tags:
        required: false
        displayName: Tags
        type: array
        items:
          type: Tag
  CreateNamedQueryOutput:
    displayName: CreateNamedQueryOutput
    type: object
    properties:
      NamedQueryId:
        required: false
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  CreateNamedQueryInput:
    displayName: CreateNamedQueryInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Database:
        required: true
        displayName: Database
        type: string
        minLength: 1
        maxLength: 255
      QueryString:
        required: true
        displayName: QueryString
        type: string
        minLength: 1
        maxLength: 262144
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        minLength: 32
        maxLength: 128
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  CreateNotebookOutput:
    displayName: CreateNotebookOutput
    type: object
    properties:
      NotebookId:
        required: false
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  CreateNotebookInput:
    displayName: CreateNotebookInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 255
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  CreatePreparedStatementInput:
    displayName: CreatePreparedStatementInput
    type: object
    properties:
      StatementName:
        required: true
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      QueryStatement:
        required: true
        displayName: QueryStatement
        type: string
        minLength: 1
        maxLength: 262144
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
  CreatePresignedNotebookUrlResponse:
    displayName: CreatePresignedNotebookUrlResponse
    type: object
    properties:
      NotebookUrl:
        required: true
        displayName: NotebookUrl
        type: string
      AuthToken:
        required: true
        displayName: AuthToken
        type: string
        maxLength: 2048
      AuthTokenExpirationTime:
        required: true
        displayName: AuthTokenExpirationTime
        type: integer
        format: int32
  CreatePresignedNotebookUrlRequest:
    displayName: CreatePresignedNotebookUrlRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
  CreateWorkGroupInput:
    displayName: CreateWorkGroupInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      Configuration:
        required: false
        displayName: Configuration
        type: Configuration
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 0
        maxLength: 1024
      Tags:
        required: false
        displayName: Tags
        type: array
        items:
          type: Tag
  DeleteDataCatalogInput:
    displayName: DeleteDataCatalogInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
  DeleteNamedQueryInput:
    displayName: DeleteNamedQueryInput
    type: object
    properties:
      NamedQueryId:
        required: true
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  DeleteNotebookInput:
    displayName: DeleteNotebookInput
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  DeletePreparedStatementInput:
    displayName: DeletePreparedStatementInput
    type: object
    properties:
      StatementName:
        required: true
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  DeleteWorkGroupInput:
    displayName: DeleteWorkGroupInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      RecursiveDeleteOption:
        required: false
        displayName: RecursiveDeleteOption
        type: boolean
  ExportNotebookOutput:
    displayName: ExportNotebookOutput
    type: object
    properties:
      NotebookMetadata:
        required: false
        displayName: NotebookMetadata
        type: NotebookMetadata1
      Payload:
        required: false
        displayName: Payload
        type: string
        minLength: 1
        maxLength: 10485760
  ExportNotebookInput:
    displayName: ExportNotebookInput
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  GetCalculationExecutionResponse:
    displayName: GetCalculationExecutionResponse
    type: object
    properties:
      CalculationExecutionId:
        required: false
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      WorkingDirectory:
        required: false
        displayName: WorkingDirectory
        type: string
        pattern: ^(https|s3|S3)://([^/]+)/?(.*)$
        maxLength: 1024
      Status:
        required: false
        displayName: Status
        type: Status1
      Statistics:
        required: false
        displayName: Statistics
        type: Statistics1
      Result:
        required: false
        displayName: Result
        type: Result
  GetCalculationExecutionRequest:
    displayName: GetCalculationExecutionRequest
    type: object
    properties:
      CalculationExecutionId:
        required: true
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
  GetCalculationExecutionCodeResponse:
    displayName: GetCalculationExecutionCodeResponse
    type: object
    properties:
      CodeBlock:
        required: false
        displayName: CodeBlock
        type: string
        maxLength: 68000
  GetCalculationExecutionCodeRequest:
    displayName: GetCalculationExecutionCodeRequest
    type: object
    properties:
      CalculationExecutionId:
        required: true
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
  GetCalculationExecutionStatusResponse:
    displayName: GetCalculationExecutionStatusResponse
    type: object
    properties:
      Status:
        required: false
        displayName: Status
        type: Status1
      Statistics:
        required: false
        displayName: Statistics
        type: Statistics1
  GetCalculationExecutionStatusRequest:
    displayName: GetCalculationExecutionStatusRequest
    type: object
    properties:
      CalculationExecutionId:
        required: true
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
  GetDataCatalogOutput:
    displayName: GetDataCatalogOutput
    type: object
    properties:
      DataCatalog:
        required: false
        displayName: DataCatalog
        type: DataCatalog2
  GetDataCatalogInput:
    displayName: GetDataCatalogInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
  GetDatabaseOutput:
    displayName: GetDatabaseOutput
    type: object
    properties:
      Database:
        required: false
        displayName: Database
        type: Database2
  GetDatabaseInput:
    displayName: GetDatabaseInput
    type: object
    properties:
      CatalogName:
        required: true
        displayName: CatalogName
        type: string
        minLength: 1
        maxLength: 256
      DatabaseName:
        required: true
        displayName: DatabaseName
        type: string
        minLength: 1
        maxLength: 128
  GetNamedQueryOutput:
    displayName: GetNamedQueryOutput
    type: object
    properties:
      NamedQuery:
        required: false
        displayName: NamedQuery
        type: NamedQuery1
  GetNamedQueryInput:
    displayName: GetNamedQueryInput
    type: object
    properties:
      NamedQueryId:
        required: true
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  GetNotebookMetadataOutput:
    displayName: GetNotebookMetadataOutput
    type: object
    properties:
      NotebookMetadata:
        required: false
        displayName: NotebookMetadata
        type: NotebookMetadata1
  GetNotebookMetadataInput:
    displayName: GetNotebookMetadataInput
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  GetPreparedStatementOutput:
    displayName: GetPreparedStatementOutput
    type: object
    properties:
      PreparedStatement:
        required: false
        displayName: PreparedStatement
        type: PreparedStatement1
  GetPreparedStatementInput:
    displayName: GetPreparedStatementInput
    type: object
    properties:
      StatementName:
        required: true
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  GetQueryExecutionOutput:
    displayName: GetQueryExecutionOutput
    type: object
    properties:
      QueryExecution:
        required: false
        displayName: QueryExecution
        type: QueryExecution1
  GetQueryExecutionInput:
    displayName: GetQueryExecutionInput
    type: object
    properties:
      QueryExecutionId:
        required: true
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  GetQueryResultsOutput:
    displayName: GetQueryResultsOutput
    type: object
    properties:
      UpdateCount:
        required: false
        displayName: UpdateCount
        type: integer
        format: int32
      ResultSet:
        required: false
        displayName: ResultSet
        type: ResultSet2
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  GetQueryResultsInput:
    displayName: GetQueryResultsInput
    type: object
    properties:
      QueryExecutionId:
        required: true
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 1000
        format: int32
  GetQueryRuntimeStatisticsOutput:
    displayName: GetQueryRuntimeStatisticsOutput
    type: object
    properties:
      QueryRuntimeStatistics:
        required: false
        displayName: QueryRuntimeStatistics
        type: QueryRuntimeStatistics2
  GetQueryRuntimeStatisticsInput:
    displayName: GetQueryRuntimeStatisticsInput
    type: object
    properties:
      QueryExecutionId:
        required: true
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  GetSessionResponse:
    displayName: GetSessionResponse
    type: object
    properties:
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: string
        minLength: 1
        maxLength: 128
      EngineConfiguration:
        required: false
        displayName: EngineConfiguration
        type: EngineConfiguration1
      NotebookVersion:
        required: false
        displayName: NotebookVersion
        type: string
        minLength: 1
        maxLength: 128
      SessionConfiguration:
        required: false
        displayName: SessionConfiguration
        type: SessionConfiguration2
      Status:
        required: false
        displayName: Status
        type: Status3
      Statistics:
        required: false
        displayName: Statistics
        type: Statistics3
  GetSessionRequest:
    displayName: GetSessionRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
  GetSessionStatusResponse:
    displayName: GetSessionStatusResponse
    type: object
    properties:
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      Status:
        required: false
        displayName: Status
        type: Status3
  GetSessionStatusRequest:
    displayName: GetSessionStatusRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
  GetTableMetadataOutput:
    displayName: GetTableMetadataOutput
    type: object
    properties:
      TableMetadata:
        required: false
        displayName: TableMetadata
        type: TableMetadata2
  GetTableMetadataInput:
    displayName: GetTableMetadataInput
    type: object
    properties:
      CatalogName:
        required: true
        displayName: CatalogName
        type: string
        minLength: 1
        maxLength: 256
      DatabaseName:
        required: true
        displayName: DatabaseName
        type: string
        minLength: 1
        maxLength: 128
      TableName:
        required: true
        displayName: TableName
        type: string
        minLength: 1
        maxLength: 128
  GetWorkGroupOutput:
    displayName: GetWorkGroupOutput
    type: object
    properties:
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: WorkGroup2
  GetWorkGroupInput:
    displayName: GetWorkGroupInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  ImportNotebookOutput:
    displayName: ImportNotebookOutput
    type: object
    properties:
      NotebookId:
        required: false
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  ImportNotebookInput:
    displayName: ImportNotebookInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 255
      Payload:
        required: true
        displayName: Payload
        type: string
        minLength: 1
        maxLength: 10485760
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - IPYNB
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  ListApplicationDPUSizesOutput:
    displayName: ListApplicationDPUSizesOutput
    type: object
    properties:
      ApplicationDPUSizes:
        required: false
        displayName: ApplicationDPUSizes
        type: array
        items:
          type: ApplicationDPUSizes
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListApplicationDPUSizesInput:
    displayName: ListApplicationDPUSizesInput
    type: object
    properties:
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListCalculationExecutionsResponse:
    displayName: ListCalculationExecutionsResponse
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
      Calculations:
        required: false
        displayName: Calculations
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 100
        items:
          type: CalculationSummary
  ListCalculationExecutionsRequest:
    displayName: ListCalculationExecutionsRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      StateFilter:
        required: false
        displayName: StateFilter
        type: string
        enum:
        - CREATING
        - CREATED
        - QUEUED
        - RUNNING
        - CANCELING
        - CANCELED
        - COMPLETED
        - FAILED
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
  ListDataCatalogsOutput:
    displayName: ListDataCatalogsOutput
    type: object
    properties:
      DataCatalogsSummary:
        required: false
        displayName: DataCatalogsSummary
        type: array
        items:
          type: DataCatalogSummary
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListDataCatalogsInput:
    displayName: ListDataCatalogsInput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 2
        maximum: 50
        format: int32
  ListDatabasesOutput:
    displayName: ListDatabasesOutput
    type: object
    properties:
      DatabaseList:
        required: false
        displayName: DatabaseList
        type: array
        items:
          type: Database
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListDatabasesInput:
    displayName: ListDatabasesInput
    type: object
    properties:
      CatalogName:
        required: true
        displayName: CatalogName
        type: string
        minLength: 1
        maxLength: 256
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 50
        format: int32
  ListEngineVersionsOutput:
    displayName: ListEngineVersionsOutput
    type: object
    properties:
      EngineVersions:
        required: false
        displayName: EngineVersions
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 10
        items:
          type: EngineVersion
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListEngineVersionsInput:
    displayName: ListEngineVersionsInput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 10
        format: int32
  ListExecutorsResponse:
    displayName: ListExecutorsResponse
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
      ExecutorsSummary:
        required: false
        displayName: ExecutorsSummary
        type: array
        items:
          type: ExecutorsSummary
  ListExecutorsRequest:
    displayName: ListExecutorsRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      ExecutorStateFilter:
        required: false
        displayName: ExecutorStateFilter
        type: string
        enum:
        - CREATING
        - CREATED
        - REGISTERED
        - TERMINATING
        - TERMINATED
        - FAILED
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
  ListNamedQueriesOutput:
    displayName: ListNamedQueriesOutput
    type: object
    properties:
      NamedQueryIds:
        required: false
        displayName: NamedQueryIds
        type: array
        uniqueItems: false
        minItems: 1
        maxItems: 50
        items:
          type: string
          pattern: '\S+'
          minLength: 1
          maxLength: 128
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListNamedQueriesInput:
    displayName: ListNamedQueriesInput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 0
        maximum: 50
        format: int32
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  ListNotebookMetadataOutput:
    displayName: ListNotebookMetadataOutput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      NotebookMetadataList:
        required: false
        displayName: NotebookMetadataList
        type: array
        items:
          type: NotebookMetadata
  ListNotebookMetadataInput:
    displayName: ListNotebookMetadataInput
    type: object
    properties:
      Filters:
        required: false
        displayName: Filters
        type: Filters
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 50
        format: int32
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  ListNotebookSessionsResponse:
    displayName: ListNotebookSessionsResponse
    type: object
    properties:
      NotebookSessionsList:
        required: true
        displayName: NotebookSessionsList
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 10
        items:
          type: NotebookSessionSummary
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListNotebookSessionsRequest:
    displayName: ListNotebookSessionsRequest
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListPreparedStatementsOutput:
    displayName: ListPreparedStatementsOutput
    type: object
    properties:
      PreparedStatements:
        required: false
        displayName: PreparedStatements
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 50
        items:
          type: PreparedStatementSummary
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListPreparedStatementsInput:
    displayName: ListPreparedStatementsInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 50
        format: int32
  ListQueryExecutionsOutput:
    displayName: ListQueryExecutionsOutput
    type: object
    properties:
      QueryExecutionIds:
        required: false
        displayName: QueryExecutionIds
        type: array
        uniqueItems: false
        minItems: 1
        maxItems: 50
        items:
          type: string
          pattern: '\S+'
          minLength: 1
          maxLength: 128
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListQueryExecutionsInput:
    displayName: ListQueryExecutionsInput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 0
        maximum: 50
        format: int32
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  ListSessionsResponse:
    displayName: ListSessionsResponse
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
      Sessions:
        required: false
        displayName: Sessions
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 100
        items:
          type: SessionSummary
  ListSessionsRequest:
    displayName: ListSessionsRequest
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      StateFilter:
        required: false
        displayName: StateFilter
        type: string
        enum:
        - CREATING
        - CREATED
        - IDLE
        - BUSY
        - TERMINATING
        - TERMINATED
        - DEGRADED
        - FAILED
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 100
        format: int32
      NextToken:
        required: false
        displayName: NextToken
        type: string
        maxLength: 2048
  ListTableMetadataOutput:
    displayName: ListTableMetadataOutput
    type: object
    properties:
      TableMetadataList:
        required: false
        displayName: TableMetadataList
        type: array
        items:
          type: TableMetadata
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListTableMetadataInput:
    displayName: ListTableMetadataInput
    type: object
    properties:
      CatalogName:
        required: true
        displayName: CatalogName
        type: string
        minLength: 1
        maxLength: 256
      DatabaseName:
        required: true
        displayName: DatabaseName
        type: string
        minLength: 1
        maxLength: 128
      Expression:
        required: false
        displayName: Expression
        type: string
        minLength: 0
        maxLength: 256
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 50
        format: int32
  ListTagsForResourceOutput:
    displayName: ListTagsForResourceOutput
    type: object
    properties:
      Tags:
        required: false
        displayName: Tags
        type: array
        items:
          type: Tag
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListTagsForResourceInput:
    displayName: ListTagsForResourceInput
    type: object
    properties:
      ResourceARN:
        required: true
        displayName: ResourceARN
        type: string
        minLength: 1
        maxLength: 1011
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 75
        format: int32
  ListWorkGroupsOutput:
    displayName: ListWorkGroupsOutput
    type: object
    properties:
      WorkGroups:
        required: false
        displayName: WorkGroups
        type: array
        uniqueItems: false
        minItems: 0
        maxItems: 50
        items:
          type: WorkGroupSummary
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
  ListWorkGroupsInput:
    displayName: ListWorkGroupsInput
    type: object
    properties:
      NextToken:
        required: false
        displayName: NextToken
        type: string
        minLength: 1
        maxLength: 1024
      MaxResults:
        required: false
        displayName: MaxResults
        type: integer
        minimum: 1
        maximum: 50
        format: int32
  StartCalculationExecutionResponse:
    displayName: StartCalculationExecutionResponse
    type: object
    properties:
      CalculationExecutionId:
        required: false
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - QUEUED
        - RUNNING
        - CANCELING
        - CANCELED
        - COMPLETED
        - FAILED
  StartCalculationExecutionRequest:
    displayName: StartCalculationExecutionRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      CalculationConfiguration:
        required: false
        displayName: CalculationConfiguration
        type: GetCalculationExecutionCodeResponse
      CodeBlock:
        required: false
        displayName: CodeBlock
        type: string
        maxLength: 68000
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        minLength: 32
        maxLength: 128
  StartQueryExecutionOutput:
    displayName: StartQueryExecutionOutput
    type: object
    properties:
      QueryExecutionId:
        required: false
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  StartQueryExecutionInput:
    displayName: StartQueryExecutionInput
    type: object
    properties:
      QueryString:
        required: true
        displayName: QueryString
        type: string
        minLength: 1
        maxLength: 262144
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        minLength: 32
        maxLength: 128
      QueryExecutionContext:
        required: false
        displayName: QueryExecutionContext
        type: QueryExecutionContext1
      ResultConfiguration:
        required: false
        displayName: ResultConfiguration
        type: ResultConfiguration1
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      ExecutionParameters:
        required: false
        displayName: ExecutionParameters
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
          minLength: 1
          maxLength: 1024
      ResultReuseConfiguration:
        required: false
        displayName: ResultReuseConfiguration
        type: ResultReuseConfiguration1
  StartSessionResponse:
    displayName: StartSessionResponse
    type: object
    properties:
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - IDLE
        - BUSY
        - TERMINATING
        - TERMINATED
        - DEGRADED
        - FAILED
  StartSessionRequest:
    displayName: StartSessionRequest
    type: object
    properties:
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      EngineConfiguration:
        required: true
        displayName: EngineConfiguration
        type: EngineConfiguration1
      NotebookVersion:
        required: false
        displayName: NotebookVersion
        type: string
        minLength: 1
        maxLength: 128
      SessionIdleTimeoutInMinutes:
        required: false
        displayName: SessionIdleTimeoutInMinutes
        type: integer
        minimum: 1
        maximum: 480
        format: int32
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        minLength: 32
        maxLength: 128
  StopCalculationExecutionResponse:
    displayName: StopCalculationExecutionResponse
    type: object
    properties:
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - QUEUED
        - RUNNING
        - CANCELING
        - CANCELED
        - COMPLETED
        - FAILED
  StopCalculationExecutionRequest:
    displayName: StopCalculationExecutionRequest
    type: object
    properties:
      CalculationExecutionId:
        required: true
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
  StopQueryExecutionInput:
    displayName: StopQueryExecutionInput
    type: object
    properties:
      QueryExecutionId:
        required: true
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
  TagResourceInput:
    displayName: TagResourceInput
    type: object
    properties:
      ResourceARN:
        required: true
        displayName: ResourceARN
        type: string
        minLength: 1
        maxLength: 1011
      Tags:
        required: true
        displayName: Tags
        type: array
        items:
          type: Tag
  TerminateSessionResponse:
    displayName: TerminateSessionResponse
    type: object
    properties:
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - IDLE
        - BUSY
        - TERMINATING
        - TERMINATED
        - DEGRADED
        - FAILED
  TerminateSessionRequest:
    displayName: TerminateSessionRequest
    type: object
    properties:
      SessionId:
        required: true
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
  UntagResourceInput:
    displayName: UntagResourceInput
    type: object
    properties:
      ResourceARN:
        required: true
        displayName: ResourceARN
        type: string
        minLength: 1
        maxLength: 1011
      TagKeys:
        required: true
        displayName: TagKeys
        type: array
        items:
          type: string
          minLength: 1
          maxLength: 128
  UpdateDataCatalogInput:
    displayName: UpdateDataCatalogInput
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - LAMBDA
        - GLUE
        - HIVE
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  UpdateNamedQueryInput:
    displayName: UpdateNamedQueryInput
    type: object
    properties:
      NamedQueryId:
        required: true
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 0
        maxLength: 1024
      QueryString:
        required: true
        displayName: QueryString
        type: string
        minLength: 1
        maxLength: 262144
  UpdateNotebookInput:
    displayName: UpdateNotebookInput
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
      Payload:
        required: true
        displayName: Payload
        type: string
        minLength: 1
        maxLength: 10485760
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - IPYNB
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
  UpdateNotebookMetadataInput:
    displayName: UpdateNotebookMetadataInput
    type: object
    properties:
      NotebookId:
        required: true
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
      ClientRequestToken:
        required: false
        displayName: ClientRequestToken
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 255
  UpdatePreparedStatementInput:
    displayName: UpdatePreparedStatementInput
    type: object
    properties:
      StatementName:
        required: true
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      QueryStatement:
        required: true
        displayName: QueryStatement
        type: string
        minLength: 1
        maxLength: 262144
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
  UpdateWorkGroupInput:
    displayName: UpdateWorkGroupInput
    type: object
    properties:
      WorkGroup:
        required: true
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 0
        maxLength: 1024
      ConfigurationUpdates:
        required: false
        displayName: ConfigurationUpdates
        type: ConfigurationUpdates
      State:
        required: false
        displayName: State
        type: string
        enum:
        - ENABLED
        - DISABLED
  AclConfiguration:
    displayName: AclConfiguration
    description: Indicates that an Amazon S3 canned ACL should be set to control ownership of stored query results. When Athena stores query results in Amazon S3, the canned ACL is set with the <code>x-amz-acl</code> request header. For more information about S3 Object Ownership, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/userguide/about-object-ownership.html#object-ownership-overview">Object Ownership settings</a> in the <i>Amazon S3 User Guide</i>.
    type: object
    properties:
      S3AclOption:
        required: true
        displayName: S3AclOption
        type: string
        enum:
        - BUCKET_OWNER_FULL_CONTROL
  ApplicationDPUSizes:
    displayName: ApplicationDPUSizes
    description: Contains the application runtime IDs and their supported DPU sizes.
    type: object
    properties:
      ApplicationRuntimeId:
        required: false
        displayName: ApplicationRuntimeId
        type: string
        minLength: 1
        maxLength: 128
      SupportedDPUSizes:
        required: false
        displayName: SupportedDPUSizes
        type: array
        items:
          type: integer
          format: int32
  AthenaError:
    displayName: AthenaError
    description: Provides information about an Athena query error. The <code>AthenaError</code> feature provides standardized error information to help you understand failed queries and take steps after a query failure occurs. <code>AthenaError</code> includes an <code>ErrorCategory</code> field that specifies whether the cause of the failed query is due to system error, user error, or other error.
    type: object
    properties:
      ErrorCategory:
        required: false
        displayName: ErrorCategory
        type: integer
        minimum: 1
        maximum: 3
        format: int32
      ErrorType:
        required: false
        displayName: ErrorType
        type: integer
        minimum: 0
        maximum: 9999
        format: int32
      Retryable:
        required: false
        displayName: Retryable
        type: boolean
      ErrorMessage:
        required: false
        displayName: ErrorMessage
        type: string
  NamedQuery:
    displayName: NamedQuery
    description: A query, where <code>QueryString</code> contains the SQL statements that make up the query.
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Database:
        required: true
        displayName: Database
        type: string
        minLength: 1
        maxLength: 255
      QueryString:
        required: true
        displayName: QueryString
        type: string
        minLength: 1
        maxLength: 262144
      NamedQueryId:
        required: false
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
  UnprocessedNamedQueryId:
    displayName: UnprocessedNamedQueryId
    description: Information about a named query ID that could not be processed.
    type: object
    properties:
      NamedQueryId:
        required: false
        displayName: NamedQueryId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      ErrorCode:
        required: false
        displayName: ErrorCode
        type: string
        minLength: 1
        maxLength: 256
      ErrorMessage:
        required: false
        displayName: ErrorMessage
        type: string
  PreparedStatement:
    displayName: PreparedStatement
    description: A prepared SQL statement for use with Athena.
    type: object
    properties:
      StatementName:
        required: false
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      QueryStatement:
        required: false
        displayName: QueryStatement
        type: string
        minLength: 1
        maxLength: 262144
      WorkGroupName:
        required: false
        displayName: WorkGroupName
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      LastModifiedTime:
        required: false
        displayName: LastModifiedTime
        type: datetime
  UnprocessedPreparedStatementName:
    displayName: UnprocessedPreparedStatementName
    description: The name of a prepared statement that could not be returned.
    type: object
    properties:
      StatementName:
        required: false
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      ErrorCode:
        required: false
        displayName: ErrorCode
        type: string
        minLength: 1
        maxLength: 256
      ErrorMessage:
        required: false
        displayName: ErrorMessage
        type: string
  QueryExecution:
    displayName: QueryExecution
    description: Information about a single instance of a query execution.
    type: object
    properties:
      QueryExecutionId:
        required: false
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      Query:
        required: false
        displayName: Query
        type: string
        minLength: 1
        maxLength: 262144
      StatementType:
        required: false
        displayName: StatementType
        type: string
        enum:
        - DDL
        - DML
        - UTILITY
      ResultConfiguration:
        required: false
        displayName: ResultConfiguration
        type: ResultConfiguration1
      ResultReuseConfiguration:
        required: false
        displayName: ResultReuseConfiguration
        type: ResultReuseConfiguration1
      QueryExecutionContext:
        required: false
        displayName: QueryExecutionContext
        type: QueryExecutionContext1
      Status:
        required: false
        displayName: Status
        type: Status
      Statistics:
        required: false
        displayName: Statistics
        type: Statistics
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      ExecutionParameters:
        required: false
        displayName: ExecutionParameters
        type: array
        uniqueItems: false
        minItems: 1
        items:
          type: string
          minLength: 1
          maxLength: 1024
      SubstatementType:
        required: false
        displayName: SubstatementType
        type: string
  UnprocessedQueryExecutionId:
    displayName: UnprocessedQueryExecutionId
    description: Describes a query execution that failed to process.
    type: object
    properties:
      QueryExecutionId:
        required: false
        displayName: QueryExecutionId
        type: string
        pattern: '\S+'
        minLength: 1
        maxLength: 128
      ErrorCode:
        required: false
        displayName: ErrorCode
        type: string
        minLength: 1
        maxLength: 256
      ErrorMessage:
        required: false
        displayName: ErrorMessage
        type: string
  CalculationConfiguration:
    displayName: CalculationConfiguration
    description: Contains configuration information for the calculation.
    type: object
    properties:
      CodeBlock:
        required: false
        displayName: CodeBlock
        type: string
        maxLength: 68000
  CalculationResult:
    displayName: CalculationResult
    description: Contains information about an application-specific calculation result.
    type: object
    properties:
      StdOutS3Uri:
        required: false
        displayName: StdOutS3Uri
        type: string
        pattern: ^(https|s3|S3)://([^/]+)/?(.*)$
        maxLength: 1024
      StdErrorS3Uri:
        required: false
        displayName: StdErrorS3Uri
        type: string
        pattern: ^(https|s3|S3)://([^/]+)/?(.*)$
        maxLength: 1024
      ResultS3Uri:
        required: false
        displayName: ResultS3Uri
        type: string
        pattern: ^(https|s3|S3)://([^/]+)/?(.*)$
        maxLength: 1024
      ResultType:
        required: false
        displayName: ResultType
        type: string
        pattern: '\w+\/[-+.\w]+'
        minLength: 1
        maxLength: 256
  CalculationStatistics:
    displayName: CalculationStatistics
    description: Contains statistics for a notebook calculation.
    type: object
    properties:
      DpuExecutionInMillis:
        required: false
        displayName: DpuExecutionInMillis
        type: integer
        format: int32
      Progress:
        required: false
        displayName: Progress
        type: string
        minLength: 1
        maxLength: 1024
  CalculationStatus:
    displayName: CalculationStatus
    description: Contains information about the status of a notebook calculation.
    type: object
    properties:
      SubmissionDateTime:
        required: false
        displayName: SubmissionDateTime
        type: datetime
      CompletionDateTime:
        required: false
        displayName: CompletionDateTime
        type: datetime
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - QUEUED
        - RUNNING
        - CANCELING
        - CANCELED
        - COMPLETED
        - FAILED
      StateChangeReason:
        required: false
        displayName: StateChangeReason
        type: string
        minLength: 1
        maxLength: 1024
  CalculationSummary:
    displayName: CalculationSummary
    description: Summary information for a notebook calculation.
    type: object
    properties:
      CalculationExecutionId:
        required: false
        displayName: CalculationExecutionId
        type: string
        minLength: 1
        maxLength: 36
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Status:
        required: false
        displayName: Status
        type: Status1
  Column:
    displayName: Column
    description: Contains metadata for a column in a table.
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Type:
        required: false
        displayName: Type
        type: string
        minLength: 0
        maxLength: 4096
      Comment:
        required: false
        displayName: Comment
        type: string
        minLength: 0
        maxLength: 255
  ColumnInfo:
    displayName: ColumnInfo
    description: Information about the columns in a query execution result.
    type: object
    properties:
      CatalogName:
        required: false
        displayName: CatalogName
        type: string
      SchemaName:
        required: false
        displayName: SchemaName
        type: string
      TableName:
        required: false
        displayName: TableName
        type: string
      Name:
        required: true
        displayName: Name
        type: string
      Label:
        required: false
        displayName: Label
        type: string
      Type:
        required: true
        displayName: Type
        type: string
      Precision:
        required: false
        displayName: Precision
        type: integer
        format: int32
      Scale:
        required: false
        displayName: Scale
        type: integer
        format: int32
      Nullable:
        required: false
        displayName: Nullable
        type: string
        enum:
        - NOT_NULL
        - NULLABLE
        - UNKNOWN
      CaseSensitive:
        required: false
        displayName: CaseSensitive
        type: boolean
  Tag:
    displayName: Tag
    description: 'A label that you assign to a resource. In Athena, a resource can be a workgroup or data catalog. Each tag consists of a key and an optional value, both of which you define. For example, you can use tags to categorize Athena workgroups or data catalogs by purpose, owner, or environment. Use a consistent set of tag keys to make it easier to search and filter workgroups or data catalogs in your account. For best practices, see <a href="https://docs.aws.amazon.com/whitepapers/latest/tagging-best-practices/tagging-best-practices.html">Tagging Best Practices</a>. Tag keys can be from 1 to 128 UTF-8 Unicode characters, and tag values can be from 0 to 256 UTF-8 Unicode characters. Tags can use letters and numbers representable in UTF-8, and the following characters: + - = . _ : / @. Tag keys and values are case-sensitive. Tag keys must be unique per resource. If you specify more than one tag, separate them by commas.'
    type: object
    properties:
      Key:
        required: false
        displayName: Key
        type: string
        minLength: 1
        maxLength: 128
      Value:
        required: false
        displayName: Value
        type: string
        minLength: 0
        maxLength: 256
  WorkGroupConfiguration:
    displayName: WorkGroupConfiguration
    description: The configuration of the workgroup, which includes the location in Amazon S3 where query and calculation results are stored, the encryption option, if any, used for query and calculation results, whether the Amazon CloudWatch Metrics are enabled for the workgroup and whether workgroup settings override query settings, and the data usage limits for the amount of data scanned per query or per workgroup. The workgroup settings override is specified in <code>EnforceWorkGroupConfiguration</code> (true/false) in the <code>WorkGroupConfiguration</code>. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.
    type: object
    properties:
      ResultConfiguration:
        required: false
        displayName: ResultConfiguration
        type: ResultConfiguration1
      EnforceWorkGroupConfiguration:
        required: false
        displayName: EnforceWorkGroupConfiguration
        type: boolean
      PublishCloudWatchMetricsEnabled:
        required: false
        displayName: PublishCloudWatchMetricsEnabled
        type: boolean
      BytesScannedCutoffPerQuery:
        required: false
        displayName: BytesScannedCutoffPerQuery
        type: integer
        minimum: 10000000
        format: int32
      RequesterPaysEnabled:
        required: false
        displayName: RequesterPaysEnabled
        type: boolean
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      AdditionalConfiguration:
        required: false
        displayName: AdditionalConfiguration
        type: string
        minLength: 1
        maxLength: 128
      ExecutionRole:
        required: false
        displayName: ExecutionRole
        type: string
        pattern: ^arn:aws[a-z\-]*:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+$
        minLength: 20
        maxLength: 2048
      CustomerContentEncryptionConfiguration:
        required: false
        displayName: CustomerContentEncryptionConfiguration
        type: CustomerContentEncryptionConfiguration2
      EnableMinimumEncryptionConfiguration:
        required: false
        displayName: EnableMinimumEncryptionConfiguration
        type: boolean
  CustomerContentEncryptionConfiguration:
    displayName: CustomerContentEncryptionConfiguration
    description: Specifies the KMS key that is used to encrypt the user's data stores in Athena.
    type: object
    properties:
      KmsKey:
        required: true
        displayName: KmsKey
        type: string
        pattern: ^arn:aws[a-z\-]*:kms:([a-z0-9\-]+):\d{12}:key/?[a-zA-Z_0-9+=,.@\-_/]+$|^arn:aws[a-z\-]*:kms:([a-z0-9\-]+):\d{12}:alias/?[a-zA-Z_0-9+=,.@\-_/]+$|^alias/[a-zA-Z0-9/_-]+$|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}
        minLength: 1
        maxLength: 2048
  DataCatalog:
    displayName: DataCatalog
    description: <p>Contains information about a data catalog in an Amazon Web Services account.</p> <note> <p>In the Athena console, data catalogs are listed as "data sources" on the <b>Data sources</b> page under the <b>Data source name</b> column.</p> </note>
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - LAMBDA
        - GLUE
        - HIVE
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  DataCatalogSummary:
    displayName: DataCatalogSummary
    description: The summary information for the data catalog, which includes its name and type.
    type: object
    properties:
      CatalogName:
        required: false
        displayName: CatalogName
        type: string
        minLength: 1
        maxLength: 256
      Type:
        required: false
        displayName: Type
        type: string
        enum:
        - LAMBDA
        - GLUE
        - HIVE
  Database:
    displayName: Database
    description: Contains metadata information for a database in a data catalog.
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  Datum:
    displayName: Datum
    description: A piece of data (a field in the table).
    type: object
    properties:
      VarCharValue:
        required: false
        displayName: VarCharValue
        type: string
  EncryptionConfiguration:
    displayName: EncryptionConfiguration
    description: If query and calculation results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.
    type: object
    properties:
      EncryptionOption:
        required: true
        displayName: EncryptionOption
        type: string
        enum:
        - SSE_S3
        - SSE_KMS
        - CSE_KMS
      KmsKey:
        required: false
        displayName: KmsKey
        type: string
  EngineConfiguration:
    displayName: EngineConfiguration
    description: Contains data processing unit (DPU) configuration settings and parameter mappings for a notebook engine.
    type: object
    properties:
      CoordinatorDpuSize:
        required: false
        displayName: CoordinatorDpuSize
        type: integer
        minimum: 1
        maximum: 1
        format: int32
      MaxConcurrentDpus:
        required: true
        displayName: MaxConcurrentDpus
        type: integer
        minimum: 2
        maximum: 5000
        format: int32
      DefaultExecutorDpuSize:
        required: false
        displayName: DefaultExecutorDpuSize
        type: integer
        minimum: 1
        maximum: 1
        format: int32
      AdditionalConfigs:
        required: false
        displayName: AdditionalConfigs
        type: AdditionalConfigs
  EngineVersion:
    displayName: EngineVersion
    description: The Athena engine version for running queries, or the PySpark engine version for running sessions.
    type: object
    properties:
      SelectedEngineVersion:
        required: false
        displayName: SelectedEngineVersion
        type: string
        minLength: 1
        maxLength: 128
      EffectiveEngineVersion:
        required: false
        displayName: EffectiveEngineVersion
        type: string
        minLength: 1
        maxLength: 128
  ExecutorsSummary:
    displayName: ExecutorsSummary
    description: Contains summary information about an executor.
    type: object
    properties:
      ExecutorId:
        required: true
        displayName: ExecutorId
        type: string
        pattern: .*
        maxLength: 100000
      ExecutorType:
        required: false
        displayName: ExecutorType
        type: string
        enum:
        - COORDINATOR
        - GATEWAY
        - WORKER
      StartDateTime:
        required: false
        displayName: StartDateTime
        type: integer
        format: int32
      TerminationDateTime:
        required: false
        displayName: TerminationDateTime
        type: integer
        format: int32
      ExecutorState:
        required: false
        displayName: ExecutorState
        type: string
        enum:
        - CREATING
        - CREATED
        - REGISTERED
        - TERMINATING
        - TERMINATED
        - FAILED
      ExecutorSize:
        required: false
        displayName: ExecutorSize
        type: integer
        format: int32
  NotebookMetadata:
    displayName: NotebookMetadata
    description: Contains metadata for notebook, including the notebook name, ID, workgroup, and time created.
    type: object
    properties:
      NotebookId:
        required: false
        displayName: NotebookId
        type: string
        pattern: '[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}'
        minLength: 1
        maxLength: 36
      Name:
        required: false
        displayName: Name
        type: string
        minLength: 1
        maxLength: 255
      WorkGroup:
        required: false
        displayName: WorkGroup
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      CreationTime:
        required: false
        displayName: CreationTime
        type: datetime
      Type:
        required: false
        displayName: Type
        type: string
        enum:
        - IPYNB
      LastModifiedTime:
        required: false
        displayName: LastModifiedTime
        type: datetime
  FilterDefinition:
    displayName: FilterDefinition
    description: A string for searching notebook names.
    type: object
    properties:
      Name:
        required: false
        displayName: Name
        type: string
        minLength: 1
        maxLength: 255
  ResultSet:
    displayName: ResultSet
    description: The metadata and rows that make up a query result set. The metadata describes the column structure and data types. To return a <code>ResultSet</code> object, use <a>GetQueryResults</a>.
    type: object
    properties:
      Rows:
        required: false
        displayName: Rows
        type: array
        items:
          type: Row
      ResultSetMetadata:
        required: false
        displayName: ResultSetMetadata
        type: ResultSetMetadata2
  QueryRuntimeStatistics:
    displayName: QueryRuntimeStatistics
    description: The query execution timeline, statistics on input and output rows and bytes, and the different query stages that form the query execution plan.
    type: object
    properties:
      Timeline:
        required: false
        displayName: Timeline
        description: Timeline statistics such as query queue time, planning time, execution time, service processing time, and total execution time.
        type: QueryRuntimeStatisticsTimeline
      Rows:
        required: false
        displayName: Rows
        description: Statistics such as input rows and bytes read by the query, rows and bytes output by the query, and the number of rows written by the query.
        type: QueryRuntimeStatisticsRows
      OutputStage:
        required: false
        displayName: OutputStage
        type: OutputStage
  SessionConfiguration:
    displayName: SessionConfiguration
    description: Contains session configuration information.
    type: object
    properties:
      ExecutionRole:
        required: false
        displayName: ExecutionRole
        type: string
        pattern: ^arn:aws[a-z\-]*:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+$
        minLength: 20
        maxLength: 2048
      WorkingDirectory:
        required: false
        displayName: WorkingDirectory
        type: string
      IdleTimeoutSeconds:
        required: false
        displayName: IdleTimeoutSeconds
        type: integer
        format: int32
      EncryptionConfiguration:
        required: false
        displayName: EncryptionConfiguration
        description: If query and calculation results are encrypted in Amazon S3, indicates the encryption option used (for example, <code>SSE_KMS</code> or <code>CSE_KMS</code>) and key information.
        type: EncryptionConfiguration
  SessionStatus:
    displayName: SessionStatus
    description: Contains information about the status of a session.
    type: object
    properties:
      StartDateTime:
        required: false
        displayName: StartDateTime
        type: datetime
      LastModifiedDateTime:
        required: false
        displayName: LastModifiedDateTime
        type: datetime
      EndDateTime:
        required: false
        displayName: EndDateTime
        type: datetime
      IdleSinceDateTime:
        required: false
        displayName: IdleSinceDateTime
        type: datetime
      State:
        required: false
        displayName: State
        type: string
        enum:
        - CREATING
        - CREATED
        - IDLE
        - BUSY
        - TERMINATING
        - TERMINATED
        - DEGRADED
        - FAILED
      StateChangeReason:
        required: false
        displayName: StateChangeReason
        type: string
        minLength: 1
        maxLength: 1024
  SessionStatistics:
    displayName: SessionStatistics
    description: Contains statistics for a session.
    type: object
    properties:
      DpuExecutionInMillis:
        required: false
        displayName: DpuExecutionInMillis
        type: integer
        format: int32
  TableMetadata:
    displayName: TableMetadata
    description: Contains metadata for a table.
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      CreateTime:
        required: false
        displayName: CreateTime
        type: datetime
      LastAccessTime:
        required: false
        displayName: LastAccessTime
        type: datetime
      TableType:
        required: false
        displayName: TableType
        type: string
        maxLength: 255
      Columns:
        required: false
        displayName: Columns
        type: array
        items:
          type: Column
      PartitionKeys:
        required: false
        displayName: PartitionKeys
        type: array
        items:
          type: Column
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  WorkGroup:
    displayName: WorkGroup
    description: A workgroup, which contains a name, description, creation time, state, and other configuration, listed under <a>WorkGroup$Configuration</a>. Each workgroup enables you to isolate queries for you or your group of users from other queries in the same account, to configure the query results location and the encryption configuration (known as workgroup settings), to enable sending query metrics to Amazon CloudWatch, and to establish per-query data usage control limits for all queries in a workgroup. The workgroup settings override is specified in <code>EnforceWorkGroupConfiguration</code> (true/false) in the <code>WorkGroupConfiguration</code>. See <a>WorkGroupConfiguration$EnforceWorkGroupConfiguration</a>.
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      State:
        required: false
        displayName: State
        type: string
        enum:
        - ENABLED
        - DISABLED
      Configuration:
        required: false
        displayName: Configuration
        type: Configuration
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 0
        maxLength: 1024
      CreationTime:
        required: false
        displayName: CreationTime
        type: datetime
  NotebookSessionSummary:
    displayName: NotebookSessionSummary
    description: Contains the notebook session ID and notebook session creation time.
    type: object
    properties:
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      CreationTime:
        required: false
        displayName: CreationTime
        type: datetime
  PreparedStatementSummary:
    displayName: PreparedStatementSummary
    description: The name and last modified time of the prepared statement.
    type: object
    properties:
      StatementName:
        required: false
        displayName: StatementName
        type: string
        pattern: '[a-zA-Z_][a-zA-Z0-9_@:]{1,256}'
        minLength: 1
        maxLength: 256
      LastModifiedTime:
        required: false
        displayName: LastModifiedTime
        type: datetime
  SessionSummary:
    displayName: SessionSummary
    description: Contains summary information about a session.
    type: object
    properties:
      SessionId:
        required: false
        displayName: SessionId
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      NotebookVersion:
        required: false
        displayName: NotebookVersion
        type: string
        minLength: 1
        maxLength: 128
      Status:
        required: false
        displayName: Status
        type: Status3
  WorkGroupSummary:
    displayName: WorkGroupSummary
    description: The summary information for the workgroup, which includes its name, state, description, and the date and time it was created.
    type: object
    properties:
      Name:
        required: false
        displayName: Name
        type: string
        pattern: '[a-zA-Z0-9._-]{1,128}'
      State:
        required: false
        displayName: State
        type: string
        enum:
        - ENABLED
        - DISABLED
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 0
        maxLength: 1024
      CreationTime:
        required: false
        displayName: CreationTime
        type: datetime
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
  ResultConfiguration:
    displayName: ResultConfiguration
    description: The location in Amazon S3 where query and calculation results are stored and the encryption option, if any, used for query and calculation results. These are known as "client-side settings". If workgroup settings override client-side settings, then the query uses the workgroup settings.
    type: object
    properties:
      OutputLocation:
        required: false
        displayName: OutputLocation
        type: string
      EncryptionConfiguration:
        required: false
        displayName: EncryptionConfiguration
        type: EncryptionConfiguration2
      ExpectedBucketOwner:
        required: false
        displayName: ExpectedBucketOwner
        type: string
        pattern: ^[0-9]+$
        minLength: 12
        maxLength: 12
      AclConfiguration:
        required: false
        displayName: AclConfiguration
        type: AclConfiguration1
  ResultReuseConfiguration:
    displayName: ResultReuseConfiguration
    description: Specifies the query result reuse behavior for the query.
    type: object
    properties:
      ResultReuseByAgeConfiguration:
        required: false
        displayName: ResultReuseByAgeConfiguration
        type: ResultReuseByAgeConfiguration2
  QueryExecutionContext:
    displayName: QueryExecutionContext
    description: The database and data catalog context in which the query execution occurs.
    type: object
    properties:
      Database:
        required: false
        displayName: Database
        type: string
        minLength: 1
        maxLength: 255
      Catalog:
        required: false
        displayName: Catalog
        type: string
        minLength: 1
        maxLength: 256
  QueryExecutionStatus:
    displayName: QueryExecutionStatus
    description: The completion date, current state, submission time, and state change reason (if applicable) for the query execution.
    type: object
    properties:
      State:
        required: false
        displayName: State
        type: string
        enum:
        - QUEUED
        - RUNNING
        - SUCCEEDED
        - FAILED
        - CANCELLED
      StateChangeReason:
        required: false
        displayName: StateChangeReason
        type: string
      SubmissionDateTime:
        required: false
        displayName: SubmissionDateTime
        type: datetime
      CompletionDateTime:
        required: false
        displayName: CompletionDateTime
        type: datetime
      AthenaError:
        required: false
        displayName: AthenaError
        type: AthenaError2
  QueryExecutionStatistics:
    displayName: QueryExecutionStatistics
    description: The amount of data scanned during the query execution and the amount of time that it took to execute, and the type of statement that was run.
    type: object
    properties:
      EngineExecutionTimeInMillis:
        required: false
        displayName: EngineExecutionTimeInMillis
        type: integer
        format: int32
      DataScannedInBytes:
        required: false
        displayName: DataScannedInBytes
        type: integer
        format: int32
      DataManifestLocation:
        required: false
        displayName: DataManifestLocation
        type: string
      TotalExecutionTimeInMillis:
        required: false
        displayName: TotalExecutionTimeInMillis
        type: integer
        format: int32
      QueryQueueTimeInMillis:
        required: false
        displayName: QueryQueueTimeInMillis
        type: integer
        format: int32
      QueryPlanningTimeInMillis:
        required: false
        displayName: QueryPlanningTimeInMillis
        type: integer
        format: int32
      ServiceProcessingTimeInMillis:
        required: false
        displayName: ServiceProcessingTimeInMillis
        type: integer
        format: int32
      ResultReuseInformation:
        required: false
        displayName: ResultReuseInformation
        type: ResultReuseInformation2
  ResultReuseInformation:
    displayName: ResultReuseInformation
    description: Contains information about whether the result of a previous query was reused.
    type: object
    properties:
      ReusedPreviousResult:
        required: true
        displayName: ReusedPreviousResult
        type: boolean
  QueryRuntimeStatisticsTimeline:
    displayName: QueryRuntimeStatisticsTimeline
    description: Timeline statistics such as query queue time, planning time, execution time, service processing time, and total execution time.
    type: object
    properties:
      QueryQueueTimeInMillis:
        required: false
        displayName: QueryQueueTimeInMillis
        type: integer
        format: int32
      QueryPlanningTimeInMillis:
        required: false
        displayName: QueryPlanningTimeInMillis
        type: integer
        format: int32
      EngineExecutionTimeInMillis:
        required: false
        displayName: EngineExecutionTimeInMillis
        type: integer
        format: int32
      ServiceProcessingTimeInMillis:
        required: false
        displayName: ServiceProcessingTimeInMillis
        type: integer
        format: int32
      TotalExecutionTimeInMillis:
        required: false
        displayName: TotalExecutionTimeInMillis
        type: integer
        format: int32
  QueryRuntimeStatisticsRows:
    displayName: QueryRuntimeStatisticsRows
    description: Statistics such as input rows and bytes read by the query, rows and bytes output by the query, and the number of rows written by the query.
    type: object
    properties:
      InputRows:
        required: false
        displayName: InputRows
        type: integer
        format: int32
      InputBytes:
        required: false
        displayName: InputBytes
        type: integer
        format: int32
      OutputBytes:
        required: false
        displayName: OutputBytes
        type: integer
        format: int32
      OutputRows:
        required: false
        displayName: OutputRows
        type: integer
        format: int32
  QueryStage:
    displayName: QueryStage
    description: Stage statistics such as input and output rows and bytes, execution time and stage state. This information also includes substages and the query stage plan.
    type: object
    properties:
      StageId:
        required: false
        displayName: StageId
        type: integer
        format: int32
      State:
        required: false
        displayName: State
        type: string
      OutputBytes:
        required: false
        displayName: OutputBytes
        type: integer
        format: int32
      OutputRows:
        required: false
        displayName: OutputRows
        type: integer
        format: int32
      InputBytes:
        required: false
        displayName: InputBytes
        type: integer
        format: int32
      InputRows:
        required: false
        displayName: InputRows
        type: integer
        format: int32
      ExecutionTime:
        required: false
        displayName: ExecutionTime
        type: integer
        format: int32
      QueryStagePlan:
        required: false
        displayName: QueryStagePlan
        type: QueryStagePlan
      SubStages:
        required: false
        displayName: SubStages
        type: array
        items:
          type: QueryStage
  QueryStagePlanNode:
    displayName: QueryStagePlanNode
    description: Stage plan information such as name, identifier, sub plans, and remote sources.
    type: object
    properties:
      Name:
        required: false
        displayName: Name
        type: string
      Identifier:
        required: false
        displayName: Identifier
        type: string
      Children:
        required: false
        displayName: Children
        type: array
        items:
          type: QueryStagePlanNode
      RemoteSources:
        required: false
        displayName: RemoteSources
        type: array
        items:
          type: string
  ResultConfigurationUpdates:
    displayName: ResultConfigurationUpdates
    description: The information about the updates in the query results, such as output location and encryption configuration for the query results.
    type: object
    properties:
      OutputLocation:
        required: false
        displayName: OutputLocation
        type: string
      RemoveOutputLocation:
        required: false
        displayName: RemoveOutputLocation
        type: boolean
      EncryptionConfiguration:
        required: false
        displayName: EncryptionConfiguration
        type: EncryptionConfiguration2
      RemoveEncryptionConfiguration:
        required: false
        displayName: RemoveEncryptionConfiguration
        type: boolean
      ExpectedBucketOwner:
        required: false
        displayName: ExpectedBucketOwner
        type: string
        pattern: ^[0-9]+$
        minLength: 12
        maxLength: 12
      RemoveExpectedBucketOwner:
        required: false
        displayName: RemoveExpectedBucketOwner
        type: boolean
      AclConfiguration:
        required: false
        displayName: AclConfiguration
        type: AclConfiguration1
      RemoveAclConfiguration:
        required: false
        displayName: RemoveAclConfiguration
        type: boolean
  ResultReuseByAgeConfiguration:
    displayName: ResultReuseByAgeConfiguration
    description: Specifies whether previous query results are reused, and if so, their maximum age.
    type: object
    properties:
      Enabled:
        required: true
        displayName: Enabled
        type: boolean
      MaxAgeInMinutes:
        required: false
        displayName: MaxAgeInMinutes
        type: integer
        minimum: 0
        maximum: 10080
        format: int32
  Row:
    displayName: Row
    description: The rows that make up a query result table.
    type: object
    properties:
      Data:
        required: false
        displayName: Data
        type: array
        items:
          type: Datum
  ResultSetMetadata:
    displayName: ResultSetMetadata
    description: The metadata that describes the column structure and data types of a table of query results. To return a <code>ResultSetMetadata</code> object, use <a>GetQueryResults</a>.
    type: object
    properties:
      ColumnInfo:
        required: false
        displayName: ColumnInfo
        type: array
        items:
          type: ColumnInfo
  WorkGroupConfigurationUpdates:
    displayName: WorkGroupConfigurationUpdates
    description: The configuration information that will be updated for this workgroup, which includes the location in Amazon S3 where query and calculation results are stored, the encryption option, if any, used for query results, whether the Amazon CloudWatch Metrics are enabled for the workgroup, whether the workgroup settings override the client-side settings, and the data usage limit for the amount of bytes scanned per query, if it is specified.
    type: object
    properties:
      EnforceWorkGroupConfiguration:
        required: false
        displayName: EnforceWorkGroupConfiguration
        type: boolean
      ResultConfigurationUpdates:
        required: false
        displayName: ResultConfigurationUpdates
        type: ResultConfigurationUpdates2
      PublishCloudWatchMetricsEnabled:
        required: false
        displayName: PublishCloudWatchMetricsEnabled
        type: boolean
      BytesScannedCutoffPerQuery:
        required: false
        displayName: BytesScannedCutoffPerQuery
        type: integer
        minimum: 10000000
        format: int32
      RemoveBytesScannedCutoffPerQuery:
        required: false
        displayName: RemoveBytesScannedCutoffPerQuery
        type: boolean
      RequesterPaysEnabled:
        required: false
        displayName: RequesterPaysEnabled
        type: boolean
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      RemoveCustomerContentEncryptionConfiguration:
        required: false
        displayName: RemoveCustomerContentEncryptionConfiguration
        type: boolean
      AdditionalConfiguration:
        required: false
        displayName: AdditionalConfiguration
        type: string
        minLength: 1
        maxLength: 128
      ExecutionRole:
        required: false
        displayName: ExecutionRole
        type: string
        pattern: ^arn:aws[a-z\-]*:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+$
        minLength: 20
        maxLength: 2048
      CustomerContentEncryptionConfiguration:
        required: false
        displayName: CustomerContentEncryptionConfiguration
        description: Specifies the KMS key that is used to encrypt the user's data stores in Athena.
        type: CustomerContentEncryptionConfiguration
      EnableMinimumEncryptionConfiguration:
        required: false
        displayName: EnableMinimumEncryptionConfiguration
        type: boolean
  AclConfiguration1:
    displayName: AclConfiguration1
    type: object
    properties:
      S3AclOption:
        required: true
        displayName: S3AclOption
        type: string
        enum:
        - BUCKET_OWNER_FULL_CONTROL
  AdditionalConfigs:
    displayName: AdditionalConfigs
    type: object
    properties: {}
  AthenaError2:
    displayName: AthenaError2
    type: object
    properties:
      ErrorCategory:
        required: false
        displayName: ErrorCategory
        type: integer
        minimum: 1
        maximum: 3
        format: int32
      ErrorType:
        required: false
        displayName: ErrorType
        type: integer
        minimum: 0
        maximum: 9999
        format: int32
      Retryable:
        required: false
        displayName: Retryable
        type: boolean
      ErrorMessage:
        required: false
        displayName: ErrorMessage
        type: string
  Configuration:
    displayName: Configuration
    type: object
    properties:
      ResultConfiguration:
        required: false
        displayName: ResultConfiguration
        type: ResultConfiguration1
      EnforceWorkGroupConfiguration:
        required: false
        displayName: EnforceWorkGroupConfiguration
        type: boolean
      PublishCloudWatchMetricsEnabled:
        required: false
        displayName: PublishCloudWatchMetricsEnabled
        type: boolean
      BytesScannedCutoffPerQuery:
        required: false
        displayName: BytesScannedCutoffPerQuery
        type: integer
        minimum: 10000000
        format: int32
      RequesterPaysEnabled:
        required: false
        displayName: RequesterPaysEnabled
        type: boolean
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      AdditionalConfiguration:
        required: false
        displayName: AdditionalConfiguration
        type: string
        minLength: 1
        maxLength: 128
      ExecutionRole:
        required: false
        displayName: ExecutionRole
        type: string
        pattern: ^arn:aws[a-z\-]*:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+$
        minLength: 20
        maxLength: 2048
      CustomerContentEncryptionConfiguration:
        required: false
        displayName: CustomerContentEncryptionConfiguration
        type: CustomerContentEncryptionConfiguration2
      EnableMinimumEncryptionConfiguration:
        required: false
        displayName: EnableMinimumEncryptionConfiguration
        type: boolean
  ConfigurationUpdates:
    displayName: ConfigurationUpdates
    type: object
    properties:
      EnforceWorkGroupConfiguration:
        required: false
        displayName: EnforceWorkGroupConfiguration
        type: boolean
      ResultConfigurationUpdates:
        required: false
        displayName: ResultConfigurationUpdates
        type: ResultConfigurationUpdates2
      PublishCloudWatchMetricsEnabled:
        required: false
        displayName: PublishCloudWatchMetricsEnabled
        type: boolean
      BytesScannedCutoffPerQuery:
        required: false
        displayName: BytesScannedCutoffPerQuery
        type: integer
        minimum: 10000000
        format: int32
      RemoveBytesScannedCutoffPerQuery:
        required: false
        displayName: RemoveBytesScannedCutoffPerQuery
        type: boolean
      RequesterPaysEnabled:
        required: false
        displayName: RequesterPaysEnabled
        type: boolean
      EngineVersion:
        required: false
        displayName: EngineVersion
        type: EngineVersion1
      RemoveCustomerContentEncryptionConfiguration:
        required: false
        displayName: RemoveCustomerContentEncryptionConfiguration
        type: boolean
      AdditionalConfiguration:
        required: false
        displayName: AdditionalConfiguration
        type: string
        minLength: 1
        maxLength: 128
      ExecutionRole:
        required: false
        displayName: ExecutionRole
        type: string
        pattern: ^arn:aws[a-z\-]*:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+$
        minLength: 20
        maxLength: 2048
      CustomerContentEncryptionConfiguration:
        required: false
        displayName: CustomerContentEncryptionConfiguration
        description: Specifies the KMS key that is used to encrypt the user's data stores in Athena.
        type: CustomerContentEncryptionConfiguration
      EnableMinimumEncryptionConfiguration:
        required: false
        displayName: EnableMinimumEncryptionConfiguration
        type: boolean
  CustomerContentEncryptionConfiguration2:
    displayName: CustomerContentEncryptionConfiguration2
    type: object
    properties:
      KmsKey:
        required: true
        displayName: KmsKey
        type: string
        pattern: ^arn:aws[a-z\-]*:kms:([a-z0-9\-]+):\d{12}:key/?[a-zA-Z_0-9+=,.@\-_/]+$|^arn:aws[a-z\-]*:kms:([a-z0-9\-]+):\d{12}:alias/?[a-zA-Z_0-9+=,.@\-_/]+$|^alias/[a-zA-Z0-9/_-]+$|[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}
        minLength: 1
        maxLength: 2048
  Database2:
    displayName: Database2
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 128
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  DataCatalog2:
    displayName: DataCatalog2
    type: object
    properties:
      Name:
        required: true
        displayName: Name
        type: string
        minLength: 1
        maxLength: 256
      Description:
        required: false
        displayName: Description
        type: string
        minLength: 1
        maxLength: 1024
      Type:
        required: true
        displayName: Type
        type: string
        enum:
        - LAMBDA
        - GLUE
        - HIVE
      Parameters:
        required: false
        displayName: Parameters
        type: Parameters
  EncryptionConfiguration2:
    displayName: EncryptionConfiguration2
    type: object
    properties:
      EncryptionOption:
        required: true
        displayName: EncryptionOption
[...]
