swagger: '2.0'
info:
  version: '1.0'
  title: Giphy API
  description: Giphy API
  contact:
    email: support@giphy.com
host: api.giphy.com
basePath: /v1
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: query
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /gifs:
    get:
      description: >
        A multiget version of the get GIF by ID endpoint.
      summary: getGifsById
      tags:
      - gifs
      operationId: getGifsById
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: ids
        in: query
        required: false
        type: string
        description: Filters results by specified GIF IDs, separated by commas.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GifsResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /gifs/random:
    get:
      description: >
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      summary: randomGif
      tags:
      - gifs
      operationId: randomGif
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: tag
        in: query
        required: false
        type: string
        description: Filters results by specified tag.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GifsRandomResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /gifs/search:
    get:
      description: >
        Search all GIPHY GIFs for a word or phrase. Punctuation will be stripped and ignored.  Use a plus or url encode for phrases. Example paul+rudd, ryan+gosling or american+psycho.
      summary: searchGifs
      tags:
      - gifs
      operationId: searchGifs
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: q
        in: query
        required: true
        type: string
        description: Search query term or prhase.
      - name: limit
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: The maximum number of records to return.
      - name: offset
        in: query
        required: false
        default: 0
        type: integer
        format: int32
        description: An optional results offset.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      - name: lang
        in: query
        required: false
        type: string
        description: Specify default language for regional content; use a 2-letter ISO 639-1 language code.
      responses:
        '200':
          description: Search results
          schema:
            $ref: '#/definitions/GifsSearchResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /gifs/translate:
    get:
      description: >
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIF
      summary: translateGif
      tags:
      - gifs
      operationId: translateGif
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: s
        in: query
        required: true
        type: string
        description: Search term.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GifsTranslateResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /gifs/trending:
    get:
      description: >
        Fetch GIFs currently trending online. Hand curated by the GIPHY editorial team.  The data returned mirrors the GIFs showcased on the GIPHY homepage. Returns 25 results by default.
      summary: trendingGifs
      tags:
      - gifs
      operationId: trendingGifs
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: limit
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: The maximum number of records to return.
      - name: offset
        in: query
        required: false
        default: 0
        type: integer
        format: int32
        description: An optional results offset.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GifsTrendingResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /gifs/{gifId}:
    get:
      description: >
        Returns a GIF given that GIF's unique ID
      summary: getGifById
      tags:
      - gifs
      operationId: getGifById
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: gifId
        in: path
        required: true
        type: integer
        format: int32
        description: Filters results by specified GIF ID.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/GifsResponse1'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /stickers/random:
    get:
      description: >
        Returns a random GIF, limited by tag. Excluding the tag parameter will return a random GIF from the GIPHY catalog.
      summary: randomSticker
      tags:
      - stickers
      operationId: randomSticker
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: tag
        in: query
        required: false
        type: string
        description: Filters results by specified tag.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StickersRandomResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /stickers/search:
    get:
      description: >
        Replicates the functionality and requirements of the classic GIPHY search, but returns animated stickers rather than GIFs.
      summary: searchStickers
      tags:
      - stickers
      operationId: searchStickers
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: q
        in: query
        required: true
        type: string
        description: Search query term or prhase.
      - name: limit
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: The maximum number of records to return.
      - name: offset
        in: query
        required: false
        default: 0
        type: integer
        format: int32
        description: An optional results offset.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      - name: lang
        in: query
        required: false
        type: string
        description: Specify default language for regional content; use a 2-letter ISO 639-1 language code.
      responses:
        '200':
          description: Search results
          schema:
            $ref: '#/definitions/StickersSearchResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /stickers/translate:
    get:
      description: >
        The translate API draws on search, but uses the GIPHY `special sauce` to handle translating from one vocabulary to another. In this case, words and phrases to GIFs.
      summary: translateSticker
      tags:
      - stickers
      operationId: translateSticker
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: s
        in: query
        required: true
        type: string
        description: Search term.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StickersTranslateResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
  /stickers/trending:
    get:
      description: >
        Fetch Stickers currently trending online. Hand curated by the GIPHY editorial team. Returns 25 results by default.
      summary: trendingStickers
      tags:
      - stickers
      operationId: trendingStickers
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: limit
        in: query
        required: false
        default: 25
        type: integer
        format: int32
        description: The maximum number of records to return.
      - name: offset
        in: query
        required: false
        default: 0
        type: integer
        format: int32
        description: An optional results offset.
      - name: rating
        in: query
        required: false
        type: string
        description: Filters results by specified rating.
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/StickersTrendingResponse'
          headers: {}
        '400':
          description: Your request was formatted incorrectly or missing required parameters.
          headers: {}
        '403':
          description: You weren't authorized to make your request; most likely this indicates an issue with your API Key.
          headers: {}
        '404':
          description: The particular GIF you are requesting was not found. This occurs, for example, if you request a GIF by an id that does not exist.
          headers: {}
        '429':
          description: Your API Key is making too many requests. Read about [requesting a Production Key](https://developers.giphy.com/docs/#access) to upgrade your API Key rate limits.
          headers: {}
definitions:
  Gif:
    title: Gif
    type: object
    properties:
      bitly_url:
        description: The unique bit.ly URL for this GIF
        example: http://gph.is/1gsWDcL
        type: string
      content_url:
        description: Currently unused
        type: string
      create_datetime:
        description: The date this GIF was added to the GIPHY database.
        example: 2013-08-01 12:41:48
        type: string
        format: date-time
      embded_url:
        description: A URL used for embedding this GIF
        example: http://giphy.com/embed/YsTs5ltWtEhnq
        type: string
      featured_tags:
        description: 'An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)'
        type: array
        items:
          type: string
      id:
        description: This GIF's unique ID
        example: YsTs5ltWtEhnq
        type: string
      images:
        type: object
        allOf:
        - $ref: '#/definitions/Images'
        - description: An object containing data for various available formats and sizes of this GIF.
      import_datetime:
        description: The creation or upload date from this GIF's source.
        example: 2013-08-01 12:41:48
        type: string
        format: date-time
      rating:
        description: The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R
        example: g
        type: string
      slug:
        description: The unique slug used in this GIF's URL
        example: confused-flying-YsTs5ltWtEhnq
        type: string
      source:
        description: The page on which this GIF was found
        example: http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/
        type: string
      source_post_url:
        description: The URL of the webpage on which this GIF was found.
        example: http://cheezburger.com/5282328320
        type: string
      source_tld:
        description: The top level domain of the source URL.
        example: cheezburger.com
        type: string
      tags:
        description: 'An array of tags for this GIF (Note: Not available when using the Public Beta Key)'
        type: array
        items:
          type: string
      trending_datetime:
        description: The date on which this gif was marked trending, if applicable.
        example: 2013-08-01 12:41:48
        type: string
        format: date-time
      type:
        type: object
        allOf:
        - $ref: '#/definitions/Type'
        - description: Type of the gif. By default, this is almost always gif
          default: gif
      update_datetime:
        description: The date on which this GIF was last updated.
        example: 2013-08-01 12:41:48
        type: string
        format: date-time
      url:
        description: The unique URL for this GIF
        example: http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq
        type: string
      user:
        type: object
        allOf:
        - $ref: '#/definitions/User'
        - description: The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.
      username:
        description: The username this GIF is attached to, if applicable
        example: JoeCool4000
        type: string
  Image:
    title: Image
    type: object
    properties:
      frames:
        description: The number of frames in this GIF.
        example: '15'
        type: string
      height:
        description: The height of this GIF in pixels.
        example: '200'
        type: string
      mp4:
        description: The URL for this GIF in .MP4 format.
        example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4
        type: string
      mp4_size:
        description: The size in bytes of the .MP4 file corresponding to this GIF.
        example: '25123'
        type: string
      size:
        description: The size of this GIF in bytes.
        example: '32381'
        type: string
      url:
        description: The publicly-accessible direct URL for this GIF.
        example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif
        type: string
      webp:
        description: The URL for this GIF in .webp format.
        example: https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp
        type: string
      webp_size:
        description: The size in bytes of the .webp file corresponding to this GIF.
        example: '12321'
        type: string
      width:
        description: The width of this GIF in pixels.
        example: '320'
        type: string
  Meta:
    title: Meta
    description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
    type: object
    properties:
      msg:
        description: HTTP Response Message
        example: OK
        type: string
      response_id:
        description: A unique ID paired with this response from the API.
        example: 57eea03c72381f86e05c35d2
        type: string
      status:
        description: HTTP Response Code
        example: 200
        type: integer
        format: int32
  Pagination:
    title: Pagination
    description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
    type: object
    properties:
      count:
        description: Total number of items returned.
        example: 25
        type: integer
        format: int32
      offset:
        description: Position in pagination.
        example: 75
        type: integer
        format: int32
      total_count:
        description: Total number of items available.
        example: 250
        type: integer
        format: int32
  User:
    title: User
    description: The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.
    type: object
    properties:
      avatar_url:
        description: The URL for this user's avatar image.
        example: https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif
        type: string
      banner_url:
        description: The URL for the banner image that appears atop this user's profile page.
        example: https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg
        type: string
      display_name:
        description: The display name associated with this user (contains formatting the base username might not).
        example: JoeCool4000
        type: string
      profile_url:
        description: The URL for this user's profile.
        example: https://giphy.com/cheezburger/
        type: string
      twitter:
        description: The Twitter username associated with this user, if applicable.
        example: '@joecool4000'
        type: string
      username:
        description: The username associated with this user.
        example: joecool4000
        type: string
  GifsRandomResponse:
    title: GifsRandomResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
  GifsResponse:
    title: GifsResponse
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      pagination:
        type: object
        allOf:
        - $ref: '#/definitions/Pagination'
        - description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
  GifsResponse1:
    title: GifsResponse1
    type: object
    properties:
      data:
        $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
  GifsSearchResponse:
    title: GifsSearchResponse
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      pagination:
        type: object
        allOf:
        - $ref: '#/definitions/Pagination'
        - description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
  GifsTranslateResponse:
    title: GifsTranslateResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
  GifsTrendingResponse:
    title: GifsTrendingResponse
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      pagination:
        type: object
        allOf:
        - $ref: '#/definitions/Pagination'
        - description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
  Images:
    title: Images
    description: An object containing data for various available formats and sizes of this GIF.
    type: object
    properties:
      downsized:
        $ref: '#/definitions/Image'
      downsized_large:
        $ref: '#/definitions/Image'
      downsized_medium:
        $ref: '#/definitions/Image'
      downsized_small:
        $ref: '#/definitions/Image'
      downsized_still:
        $ref: '#/definitions/Image'
      fixed_height:
        $ref: '#/definitions/Image'
      fixed_height_downsampled:
        $ref: '#/definitions/Image'
      fixed_height_small:
        $ref: '#/definitions/Image'
      fixed_height_small_still:
        $ref: '#/definitions/Image'
      fixed_height_still:
        $ref: '#/definitions/Image'
      fixed_width:
        $ref: '#/definitions/Image'
      fixed_width_downsampled:
        $ref: '#/definitions/Image'
      fixed_width_small:
        $ref: '#/definitions/Image'
      fixed_width_small_still:
        $ref: '#/definitions/Image'
      fixed_width_still:
        $ref: '#/definitions/Image'
      looping:
        $ref: '#/definitions/Image'
      original:
        $ref: '#/definitions/Image'
      original_still:
        $ref: '#/definitions/Image'
      preview:
        $ref: '#/definitions/Image'
      preview_gif:
        $ref: '#/definitions/Image'
  StickersRandomResponse:
    title: StickersRandomResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
  StickersSearchResponse:
    title: StickersSearchResponse
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      pagination:
        type: object
        allOf:
        - $ref: '#/definitions/Pagination'
        - description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
  StickersTranslateResponse:
    title: StickersTranslateResponse
    type: object
    properties:
      data:
        $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
  StickersTrendingResponse:
    title: StickersTrendingResponse
    type: object
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/Gif'
      meta:
        type: object
        allOf:
        - $ref: '#/definitions/Meta'
        - description: The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.
      pagination:
        type: object
        allOf:
        - $ref: '#/definitions/Pagination'
        - description: The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.
  Type:
    title: Type
    description: Type of the gif. By default, this is almost always gif
    type: string
    enum:
    - gif
security:
- api_key: []
tags:
- name: gifs
- name: stickers
externalDocs:
  url: https://developers.giphy.com/docs/
  description: Official Giphy Documentation
