{
  "swagger": "2.0",
  "info": {
    "version": "version",
    "title": "NBA Stats API",
    "description": "The destination for current and historic NBA statistics.",
    "contact": {}
  },
  "host": "stats.nba.com",
  "basePath": "/stats",
  "securityDefinitions": {},
  "schemes": [
    "http"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/allstarballotpredictor": {
      "get": {
        "description": "",
        "summary": "Allstarballotpredictor_GET",
        "operationId": "Allstarballotpredictor_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "WestPlayer1",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "WestPlayer2",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "WestPlayer3",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "WestPlayer4",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "WestPlayer5",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EastPlayer1",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EastPlayer2",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EastPlayer3",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EastPlayer4",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EastPlayer5",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PointCap",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscore": {
      "get": {
        "description": "",
        "summary": "Boxscore_GET",
        "operationId": "Boxscore_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoreadvanced": {
      "get": {
        "description": "",
        "summary": "Boxscoreadvanced_GET",
        "operationId": "Boxscoreadvanced_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoreadvancedv2": {
      "get": {
        "description": "",
        "summary": "Boxscoreadvancedv2_GET",
        "operationId": "Boxscoreadvancedv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscorefourfactors": {
      "get": {
        "description": "",
        "summary": "Boxscorefourfactors_GET",
        "operationId": "Boxscorefourfactors_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscorefourfactorsv2": {
      "get": {
        "description": "",
        "summary": "Boxscorefourfactorsv2_GET",
        "operationId": "Boxscorefourfactorsv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoremisc": {
      "get": {
        "description": "",
        "summary": "Boxscoremisc_GET",
        "operationId": "Boxscoremisc_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoremiscv2": {
      "get": {
        "description": "",
        "summary": "Boxscoremiscv2_GET",
        "operationId": "Boxscoremiscv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoreplayertrackv2": {
      "get": {
        "description": "",
        "summary": "Boxscoreplayertrackv2_GET",
        "operationId": "Boxscoreplayertrackv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscorescoring": {
      "get": {
        "description": "",
        "summary": "Boxscorescoring_GET",
        "operationId": "Boxscorescoring_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscorescoringv2": {
      "get": {
        "description": "",
        "summary": "Boxscorescoringv2_GET",
        "operationId": "Boxscorescoringv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoresummaryv2": {
      "get": {
        "description": "",
        "summary": "Boxscoresummaryv2_GET",
        "operationId": "Boxscoresummaryv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoretraditionalv2": {
      "get": {
        "description": "",
        "summary": "Boxscoretraditionalv2_GET",
        "operationId": "Boxscoretraditionalv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoreusage": {
      "get": {
        "description": "",
        "summary": "Boxscoreusage_GET",
        "operationId": "Boxscoreusage_GET",
        "deprecated": true,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/boxscoreusagev2": {
      "get": {
        "description": "",
        "summary": "Boxscoreusagev2_GET",
        "operationId": "Boxscoreusagev2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "RangeType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/commonTeamYears": {
      "get": {
        "description": "",
        "summary": "CommonTeamYears_GET",
        "operationId": "CommonTeamYears_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/commonallplayers": {
      "get": {
        "description": "",
        "summary": "Commonallplayers_GET",
        "operationId": "Commonallplayers_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "IsOnlyCurrentSeason",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/commonplayerinfo": {
      "get": {
        "description": "",
        "summary": "Commonplayerinfo_GET",
        "operationId": "Commonplayerinfo_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PlayerID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/commonplayoffseries": {
      "get": {
        "description": "",
        "summary": "Commonplayoffseries_GET",
        "operationId": "Commonplayoffseries_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/commonteamroster": {
      "get": {
        "description": "",
        "summary": "Commonteamroster_GET",
        "operationId": "Commonteamroster_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "TeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/draftcombinedrillresults": {
      "get": {
        "description": "",
        "summary": "Draftcombinedrillresults_GET",
        "operationId": "Draftcombinedrillresults_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonYear",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/draftcombinenonstationaryshooting": {
      "get": {
        "description": "",
        "summary": "Draftcombinenonstationaryshooting_GET",
        "operationId": "Draftcombinenonstationaryshooting_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonYear",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/draftcombineplayeranthro": {
      "get": {
        "description": "",
        "summary": "Draftcombineplayeranthro_GET",
        "operationId": "Draftcombineplayeranthro_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonYear",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/draftcombinespotshooting": {
      "get": {
        "description": "",
        "summary": "Draftcombinespotshooting_GET",
        "operationId": "Draftcombinespotshooting_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonYear",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/draftcombinestats": {
      "get": {
        "description": "",
        "summary": "Draftcombinestats_GET",
        "operationId": "Draftcombinestats_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonYear",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/drafthistory": {
      "get": {
        "description": "",
        "summary": "Drafthistory_GET",
        "operationId": "Drafthistory_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/franchisehistory": {
      "get": {
        "description": "",
        "summary": "Franchisehistory_GET",
        "operationId": "Franchisehistory_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/homepageleaders": {
      "get": {
        "description": "",
        "summary": "Homepageleaders_GET",
        "operationId": "Homepageleaders_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "StatCategory",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerOrTeam",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Game",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Player",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/homepagev2": {
      "get": {
        "description": "",
        "summary": "Homepagev2_GET",
        "operationId": "Homepagev2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "StatType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerOrTeam",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Game",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Player",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaderstiles": {
      "get": {
        "description": "",
        "summary": "Leaderstiles_GET",
        "operationId": "Leaderstiles_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Stat",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerOrTeam",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Game",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "Player",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashlineups": {
      "get": {
        "description": "",
        "summary": "Leaguedashlineups_GET",
        "operationId": "Leaguedashlineups_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GroupQuantity",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashplayerbiostats": {
      "get": {
        "description": "",
        "summary": "Leaguedashplayerbiostats_GET",
        "operationId": "Leaguedashplayerbiostats_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashplayerclutch": {
      "get": {
        "description": "",
        "summary": "Leaguedashplayerclutch_GET",
        "operationId": "Leaguedashplayerclutch_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ClutchTime",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "AheadBehind",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PointDiff",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerExperience",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerPosition",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StarterBench",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashplayerptshot": {
      "get": {
        "description": "",
        "summary": "Leaguedashplayerptshot_GET",
        "operationId": "Leaguedashplayerptshot_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashplayershotlocations": {
      "get": {
        "description": "",
        "summary": "Leaguedashplayershotlocations_GET",
        "operationId": "Leaguedashplayershotlocations_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DistanceRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerExperience",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerPosition",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StarterBench",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashplayerstats": {
      "get": {
        "description": "",
        "summary": "Leaguedashplayerstats_GET",
        "operationId": "Leaguedashplayerstats_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerExperience",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerPosition",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StarterBench",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashptdefend": {
      "get": {
        "description": "",
        "summary": "Leaguedashptdefend_GET",
        "operationId": "Leaguedashptdefend_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DefenseCategory",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashptteamdefend": {
      "get": {
        "description": "",
        "summary": "Leaguedashptteamdefend_GET",
        "operationId": "Leaguedashptteamdefend_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DefenseCategory",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashteamclutch": {
      "get": {
        "description": "",
        "summary": "Leaguedashteamclutch_GET",
        "operationId": "Leaguedashteamclutch_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ClutchTime",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "AheadBehind",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PointDiff",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerExperience",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerPosition",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StarterBench",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashteamptshot": {
      "get": {
        "description": "",
        "summary": "Leaguedashteamptshot_GET",
        "operationId": "Leaguedashteamptshot_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashteamshotlocations": {
      "get": {
        "description": "",
        "summary": "Leaguedashteamshotlocations_GET",
        "operationId": "Leaguedashteamshotlocations_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DistanceRange",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameScope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerExperience",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerPosition",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StarterBench",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leaguedashteamstats": {
      "get": {
        "description": "",
        "summary": "Leaguedashteamstats_GET",
        "operationId": "Leaguedashteamstats_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/leagueleaders": {
      "get": {
        "description": "",
        "summary": "Leagueleaders_GET",
        "operationId": "Leagueleaders_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "LeagueID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Scope",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StatCategory",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/playbyplay": {
      "get": {
        "description": "",
        "summary": "Playbyplay_GET",
        "operationId": "Playbyplay_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/playbyplayv2": {
      "get": {
        "description": "",
        "summary": "Playbyplayv2_GET",
        "operationId": "Playbyplayv2_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "GameID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "StartPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "EndPeriod",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/playercareerstats": {
      "get": {
        "description": "",
        "summary": "Playercareerstats_GET",
        "operationId": "Playercareerstats_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/playercompare": {
      "get": {
        "description": "",
        "summary": "Playercompare_GET",
        "operationId": "Playercompare_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "PlayerIDList",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsPlayerIDList",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "200 OK",
            "headers": {}
          },
          "400": {
            "description": "Bad request - bad parameters",
            "headers": {}
          },
          "404": {
            "description": "'No HTTP resource was found that matches the request URI' - possible deprecated endpoint",
            "headers": {}
          }
        }
      }
    },
    "/playerdashboardbyclutch": {
      "get": {
        "description": "",
        "summary": "Playerdashboardbyclutch_GET",
        "operationId": "Playerdashboardbyclutch_GET",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "MeasureType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PerMode",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlusMinus",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PaceAdjust",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Rank",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Season",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonType",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "PlayerID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Outcome",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Location",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Month",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "SeasonSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateFrom",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "DateTo",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "OpponentTeamID",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsConference",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "VsDivision",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "GameSegment",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Period",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "LastNGames",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
[...]
