#%RAML 1.0
title: Spotify Web API with fixes and improvements from sonallux
version: 2024.3.3
baseUri: https://api.spotify.com/v1
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Spotify Web API with fixes and improvements from sonallux
  content: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.


    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.


    The base URI for all Web API requests is `https://api.spotify.com/v1`.


    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
securitySchemes:
  oauth_2_0:
    type: OAuth 2.0
    description: Spotify supports OAuth 2.0 for authenticating all API requests.
    settings:
      authorizationUri: https://accounts.spotify.com/authorize
      accessTokenUri: https://accounts.spotify.com/api/token
      authorizationGrants:
      - authorization_code
      scopes:
      - app-remote-control
      - playlist-read-private
      - playlist-read-collaborative
      - playlist-modify-public
      - playlist-modify-private
      - user-library-read
      - user-library-modify
      - user-read-private
      - user-read-email
      - user-follow-read
      - user-follow-modify
      - user-top-read
      - user-read-playback-position
      - user-read-playback-state
      - user-read-recently-played
      - user-read-currently-playing
      - user-modify-playback-state
      - ugc-image-upload
      - streaming
securedBy: []
types:
  LinkedTrackObject:
    displayName: LinkedTrackObject
    type: object
    properties:
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this track.
        type: ExternalUrlObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the track.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
      type:
        required: false
        displayName: type
        description: 'The object type: "track".'
        type: string
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
  TrackRestrictionObject:
    displayName: TrackRestrictionObject
    type: object
    properties:
      reason:
        required: false
        displayName: reason
        description: |
          The reason for the restriction. Supported values:

          - `market` - The content item is not available in the given market.

          - `product` - The content item is not available for the user's subscription type.

          - `explicit` - The content item is explicit and the user's account is set to not play explicit content.


          Additional reasons may be added in the future.

          **Note**: If you use this field, make sure that your application safely handles unknown values.
        type: string
  AlbumRestrictionObject:
    displayName: AlbumRestrictionObject
    type: object
    properties:
      reason:
        required: false
        displayName: reason
        description: |
          The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.

          Additional reasons may be added in the future.
        type: string
        enum:
        - market
        - product
        - explicit
  EpisodeRestrictionObject:
    displayName: EpisodeRestrictionObject
    type: object
    properties:
      reason:
        required: false
        displayName: reason
        description: |
          The reason for the restriction. Supported values:

          - `market` - The content item is not available in the given market.

          - `product` - The content item is not available for the user's subscription type.

          - `explicit` - The content item is explicit and the user's account is set to not play explicit content.


          Additional reasons may be added in the future.

          **Note**: If you use this field, make sure that your application safely handles unknown values.
        type: string
  ChapterRestrictionObject:
    displayName: ChapterRestrictionObject
    type: object
    properties:
      reason:
        required: false
        displayName: reason
        description: |
          The reason for the restriction. Supported values:

          - `market` - The content item is not available in the given market.

          - `product` - The content item is not available for the user's subscription type.

          - `explicit` - The content item is explicit and the user's account is set to not play explicit content.

          - `payment_required` - Payment is required to play the content item.


          Additional reasons may be added in the future.

          **Note**: If you use this field, make sure that your application safely handles unknown values.
        type: string
  ArtistObject:
    displayName: ArtistObject
    type: object
    properties:
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this artist.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of the artist.
        type: FollowersObject
      genres:
        required: false
        example:
          value:
          - Prog rock
          - Grunge
        displayName: genres
        description: A list of the genres the artist is associated with. If not yet classified, the array is empty.
        type: array
        items:
          type: string
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
        type: string
      images:
        required: false
        displayName: images
        description: Images of the artist in various sizes, widest first.
        type: array
        items:
          type: ImageObject
      name:
        required: false
        displayName: name
        description: The name of the artist.
        type: string
      popularity:
        required: false
        displayName: popularity
        description: The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.
        type: integer
        format: int32
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - artist
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
        type: string
  SimplifiedArtistObject:
    displayName: SimplifiedArtistObject
    type: object
    properties:
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this artist.
        type: ExternalUrlObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the artist.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
        type: string
      name:
        required: false
        displayName: name
        description: The name of the artist.
        type: string
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - artist
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
        type: string
  PlayHistoryObject:
    displayName: PlayHistoryObject
    type: object
    properties:
      track:
        required: false
        displayName: track
        description: The track the user listened to.
        type: TrackObject
      played_at:
        required: false
        displayName: played_at
        description: The date and time the track was played.
        type: datetime
      context:
        required: false
        displayName: context
        description: The context the track was played from.
        type: ContextObject
  PlaylistTrackObject:
    displayName: PlaylistTrackObject
    type: object
    properties:
      added_at:
        required: false
        displayName: added_at
        description: 'The date and time the track or episode was added. _**Note**: some very old playlists may return `null` in this field._'
        type: datetime
      added_by:
        required: false
        displayName: added_by
        description: 'The Spotify user who added the track or episode. _**Note**: some very old playlists may return `null` in this field._'
        type: PlaylistUserObject
      is_local:
        required: false
        displayName: is_local
        description: Whether this track or episode is a [local file](/documentation/web-api/concepts/playlists/#local-files) or not.
        type: boolean
      track:
        required: false
        displayName: track
        description: Information about the track or episode.
        type: TrackObject | EpisodeObject
  QueueObject:
    displayName: QueueObject
    type: object
    properties:
      currently_playing:
        required: false
        displayName: currently_playing
        description: The currently playing track or episode. Can be `null`.
        type: TrackObject | EpisodeObject
      queue:
        required: false
        displayName: queue
        description: The tracks or episodes in the queue. Can be empty.
        type: (TrackObject | EpisodeObject)[]
  CurrentlyPlayingContextObject:
    displayName: CurrentlyPlayingContextObject
    type: object
    properties:
      device:
        required: false
        displayName: device
        description: The device that is currently active.
        type: DeviceObject
      repeat_state:
        required: false
        displayName: repeat_state
        description: off, track, context
        type: string
      shuffle_state:
        required: false
        displayName: shuffle_state
        description: If shuffle is on or off.
        type: boolean
      context:
        required: false
        displayName: context
        description: A Context Object. Can be `null`.
        type: ContextObject
      timestamp:
        required: false
        displayName: timestamp
        description: Unix Millisecond Timestamp when data was fetched.
        type: integer
        format: int64
      progress_ms:
        required: false
        displayName: progress_ms
        description: Progress into the currently playing track or episode. Can be `null`.
        type: integer
        format: int32
      is_playing:
        required: false
        displayName: is_playing
        description: If something is currently playing, return `true`.
        type: boolean
      item:
        required: false
        displayName: item
        description: The currently playing track or episode. Can be `null`.
        type: TrackObject | EpisodeObject
      currently_playing_type:
        required: false
        displayName: currently_playing_type
        description: The object type of the currently playing item. Can be one of `track`, `episode`, `ad` or `unknown`.
        type: string
      actions:
        required: false
        displayName: actions
        description: Allows to update the user interface based on which playback actions are available within the current context.
        type: DisallowsObject
  DisallowsObject:
    displayName: DisallowsObject
    type: object
    properties:
      interrupting_playback:
        required: false
        displayName: interrupting_playback
        description: Interrupting playback. Optional field.
        type: boolean
      pausing:
        required: false
        displayName: pausing
        description: Pausing. Optional field.
        type: boolean
      resuming:
        required: false
        displayName: resuming
        description: Resuming. Optional field.
        type: boolean
      seeking:
        required: false
        displayName: seeking
        description: Seeking playback location. Optional field.
        type: boolean
      skipping_next:
        required: false
        displayName: skipping_next
        description: Skipping to the next context. Optional field.
        type: boolean
      skipping_prev:
        required: false
        displayName: skipping_prev
        description: Skipping to the previous context. Optional field.
        type: boolean
      toggling_repeat_context:
        required: false
        displayName: toggling_repeat_context
        description: Toggling repeat context flag. Optional field.
        type: boolean
      toggling_shuffle:
        required: false
        displayName: toggling_shuffle
        description: Toggling shuffle flag. Optional field.
        type: boolean
      toggling_repeat_track:
        required: false
        displayName: toggling_repeat_track
        description: Toggling repeat track flag. Optional field.
        type: boolean
      transferring_playback:
        required: false
        displayName: transferring_playback
        description: Transfering playback between devices. Optional field.
        type: boolean
  ErrorObject:
    displayName: ErrorObject
    type: object
    properties:
      status:
        required: true
        displayName: status
        description: The HTTP status code (also returned in the response header; see [Response Status Codes](/documentation/web-api/concepts/api-calls#response-status-codes) for more information).
        type: integer
        minimum: 400
        maximum: 599
        format: int32
      message:
        required: true
        displayName: message
        description: A short description of the cause of the error.
        type: string
  PrivateUserObject:
    displayName: PrivateUserObject
    type: object
    properties:
      country:
        required: false
        displayName: country
        description: The country of the user, as set in the user's account profile. An [ISO 3166-1 alpha-2 country code](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _This field is only available when the current user has granted access to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes) scope._
        type: string
      display_name:
        required: false
        displayName: display_name
        description: The name displayed on the user's profile. `null` if not available.
        type: string
      email:
        required: false
        displayName: email
        description: The user's email address, as entered by the user when creating their account. _**Important!** This email address is unverified; there is no proof that it actually belongs to the user._ _This field is only available when the current user has granted access to the [user-read-email](/documentation/web-api/concepts/scopes/#list-of-scopes) scope._
        type: string
      explicit_content:
        required: false
        displayName: explicit_content
        description: The user's explicit content settings. _This field is only available when the current user has granted access to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes) scope._
        type: ExplicitContentSettingsObject
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this user.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of the user.
        type: FollowersObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint for this user.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for the user.
        type: string
      images:
        required: false
        displayName: images
        description: The user's profile image.
        type: array
        items:
          type: ImageObject
      product:
        required: false
        displayName: product
        description: "The user's Spotify subscription level: \"premium\", \"free\", etc. (The subscription level \"open\" can be considered the same as \"free\".) _This field is only available when the current user has granted access to the [user-read-private](/documentation/web-api/concepts/scopes/#list-of-scopes) scope._"
        type: string
      type:
        required: false
        displayName: type
        description: 'The object type: "user"'
        type: string
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the user.
        type: string
  PublicUserObject:
    displayName: PublicUserObject
    type: object
    properties:
      display_name:
        required: false
        displayName: display_name
        description: The name displayed on the user's profile. `null` if not available.
        type:
        - string
        - nil
      external_urls:
        required: false
        displayName: external_urls
        description: Known public external URLs for this user.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of this user.
        type: FollowersObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint for this user.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
      images:
        required: false
        displayName: images
        description: The user's profile image.
        type: array
        items:
          type: ImageObject
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - user
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
  AudioAnalysisObject:
    displayName: AudioAnalysisObject
    type: object
    properties:
      meta:
        required: false
        displayName: meta
        type: Meta
      track:
        required: false
        displayName: track
        type: Track
      bars:
        required: false
        displayName: bars
        description: The time intervals of the bars throughout the track. A bar (or measure) is a segment of time defined as a given number of beats.
        type: array
        items:
          type: TimeIntervalObject
      beats:
        required: false
        displayName: beats
        description: The time intervals of beats throughout the track. A beat is the basic time unit of a piece of music; for example, each tick of a metronome. Beats are typically multiples of tatums.
        type: array
        items:
          type: TimeIntervalObject
      sections:
        required: false
        displayName: sections
        description: Sections are defined by large variations in rhythm or timbre, e.g. chorus, verse, bridge, guitar solo, etc. Each section contains its own descriptions of tempo, key, mode, time_signature, and loudness.
        type: array
        items:
          type: SectionObject
      segments:
        required: false
        displayName: segments
        description: Each segment contains a roughly conisistent sound throughout its duration.
        type: array
        items:
          type: SegmentObject
      tatums:
        required: false
        displayName: tatums
        description: A tatum represents the lowest regular pulse train that a listener intuitively infers from the timing of perceived musical events (segments).
        type: array
        items:
          type: TimeIntervalObject
  TimeIntervalObject:
    displayName: TimeIntervalObject
    type: object
    properties:
      start:
        required: false
        example:
          value: 0.49567
        displayName: start
        description: The starting point (in seconds) of the time interval.
        type: number
        format: double
      duration:
        required: false
        example:
          value: 2.18749
        displayName: duration
        description: The duration (in seconds) of the time interval.
        type: number
        format: double
      confidence:
        required: false
        example:
          value: 0.925
        displayName: confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the interval.
        type: number
        minimum: 0
        maximum: 1
        format: double
  SectionObject:
    displayName: SectionObject
    type: object
    properties:
      start:
        required: false
        example:
          value: 0
        displayName: start
        description: The starting point (in seconds) of the section.
        type: number
        format: double
      duration:
        required: false
        example:
          value: 6.97092
        displayName: duration
        description: The duration (in seconds) of the section.
        type: number
        format: double
      confidence:
        required: false
        example:
          value: 1
        displayName: confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the section's "designation".
        type: number
        minimum: 0
        maximum: 1
        format: double
      loudness:
        required: false
        example:
          value: -14.938
        displayName: loudness
        description: The overall loudness of the section in decibels (dB). Loudness values are useful for comparing relative loudness of sections within tracks.
        type: number
        format: double
      tempo:
        required: false
        example:
          value: 113.178
        displayName: tempo
        description: The overall estimated tempo of the section in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
        type: number
        format: double
      tempo_confidence:
        required: false
        example:
          value: 0.647
        displayName: tempo_confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the tempo. Some tracks contain tempo changes or sounds which don't contain tempo (like pure speech) which would correspond to a low value in this field.
        type: number
        minimum: 0
        maximum: 1
        format: double
      key:
        required: false
        example:
          value: 9
        displayName: key
        description: The estimated overall key of the section. The values in this field ranging from 0 to 11 mapping to pitches using standard Pitch Class notation (E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on). If no key was detected, the value is -1.
        type: integer
        format: int32
      key_confidence:
        required: false
        example:
          value: 0.297
        displayName: key_confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the key. Songs with many key changes may correspond to low values in this field.
        type: number
        minimum: 0
        maximum: 1
        format: double
      mode:
        required: false
        displayName: mode
        description: Indicates the modality (major or minor) of a section, the type of scale from which its melodic content is derived. This field will contain a 0 for "minor", a 1 for "major", or a -1 for no result. Note that the major key (e.g. C major) could more likely be confused with the minor key at 3 semitones lower (e.g. A minor) as both keys carry the same pitches.
        type: integer
        format: int32
        enum:
        - '-1'
        - '0'
        - '1'
      mode_confidence:
        required: false
        example:
          value: 0.471
        displayName: mode_confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the `mode`.
        type: number
        minimum: 0
        maximum: 1
        format: double
      time_signature:
        required: false
        example:
          value: 4
        displayName: time_signature
        description: An estimated time signature. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure). The time signature ranges from 3 to 7 indicating time signatures of "3/4", to "7/4".
        type: integer
        minimum: 3
        maximum: 7
        format: int32
      time_signature_confidence:
        required: false
        example:
          value: 1
        displayName: time_signature_confidence
        description: The confidence, from 0.0 to 1.0, of the reliability of the `time_signature`. Sections with time signature changes may correspond to low values in this field.
        type: number
        minimum: 0
        maximum: 1
        format: double
  SegmentObject:
    displayName: SegmentObject
    type: object
    properties:
      start:
        required: false
        example:
          value: 0.70154
        displayName: start
        description: The starting point (in seconds) of the segment.
        type: number
        format: double
      duration:
        required: false
        example:
          value: 0.19891
        displayName: duration
        description: The duration (in seconds) of the segment.
        type: number
        format: double
      confidence:
        required: false
        example:
          value: 0.435
        displayName: confidence
        description: 'The confidence, from 0.0 to 1.0, of the reliability of the segmentation. Segments of the song which are difficult to logically segment (e.g: noise) may correspond to low values in this field.'
        type: number
        minimum: 0
        maximum: 1
        format: double
      loudness_start:
        required: false
        example:
          value: -23.053
        displayName: loudness_start
        description: The onset loudness of the segment in decibels (dB). Combined with `loudness_max` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
        type: number
        format: double
      loudness_max:
        required: false
        example:
          value: -14.25
        displayName: loudness_max
        description: The peak loudness of the segment in decibels (dB). Combined with `loudness_start` and `loudness_max_time`, these components can be used to describe the "attack" of the segment.
        type: number
        format: double
      loudness_max_time:
        required: false
        example:
          value: 0.07305
        displayName: loudness_max_time
        description: The segment-relative offset of the segment peak loudness in seconds. Combined with `loudness_start` and `loudness_max`, these components can be used to desctibe the "attack" of the segment.
        type: number
        format: double
      loudness_end:
        required: false
        example:
          value: 0
        displayName: loudness_end
        description: The offset loudness of the segment in decibels (dB). This value should be equivalent to the loudness_start of the following segment.
        type: number
        format: double
      pitches:
        required: false
        example:
          value:
          - 0.212
          - 0.141
          - 0.294
        displayName: pitches
        description: |
          Pitch content is given by a “chroma” vector, corresponding to the 12 pitch classes C, C#, D to B, with values ranging from 0 to 1 that describe the relative dominance of every pitch in the chromatic scale. For example a C Major chord would likely be represented by large values of C, E and G (i.e. classes 0, 4, and 7).


          Vectors are normalized to 1 by their strongest dimension, therefore noisy sounds are likely represented by values that are all close to 1, while pure tones are described by one value at 1 (the pitch) and others near 0.

          As can be seen below, the 12 vector indices are a combination of low-power spectrum values at their respective pitch frequencies.

          ![pitch vector](https://developer.spotify.com/assets/audio/Pitch_vector.png)
        type: array
        items:
          type: number
          minimum: 0
          maximum: 1
          format: double
      timbre:
        required: false
        example:
          value:
          - 42.115
          - 64.373
          - -0.233
        displayName: timbre
        description: |
          Timbre is the quality of a musical note or sound that distinguishes different types of musical instruments, or voices. It is a complex notion also referred to as sound color, texture, or tone quality, and is derived from the shape of a segment’s spectro-temporal surface, independently of pitch and loudness. The timbre feature is a vector that includes 12 unbounded values roughly centered around 0. Those values are high level abstractions of the spectral surface, ordered by degree of importance.


          For completeness however, the first dimension represents the average loudness of the segment; second emphasizes brightness; third is more closely correlated to the flatness of a sound; fourth to sounds with a stronger attack; etc. See an image below representing the 12 basis functions (i.e. template segments).

          ![timbre basis functions](https://developer.spotify.com/assets/audio/Timbre_basis_functions.png)


          The actual timbre of the segment is best described as a linear combination of these 12 basis functions weighted by the coefficient values: timbre = c1 x b1 + c2 x b2 + ... + c12 x b12, where c1 to c12 represent the 12 coefficients and b1 to b12 the 12 basis functions as displayed below. Timbre vectors are best used in comparison with each other.
        type: array
        items:
          type: number
          format: double
  AudioFeaturesObject:
    displayName: AudioFeaturesObject
    type: object
    properties:
      acousticness:
        required: false
        example:
          value: 0.00242
        displayName: acousticness
        description: A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.
        type: number
        minimum: 0
        maximum: 1
        format: double
      analysis_url:
        required: false
        example:
          value: >
            https://api.spotify.com/v1/audio-analysis/2takcwOaAZWiXQijPHIx7B
        displayName: analysis_url
        description: A URL to access the full audio analysis of this track. An access token is required to access this data.
        type: string
      danceability:
        required: false
        example:
          value: 0.585
        displayName: danceability
        description: Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.
        type: number
        format: double
      duration_ms:
        required: false
        example:
          value: 237040
        displayName: duration_ms
        description: The duration of the track in milliseconds.
        type: integer
        format: int32
      energy:
        required: false
        example:
          value: 0.842
        displayName: energy
        description: Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.
        type: number
        format: double
      id:
        required: false
        example:
          value: 2takcwOaAZWiXQijPHIx7B
        displayName: id
        description: The Spotify ID for the track.
        type: string
      instrumentalness:
        required: false
        example:
          value: 0.00686
        displayName: instrumentalness
        description: Predicts whether a track contains no vocals. "Ooh" and "aah" sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly "vocal". The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.
        type: number
        format: double
      key:
        required: false
        example:
          value: 9
        displayName: key
        description: The key the track is in. Integers map to pitches using standard [Pitch Class notation](https://en.wikipedia.org/wiki/Pitch_class). E.g. 0 = C, 1 = C♯/D♭, 2 = D, and so on. If no key was detected, the value is -1.
        type: integer
        minimum: -1
        maximum: 11
        format: int32
      liveness:
        required: false
        example:
          value: 0.0866
        displayName: liveness
        description: Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides strong likelihood that the track is live.
        type: number
        format: double
      loudness:
        required: false
        example:
          value: -5.883
        displayName: loudness
        description: The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typically range between -60 and 0 db.
        type: number
        format: double
      mode:
        required: false
        example:
          value: 0
        displayName: mode
        description: Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived. Major is represented by 1 and minor is 0.
        type: integer
        format: int32
      speechiness:
        required: false
        example:
          value: 0.0556
        displayName: speechiness
        description: Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.
        type: number
        format: double
      tempo:
        required: false
        example:
          value: 118.211
        displayName: tempo
        description: The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.
        type: number
        format: double
      time_signature:
        required: false
        example:
          value: 4
        displayName: time_signature
        description: An estimated time signature. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure). The time signature ranges from 3 to 7 indicating time signatures of "3/4", to "7/4".
        type: integer
        minimum: 3
        maximum: 7
        format: int32
      track_href:
        required: false
        example:
          value: >
            https://api.spotify.com/v1/tracks/2takcwOaAZWiXQijPHIx7B
        displayName: track_href
        description: A link to the Web API endpoint providing full details of the track.
        type: string
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - audio_features
      uri:
        required: false
        example:
          value: spotify:track:2takcwOaAZWiXQijPHIx7B
        displayName: uri
        description: The Spotify URI for the track.
        type: string
      valence:
        required: false
        example:
          value: 0.428
        displayName: valence
        description: A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).
        type: number
        minimum: 0
        maximum: 1
        format: double
  SimplifiedTrackObject:
    displayName: SimplifiedTrackObject
    type: object
    properties:
      artists:
        required: false
        displayName: artists
        description: The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.
        type: array
        items:
          type: SimplifiedArtistObject
      available_markets:
        required: false
        displayName: available_markets
        description: A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
        type: array
        items:
          type: string
      disc_number:
        required: false
        displayName: disc_number
        description: The disc number (usually `1` unless the album consists of more than one disc).
        type: integer
        format: int32
      duration_ms:
        required: false
        displayName: duration_ms
        description: The track length in milliseconds.
        type: integer
        format: int32
      explicit:
        required: false
        displayName: explicit
        description: Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).
        type: boolean
      external_urls:
        required: false
        displayName: external_urls
        description: External URLs for this track.
        type: ExternalUrlObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the track.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
      is_playable:
        required: false
        displayName: is_playable
        description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/) is applied. If `true`, the track is playable in the given market. Otherwise `false`.
        type: boolean
      linked_from:
        required: false
        displayName: linked_from
        description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking/) is applied and is only part of the response if the track linking, in fact, exists. The requested track has been replaced with a different track. The track in the `linked_from` object contains information about the originally requested track.
        type: LinkedTrackObject
      restrictions:
        required: false
        displayName: restrictions
        description: Included in the response when a content restriction is applied.
        type: TrackRestrictionObject
      name:
        required: false
        displayName: name
        description: The name of the track.
        type: string
      preview_url:
        required: false
        displayName: preview_url
        description: A URL to a 30 second preview (MP3 format) of the track.
        type:
        - string
        - nil
      track_number:
        required: false
        displayName: track_number
        description: The number of the track. If an album has several discs, the track number is the number on the specified disc.
        type: integer
        format: int32
      type:
        required: false
        displayName: type
        description: 'The object type: "track".'
        type: string
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
      is_local:
        required: false
        displayName: is_local
        description: Whether or not the track is from a local file.
        type: boolean
  DeviceObject:
    displayName: DeviceObject
    type: object
    properties:
      id:
        required: false
        displayName: id
        description: The device ID. This ID is unique and persistent to some extent. However, this is not guaranteed and any cached `device_id` should periodically be cleared out and refetched as necessary.
        type:
        - string
        - nil
      is_active:
        required: false
        displayName: is_active
        description: If this device is the currently active device.
        type: boolean
      is_private_session:
        required: false
        displayName: is_private_session
        description: If this device is currently in a private session.
        type: boolean
      is_restricted:
        required: false
        displayName: is_restricted
        description: Whether controlling this device is restricted. At present if this is "true" then no Web API commands will be accepted by this device.
        type: boolean
      name:
        required: false
        example:
          value: Kitchen speaker
        displayName: name
        description: A human-readable name for the device. Some devices have a name that the user can configure (e.g. \"Loudest speaker\") and some devices have a generic name associated with the manufacturer or device model.
        type: string
      type:
        required: false
        example:
          value: computer
        displayName: type
        description: Device type, such as "computer", "smartphone" or "speaker".
        type: string
      volume_percent:
        required: false
        example:
          value: 59
        displayName: volume_percent
        description: The current volume in percent.
        type:
        - integer
        - nil
        minimum: 0
        maximum: 100
        format: int32
      supports_volume:
        required: false
        displayName: supports_volume
        description: If this device can be used to set the volume.
        type: boolean
  CursorObject:
    displayName: CursorObject
    type: object
    properties:
      after:
        required: false
        displayName: after
        description: The cursor to use as key to find the next page of items.
        type: string
      before:
        required: false
        displayName: before
        description: The cursor to use as key to find the previous page of items.
        type: string
  CursorPagingObject:
    displayName: CursorPagingObject
    type: object
    properties:
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
      limit:
        required: false
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: false
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type: string
      cursors:
        required: false
        displayName: cursors
        description: The cursors used to find the next set of items.
        type: CursorObject
      total:
        required: false
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
  CursorPagingPlayHistoryObject:
    displayName: CursorPagingPlayHistoryObject
    type: object
    properties:
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
      limit:
        required: false
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: false
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type: string
      cursors:
        required: false
        displayName: cursors
        description: The cursors used to find the next set of items.
        type: CursorObject
      total:
        required: false
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: false
        displayName: items
        type: array
        items:
          type: PlayHistoryObject
  CursorPagingSimplifiedArtistObject:
    displayName: CursorPagingSimplifiedArtistObject
    type: object
    properties:
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request.
        type: string
      limit:
        required: false
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: false
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type: string
      cursors:
        required: false
        displayName: cursors
        description: The cursors used to find the next set of items.
        type: CursorObject
      total:
        required: false
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: false
        displayName: items
        type: array
        items:
          type: ArtistObject
  PagingObject:
    displayName: PagingObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
  PagingPlaylistObject:
    displayName: PagingPlaylistObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SimplifiedPlaylistObject
  PagingFeaturedPlaylistObject:
    displayName: PagingFeaturedPlaylistObject
    type: object
    properties:
      message:
        required: false
        example:
          value: Popular Playlists
        displayName: message
        description: The localized message of a playlist.
        type: string
      playlists:
        required: false
        displayName: playlists
        type: PagingPlaylistObject
  PagingArtistDiscographyAlbumObject:
    displayName: PagingArtistDiscographyAlbumObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: ArtistDiscographyAlbumObject
  PagingSimplifiedAlbumObject:
    displayName: PagingSimplifiedAlbumObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SimplifiedAlbumObject
  PagingSavedAlbumObject:
    displayName: PagingSavedAlbumObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SavedAlbumObject
  PagingSimplifiedTrackObject:
    displayName: PagingSimplifiedTrackObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SimplifiedTrackObject
  PagingSavedTrackObject:
    displayName: PagingSavedTrackObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SavedTrackObject
  PagingTrackObject:
    displayName: PagingTrackObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: TrackObject
  PagingPlaylistTrackObject:
    displayName: PagingPlaylistTrackObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: PlaylistTrackObject
  PagingSimplifiedShowObject:
    displayName: PagingSimplifiedShowObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: ShowBase
  PagingSavedShowObject:
    displayName: PagingSavedShowObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SavedShowObject
  PagingSimplifiedEpisodeObject:
    displayName: PagingSimplifiedEpisodeObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: EpisodeBase
  PagingSavedEpisodeObject:
    displayName: PagingSavedEpisodeObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: SavedEpisodeObject
  PagingSimplifiedAudiobookObject:
    displayName: PagingSimplifiedAudiobookObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: AudiobookBase
  PagingArtistObject:
    displayName: PagingArtistObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: ArtistObject
  PagingSimplifiedChapterObject:
    displayName: PagingSimplifiedChapterObject
    type: object
    properties:
      href:
        required: true
        example:
          value: >
            https://api.spotify.com/v1/me/shows?offset=0&limit=20
        displayName: href
        description: A link to the Web API endpoint returning the full result of the request
        type: string
      limit:
        required: true
        example:
          value: 20
        displayName: limit
        description: The maximum number of items in the response (as set in the query or by default).
        type: integer
        format: int32
      next:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: next
        description: URL to the next page of items. ( `null` if none)
        type:
        - string
        - nil
      offset:
        required: true
        example:
          value: 0
        displayName: offset
        description: The offset of the items returned (as set in the query or by default)
        type: integer
        format: int32
      previous:
        required: true
        example:
          value: https://api.spotify.com/v1/me/shows?offset=1&limit=1
        displayName: previous
        description: URL to the previous page of items. ( `null` if none)
        type:
        - string
        - nil
      total:
        required: true
        example:
          value: 4
        displayName: total
        description: The total number of items available to return.
        type: integer
        format: int32
      items:
        required: true
        displayName: items
        type: array
        items:
          type: ChapterBase
  RecommendationsObject:
    displayName: RecommendationsObject
    type: object
    properties:
      seeds:
        required: true
        displayName: seeds
        description: An array of recommendation seed objects.
        type: array
        items:
          type: RecommendationSeedObject
      tracks:
        required: true
        displayName: tracks
        description: An array of track objects ordered according to the parameters supplied.
        type: array
        items:
          type: TrackObject
  RecommendationSeedObject:
    displayName: RecommendationSeedObject
    type: object
    properties:
      afterFilteringSize:
        required: false
        displayName: afterFilteringSize
        description: The number of tracks available after min\_\* and max\_\* filters have been applied.
        type: integer
        format: int32
      afterRelinkingSize:
        required: false
        displayName: afterRelinkingSize
        description: The number of tracks available after relinking for regional availability.
        type: integer
        format: int32
      href:
        required: false
        displayName: href
        description: A link to the full track or artist data for this seed. For tracks this will be a link to a Track Object. For artists a link to an Artist Object. For genre seeds, this value will be `null`.
        type: string
      id:
        required: false
        displayName: id
        description: The id used to select this seed. This will be the same as the string used in the `seed_artists`, `seed_tracks` or `seed_genres` parameter.
        type: string
      initialPoolSize:
        required: false
        displayName: initialPoolSize
        description: The number of recommended tracks available for this seed.
        type: integer
        format: int32
      type:
        required: false
        displayName: type
        description: The entity type of this seed. One of `artist`, `track` or `genre`.
        type: string
  SavedAlbumObject:
    displayName: SavedAlbumObject
    type: object
    properties:
      added_at:
        required: false
        displayName: added_at
        description: |
          The date and time the album was saved

          Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ.

          If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.
        type: datetime
      album:
        required: false
        displayName: album
        description: Information about the album.
        type: AlbumObject
  SavedTrackObject:
    displayName: SavedTrackObject
    type: object
    properties:
      added_at:
        required: false
        displayName: added_at
        description: |
          The date and time the track was saved.

          Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ.

          If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.
        type: datetime
      track:
        required: false
        displayName: track
        description: Information about the track.
        type: TrackObject
  SavedEpisodeObject:
    displayName: SavedEpisodeObject
    type: object
    properties:
      added_at:
        required: false
        displayName: added_at
        description: |
          The date and time the episode was saved.

          Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ.
        type: datetime
      episode:
        required: false
        displayName: episode
        description: Information about the episode.
        type: EpisodeObject
  SavedShowObject:
    displayName: SavedShowObject
    type: object
    properties:
      added_at:
        required: false
        displayName: added_at
        description: |
          The date and time the show was saved.

          Timestamps are returned in ISO 8601 format as Coordinated Universal Time (UTC) with a zero offset: YYYY-MM-DDTHH:MM:SSZ.

          If the time is imprecise (for example, the date/time of an album release), an additional field indicates the precision; see for example, release_date in an album object.
        type: datetime
      show:
        required: false
        displayName: show
        description: Information about the show.
        type: ShowBase
  PlaylistObject:
    displayName: PlaylistObject
    type: object
    properties:
      collaborative:
        required: false
        displayName: collaborative
        description: '`true` if the owner allows other users to modify the playlist.'
        type: boolean
      description:
        required: false
        displayName: description
        description: The playlist description. _Only returned for modified, verified playlists, otherwise_ `null`.
        type:
        - string
        - nil
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this playlist.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of the playlist.
        type: FollowersObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the playlist.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the playlist.
        type: string
      images:
        required: false
        displayName: images
        description: 'Images for the playlist. The array may be empty or contain up to three images. The images are returned by size in descending order. See [Working with Playlists](/documentation/web-api/concepts/playlists). _**Note**: If returned, the source URL for the image (`url`) is temporary and will expire in less than a day._'
        type: array
        items:
          type: ImageObject
      name:
        required: false
        displayName: name
        description: The name of the playlist.
        type: string
      owner:
        required: false
        displayName: owner
        description: The user who owns the playlist
        type: PlaylistOwnerObject
      public:
        required: false
        displayName: public
        description: "The playlist's public/private status: `true` the playlist is public, `false` the playlist is private, `null` the playlist status is not relevant. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)"
        type: boolean
      snapshot_id:
        required: false
        displayName: snapshot_id
        description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        type: string
      tracks:
        required: false
        displayName: tracks
        description: The tracks of the playlist.
        type: PagingPlaylistTrackObject
      type:
        required: false
        displayName: type
        description: 'The object type: "playlist"'
        type: string
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the playlist.
        type: string
  SimplifiedPlaylistObject:
    displayName: SimplifiedPlaylistObject
    type: object
    properties:
      collaborative:
        required: false
        displayName: collaborative
        description: '`true` if the owner allows other users to modify the playlist.'
        type: boolean
      description:
        required: false
        displayName: description
        description: The playlist description. _Only returned for modified, verified playlists, otherwise_ `null`.
        type: string
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this playlist.
        type: ExternalUrlObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the playlist.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the playlist.
        type: string
      images:
        required: false
        displayName: images
        description: 'Images for the playlist. The array may be empty or contain up to three images. The images are returned by size in descending order. See [Working with Playlists](/documentation/web-api/concepts/playlists). _**Note**: If returned, the source URL for the image (`url`) is temporary and will expire in less than a day._'
        type: array
        items:
          type: ImageObject
      name:
        required: false
        displayName: name
        description: The name of the playlist.
        type: string
      owner:
        required: false
        displayName: owner
        description: The user who owns the playlist
        type: PlaylistOwnerObject
      public:
        required: false
        displayName: public
        description: "The playlist's public/private status: `true` the playlist is public, `false` the playlist is private, `null` the playlist status is not relevant. For more about public/private status, see [Working with Playlists](/documentation/web-api/concepts/playlists)"
        type: boolean
      snapshot_id:
        required: false
        displayName: snapshot_id
        description: The version identifier for the current playlist. Can be supplied in other requests to target a specific playlist version
        type: string
      tracks:
        required: false
        displayName: tracks
        description: A collection containing a link ( `href` ) to the Web API endpoint where full details of the playlist's tracks can be retrieved, along with the `total` number of tracks in the playlist. Note, a track object may be `null`. This can happen if a track is no longer available.
        type: PlaylistTracksRefObject
      type:
        required: false
        displayName: type
        description: 'The object type: "playlist"'
        type: string
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the playlist.
        type: string
  PlaylistTracksRefObject:
    displayName: PlaylistTracksRefObject
    type: object
    properties:
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint where full details of the playlist's tracks can be retrieved.
        type: string
      total:
        required: false
        displayName: total
        description: Number of tracks in the playlist.
        type: integer
        format: int32
  PlaylistUserObject:
    displayName: PlaylistUserObject
    type: object
    properties:
      external_urls:
        required: false
        displayName: external_urls
        description: Known public external URLs for this user.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of this user.
        type: FollowersObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint for this user.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - user
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
  PlaylistOwnerObject:
    displayName: PlaylistOwnerObject
    type: object
    properties:
      external_urls:
        required: false
        displayName: external_urls
        description: Known public external URLs for this user.
        type: ExternalUrlObject
      followers:
        required: false
        displayName: followers
        description: Information about the followers of this user.
        type: FollowersObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint for this user.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
      type:
        required: false
        displayName: type
        description: The object type.
        type: string
        enum:
        - user
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for this user.
        type: string
      display_name:
        required: false
        displayName: display_name
        description: The name displayed on the user's profile. `null` if not available.
        type:
        - string
        - nil
  CategoryObject:
    displayName: CategoryObject
    type: object
    properties:
      href:
        required: true
        displayName: href
        description: A link to the Web API endpoint returning full details of the category.
        type: string
      icons:
        required: true
        displayName: icons
        description: The category icon, in various sizes.
        type: array
        items:
          type: ImageObject
      id:
        required: true
        example:
          value: equal
        displayName: id
        description: The [Spotify category ID](/documentation/web-api/concepts/spotify-uris-ids) of the category.
        type: string
      name:
        required: true
        example:
          value: EQUAL
        displayName: name
        description: The name of the category.
        type: string
  TrackObject:
    displayName: TrackObject
    type: object
    properties:
      album:
        required: false
        displayName: album
        description: The album on which the track appears. The album object includes a link in `href` to full information about the album.
        type: SimplifiedAlbumObject
      artists:
        required: false
        displayName: artists
        description: The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.
        type: array
        items:
          type: ArtistObject
      available_markets:
        required: false
        displayName: available_markets
        description: A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.
        type: array
        items:
          type: string
      disc_number:
        required: false
        displayName: disc_number
        description: The disc number (usually `1` unless the album consists of more than one disc).
        type: integer
        format: int32
      duration_ms:
        required: false
        displayName: duration_ms
        description: The track length in milliseconds.
        type: integer
        format: int32
      explicit:
        required: false
        displayName: explicit
        description: Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).
        type: boolean
      external_ids:
        required: false
        displayName: external_ids
        description: Known external IDs for the track.
        type: ExternalIdObject
      external_urls:
        required: false
        displayName: external_urls
        description: Known external URLs for this track.
        type: ExternalUrlObject
      href:
        required: false
        displayName: href
        description: A link to the Web API endpoint providing full details of the track.
        type: string
      id:
        required: false
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
      is_playable:
        required: false
        displayName: is_playable
        description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied. If `true`, the track is playable in the given market. Otherwise `false`.
        type: boolean
      linked_from:
        required: false
        displayName: linked_from
        description: Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied, and the requested track has been replaced with different track. The track in the `linked_from` object contains information about the originally requested track.
        type: LinkedTrackObject
      restrictions:
        required: false
        displayName: restrictions
        description: Included in the response when a content restriction is applied.
        type: TrackRestrictionObject
      name:
        required: false
        displayName: name
        description: The name of the track.
        type: string
      popularity:
        required: false
        displayName: popularity
        description: 'The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.<br/>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.<br/>Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. _**Note**: the popularity value may lag actual popularity by a few days: the value is not updated in real time._'
        type: integer
        format: int32
      preview_url:
        required: false
        displayName: preview_url
        description: A link to a 30 second preview (MP3 format) of the track. Can be `null`
        type:
        - string
        - nil
      track_number:
        required: false
        displayName: track_number
        description: The number of the track. If an album has several discs, the track number is the number on the specified disc.
        type: integer
        format: int32
      type:
        required: false
        displayName: type
        description: 'The object type: "track".'
        type: string
        enum:
        - track
      uri:
        required: false
        displayName: uri
        description: The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.
        type: string
      is_local:
        required: false
        displayName: is_local
        description: Whether or not the track is from a local file.
        type: boolean
  EpisodeObject:
    displayName: EpisodeObject
    type: object
    properties:
      audio_preview_url:
        required: true
        example:
          value: https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17
        displayName: audio_preview_url
        description: A URL to a 30 second preview (MP3 format) of the episode. `null` if not available.
        type:
        - string
        - nil
      description:
        required: true
        example:
          value: >
            A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.
        displayName: description
        description: A description of the episode. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.
        type: string
      html_description:
        required: true
        example:
          value: >
            <p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>
        displayName: html_description
        description: A description of the episode. This field may contain HTML tags.
        type: string
      duration_ms:
        required: true
        example:
          value: 1686230
        displayName: duration_ms
        description: The episode length in milliseconds.
        type: integer
        format: int32
      explicit:
        required: true
        displayName: explicit
        description: Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).
        type: boolean
      external_urls:
        required: true
        displayName: external_urls
        description: External URLs for this episode.
        type: ExternalUrlObject
      href:
        required: true
        example:
          value: https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ
        displayName: href
        description: A link to the Web API endpoint providing full details of the episode.
        type: string
      id:
        required: true
        example:
          value: 5Xt5DXGzch68nYYamXrNxZ
        displayName: id
        description: The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.
        type: string
      images:
        required: true
        displayName: images
        description: The cover art for the episode in various sizes, widest first.
        type: array
        items:
          type: ImageObject
      is_externally_hosted:
        required: true
        displayName: is_externally_hosted
        description: True if the episode is hosted outside of Spotify's CDN.
        type: boolean
      is_playable:
        required: true
        displayName: is_playable
        description: True if the episode is playable in the given market. Otherwise false.
        type: boolean
      language:
        required: false
        example:
          value: en
        displayName: language
        description: The language used in the episode, identified by a [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code. This field is deprecated and might be removed in the future. Please use the `languages` field instead.
        type: string
      languages:
        required: true
        example:
          value:
          - fr
          - en
        displayName: languages
        description: A list of the languages used in the episode, identified by their [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639) code.
        type: array
        items:
          type: string
      name:
        required: true
        example:
          value: >
            Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators
[...]
