{
  "swagger": "2.0",
  "info": {
    "version": "2024.3.3",
    "title": "Spotify Web API with fixes and improvements from sonallux",
    "description": "You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.\n\nIn order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href=\"https://developer.spotify.com/documentation/general/guides/authorization-guide/\">OAuth 2.0</a>.\n\nThe base URI for all Web API requests is `https://api.spotify.com/v1`.\n\nNeed help? See our <a href=\"https://developer.spotify.com/documentation/web-api/guides/\">Web API guides</a> for more information, or visit the <a href=\"https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer\">Spotify for Developers community forum</a> to ask questions and connect with other developers.\n",
    "contact": {
      "name": "sonallux",
      "url": "https://github.com/sonallux/spotify-web-api"
    }
  },
  "host": "api.spotify.com",
  "basePath": "/v1",
  "securityDefinitions": {
    "oauth_2_0": {
      "type": "oauth2",
      "description": "Spotify supports OAuth 2.0 for authenticating all API requests.",
      "flow": "accessCode",
      "authorizationUrl": "https://accounts.spotify.com/authorize",
      "tokenUrl": "https://accounts.spotify.com/api/token",
      "scopes": {
        "app-remote-control": "Communicate with the Spotify app on your device.\n",
        "playlist-read-private": "Access your private playlists.\n",
        "playlist-read-collaborative": "Access your collaborative playlists.\n",
        "playlist-modify-public": "Manage your public playlists.\n",
        "playlist-modify-private": "Manage your private playlists.\n",
        "user-library-read": "Access your saved content.\n",
        "user-library-modify": "Manage your saved content.\n",
        "user-read-private": "Access your subscription details.\n",
        "user-read-email": "Get your real email address.\n",
        "user-follow-read": "Access your followers and who you are following.\n",
        "user-follow-modify": "Manage your saved content.\n",
        "user-top-read": "Read your top artists and content.\n",
        "user-read-playback-position": "Read your position in content you have played.\n",
        "user-read-playback-state": "Read your currently playing content and Spotify Connect devices information.\n",
        "user-read-recently-played": "Access your recently played items.\n",
        "user-read-currently-playing": "Read your currently playing content.\n",
        "user-modify-playback-state": "Control playback on your Spotify clients and Spotify Connect devices.\n",
        "ugc-image-upload": "Upload images to Spotify on your behalf.\n",
        "streaming": "Play content and control playback on your other devices.\n"
      }
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/albums/{id}": {
      "get": {
        "description": "Get Spotify catalog information for a single album.\n",
        "summary": "get-an-album",
        "tags": [
          "Albums"
        ],
        "operationId": "get-an-album",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "An album",
            "schema": {
              "$ref": "#/definitions/AlbumObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/albums": {
      "get": {
        "description": "Get Spotify catalog information for multiple albums identified by their Spotify IDs.\n",
        "summary": "get-multiple-albums",
        "tags": [
          "Albums"
        ],
        "operationId": "get-multiple-albums",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of albums",
            "schema": {
              "$ref": "#/definitions/ManyAlbums"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/albums/{id}/tracks": {
      "get": {
        "description": "Get Spotify catalog information about an album’s tracks.\nOptional parameters can be used to limit the number of tracks returned.\n",
        "summary": "get-an-albums-tracks",
        "tags": [
          "Albums",
          "Tracks"
        ],
        "operationId": "get-an-albums-tracks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of tracks",
            "schema": {
              "$ref": "#/definitions/PagingSimplifiedTrackObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/me/albums": {
      "get": {
        "description": "Get a list of the albums saved in the current Spotify user's 'Your Music' library.\n",
        "summary": "get-users-saved-albums",
        "tags": [
          "Albums",
          "Library"
        ],
        "operationId": "get-users-saved-albums",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of albums",
            "schema": {
              "$ref": "#/definitions/PagingSavedAlbumObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read"
            ]
          }
        ]
      },
      "put": {
        "description": "Save one or more albums to the current user's 'Your Music' library.\n",
        "summary": "save-albums-user",
        "tags": [
          "Albums",
          "Library"
        ],
        "operationId": "save-albums-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MeAlbumsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The album is saved",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      },
      "delete": {
        "description": "Remove one or more albums from the current user's 'Your Music' library.\n",
        "summary": "remove-albums-user",
        "tags": [
          "Albums",
          "Library"
        ],
        "operationId": "remove-albums-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MeAlbumsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Album(s) have been removed from the library",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      }
    },
    "/me/albums/contains": {
      "get": {
        "description": "Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.\n",
        "summary": "check-users-saved-albums",
        "tags": [
          "Albums",
          "Library"
        ],
        "operationId": "check-users-saved-albums",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Array of booleans",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "examples": {
              "application/json": [
                false,
                true
              ]
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read"
            ]
          }
        ]
      }
    },
    "/browse/new-releases": {
      "get": {
        "description": "Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab).\n",
        "summary": "get-new-releases",
        "tags": [
          "Albums"
        ],
        "operationId": "get-new-releases",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A paged set of albums",
            "schema": {
              "$ref": "#/definitions/PagedAlbums"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/artists/{id}": {
      "get": {
        "description": "Get Spotify catalog information for a single artist identified by their unique Spotify ID.\n",
        "summary": "get-an-artist",
        "tags": [
          "Artists"
        ],
        "operationId": "get-an-artist",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "An artist",
            "schema": {
              "$ref": "#/definitions/ArtistObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/artists": {
      "get": {
        "description": "Get Spotify catalog information for several artists based on their Spotify IDs.\n",
        "summary": "get-multiple-artists",
        "tags": [
          "Artists"
        ],
        "operationId": "get-multiple-artists",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of artists",
            "schema": {
              "$ref": "#/definitions/ManyArtists"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/artists/{id}/albums": {
      "get": {
        "description": "Get Spotify catalog information about an artist's albums.\n",
        "summary": "get-an-artists-albums",
        "tags": [
          "Artists",
          "Albums"
        ],
        "operationId": "get-an-artists-albums",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "include_groups",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of albums",
            "schema": {
              "$ref": "#/definitions/PagingArtistDiscographyAlbumObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/artists/{id}/top-tracks": {
      "get": {
        "description": "Get Spotify catalog information about an artist's top tracks by country.\n",
        "summary": "get-an-artists-top-tracks",
        "tags": [
          "Artists",
          "Tracks"
        ],
        "operationId": "get-an-artists-top-tracks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of tracks",
            "schema": {
              "$ref": "#/definitions/ManyTracks"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/artists/{id}/related-artists": {
      "get": {
        "description": "Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's listening history.\n",
        "summary": "get-an-artists-related-artists",
        "tags": [
          "Artists"
        ],
        "operationId": "get-an-artists-related-artists",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of artists",
            "schema": {
              "$ref": "#/definitions/ManyArtists"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/audiobooks/{id}": {
      "get": {
        "description": "Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n",
        "summary": "get-an-audiobook",
        "tags": [
          "Audiobooks"
        ],
        "operationId": "get-an-audiobook",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "An Audiobook",
            "schema": {
              "$ref": "#/definitions/AudiobookObject"
            },
            "headers": {}
          },
          "400": {
            "description": "The request contains malformed data in path, query parameters, or body.",
            "schema": {
              "$ref": "#/definitions/BadRequest1"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "404": {
            "description": "The requested resource cannot be found.",
            "schema": {
              "$ref": "#/definitions/NotFound1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/audiobooks": {
      "get": {
        "description": "Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n",
        "summary": "get-multiple-audiobooks",
        "tags": [
          "Audiobooks"
        ],
        "operationId": "get-multiple-audiobooks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of audiobooks. If one of the requested audiobooks is unavailable then you'll find a `null` item in the `audiobooks` array where the audiobook object would otherwise be.",
            "schema": {
              "$ref": "#/definitions/ManyAudiobooks"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/audiobooks/{id}/chapters": {
      "get": {
        "description": "Get Spotify catalog information about an audiobook's chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n",
        "summary": "get-audiobook-chapters",
        "tags": [
          "Audiobooks",
          "Chapters"
        ],
        "operationId": "get-audiobook-chapters",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of chapters",
            "schema": {
              "$ref": "#/definitions/PagingSimplifiedChapterObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/me/audiobooks": {
      "get": {
        "description": "Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.\n",
        "summary": "get-users-saved-audiobooks",
        "tags": [
          "Audiobooks",
          "Library"
        ],
        "operationId": "get-users-saved-audiobooks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of saved audiobooks",
            "schema": {
              "$ref": "#/definitions/PagingSavedAudiobookObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read"
            ]
          }
        ]
      },
      "put": {
        "description": "Save one or more audiobooks to the current Spotify user's library.\n",
        "summary": "save-audiobooks-user",
        "tags": [
          "Audiobooks",
          "Library"
        ],
        "operationId": "save-audiobooks-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Audiobook(s) are saved to the library",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      },
      "delete": {
        "description": "Remove one or more audiobooks from the Spotify user's library.\n",
        "summary": "remove-audiobooks-user",
        "tags": [
          "Audiobooks",
          "Library"
        ],
        "operationId": "remove-audiobooks-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Audiobook(s) have been removed from the library",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      }
    },
    "/me/audiobooks/contains": {
      "get": {
        "description": "Check if one or more audiobooks are already saved in the current Spotify user's library.\n",
        "summary": "check-users-saved-audiobooks",
        "tags": [
          "Audiobooks",
          "Library"
        ],
        "operationId": "check-users-saved-audiobooks",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Array of booleans",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "examples": {
              "application/json": [
                false,
                true
              ]
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read"
            ]
          }
        ]
      }
    },
    "/browse/categories": {
      "get": {
        "description": "Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).\n",
        "summary": "get-categories",
        "tags": [
          "Categories"
        ],
        "operationId": "get-categories",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A paged set of categories",
            "schema": {
              "$ref": "#/definitions/PagedCategories"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/browse/categories/{category_id}": {
      "get": {
        "description": "Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).\n",
        "summary": "get-a-category",
        "tags": [
          "Categories"
        ],
        "operationId": "get-a-category",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "locale",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A category",
            "schema": {
              "$ref": "#/definitions/CategoryObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/chapters/{id}": {
      "get": {
        "description": "Get Spotify catalog information for a single audiobook chapter. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n",
        "summary": "get-a-chapter",
        "tags": [
          "Chapters"
        ],
        "operationId": "get-a-chapter",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A Chapter",
            "schema": {
              "$ref": "#/definitions/ChapterObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/chapters": {
      "get": {
        "description": "Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.\n",
        "summary": "get-several-chapters",
        "tags": [
          "Chapters"
        ],
        "operationId": "get-several-chapters",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of chapters",
            "schema": {
              "$ref": "#/definitions/ManyChapters"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/episodes/{id}": {
      "get": {
        "description": "Get Spotify catalog information for a single episode identified by its\nunique Spotify ID.\n",
        "summary": "get-an-episode",
        "tags": [
          "Episodes"
        ],
        "operationId": "get-an-episode",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "An episode",
            "schema": {
              "$ref": "#/definitions/EpisodeObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-playback-position"
            ]
          }
        ]
      }
    },
    "/episodes": {
      "get": {
        "description": "Get Spotify catalog information for several episodes based on their Spotify IDs.\n",
        "summary": "get-multiple-episodes",
        "tags": [
          "Episodes"
        ],
        "operationId": "get-multiple-episodes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A set of episodes",
            "schema": {
              "$ref": "#/definitions/ManyEpisodes"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-playback-position"
            ]
          }
        ]
      }
    },
    "/me/episodes": {
      "get": {
        "description": "Get a list of the episodes saved in the current Spotify user's library.<br/>\nThis API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).\n",
        "summary": "get-users-saved-episodes",
        "tags": [
          "Episodes",
          "Library"
        ],
        "operationId": "get-users-saved-episodes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "default": 0,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Pages of episodes",
            "schema": {
              "$ref": "#/definitions/PagingSavedEpisodeObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read",
              "user-read-playback-position"
            ]
          }
        ]
      },
      "put": {
        "description": "Save one or more episodes to the current user's library.<br/>\nThis API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).\n",
        "summary": "save-episodes-user",
        "tags": [
          "Episodes",
          "Library"
        ],
        "operationId": "save-episodes-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MeEpisodesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode saved",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      },
      "delete": {
        "description": "Remove one or more episodes from the current user's library.<br/>\nThis API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).\n",
        "summary": "remove-episodes-user",
        "tags": [
          "Episodes",
          "Library"
        ],
        "operationId": "remove-episodes-user",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MeEpisodesRequest1"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Episode removed",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-modify"
            ]
          }
        ]
      }
    },
    "/me/episodes/contains": {
      "get": {
        "description": "Check if one or more episodes is already saved in the current Spotify user's 'Your Episodes' library.<br/>\nThis API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)..\n",
        "summary": "check-users-saved-episodes",
        "tags": [
          "Episodes",
          "Library"
        ],
        "operationId": "check-users-saved-episodes",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Array of booleans",
            "schema": {
              "type": "array",
              "items": {
                "type": "boolean"
              }
            },
            "examples": {
              "application/json": [
                false,
                true
              ]
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-library-read"
            ]
          }
        ]
      }
    },
    "/recommendations/available-genre-seeds": {
      "get": {
        "description": "Retrieve a list of available genres seed parameter values for [recommendations](/documentation/web-api/reference/get-recommendations).\n",
        "summary": "get-recommendation-genres",
        "tags": [
          "Genres"
        ],
        "operationId": "get-recommendation-genres",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A set of genres",
            "schema": {
              "$ref": "#/definitions/ManyGenres"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/markets": {
      "get": {
        "description": "Get the list of markets where Spotify is available.\n",
        "summary": "get-available-markets",
        "tags": [
          "Markets"
        ],
        "operationId": "get-available-markets",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A markets object with an array of country codes",
            "schema": {
              "$ref": "#/definitions/Markets"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": []
          }
        ]
      }
    },
    "/me/player": {
      "get": {
        "description": "Get information about the user’s current playback state, including track or episode, progress, and active device.\n",
        "summary": "get-information-about-the-users-current-playback",
        "tags": [
          "Player"
        ],
        "operationId": "get-information-about-the-users-current-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "additional_types",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Information about playback",
            "schema": {
              "$ref": "#/definitions/CurrentlyPlayingContextObject"
            },
            "headers": {}
          },
          "204": {
            "description": "Playback not available or active",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-playback-state"
            ]
          }
        ]
      },
      "put": {
        "description": "Transfer playback to a new device and optionally begin playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "transfer-a-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "transfer-a-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MePlayerRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Playback transferred",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/devices": {
      "get": {
        "description": "Get information about a user’s available Spotify Connect devices. Some device models are not supported and will not be listed in the API response.\n",
        "summary": "get-a-users-available-devices",
        "tags": [
          "Player"
        ],
        "operationId": "get-a-users-available-devices",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "A set of devices",
            "schema": {
              "$ref": "#/definitions/ManyDevices"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/currently-playing": {
      "get": {
        "description": "Get the object currently being played on the user's Spotify account.\n",
        "summary": "get-the-users-currently-playing-track",
        "tags": [
          "Player"
        ],
        "operationId": "get-the-users-currently-playing-track",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "market",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "additional_types",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "Information about the currently playing track",
            "schema": {
              "$ref": "#/definitions/CurrentlyPlayingObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-currently-playing"
            ]
          }
        ]
      }
    },
    "/me/player/play": {
      "put": {
        "description": "Start a new context or resume current playback on the user's active device. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "start-a-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "start-a-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "enum": [
              "application/json"
            ],
            "type": "string",
            "description": ""
          },
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/MePlayerPlayRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Playback started",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/pause": {
      "put": {
        "description": "Pause playback on the user's account. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "pause-a-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "pause-a-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Playback paused",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/next": {
      "post": {
        "description": "Skips to next track in the user’s queue. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "skip-users-playback-to-next-track",
        "tags": [
          "Player"
        ],
        "operationId": "skip-users-playback-to-next-track",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/previous": {
      "post": {
        "description": "Skips to previous track in the user’s queue. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "skip-users-playback-to-previous-track",
        "tags": [
          "Player"
        ],
        "operationId": "skip-users-playback-to-previous-track",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/seek": {
      "put": {
        "description": "Seeks to the given position in the user’s currently playing track. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "seek-to-position-in-currently-playing-track",
        "tags": [
          "Player"
        ],
        "operationId": "seek-to-position-in-currently-playing-track",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "position_ms",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/repeat": {
      "put": {
        "description": "Set the repeat mode for the user's playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "set-repeat-mode-on-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "set-repeat-mode-on-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "type": "string",
            "description": ""
          },
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/volume": {
      "put": {
        "description": "Set the volume for the user’s current playback device. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "set-volume-for-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "set-volume-for-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "volume_percent",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32",
            "description": ""
          },
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/shuffle": {
      "put": {
        "description": "Toggle shuffle on or off for user’s playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.\n",
        "summary": "toggle-shuffle-for-users-playback",
        "tags": [
          "Player"
        ],
        "operationId": "toggle-shuffle-for-users-playback",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "state",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": ""
          },
          {
            "name": "device_id",
            "in": "query",
            "required": false,
            "type": "string",
            "description": ""
          }
        ],
        "responses": {
          "204": {
            "description": "Command sent",
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-modify-playback-state"
            ]
          }
        ]
      }
    },
    "/me/player/recently-played": {
      "get": {
        "description": "Get tracks from the current user's recently played tracks.\n_**Note**: Currently doesn't support podcast episodes._\n",
        "summary": "get-recently-played",
        "tags": [
          "Player"
        ],
        "operationId": "get-recently-played",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "default": 20,
            "type": "integer",
            "format": "int32",
            "minimum": 1.0,
            "maximum": 50.0,
            "exclusiveMaximum": false,
            "exclusiveMinimum": false,
            "description": ""
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int64",
            "description": ""
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "description": ""
          }
        ],
        "responses": {
          "200": {
            "description": "A paged set of tracks",
            "schema": {
              "$ref": "#/definitions/CursorPagingPlayHistoryObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-recently-played"
            ]
          }
        ]
      }
    },
    "/me/player/queue": {
      "get": {
        "description": "Get the list of objects that make up the user's queue.\n",
        "summary": "get-queue",
        "tags": [
          "Player"
        ],
        "operationId": "get-queue",
        "deprecated": false,
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Information about the queue",
            "schema": {
              "$ref": "#/definitions/QueueObject"
            },
            "headers": {}
          },
          "401": {
            "description": "Bad or expired token. This can happen if the user revoked a token or\nthe access token has expired. You should re-authenticate the user.",
            "schema": {
              "$ref": "#/definitions/Unauthorized1"
            },
            "headers": {}
          },
          "403": {
            "description": "Bad OAuth request (wrong consumer key, bad nonce, expired\ntimestamp...). Unfortunately, re-authenticating the user won't help here.",
            "schema": {
              "$ref": "#/definitions/Forbidden1"
            },
            "headers": {}
          },
          "429": {
            "description": "The app has exceeded its rate limits.",
            "schema": {
              "$ref": "#/definitions/TooManyRequests1"
            },
            "headers": {}
          }
        },
        "security": [
          {
            "oauth_2_0": [
              "user-read-currently-playing",
[...]
