#%RAML 0.8
title: Spotify Web API with fixes and improvements from sonallux
version: 2024.3.3
documentation:
- title: Spotify Web API with fixes and improvements from sonallux
  content: |
    You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.


    In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.


    The base URI for all Web API requests is `https://api.spotify.com/v1`.


    Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.
baseUri: https://api.spotify.com/v1
securedBy: []
protocols:
- HTTPS
baseUriParameters: {}
schemas:
- LinkedTrackObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "LinkedTrackObject",
      "title": "LinkedTrackObject",
      "type": "object",
      "properties": {
        "external_urls": {
          "id": "ExternalUrlObject",
          "title": "ExternalUrlObject",
          "description": "Known external URLs for this track.",
          "type": "object",
          "properties": {
            "spotify": {
              "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
              "type": "string"
            }
          }
        },
        "href": {
          "description": "A link to the Web API endpoint providing full details of the track.",
          "type": "string"
        },
        "id": {
          "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
          "type": "string"
        },
        "type": {
          "description": "The object type: \"track\".",
          "type": "string"
        },
        "uri": {
          "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
          "type": "string"
        }
      }
    }
- TrackRestrictionObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "TrackRestrictionObject",
      "title": "TrackRestrictionObject",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
          "type": "string"
        }
      }
    }
- AlbumRestrictionObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "AlbumRestrictionObject",
      "title": "AlbumRestrictionObject",
      "type": "object",
      "properties": {
        "reason": {
          "title": "Reason",
          "description": "The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.\nAdditional reasons may be added in the future.",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "market",
            "product",
            "explicit"
          ]
        }
      }
    }
- EpisodeRestrictionObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "EpisodeRestrictionObject",
      "title": "EpisodeRestrictionObject",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
          "type": "string"
        }
      }
    }
- ChapterRestrictionObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ChapterRestrictionObject",
      "title": "ChapterRestrictionObject",
      "type": "object",
      "properties": {
        "reason": {
          "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n- `payment_required` - Payment is required to play the content item.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
          "type": "string"
        }
      }
    }
- ArtistObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "ArtistObject",
      "title": "ArtistObject",
      "type": "object",
      "properties": {
        "external_urls": {
          "id": "ExternalUrlObject",
          "title": "ExternalUrlObject",
          "description": "Known external URLs for this artist.",
          "type": "object",
          "properties": {
            "spotify": {
              "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
              "type": "string"
            }
          }
        },
        "followers": {
          "id": "FollowersObject",
          "title": "FollowersObject",
          "description": "Information about the followers of the artist.",
          "type": "object",
          "properties": {
            "href": {
              "description": "This will always be set to null, as the Web API does not support it at the moment.",
              "type": [
                "string",
                "null"
              ]
            },
            "total": {
              "description": "The total number of followers.",
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "genres": {
          "description": "A list of the genres the artist is associated with. If not yet classified, the array is empty.",
          "example": [
            "Prog rock",
            "Grunge"
          ],
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "href": {
          "description": "A link to the Web API endpoint providing full details of the artist.",
          "type": "string"
        },
        "id": {
          "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
          "type": "string"
        },
        "images": {
          "description": "Images of the artist in various sizes, widest first.",
          "type": "array",
          "items": {
            "id": "ImageObject",
            "title": "ImageObject",
            "type": "object",
            "properties": {
              "url": {
                "description": "The source URL of the image.",
                "example": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                "type": "string"
              },
              "height": {
                "description": "The image height in pixels.",
                "example": 300,
                "type": [
                  "integer",
                  "null"
                ],
                "format": "int32"
              },
              "width": {
                "description": "The image width in pixels.",
                "example": 300,
                "type": [
                  "integer",
                  "null"
                ],
                "format": "int32"
              }
            },
            "required": [
              "url",
              "height",
              "width"
            ]
          }
        },
        "name": {
          "description": "The name of the artist.",
          "type": "string"
        },
        "popularity": {
          "description": "The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "title": "Type",
          "description": "The object type.",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "artist"
          ]
        },
        "uri": {
          "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
          "type": "string"
        }
      }
    }
- SimplifiedArtistObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "SimplifiedArtistObject",
      "title": "SimplifiedArtistObject",
      "type": "object",
      "properties": {
        "external_urls": {
          "id": "ExternalUrlObject",
          "title": "ExternalUrlObject",
          "description": "Known external URLs for this artist.",
          "type": "object",
          "properties": {
            "spotify": {
              "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
              "type": "string"
            }
          }
        },
        "href": {
          "description": "A link to the Web API endpoint providing full details of the artist.",
          "type": "string"
        },
        "id": {
          "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
          "type": "string"
        },
        "name": {
          "description": "The name of the artist.",
          "type": "string"
        },
        "type": {
          "title": "Type",
          "description": "The object type.",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "artist"
          ]
        },
        "uri": {
          "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
          "type": "string"
        }
      }
    }
- PlayHistoryObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PlayHistoryObject",
      "title": "PlayHistoryObject",
      "type": "object",
      "properties": {
        "track": {
          "id": "TrackObject",
          "title": "TrackObject",
          "description": "The track the user listened to.",
          "type": "object",
          "properties": {
            "album": {
              "id": "SimplifiedAlbumObject",
              "title": "SimplifiedAlbumObject",
              "description": "The album on which the track appears. The album object includes a link in `href` to full information about the album.",
              "type": "object",
              "properties": {
                "album_type": {
                  "title": "AlbumType",
                  "description": "The type of the album.",
                  "example": "compilation",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "album",
                    "single",
                    "compilation"
                  ]
                },
                "total_tracks": {
                  "description": "The number of tracks in the album.",
                  "example": 9,
                  "type": "integer",
                  "format": "int32"
                },
                "available_markets": {
                  "description": "The markets in which the album is available: [ISO 3166-1 alpha-2 country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**: an album is considered available in a market when at least 1 of its tracks is available in that market._",
                  "example": [
                    "CA",
                    "BR",
                    "IT"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "external_urls": {
                  "id": "ExternalUrlObject",
                  "title": "ExternalUrlObject",
                  "description": "External URLs for this context.",
                  "type": "object",
                  "properties": {
                    "spotify": {
                      "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
                      "type": "string"
                    }
                  }
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the album.",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                  "example": "2up3OPMp9Tb4dAKM2erWXQ",
                  "type": "string"
                },
                "images": {
                  "description": "The cover art for the album in various sizes, widest first.",
                  "type": "array",
                  "items": {
                    "id": "ImageObject",
                    "title": "ImageObject",
                    "type": "object",
                    "properties": {
                      "url": {
                        "description": "The source URL of the image.",
                        "example": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                        "type": "string"
                      },
                      "height": {
                        "description": "The image height in pixels.",
                        "example": 300,
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32"
                      },
                      "width": {
                        "description": "The image width in pixels.",
                        "example": 300,
                        "type": [
                          "integer",
                          "null"
                        ],
                        "format": "int32"
                      }
                    },
                    "required": [
                      "url",
                      "height",
                      "width"
                    ]
                  }
                },
                "name": {
                  "description": "The name of the album. In case of an album takedown, the value may be an empty string.",
                  "type": "string"
                },
                "release_date": {
                  "description": "The date the album was first released.",
                  "example": "1981-12",
                  "type": "string"
                },
                "release_date_precision": {
                  "title": "ReleaseDatePrecision",
                  "description": "The precision with which `release_date` value is known.",
                  "example": "year",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "year",
                    "month",
                    "day"
                  ]
                },
                "type": {
                  "description": "The object type.",
                  "type": "string",
                  "enum": [
                    "album"
                  ]
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                  "example": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                  "type": "string"
                },
                "artists": {
                  "description": "The artists of the album. Each artist object includes a link in `href` to more detailed information about the artist.",
                  "type": "array",
                  "items": {
                    "id": "SimplifiedArtistObject",
                    "title": "SimplifiedArtistObject",
                    "type": "object",
                    "properties": {
                      "external_urls": {
                        "$ref": "ExternalUrlObject"
                      },
                      "href": {
                        "description": "A link to the Web API endpoint providing full details of the artist.",
                        "type": "string"
                      },
                      "id": {
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      },
                      "name": {
                        "description": "The name of the artist.",
                        "type": "string"
                      },
                      "type": {
                        "title": "Type",
                        "description": "The object type.",
                        "type": "string",
                        "additionalProperties": false,
                        "enum": [
                          "artist"
                        ]
                      },
                      "uri": {
                        "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      }
                    }
                  }
                },
                "restrictions": {
                  "id": "AlbumRestrictionObject",
                  "title": "AlbumRestrictionObject",
                  "description": "Included in the response when a content restriction is applied.",
                  "type": "object",
                  "properties": {
                    "reason": {
                      "title": "Reason",
                      "description": "The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.\nAdditional reasons may be added in the future.",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "market",
                        "product",
                        "explicit"
                      ]
                    }
                  }
                }
              },
              "required": [
                "album_type",
                "total_tracks",
                "available_markets",
                "external_urls",
                "href",
                "id",
                "images",
                "name",
                "release_date",
                "release_date_precision",
                "type",
                "uri",
                "artists"
              ]
            },
            "artists": {
              "description": "The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.",
              "type": "array",
              "items": {
                "id": "ArtistObject",
                "title": "ArtistObject",
                "type": "object",
                "properties": {
                  "external_urls": {
                    "$ref": "ExternalUrlObject"
                  },
                  "followers": {
                    "id": "FollowersObject",
                    "title": "FollowersObject",
                    "description": "Information about the followers of the artist.",
                    "type": "object",
                    "properties": {
                      "href": {
                        "description": "This will always be set to null, as the Web API does not support it at the moment.",
                        "type": [
                          "string",
                          "null"
                        ]
                      },
                      "total": {
                        "description": "The total number of followers.",
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "genres": {
                    "description": "A list of the genres the artist is associated with. If not yet classified, the array is empty.",
                    "example": [
                      "Prog rock",
                      "Grunge"
                    ],
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "href": {
                    "description": "A link to the Web API endpoint providing full details of the artist.",
                    "type": "string"
                  },
                  "id": {
                    "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                    "type": "string"
                  },
                  "images": {
                    "description": "Images of the artist in various sizes, widest first.",
                    "type": "array",
                    "items": {
                      "$ref": "ImageObject"
                    }
                  },
                  "name": {
                    "description": "The name of the artist.",
                    "type": "string"
                  },
                  "popularity": {
                    "description": "The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.",
                    "type": "integer",
                    "format": "int32"
                  },
                  "type": {
                    "$ref": "SimplifiedArtistObject#/properties/type"
                  },
                  "uri": {
                    "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                    "type": "string"
                  }
                }
              }
            },
            "available_markets": {
              "description": "A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "disc_number": {
              "description": "The disc number (usually `1` unless the album consists of more than one disc).",
              "type": "integer",
              "format": "int32"
            },
            "duration_ms": {
              "description": "The track length in milliseconds.",
              "type": "integer",
              "format": "int32"
            },
            "explicit": {
              "description": "Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).",
              "type": "boolean"
            },
            "external_ids": {
              "id": "ExternalIdObject",
              "title": "ExternalIdObject",
              "description": "Known external IDs for the track.",
              "type": "object",
              "properties": {
                "isrc": {
                  "description": "[International Standard Recording Code](http://en.wikipedia.org/wiki/International_Standard_Recording_Code)",
                  "type": "string"
                },
                "ean": {
                  "description": "[International Article Number](http://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29)",
                  "type": "string"
                },
                "upc": {
                  "description": "[Universal Product Code](http://en.wikipedia.org/wiki/Universal_Product_Code)",
                  "type": "string"
                }
              }
            },
            "external_urls": {
              "$ref": "ExternalUrlObject"
            },
            "href": {
              "description": "A link to the Web API endpoint providing full details of the track.",
              "type": "string"
            },
            "id": {
              "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
              "type": "string"
            },
            "is_playable": {
              "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied. If `true`, the track is playable in the given market. Otherwise `false`.",
              "type": "boolean"
            },
            "linked_from": {
              "id": "LinkedTrackObject",
              "title": "LinkedTrackObject",
              "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied, and the requested track has been replaced with different track. The track in the `linked_from` object contains information about the originally requested track.",
              "type": "object",
              "properties": {
                "external_urls": {
                  "$ref": "ExternalUrlObject"
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the track.",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                },
                "type": {
                  "description": "The object type: \"track\".",
                  "type": "string"
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                }
              }
            },
            "restrictions": {
              "id": "TrackRestrictionObject",
              "title": "TrackRestrictionObject",
              "description": "Included in the response when a content restriction is applied.",
              "type": "object",
              "properties": {
                "reason": {
                  "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
                  "type": "string"
                }
              }
            },
            "name": {
              "description": "The name of the track.",
              "type": "string"
            },
            "popularity": {
              "description": "The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.<br/>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.<br/>Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. _**Note**: the popularity value may lag actual popularity by a few days: the value is not updated in real time._",
              "type": "integer",
              "format": "int32"
            },
            "preview_url": {
              "description": "A link to a 30 second preview (MP3 format) of the track. Can be `null`",
              "type": [
                "string",
                "null"
              ]
            },
            "track_number": {
              "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc.",
              "type": "integer",
              "format": "int32"
            },
            "type": {
              "title": "Type2",
              "description": "The object type: \"track\".",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "track"
              ]
            },
            "uri": {
              "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
              "type": "string"
            },
            "is_local": {
              "description": "Whether or not the track is from a local file.",
              "type": "boolean"
            }
          }
        },
        "played_at": {
          "description": "The date and time the track was played.",
          "type": "string",
          "format": "date-time"
        },
        "context": {
          "id": "ContextObject",
          "title": "ContextObject",
          "description": "The context the track was played from.",
          "type": "object",
          "properties": {
            "type": {
              "description": "The object type, e.g. \"artist\", \"playlist\", \"album\", \"show\".",
              "type": "string"
            },
            "href": {
              "description": "A link to the Web API endpoint providing full details of the track.",
              "type": "string"
            },
            "external_urls": {
              "$ref": "ExternalUrlObject"
            },
            "uri": {
              "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the context.",
              "type": "string"
            }
          }
        }
      }
    }
- PlaylistTrackObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "PlaylistTrackObject",
      "title": "PlaylistTrackObject",
      "type": "object",
      "properties": {
        "added_at": {
          "description": "The date and time the track or episode was added. _**Note**: some very old playlists may return `null` in this field._",
          "type": "string",
          "format": "date-time"
        },
        "added_by": {
          "id": "PlaylistUserObject",
          "title": "PlaylistUserObject",
          "description": "The Spotify user who added the track or episode. _**Note**: some very old playlists may return `null` in this field._",
          "type": "object",
          "properties": {
            "external_urls": {
              "id": "ExternalUrlObject",
              "title": "ExternalUrlObject",
              "description": "External URLs for this show.",
              "type": "object",
              "properties": {
                "spotify": {
                  "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
                  "type": "string"
                }
              }
            },
            "followers": {
              "id": "FollowersObject",
              "title": "FollowersObject",
              "description": "Information about the followers of this user.",
              "type": "object",
              "properties": {
                "href": {
                  "description": "This will always be set to null, as the Web API does not support it at the moment.",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "total": {
                  "description": "The total number of followers.",
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "href": {
              "description": "A link to the Web API endpoint for this user.",
              "type": "string"
            },
            "id": {
              "description": "The [Spotify user ID](/documentation/web-api/concepts/spotify-uris-ids) for this user.",
              "type": "string"
            },
            "type": {
              "title": "Type3",
              "description": "The object type.",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "user"
              ]
            },
            "uri": {
              "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for this user.",
              "type": "string"
            }
          }
        },
        "is_local": {
          "description": "Whether this track or episode is a [local file](/documentation/web-api/concepts/playlists/#local-files) or not.",
          "type": "boolean"
        },
        "track": {
          "description": "Information about the track or episode.",
          "oneOf": [
            {
              "id": "TrackObject",
              "title": "TrackObject",
              "description": "The track the user listened to.",
              "type": "object",
              "properties": {
                "album": {
                  "id": "SimplifiedAlbumObject",
                  "title": "SimplifiedAlbumObject",
                  "description": "The album on which the track appears. The album object includes a link in `href` to full information about the album.",
                  "type": "object",
                  "properties": {
                    "album_type": {
                      "title": "AlbumType",
                      "description": "The type of the album.",
                      "example": "compilation",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "album",
                        "single",
                        "compilation"
                      ]
                    },
                    "total_tracks": {
                      "description": "The number of tracks in the album.",
                      "example": 9,
                      "type": "integer",
                      "format": "int32"
                    },
                    "available_markets": {
                      "description": "The markets in which the album is available: [ISO 3166-1 alpha-2 country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**: an album is considered available in a market when at least 1 of its tracks is available in that market._",
                      "example": [
                        "CA",
                        "BR",
                        "IT"
                      ],
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external_urls": {
                      "$ref": "ExternalUrlObject"
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the album.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                      "example": "2up3OPMp9Tb4dAKM2erWXQ",
                      "type": "string"
                    },
                    "images": {
                      "description": "The cover art for the album in various sizes, widest first.",
                      "type": "array",
                      "items": {
                        "id": "ImageObject",
                        "title": "ImageObject",
                        "type": "object",
                        "properties": {
                          "url": {
                            "description": "The source URL of the image.",
                            "example": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                            "type": "string"
                          },
                          "height": {
                            "description": "The image height in pixels.",
                            "example": 300,
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          },
                          "width": {
                            "description": "The image width in pixels.",
                            "example": 300,
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          }
                        },
                        "required": [
                          "url",
                          "height",
                          "width"
                        ]
                      }
                    },
                    "name": {
                      "description": "The name of the album. In case of an album takedown, the value may be an empty string.",
                      "type": "string"
                    },
                    "release_date": {
                      "description": "The date the album was first released.",
                      "example": "1981-12",
                      "type": "string"
                    },
                    "release_date_precision": {
                      "title": "ReleaseDatePrecision",
                      "description": "The precision with which `release_date` value is known.",
                      "example": "year",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "year",
                        "month",
                        "day"
                      ]
                    },
                    "type": {
                      "description": "The object type.",
                      "type": "string",
                      "enum": [
                        "album"
                      ]
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                      "example": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                      "type": "string"
                    },
                    "artists": {
                      "description": "The artists of the album. Each artist object includes a link in `href` to more detailed information about the artist.",
                      "type": "array",
                      "items": {
                        "id": "SimplifiedArtistObject",
                        "title": "SimplifiedArtistObject",
                        "type": "object",
                        "properties": {
                          "external_urls": {
                            "$ref": "ExternalUrlObject"
                          },
                          "href": {
                            "description": "A link to the Web API endpoint providing full details of the artist.",
                            "type": "string"
                          },
                          "id": {
                            "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the artist.",
                            "type": "string"
                          },
                          "type": {
                            "title": "Type",
                            "description": "The object type.",
                            "type": "string",
                            "additionalProperties": false,
                            "enum": [
                              "artist"
                            ]
                          },
                          "uri": {
                            "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "restrictions": {
                      "id": "AlbumRestrictionObject",
                      "title": "AlbumRestrictionObject",
                      "description": "Included in the response when a content restriction is applied.",
                      "type": "object",
                      "properties": {
                        "reason": {
                          "title": "Reason",
                          "description": "The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.\nAdditional reasons may be added in the future.",
                          "type": "string",
                          "additionalProperties": false,
                          "enum": [
                            "market",
                            "product",
                            "explicit"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "album_type",
                    "total_tracks",
                    "available_markets",
                    "external_urls",
                    "href",
                    "id",
                    "images",
                    "name",
                    "release_date",
                    "release_date_precision",
                    "type",
                    "uri",
                    "artists"
                  ]
                },
                "artists": {
                  "description": "The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.",
                  "type": "array",
                  "items": {
                    "id": "ArtistObject",
                    "title": "ArtistObject",
                    "type": "object",
                    "properties": {
                      "external_urls": {
                        "$ref": "ExternalUrlObject"
                      },
                      "followers": {
                        "$ref": "FollowersObject"
                      },
                      "genres": {
                        "description": "A list of the genres the artist is associated with. If not yet classified, the array is empty.",
                        "example": [
                          "Prog rock",
                          "Grunge"
                        ],
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "href": {
                        "description": "A link to the Web API endpoint providing full details of the artist.",
                        "type": "string"
                      },
                      "id": {
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      },
                      "images": {
                        "description": "Images of the artist in various sizes, widest first.",
                        "type": "array",
                        "items": {
                          "$ref": "ImageObject"
                        }
                      },
                      "name": {
                        "description": "The name of the artist.",
                        "type": "string"
                      },
                      "popularity": {
                        "description": "The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "type": {
                        "$ref": "SimplifiedArtistObject#/properties/type"
                      },
                      "uri": {
                        "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      }
                    }
                  }
                },
                "available_markets": {
                  "description": "A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "disc_number": {
                  "description": "The disc number (usually `1` unless the album consists of more than one disc).",
                  "type": "integer",
                  "format": "int32"
                },
                "duration_ms": {
                  "description": "The track length in milliseconds.",
                  "type": "integer",
                  "format": "int32"
                },
                "explicit": {
                  "description": "Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).",
                  "type": "boolean"
                },
                "external_ids": {
                  "id": "ExternalIdObject",
                  "title": "ExternalIdObject",
                  "description": "Known external IDs for the track.",
                  "type": "object",
                  "properties": {
                    "isrc": {
                      "description": "[International Standard Recording Code](http://en.wikipedia.org/wiki/International_Standard_Recording_Code)",
                      "type": "string"
                    },
                    "ean": {
                      "description": "[International Article Number](http://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29)",
                      "type": "string"
                    },
                    "upc": {
                      "description": "[Universal Product Code](http://en.wikipedia.org/wiki/Universal_Product_Code)",
                      "type": "string"
                    }
                  }
                },
                "external_urls": {
                  "$ref": "ExternalUrlObject"
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the track.",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                },
                "is_playable": {
                  "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied. If `true`, the track is playable in the given market. Otherwise `false`.",
                  "type": "boolean"
                },
                "linked_from": {
                  "id": "LinkedTrackObject",
                  "title": "LinkedTrackObject",
                  "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied, and the requested track has been replaced with different track. The track in the `linked_from` object contains information about the originally requested track.",
                  "type": "object",
                  "properties": {
                    "external_urls": {
                      "$ref": "ExternalUrlObject"
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the track.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                      "type": "string"
                    },
                    "type": {
                      "description": "The object type: \"track\".",
                      "type": "string"
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                      "type": "string"
                    }
                  }
                },
                "restrictions": {
                  "id": "TrackRestrictionObject",
                  "title": "TrackRestrictionObject",
                  "description": "Included in the response when a content restriction is applied.",
                  "type": "object",
                  "properties": {
                    "reason": {
                      "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
                      "type": "string"
                    }
                  }
                },
                "name": {
                  "description": "The name of the track.",
                  "type": "string"
                },
                "popularity": {
                  "description": "The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.<br/>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.<br/>Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. _**Note**: the popularity value may lag actual popularity by a few days: the value is not updated in real time._",
                  "type": "integer",
                  "format": "int32"
                },
                "preview_url": {
                  "description": "A link to a 30 second preview (MP3 format) of the track. Can be `null`",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "track_number": {
                  "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc.",
                  "type": "integer",
                  "format": "int32"
                },
                "type": {
                  "title": "Type2",
                  "description": "The object type: \"track\".",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "track"
                  ]
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                },
                "is_local": {
                  "description": "Whether or not the track is from a local file.",
                  "type": "boolean"
                }
              }
            },
            {
              "id": "EpisodeObject",
              "title": "EpisodeObject",
              "type": "object",
              "properties": {
                "audio_preview_url": {
                  "description": "A URL to a 30 second preview (MP3 format) of the episode. `null` if not available.",
                  "example": "https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "description": {
                  "description": "A description of the episode. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.",
                  "example": "A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.\n",
                  "type": "string"
                },
                "html_description": {
                  "description": "A description of the episode. This field may contain HTML tags.",
                  "example": "<p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>\n",
                  "type": "string"
                },
                "duration_ms": {
                  "description": "The episode length in milliseconds.",
                  "example": 1686230,
                  "type": "integer",
                  "format": "int32"
                },
                "explicit": {
                  "description": "Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).",
                  "type": "boolean"
                },
                "external_urls": {
                  "$ref": "ExternalUrlObject"
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the episode.",
                  "example": "https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.",
                  "example": "5Xt5DXGzch68nYYamXrNxZ",
                  "type": "string"
                },
                "images": {
                  "description": "The cover art for the episode in various sizes, widest first.",
                  "type": "array",
                  "items": {
                    "$ref": "ImageObject"
                  }
                },
                "is_externally_hosted": {
                  "description": "True if the episode is hosted outside of Spotify's CDN.",
                  "type": "boolean"
                },
                "is_playable": {
                  "description": "True if the episode is playable in the given market. Otherwise false.",
                  "type": "boolean"
                },
                "languages": {
                  "description": "A list of the languages used in the episode, identified by their [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639) code.",
                  "example": [
                    "fr",
                    "en"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "name": {
                  "description": "The name of the episode.",
                  "example": "Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators\n",
                  "type": "string"
                },
                "release_date": {
                  "description": "The date the episode was first released, for example `\"1981-12-15\"`. Depending on the precision, it might be shown as `\"1981\"` or `\"1981-12\"`.",
                  "example": "1981-12-15",
                  "type": "string"
                },
                "release_date_precision": {
                  "$ref": "SimplifiedAlbumObject#/properties/release_date_precision"
                },
                "type": {
                  "description": "The object type.",
                  "type": "string",
                  "enum": [
                    "episode"
                  ]
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the episode.",
                  "example": "spotify:episode:0zLhl3WsOCQHbe1BPTiHgr",
                  "type": "string"
                },
                "show": {
                  "id": "ShowBase",
                  "title": "ShowBase",
                  "description": "The show on which the episode belongs.",
                  "type": "object",
                  "properties": {
                    "available_markets": {
                      "description": "A list of the countries in which the show can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "copyrights": {
                      "description": "The copyright statements of the show.",
                      "type": "array",
                      "items": {
                        "id": "CopyrightObject",
                        "title": "CopyrightObject",
                        "type": "object",
                        "properties": {
                          "text": {
                            "description": "The copyright text for this content.",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of copyright: `C` = the copyright, `P` = the sound recording (performance) copyright.",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "description": {
                      "description": "A description of the show. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.",
                      "type": "string"
                    },
                    "html_description": {
                      "description": "A description of the show. This field may contain HTML tags.",
                      "type": "string"
                    },
                    "explicit": {
                      "description": "Whether or not the show has explicit content (true = yes it does; false = no it does not OR unknown).",
                      "type": "boolean"
                    },
                    "external_urls": {
                      "$ref": "ExternalUrlObject"
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the show.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the show.",
                      "type": "string"
                    },
                    "images": {
                      "description": "The cover art for the show in various sizes, widest first.",
                      "type": "array",
                      "items": {
                        "$ref": "ImageObject"
                      }
                    },
                    "is_externally_hosted": {
                      "description": "True if all of the shows episodes are hosted outside of Spotify's CDN. This field might be `null` in some cases.",
                      "type": "boolean"
                    },
                    "languages": {
                      "description": "A list of the languages used in the show, identified by their [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "media_type": {
                      "description": "The media type of the show.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the episode.",
                      "type": "string"
                    },
                    "publisher": {
                      "description": "The publisher of the show.",
                      "type": "string"
                    },
                    "type": {
                      "description": "The object type.",
                      "type": "string",
                      "enum": [
                        "show"
                      ]
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the show.",
                      "type": "string"
                    },
                    "total_episodes": {
                      "description": "The total number of episodes in the show.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "available_markets",
                    "copyrights",
                    "description",
                    "html_description",
                    "explicit",
                    "external_urls",
                    "href",
                    "id",
                    "images",
                    "is_externally_hosted",
                    "languages",
                    "media_type",
                    "name",
                    "publisher",
                    "type",
                    "uri",
                    "total_episodes"
                  ]
                },
                "language": {
                  "description": "The language used in the episode, identified by a [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code. This field is deprecated and might be removed in the future. Please use the `languages` field instead.",
                  "example": "en",
                  "deprecated": true,
                  "type": "string"
                },
                "resume_point": {
                  "id": "ResumePointObject",
                  "title": "ResumePointObject",
                  "description": "The user's most recent position in the episode. Set if the supplied access token is a user token and has the scope 'user-read-playback-position'.",
                  "type": "object",
                  "properties": {
                    "fully_played": {
                      "description": "Whether or not the episode has been fully played by the user.",
                      "type": "boolean"
                    },
                    "resume_position_ms": {
                      "description": "The user's most recent position in the episode in milliseconds.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "restrictions": {
                  "id": "EpisodeRestrictionObject",
                  "title": "EpisodeRestrictionObject",
                  "description": "Included in the response when a content restriction is applied.",
                  "type": "object",
                  "properties": {
                    "reason": {
                      "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
                      "type": "string"
                    }
                  }
                }
              },
              "required": [
                "audio_preview_url",
                "description",
                "html_description",
                "duration_ms",
                "explicit",
                "external_urls",
                "href",
                "id",
                "images",
                "is_externally_hosted",
                "is_playable",
                "languages",
                "name",
                "release_date",
                "release_date_precision",
                "type",
                "uri",
                "show"
              ]
            }
          ]
        }
      }
    }
- QueueObject: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "QueueObject",
      "title": "QueueObject",
      "type": "object",
      "properties": {
        "currently_playing": {
          "description": "The currently playing track or episode. Can be `null`.",
          "oneOf": [
            {
              "id": "TrackObject",
              "title": "TrackObject",
              "description": "The track the user listened to.",
              "type": "object",
              "properties": {
                "album": {
                  "id": "SimplifiedAlbumObject",
                  "title": "SimplifiedAlbumObject",
                  "description": "The album on which the track appears. The album object includes a link in `href` to full information about the album.",
                  "type": "object",
                  "properties": {
                    "album_type": {
                      "title": "AlbumType",
                      "description": "The type of the album.",
                      "example": "compilation",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "album",
                        "single",
                        "compilation"
                      ]
                    },
                    "total_tracks": {
                      "description": "The number of tracks in the album.",
                      "example": 9,
                      "type": "integer",
                      "format": "int32"
                    },
                    "available_markets": {
                      "description": "The markets in which the album is available: [ISO 3166-1 alpha-2 country codes](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2). _**NOTE**: an album is considered available in a market when at least 1 of its tracks is available in that market._",
                      "example": [
                        "CA",
                        "BR",
                        "IT"
                      ],
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "external_urls": {
                      "id": "ExternalUrlObject",
                      "title": "ExternalUrlObject",
                      "description": "External URLs for this show.",
                      "type": "object",
                      "properties": {
                        "spotify": {
                          "description": "The [Spotify URL](/documentation/web-api/concepts/spotify-uris-ids) for the object.",
                          "type": "string"
                        }
                      }
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the album.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                      "example": "2up3OPMp9Tb4dAKM2erWXQ",
                      "type": "string"
                    },
                    "images": {
                      "description": "The cover art for the album in various sizes, widest first.",
                      "type": "array",
                      "items": {
                        "id": "ImageObject",
                        "title": "ImageObject",
                        "type": "object",
                        "properties": {
                          "url": {
                            "description": "The source URL of the image.",
                            "example": "https://i.scdn.co/image/ab67616d00001e02ff9ca10b55ce82ae553c8228\n",
                            "type": "string"
                          },
                          "height": {
                            "description": "The image height in pixels.",
                            "example": 300,
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          },
                          "width": {
                            "description": "The image width in pixels.",
                            "example": 300,
                            "type": [
                              "integer",
                              "null"
                            ],
                            "format": "int32"
                          }
                        },
                        "required": [
                          "url",
                          "height",
                          "width"
                        ]
                      }
                    },
                    "name": {
                      "description": "The name of the album. In case of an album takedown, the value may be an empty string.",
                      "type": "string"
                    },
                    "release_date": {
                      "description": "The date the album was first released.",
                      "example": "1981-12",
                      "type": "string"
                    },
                    "release_date_precision": {
                      "title": "ReleaseDatePrecision",
                      "description": "The precision with which `release_date` value is known.",
                      "example": "year",
                      "type": "string",
                      "additionalProperties": false,
                      "enum": [
                        "year",
                        "month",
                        "day"
                      ]
                    },
                    "type": {
                      "description": "The object type.",
                      "type": "string",
                      "enum": [
                        "album"
                      ]
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the album.",
                      "example": "spotify:album:2up3OPMp9Tb4dAKM2erWXQ",
                      "type": "string"
                    },
                    "artists": {
                      "description": "The artists of the album. Each artist object includes a link in `href` to more detailed information about the artist.",
                      "type": "array",
                      "items": {
                        "id": "SimplifiedArtistObject",
                        "title": "SimplifiedArtistObject",
                        "type": "object",
                        "properties": {
                          "external_urls": {
                            "$ref": "ExternalUrlObject"
                          },
                          "href": {
                            "description": "A link to the Web API endpoint providing full details of the artist.",
                            "type": "string"
                          },
                          "id": {
                            "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                            "type": "string"
                          },
                          "name": {
                            "description": "The name of the artist.",
                            "type": "string"
                          },
                          "type": {
                            "title": "Type",
                            "description": "The object type.",
                            "type": "string",
                            "additionalProperties": false,
                            "enum": [
                              "artist"
                            ]
                          },
                          "uri": {
                            "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "restrictions": {
                      "id": "AlbumRestrictionObject",
                      "title": "AlbumRestrictionObject",
                      "description": "Included in the response when a content restriction is applied.",
                      "type": "object",
                      "properties": {
                        "reason": {
                          "title": "Reason",
                          "description": "The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.\nAdditional reasons may be added in the future.",
                          "type": "string",
                          "additionalProperties": false,
                          "enum": [
                            "market",
                            "product",
                            "explicit"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "album_type",
                    "total_tracks",
                    "available_markets",
                    "external_urls",
                    "href",
                    "id",
                    "images",
                    "name",
                    "release_date",
                    "release_date_precision",
                    "type",
                    "uri",
                    "artists"
                  ]
                },
                "artists": {
                  "description": "The artists who performed the track. Each artist object includes a link in `href` to more detailed information about the artist.",
                  "type": "array",
                  "items": {
                    "id": "ArtistObject",
                    "title": "ArtistObject",
                    "type": "object",
                    "properties": {
                      "external_urls": {
                        "$ref": "ExternalUrlObject"
                      },
                      "followers": {
                        "id": "FollowersObject",
                        "title": "FollowersObject",
                        "description": "Information about the followers of this user.",
                        "type": "object",
                        "properties": {
                          "href": {
                            "description": "This will always be set to null, as the Web API does not support it at the moment.",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "total": {
                            "description": "The total number of followers.",
                            "type": "integer",
                            "format": "int32"
                          }
                        }
                      },
                      "genres": {
                        "description": "A list of the genres the artist is associated with. If not yet classified, the array is empty.",
                        "example": [
                          "Prog rock",
                          "Grunge"
                        ],
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "href": {
                        "description": "A link to the Web API endpoint providing full details of the artist.",
                        "type": "string"
                      },
                      "id": {
                        "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      },
                      "images": {
                        "description": "Images of the artist in various sizes, widest first.",
                        "type": "array",
                        "items": {
                          "$ref": "ImageObject"
                        }
                      },
                      "name": {
                        "description": "The name of the artist.",
                        "type": "string"
                      },
                      "popularity": {
                        "description": "The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.",
                        "type": "integer",
                        "format": "int32"
                      },
                      "type": {
                        "$ref": "SimplifiedArtistObject#/properties/type"
                      },
                      "uri": {
                        "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.",
                        "type": "string"
                      }
                    }
                  }
                },
                "available_markets": {
                  "description": "A list of the countries in which the track can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.",
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "disc_number": {
                  "description": "The disc number (usually `1` unless the album consists of more than one disc).",
                  "type": "integer",
                  "format": "int32"
                },
                "duration_ms": {
                  "description": "The track length in milliseconds.",
                  "type": "integer",
                  "format": "int32"
                },
                "explicit": {
                  "description": "Whether or not the track has explicit lyrics ( `true` = yes it does; `false` = no it does not OR unknown).",
                  "type": "boolean"
                },
                "external_ids": {
                  "id": "ExternalIdObject",
                  "title": "ExternalIdObject",
                  "description": "Known external IDs for the track.",
                  "type": "object",
                  "properties": {
                    "isrc": {
                      "description": "[International Standard Recording Code](http://en.wikipedia.org/wiki/International_Standard_Recording_Code)",
                      "type": "string"
                    },
                    "ean": {
                      "description": "[International Article Number](http://en.wikipedia.org/wiki/International_Article_Number_%28EAN%29)",
                      "type": "string"
                    },
                    "upc": {
                      "description": "[Universal Product Code](http://en.wikipedia.org/wiki/Universal_Product_Code)",
                      "type": "string"
                    }
                  }
                },
                "external_urls": {
                  "$ref": "ExternalUrlObject"
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the track.",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                },
                "is_playable": {
                  "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied. If `true`, the track is playable in the given market. Otherwise `false`.",
                  "type": "boolean"
                },
                "linked_from": {
                  "id": "LinkedTrackObject",
                  "title": "LinkedTrackObject",
                  "description": "Part of the response when [Track Relinking](/documentation/web-api/concepts/track-relinking) is applied, and the requested track has been replaced with different track. The track in the `linked_from` object contains information about the originally requested track.",
                  "type": "object",
                  "properties": {
                    "external_urls": {
                      "$ref": "ExternalUrlObject"
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the track.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                      "type": "string"
                    },
                    "type": {
                      "description": "The object type: \"track\".",
                      "type": "string"
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                      "type": "string"
                    }
                  }
                },
                "restrictions": {
                  "id": "TrackRestrictionObject",
                  "title": "TrackRestrictionObject",
                  "description": "Included in the response when a content restriction is applied.",
                  "type": "object",
                  "properties": {
                    "reason": {
                      "description": "The reason for the restriction. Supported values:\n- `market` - The content item is not available in the given market.\n- `product` - The content item is not available for the user's subscription type.\n- `explicit` - The content item is explicit and the user's account is set to not play explicit content.\n\nAdditional reasons may be added in the future.\n**Note**: If you use this field, make sure that your application safely handles unknown values.",
                      "type": "string"
                    }
                  }
                },
                "name": {
                  "description": "The name of the track.",
                  "type": "string"
                },
                "popularity": {
                  "description": "The popularity of the track. The value will be between 0 and 100, with 100 being the most popular.<br/>The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.<br/>Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. _**Note**: the popularity value may lag actual popularity by a few days: the value is not updated in real time._",
                  "type": "integer",
                  "format": "int32"
                },
                "preview_url": {
                  "description": "A link to a 30 second preview (MP3 format) of the track. Can be `null`",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "track_number": {
                  "description": "The number of the track. If an album has several discs, the track number is the number on the specified disc.",
                  "type": "integer",
                  "format": "int32"
                },
                "type": {
                  "title": "Type2",
                  "description": "The object type: \"track\".",
                  "type": "string",
                  "additionalProperties": false,
                  "enum": [
                    "track"
                  ]
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.",
                  "type": "string"
                },
                "is_local": {
                  "description": "Whether or not the track is from a local file.",
                  "type": "boolean"
                }
              }
            },
            {
              "id": "EpisodeObject",
              "title": "EpisodeObject",
              "type": "object",
              "properties": {
                "audio_preview_url": {
                  "description": "A URL to a 30 second preview (MP3 format) of the episode. `null` if not available.",
                  "example": "https://p.scdn.co/mp3-preview/2f37da1d4221f40b9d1a98cd191f4d6f1646ad17",
                  "type": [
                    "string",
                    "null"
                  ]
                },
                "description": {
                  "description": "A description of the episode. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.",
                  "example": "A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.\n",
                  "type": "string"
                },
                "html_description": {
                  "description": "A description of the episode. This field may contain HTML tags.",
                  "example": "<p>A Spotify podcast sharing fresh insights on important topics of the moment—in a way only Spotify can. You’ll hear from experts in the music, podcast and tech industries as we discover and uncover stories about our work and the world around us.</p>\n",
                  "type": "string"
                },
                "duration_ms": {
                  "description": "The episode length in milliseconds.",
                  "example": 1686230,
                  "type": "integer",
                  "format": "int32"
                },
                "explicit": {
                  "description": "Whether or not the episode has explicit content (true = yes it does; false = no it does not OR unknown).",
                  "type": "boolean"
                },
                "external_urls": {
                  "$ref": "ExternalUrlObject"
                },
                "href": {
                  "description": "A link to the Web API endpoint providing full details of the episode.",
                  "example": "https://api.spotify.com/v1/episodes/5Xt5DXGzch68nYYamXrNxZ",
                  "type": "string"
                },
                "id": {
                  "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the episode.",
                  "example": "5Xt5DXGzch68nYYamXrNxZ",
                  "type": "string"
                },
                "images": {
                  "description": "The cover art for the episode in various sizes, widest first.",
                  "type": "array",
                  "items": {
                    "$ref": "ImageObject"
                  }
                },
                "is_externally_hosted": {
                  "description": "True if the episode is hosted outside of Spotify's CDN.",
                  "type": "boolean"
                },
                "is_playable": {
                  "description": "True if the episode is playable in the given market. Otherwise false.",
                  "type": "boolean"
                },
                "languages": {
                  "description": "A list of the languages used in the episode, identified by their [ISO 639-1](https://en.wikipedia.org/wiki/ISO_639) code.",
                  "example": [
                    "fr",
                    "en"
                  ],
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "name": {
                  "description": "The name of the episode.",
                  "example": "Starting Your Own Podcast: Tips, Tricks, and Advice From Anchor Creators\n",
                  "type": "string"
                },
                "release_date": {
                  "description": "The date the episode was first released, for example `\"1981-12-15\"`. Depending on the precision, it might be shown as `\"1981\"` or `\"1981-12\"`.",
                  "example": "1981-12-15",
                  "type": "string"
                },
                "release_date_precision": {
                  "$ref": "SimplifiedAlbumObject#/properties/release_date_precision"
                },
                "type": {
                  "description": "The object type.",
                  "type": "string",
                  "enum": [
                    "episode"
                  ]
                },
                "uri": {
                  "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the episode.",
                  "example": "spotify:episode:0zLhl3WsOCQHbe1BPTiHgr",
                  "type": "string"
                },
                "show": {
                  "id": "ShowBase",
                  "title": "ShowBase",
                  "description": "The show on which the episode belongs.",
                  "type": "object",
                  "properties": {
                    "available_markets": {
                      "description": "A list of the countries in which the show can be played, identified by their [ISO 3166-1 alpha-2](http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "copyrights": {
                      "description": "The copyright statements of the show.",
                      "type": "array",
                      "items": {
                        "id": "CopyrightObject",
                        "title": "CopyrightObject",
                        "type": "object",
                        "properties": {
                          "text": {
                            "description": "The copyright text for this content.",
                            "type": "string"
                          },
                          "type": {
                            "description": "The type of copyright: `C` = the copyright, `P` = the sound recording (performance) copyright.",
                            "type": "string"
                          }
                        }
                      }
                    },
                    "description": {
                      "description": "A description of the show. HTML tags are stripped away from this field, use `html_description` field in case HTML tags are needed.",
                      "type": "string"
                    },
                    "html_description": {
                      "description": "A description of the show. This field may contain HTML tags.",
                      "type": "string"
                    },
                    "explicit": {
                      "description": "Whether or not the show has explicit content (true = yes it does; false = no it does not OR unknown).",
                      "type": "boolean"
                    },
                    "external_urls": {
                      "$ref": "ExternalUrlObject"
                    },
                    "href": {
                      "description": "A link to the Web API endpoint providing full details of the show.",
                      "type": "string"
                    },
                    "id": {
                      "description": "The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the show.",
                      "type": "string"
                    },
                    "images": {
                      "description": "The cover art for the show in various sizes, widest first.",
                      "type": "array",
                      "items": {
                        "$ref": "ImageObject"
                      }
                    },
                    "is_externally_hosted": {
                      "description": "True if all of the shows episodes are hosted outside of Spotify's CDN. This field might be `null` in some cases.",
                      "type": "boolean"
                    },
                    "languages": {
                      "description": "A list of the languages used in the show, identified by their [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code.",
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "media_type": {
                      "description": "The media type of the show.",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the episode.",
                      "type": "string"
                    },
                    "publisher": {
                      "description": "The publisher of the show.",
                      "type": "string"
                    },
                    "type": {
                      "description": "The object type.",
                      "type": "string",
                      "enum": [
                        "show"
                      ]
                    },
                    "uri": {
                      "description": "The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the show.",
                      "type": "string"
                    },
                    "total_episodes": {
                      "description": "The total number of episodes in the show.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "required": [
                    "available_markets",
                    "copyrights",
                    "description",
                    "html_description",
                    "explicit",
                    "external_urls",
                    "href",
                    "id",
                    "images",
                    "is_externally_hosted",
                    "languages",
                    "media_type",
                    "name",
                    "publisher",
                    "type",
                    "uri",
                    "total_episodes"
                  ]
                },
                "language": {
                  "description": "The language used in the episode, identified by a [ISO 639](https://en.wikipedia.org/wiki/ISO_639) code. This field is deprecated and might be removed in the future. Please use the `languages` field instead.",
                  "example": "en",
                  "deprecated": true,
                  "type": "string"
                },
                "resume_point": {
                  "id": "ResumePointObject",
                  "title": "ResumePointObject",
                  "description": "The user's most recent position in the episode. Set if the supplied access token is a user token and has the scope 'user-read-playback-position'.",
                  "type": "object",
                  "properties": {
                    "fully_played": {
                      "description": "Whether or not the episode has been fully played by the user.",
                      "type": "boolean"
                    },
                    "resume_position_ms": {
                      "description": "The user's most recent position in the episode in milliseconds.",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "restrictions": {
                  "id": "EpisodeRestrictionObject",
                  "title": "EpisodeRestrictionObject",
                  "description": "Included in the response when a content restriction is applied.",
[...]
