FORMAT: 1A
HOST: https://api.spotify.com/v1

# Spotify Web API with fixes and improvements from sonallux
You can use Spotify's Web API to discover music and podcasts, manage your Spotify library, control audio playback, and much more. Browse our available Web API endpoints using the sidebar at left, or via the navigation bar on top of this page on smaller screens.

In order to make successful Web API requests your app will need a valid access token. One can be obtained through <a href="https://developer.spotify.com/documentation/general/guides/authorization-guide/">OAuth 2.0</a>.

The base URI for all Web API requests is `https://api.spotify.com/v1`.

Need help? See our <a href="https://developer.spotify.com/documentation/web-api/guides/">Web API guides</a> for more information, or visit the <a href="https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer">Spotify for Developers community forum</a> to ask questions and connect with other developers.


## Authentication
This API uses OAuth v2 Authorization Code Grant for its authentication.

The properties required for this OAuth implentation are as follows:
+ Access Token Url - /api/token
+ Authorization Url - /authorize

# Group Albums

## Albums By Id [/albums/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 4aawyAB9vmqN3uQ7FjRGTy

### getanalbum [GET]
Get Spotify catalog information for a single album.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        An album

    + Attributes (AlbumObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Albums [/albums{?ids,market}]

### getmultiplealbums [GET]
Get Spotify catalog information for multiple albums identified by their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of albums

    + Attributes (ManyAlbums)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Albums Tracks By Id [/albums/{id}/tracks{?market,limit,offset}]

+ Parameters
    + id (string, required)

        + Sample: 4aawyAB9vmqN3uQ7FjRGTy

### getanalbumstracks [GET]
Get Spotify catalog information about an album’s tracks.
Optional parameters can be used to limit the number of tracks returned.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of tracks

    + Attributes (PagingSimplifiedTrackObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Albums [/me/albums{?limit,offset,market}]

### getuserssavedalbums [GET]
Get a list of the albums saved in the current Spotify user's 'Your Music' library.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        Pages of albums

    + Attributes (PagingSavedAlbumObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Albums [/me/albums{?ids}]

### savealbumsuser [PUT]
Save one or more albums to the current user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc

+ Request (<<Add Header Value>>)

    + Attributes (Me Albums Request)



+ Response 200 

        The album is saved




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### removealbumsuser [DELETE]
Remove one or more albums from the current user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc

+ Request (<<Add Header Value>>)

    + Attributes (Me Albums Request)



+ Response 200 

        Album(s) have been removed from the library




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Albums Contains [/me/albums/contains{?ids}]

### checkuserssavedalbums [GET]
Check if one or more albums is already saved in the current Spotify user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 382ObEPsp2rxGrnsizN5TX,1A2GTWGtFfWp7KSQTwWOyo,2noRn2Aes5aoNVsU6iWThc

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Browse New Releases [/browse/new-releases{?limit,offset}]

### getnewreleases [GET]
Get a list of new album releases featured in Spotify (shown, for example, on a Spotify player’s “Browse” tab).
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of albums

    + Attributes (PagedAlbums)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Artists

## Artists By Id [/artists/{id}]

+ Parameters
    + id (string, required)

        + Sample: 0TnOYISbd1XYRBk9myaseg

### getanartist [GET]
Get Spotify catalog information for a single artist identified by their unique Spotify ID.

+ Response 200 (application/json)

        An artist

    + Attributes (ArtistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Artists [/artists{?ids}]

### getmultipleartists [GET]
Get Spotify catalog information for several artists based on their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6

+ Response 200 (application/json)

        A set of artists

    + Attributes (ManyArtists)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Artists Albums By Id [/artists/{id}/albums{?include_groups,market,limit,offset}]

+ Parameters
    + id (string, required)

        + Sample: 0TnOYISbd1XYRBk9myaseg

### getanartistsalbums [GET]
Get Spotify catalog information about an artist's albums.
+ Parameters
    + include_groups (string, optional)

        + Sample: single,appears_on
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of albums

    + Attributes (PagingArtistDiscographyAlbumObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Artists Top Tracks By Id [/artists/{id}/top-tracks{?market}]

+ Parameters
    + id (string, required)

        + Sample: 0TnOYISbd1XYRBk9myaseg

### getanartiststoptracks [GET]
Get Spotify catalog information about an artist's top tracks by country.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of tracks

    + Attributes (ManyTracks)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Artists Related Artists By Id [/artists/{id}/related-artists]

+ Parameters
    + id (string, required)

        + Sample: 0TnOYISbd1XYRBk9myaseg

### getanartistsrelatedartists [GET]
Get Spotify catalog information about artists similar to a given artist. Similarity is based on analysis of the Spotify community's listening history.

+ Response 200 (application/json)

        A set of artists

    + Attributes (ManyArtists)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Audiobooks

## Audiobooks By Id [/audiobooks/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 7iHfbu1YPACw6oZPAFJtqe

### getanaudiobook [GET]
Get Spotify catalog information for a single audiobook. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        An Audiobook

    + Attributes (AudiobookObject)



+ Response 400 (application/json)

        The request contains malformed data in path, query parameters, or body.

    + Attributes (BadRequest1)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 404 (application/json)

        The requested resource cannot be found.

    + Attributes (NotFound1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Audiobooks [/audiobooks{?ids,market}]

### getmultipleaudiobooks [GET]
Get Spotify catalog information for several audiobooks identified by their Spotify IDs. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + ids (string, required)

        + Sample: 18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of audiobooks. If one of the requested audiobooks is unavailable then you'll find a `null` item in the `audiobooks` array where the audiobook object would otherwise be.

    + Attributes (ManyAudiobooks)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Audiobooks Chapters By Id [/audiobooks/{id}/chapters{?market,limit,offset}]

+ Parameters
    + id (string, required)

        + Sample: 7iHfbu1YPACw6oZPAFJtqe

### getaudiobookchapters [GET]
Get Spotify catalog information about an audiobook's chapters. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of chapters

    + Attributes (PagingSimplifiedChapterObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Audiobooks [/me/audiobooks{?limit,offset}]

### getuserssavedaudiobooks [GET]
Get a list of the audiobooks saved in the current Spotify user's 'Your Music' library.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of saved audiobooks

    + Attributes (PagingSavedAudiobookObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Audiobooks [/me/audiobooks{?ids}]

### saveaudiobooksuser [PUT]
Save one or more audiobooks to the current Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe

+ Response 200 

        Audiobook(s) are saved to the library




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### removeaudiobooksuser [DELETE]
Remove one or more audiobooks from the Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe

+ Response 200 

        Audiobook(s) have been removed from the library




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Audiobooks Contains [/me/audiobooks/contains{?ids}]

### checkuserssavedaudiobooks [GET]
Check if one or more audiobooks are already saved in the current Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 18yVqkdbdRvS24c0Ilj2ci,1HGw3J3NxZO1TP1BTtVhpZ,7iHfbu1YPACw6oZPAFJtqe

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Categories

## Browse Categories [/browse/categories{?locale,limit,offset}]

### getcategories [GET]
Get a list of categories used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
+ Parameters
    + locale (string, optional)

        + Sample: sv_SE
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of categories

    + Attributes (PagedCategories)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Browse Categories By Category Id [/browse/categories/{category_id}{?locale}]

+ Parameters
    + category_id (string, required)

        + Sample: dinner

### getacategory [GET]
Get a single category used to tag items in Spotify (on, for example, the Spotify player’s “Browse” tab).
+ Parameters
    + locale (string, optional)

        + Sample: sv_SE

+ Response 200 (application/json)

        A category

    + Attributes (CategoryObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Chapters

## Chapters By Id [/chapters/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 0D5wENdkdwbqlrHoaJ9g29

### getachapter [GET]
Get Spotify catalog information for a single audiobook chapter. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A Chapter

    + Attributes (ChapterObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Chapters [/chapters{?ids,market}]

### getseveralchapters [GET]
Get Spotify catalog information for several audiobook chapters identified by their Spotify IDs. Chapters are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + ids (string, required)

        + Sample: 0IsXVP0JmcB2adSE338GkK,3ZXb8FKZGU0EHALYX6uCzU,0D5wENdkdwbqlrHoaJ9g29
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of chapters

    + Attributes (ManyChapters)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Episodes

## Episodes By Id [/episodes/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 512ojhOuo1ktJprKbVcKyQ

### getanepisode [GET]
Get Spotify catalog information for a single episode identified by its
unique Spotify ID.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        An episode

    + Attributes (EpisodeObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Episodes [/episodes{?ids,market}]

### getmultipleepisodes [GET]
Get Spotify catalog information for several episodes based on their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of episodes

    + Attributes (ManyEpisodes)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Episodes [/me/episodes{?market,limit,offset}]

### getuserssavedepisodes [GET]
Get a list of the episodes saved in the current Spotify user's library.<br/>
This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
+ Parameters
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of episodes

    + Attributes (PagingSavedEpisodeObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Episodes [/me/episodes{?ids}]

### saveepisodesuser [PUT]
Save one or more episodes to the current user's library.<br/>
This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
+ Parameters
    + ids (string, required)

        + Sample: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf

+ Request (<<Add Header Value>>)

    + Attributes (Me Episodes Request)



+ Response 200 

        Episode saved




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### removeepisodesuser [DELETE]
Remove one or more episodes from the current user's library.<br/>
This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer).
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B

+ Request (<<Add Header Value>>)

    + Attributes (Me Episodes Request1)



+ Response 200 

        Episode removed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Episodes Contains [/me/episodes/contains{?ids}]

### checkuserssavedepisodes [GET]
Check if one or more episodes is already saved in the current Spotify user's 'Your Episodes' library.<br/>
This API endpoint is in __beta__ and could change without warning. Please share any feedback that you have, or issues that you discover, in our [developer community forum](https://community.spotify.com/t5/Spotify-for-Developers/bd-p/Spotify_Developer)..
+ Parameters
    + ids (string, required)

        + Sample: 77o6BIVlYM3msb4MMIL1jH,0Q86acNRm6V9GYx55SXKwf

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Genres

## Recommendations Available Genre Seeds [/recommendations/available-genre-seeds]

### getrecommendationgenres [GET]
Retrieve a list of available genres seed parameter values for [recommendations](/documentation/web-api/reference/get-recommendations).

+ Response 200 (application/json)

        A set of genres

    + Attributes (ManyGenres)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Markets

## Markets [/markets]

### getavailablemarkets [GET]
Get the list of markets where Spotify is available.

+ Response 200 (application/json)

        A markets object with an array of country codes

    + Attributes (Markets)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Player

## Me Player [/me/player{?market,additional_types}]

### getinformationabouttheuserscurrentplayback [GET]
Get information about the user’s current playback state, including track or episode, progress, and active device.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + additional_types (string, optional)


+ Response 200 (application/json)

        Information about playback

    + Attributes (CurrentlyPlayingContextObject)



+ Response 204 

        Playback not available or active




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player [/me/player]

### transferausersplayback [PUT]
Transfer playback to a new device and optionally begin playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.

+ Request (<<Add Header Value>>)

    + Attributes (Me Player Request)



+ Response 204 

        Playback transferred




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Devices [/me/player/devices]

### getausersavailabledevices [GET]
Get information about a user’s available Spotify Connect devices. Some device models are not supported and will not be listed in the API response.

+ Response 200 (application/json)

        A set of devices

    + Attributes (ManyDevices)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Currently Playing [/me/player/currently-playing{?market,additional_types}]

### gettheuserscurrentlyplayingtrack [GET]
Get the object currently being played on the user's Spotify account.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + additional_types (string, optional)


+ Response 200 (application/json)

        Information about the currently playing track

    + Attributes (CurrentlyPlayingObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Play [/me/player/play{?device_id}]

### startausersplayback [PUT]
Start a new context or resume current playback on the user's active device. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Request (<<Add Header Value>>)

    + Attributes (Me Player Play Request)



+ Response 204 

        Playback started




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Pause [/me/player/pause{?device_id}]

### pauseausersplayback [PUT]
Pause playback on the user's account. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Playback paused




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Next [/me/player/next{?device_id}]

### skipusersplaybacktonexttrack [POST]
Skips to next track in the user’s queue. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Previous [/me/player/previous{?device_id}]

### skipusersplaybacktoprevioustrack [POST]
Skips to previous track in the user’s queue. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Seek [/me/player/seek{?position_ms,device_id}]

### seektopositionincurrentlyplayingtrack [PUT]
Seeks to the given position in the user’s currently playing track. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + position_ms (number, required)

        + Sample: 25000
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Repeat [/me/player/repeat{?state,device_id}]

### setrepeatmodeonusersplayback [PUT]
Set the repeat mode for the user's playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + state (string, required)

        + Sample: context
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Volume [/me/player/volume{?volume_percent,device_id}]

### setvolumeforusersplayback [PUT]
Set the volume for the user’s current playback device. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + volume_percent (number, required)

        + Sample: 50
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Shuffle [/me/player/shuffle{?state,device_id}]

### toggleshuffleforusersplayback [PUT]
Toggle shuffle on or off for user’s playback. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + state (boolean, required)

        + Sample: true
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command sent




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Recently Played [/me/player/recently-played{?limit,after,before}]

### getrecentlyplayed [GET]
Get tracks from the current user's recently played tracks.
_**Note**: Currently doesn't support podcast episodes._
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + after (number, optional)

        + Sample: 1484811043508
    + before (number, optional)


+ Response 200 (application/json)

        A paged set of tracks

    + Attributes (CursorPagingPlayHistoryObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Queue [/me/player/queue]

### getqueue [GET]
Get the list of objects that make up the user's queue.

+ Response 200 (application/json)

        Information about the queue

    + Attributes (QueueObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Player Queue [/me/player/queue{?uri,device_id}]

### addtoqueue [POST]
Add an item to the end of the user's current playback queue. This API only works for users who have Spotify Premium. The order of execution is not guaranteed when you use this API with other Player API endpoints.
+ Parameters
    + uri (string, required)

        + Sample: spotify:track:4iV5W9uYEdYUVa79Axb7Rh
    + device_id (string, optional)

        + Sample: 0d1841b0976bae2a3a310dd74c0f3df354899bc8

+ Response 204 

        Command received




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Playlists

## Playlists By Playlist Id [/playlists/{playlist_id}{?market,fields,additional_types}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### getplaylist [GET]
Get a playlist owned by a Spotify user.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + fields (string, optional)

        + Sample: items(added_by.id,track(name,href,album(name,href)))
    + additional_types (string, optional)


+ Response 200 (application/json)

        A playlist

    + Attributes (PlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists By Playlist Id [/playlists/{playlist_id}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### changeplaylistdetails [PUT]
Change a playlist's name and public/private state. (The user must, of
course, own the playlist.)

+ Request (<<Add Header Value>>)

    + Attributes (Playlists Request)



+ Response 200 

        Playlist updated




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Tracks By Playlist Id [/playlists/{playlist_id}/tracks{?market,fields,limit,offset,additional_types}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### getplayliststracks [GET]
Get full details of the items of a playlist owned by a Spotify user.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + fields (string, optional)

        + Sample: items(added_by.id,track(name,href,album(name,href)))
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5
    + additional_types (string, optional)


+ Response 200 (application/json)

        Pages of tracks

    + Attributes (PagingPlaylistTrackObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Tracks By Playlist Id [/playlists/{playlist_id}/tracks{?position,uris}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### addtrackstoplaylist [POST]
Add one or more items to a user's playlist.
+ Parameters
    + position (number, optional)

        + Sample: 0
    + uris (string, optional)

        + Sample: spotify:track:4iV5W9uYEdYUVa79Axb7Rh,spotify:track:1301WleyT98MSxVHPZCA6M

+ Request (<<Add Header Value>>)

    + Attributes (Playlists Tracks Request)



+ Response 201 (application/json)

        A snapshot ID for the playlist

    + Attributes (PlaylistSnapshotId)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Tracks By Playlist Id [/playlists/{playlist_id}/tracks{?uris}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### reorderorreplaceplayliststracks [PUT]
Either reorder or replace items in a playlist depending on the request's parameters.
To reorder items, include `range_start`, `insert_before`, `range_length` and `snapshot_id` in the request's body.
To replace items, include `uris` as either a query parameter or in the request's body.
Replacing items in a playlist will overwrite its existing items. This operation can be used for replacing or clearing items in a playlist.
<br/>
**Note**: Replace and reorder are mutually exclusive operations which share the same endpoint, but have different parameters.
These operations can't be applied together in a single request.
+ Parameters
    + uris (string, optional)


+ Request (<<Add Header Value>>)

    + Attributes (Playlists Tracks Request1)



+ Response 200 (application/json)

        A snapshot ID for the playlist

    + Attributes (PlaylistSnapshotId)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Tracks By Playlist Id [/playlists/{playlist_id}/tracks]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### removetracksplaylist [DELETE]
Remove one or more items from a user's playlist.

+ Request (<<Add Header Value>>)

    + Attributes (Playlists Tracks Request2)



+ Response 200 (application/json)

        A snapshot ID for the playlist

    + Attributes (PlaylistSnapshotId)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Playlists [/me/playlists{?limit,offset}]

### getalistofcurrentusersplaylists [GET]
Get a list of the playlists owned or followed by the current Spotify
user.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of playlists

    + Attributes (PagingPlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Users Playlists By User Id [/users/{user_id}/playlists{?limit,offset}]

+ Parameters
    + user_id (string, required)

        + Sample: smedjan

### getlistusersplaylists [GET]
Get a list of the playlists owned or followed by a Spotify user.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of playlists

    + Attributes (PagingPlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Users Playlists By User Id [/users/{user_id}/playlists]

+ Parameters
    + user_id (string, required)

        + Sample: smedjan

### createplaylist [POST]
Create a playlist for a Spotify user. (The playlist will be empty until
you [add tracks](/documentation/web-api/reference/add-tracks-to-playlist).)
Each user is generally limited to a maximum of 11000 playlists.

+ Request (<<Add Header Value>>)

    + Attributes (Users Playlists Request)



+ Response 201 (application/json)

        A playlist

    + Attributes (PlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Browse Featured Playlists [/browse/featured-playlists{?locale,limit,offset}]

### getfeaturedplaylists [GET]
Get a list of Spotify featured playlists (shown, for example, on a Spotify player's 'Browse' tab).
+ Parameters
    + locale (string, optional)

        + Sample: sv_SE
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of playlists

    + Attributes (PagingFeaturedPlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Browse Categories Playlists [/browse/categories/{category_id}/playlists{?limit,offset}]

+ Parameters
    + category_id (string, required)

        + Sample: dinner

### getacategoriesplaylists [GET]
Get a list of Spotify playlists tagged with a particular category.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        A paged set of playlists

    + Attributes (PagingFeaturedPlaylistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Images By Playlist Id [/playlists/{playlist_id}/images]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### getplaylistcover [GET]
Get the current image associated with a specific playlist.

+ Response 200 (application/json)

        A set of images

    + Attributes (array[ImageObject])



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### uploadcustomplaylistcover [PUT]
Replace the image used to represent a specific playlist.

+ Request 

    + Attributes (string)



+ Response 202 

        Image uploaded




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Search

## Search [/search{?q,type,market,limit,offset,include_external}]

### search [GET]
Get Spotify catalog information about albums, artists, playlists, tracks, shows, episodes or audiobooks
that match a keyword string. Audiobooks are only available within the US, UK, Canada, Ireland, New Zealand and Australia markets.
+ Parameters
    + q (string, required)

        + Sample: remaster%20track:Doxy%20artist:Miles%20Davis
    + type (array[string], required)

        + Members
            + `album` 
            + `artist` 
            + `playlist` 
            + `track` 
            + `show` 
            + `episode` 
            + `audiobook` 

    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5
    + include_external (enum[string], optional)

        + Members
            + `audio` 


+ Response 200 (application/json)

        Search response

    + Attributes (SearchItems)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Shows

## Shows By Id [/shows/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 38bS44xjbVVZ3No3ByF1dJ

### getashow [GET]
Get Spotify catalog information for a single show identified by its
unique Spotify ID.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A show

    + Attributes (ShowObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Shows [/shows{?ids,market}]

### getmultipleshows [GET]
Get Spotify catalog information for several shows based on their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of shows

    + Attributes (ManySimplifiedShows)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Shows Episodes By Id [/shows/{id}/episodes{?market,limit,offset}]

+ Parameters
    + id (string, required)

        + Sample: 38bS44xjbVVZ3No3ByF1dJ

### getashowsepisodes [GET]
Get Spotify catalog information about an show’s episodes. Optional parameters can be used to limit the number of episodes returned.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of episodes

    + Attributes (PagingSimplifiedEpisodeObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Shows [/me/shows{?limit,offset}]

### getuserssavedshows [GET]
Get a list of shows saved in the current Spotify user's library. Optional parameters can be used to limit the number of shows returned.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



+ Response 200 (application/json)

        Pages of shows

    + Attributes (PagingSavedShowObject)




## Me Shows [/me/shows{?ids}]

### saveshowsuser [PUT]
Save one or more shows to current Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ

+ Request (<<Add Header Value>>)

    + Attributes (Me Shows Request)



+ Response 200 

        Show saved




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Shows [/me/shows{?ids,market}]

### removeshowsuser [DELETE]
Delete one or more shows from current Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ
    + market (string, optional)

        + Sample: ES

+ Request (<<Add Header Value>>)

    + Attributes (Me Shows Request)



+ Response 200 

        Show removed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Shows Contains [/me/shows/contains{?ids}]

### checkuserssavedshows [GET]
Check if one or more shows is already saved in the current Spotify user's library.
+ Parameters
    + ids (string, required)

        + Sample: 5CfCWKI5pZ28U0uOzXkDHe,5as3aKmN2k11yfDDDSrvaZ

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Tracks

## Tracks By Id [/tracks/{id}{?market}]

+ Parameters
    + id (string, required)

        + Sample: 11dFghVXANMlKmJXsNCbNl

### gettrack [GET]
Get Spotify catalog information for a single track identified by its
unique Spotify ID.
+ Parameters
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A track

    + Attributes (TrackObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Tracks [/tracks{?ids,market}]

### getseveraltracks [GET]
Get Spotify catalog information for multiple tracks based on their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B
    + market (string, optional)

        + Sample: ES

+ Response 200 (application/json)

        A set of tracks

    + Attributes (ManyTracks)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Tracks [/me/tracks{?market,limit,offset}]

### getuserssavedtracks [GET]
Get a list of the songs saved in the current Spotify user's 'Your Music' library.
+ Parameters
    + market (string, optional)

        + Sample: ES
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of tracks

    + Attributes (PagingSavedTrackObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Tracks [/me/tracks{?ids}]

### savetracksuser [PUT]
Save one or more tracks to the current user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B

+ Request (<<Add Header Value>>)

    + Attributes (Me Tracks Request)



+ Response 200 

        Track saved




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### removetracksuser [DELETE]
Remove one or more tracks from the current user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B

+ Request (<<Add Header Value>>)

    + Attributes (Me Tracks Request1)



+ Response 200 

        Track removed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Tracks Contains [/me/tracks/contains{?ids}]

### checkuserssavedtracks [GET]
Check if one or more tracks is already saved in the current Spotify user's 'Your Music' library.
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Audio Features [/audio-features{?ids}]

### getseveralaudiofeatures [GET]
Get audio features for multiple tracks based on their Spotify IDs.
+ Parameters
    + ids (string, required)

        + Sample: 7ouMYWpwJ422jRcDASZB7P,4VqPOruhp5EdPBeR92t6lQ,2takcwOaAZWiXQijPHIx7B

+ Response 200 (application/json)

        A set of audio features

    + Attributes (ManyAudioFeatures)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Audio Features By Id [/audio-features/{id}]

+ Parameters
    + id (string, required)

        + Sample: 11dFghVXANMlKmJXsNCbNl

### getaudiofeatures [GET]
Get audio feature information for a single track identified by its unique
Spotify ID.

+ Response 200 (application/json)

        Audio features for one track

    + Attributes (AudioFeaturesObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Audio Analysis By Id [/audio-analysis/{id}]

+ Parameters
    + id (string, required)

        + Sample: 11dFghVXANMlKmJXsNCbNl

### getaudioanalysis [GET]
Get a low-level audio analysis for a track in the Spotify catalog. The audio analysis describes the track’s structure and musical content, including rhythm, pitch, and timbre.

+ Response 200 (application/json)

        Audio analysis for one track

    + Attributes (AudioAnalysisObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Recommendations [/recommendations{?limit,market,seed_artists,seed_genres,seed_tracks,min_acousticness,max_acousticness,target_acousticness,min_danceability,max_danceability,target_danceability,min_duration_ms,max_duration_ms,target_duration_ms,min_energy,max_energy,target_energy,min_instrumentalness,max_instrumentalness,target_instrumentalness,min_key,max_key,target_key,min_liveness,max_liveness,target_liveness,min_loudness,max_loudness,target_loudness,min_mode,max_mode,target_mode,min_popularity,max_popularity,target_popularity,min_speechiness,max_speechiness,target_speechiness,min_tempo,max_tempo,target_tempo,min_time_signature,max_time_signature,target_time_signature,min_valence,max_valence,target_valence}]

### getrecommendations [GET]
Recommendations are generated based on the available information for a given seed entity and matched against similar artists and tracks. If there is sufficient information about the provided seeds, a list of tracks will be returned together with pool size details.

For artists and tracks that are very new or obscure there might not be enough data to generate a list of tracks.
+ Parameters
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + market (string, optional)

        + Sample: ES
    + seed_artists (string, optional)

        + Sample: 4NHQUGzhtTLFvgF5SZesLK
    + seed_genres (string, optional)

        + Sample: classical,country
    + seed_tracks (string, optional)

        + Sample: 0c6xIDDpzE81m2q797ordA
    + min_acousticness (number, optional)

    + max_acousticness (number, optional)

    + target_acousticness (number, optional)

    + min_danceability (number, optional)

    + max_danceability (number, optional)

    + target_danceability (number, optional)

    + min_duration_ms (number, optional)

    + max_duration_ms (number, optional)

    + target_duration_ms (number, optional)

    + min_energy (number, optional)

    + max_energy (number, optional)

    + target_energy (number, optional)

    + min_instrumentalness (number, optional)

    + max_instrumentalness (number, optional)

    + target_instrumentalness (number, optional)

    + min_key (number, optional)

    + max_key (number, optional)

    + target_key (number, optional)

    + min_liveness (number, optional)

    + max_liveness (number, optional)

    + target_liveness (number, optional)

    + min_loudness (number, optional)

    + max_loudness (number, optional)

    + target_loudness (number, optional)

    + min_mode (number, optional)

    + max_mode (number, optional)

    + target_mode (number, optional)

    + min_popularity (number, optional)

    + max_popularity (number, optional)

    + target_popularity (number, optional)

    + min_speechiness (number, optional)

    + max_speechiness (number, optional)

    + target_speechiness (number, optional)

    + min_tempo (number, optional)

    + max_tempo (number, optional)

    + target_tempo (number, optional)

    + min_time_signature (number, optional)

    + max_time_signature (number, optional)

    + target_time_signature (number, optional)

    + min_valence (number, optional)

    + max_valence (number, optional)

    + target_valence (number, optional)


+ Response 200 (application/json)

        A set of recommendations

    + Attributes (RecommendationsObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Group Users

## Me [/me]

### getcurrentusersprofile [GET]
Get detailed profile information about the current user (including the
current user's username).

+ Response 200 (application/json)

        A user

    + Attributes (PrivateUserObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Users By User Id [/users/{user_id}]

+ Parameters
    + user_id (string, required)

        + Sample: smedjan

### getusersprofile [GET]
Get public profile information about a Spotify user.

+ Response 200 (application/json)

        A user

    + Attributes (PublicUserObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Followers By Playlist Id [/playlists/{playlist_id}/followers]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### followplaylist [PUT]
Add the current user as a follower of a playlist.

+ Request (<<Add Header Value>>)

    + Attributes (Playlists Followers Request)



+ Response 200 

        Playlist followed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### unfollowplaylist [DELETE]
Remove the current user as a follower of a playlist.

+ Response 200 

        Playlist unfollowed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Following [/me/following{?type,after,limit}]

### getfollowed [GET]
Get the current user's followed artists.
+ Parameters
    + type (enum[string], required)

        + Sample: artist
        + Members
            + `artist` 

    + after (string, optional)

        + Sample: 0I2XqVXqHScXjHhk6AYYRe
    + limit (number, optional) -

        + Default: 20
        + Sample: 10

+ Response 200 (application/json)

        A paged set of artists

    + Attributes (CursorPagedArtists)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Following [/me/following{?type,ids}]

### followartistsusers [PUT]
Add the current user as a follower of one or more artists or other Spotify users.
+ Parameters
    + type (enum[string], required)

        + Sample: artist
        + Members
            + `artist` 
            + `user` 

    + ids (string, required)

        + Sample: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6

+ Request (<<Add Header Value>>)

    + Attributes (Me Following Request)



+ Response 204 

        Artist or user followed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)



### unfollowartistsusers [DELETE]
Remove the current user as a follower of one or more artists or other Spotify users.
+ Parameters
    + type (enum[string], required)

        + Sample: artist
        + Members
            + `artist` 
            + `user` 

    + ids (string, required)

        + Sample: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6

+ Request (<<Add Header Value>>)

    + Attributes (Me Following Request1)



+ Response 200 

        Artist or user unfollowed




+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Following Contains [/me/following/contains{?type,ids}]

### checkcurrentuserfollows [GET]
Check to see if the current user is following one or more artists or other Spotify users.
+ Parameters
    + type (enum[string], required)

        + Sample: artist
        + Members
            + `artist` 
            + `user` 

    + ids (string, required)

        + Sample: 2CIMQHirSU0MQqyYHq0eOx,57dN52uHvrHOxijzpIgu3E,1vCWHaC5f2uS3yhpwWbIA6

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Playlists Followers Contains [/playlists/{playlist_id}/followers/contains{?ids}]

+ Parameters
    + playlist_id (string, required)

        + Sample: 3cEYpjA9oz9GiPac4AsH4n

### checkifuserfollowsplaylist [GET]
Check to see if one or more Spotify users are following a specified playlist.
+ Parameters
    + ids (string, required)

        + Sample: jmperezperez,thelinmichael,wizzler

+ Response 200 (application/json)

        Array of booleans

    + Attributes (array[boolean])


    + Body

            [
              false,
              true
            ]


+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Top Artists [/me/top/artists{?time_range,limit,offset}]

### getuserstopartists [GET]
Get the current user's top artists based on calculated affinity.
+ Parameters
    + time_range (string, optional) -

        + Default: medium_term
        + Sample: medium_term
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of artists

    + Attributes (PagingArtistObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)




## Me Top Tracks [/me/top/tracks{?time_range,limit,offset}]

### getuserstoptracks [GET]
Get the current user's top tracks based on calculated affinity.
+ Parameters
    + time_range (string, optional) -

        + Default: medium_term
        + Sample: medium_term
    + limit (number, optional) -

        + Default: 20
        + Sample: 10
    + offset (number, optional) -

        + Default: 0
        + Sample: 5

+ Response 200 (application/json)

        Pages of tracks

    + Attributes (PagingTrackObject)



+ Response 401 (application/json)

        Bad or expired token. This can happen if the user revoked a token or
the access token has expired. You should re-authenticate the user.

    + Attributes (Unauthorized1)



+ Response 403 (application/json)

        Bad OAuth request (wrong consumer key, bad nonce, expired
timestamp...). Unfortunately, re-authenticating the user won't help here.

    + Attributes (Forbidden1)



+ Response 429 (application/json)

        The app has exceeded its rate limits.

    + Attributes (TooManyRequests1)





# Data Structures

## LinkedTrackObject (object)


### Properties
+ `external_urls` (ExternalUrlObject, optional) - Known external URLs for this track.
+ `href` (string, optional) - A link to the Web API endpoint providing full details of the track.
+ `id` (string, optional) - The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the track.
+ `type` (string, optional) - The object type: "track".
+ `uri` (string, optional) - The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the track.


## TrackRestrictionObject (object)


### Properties
+ `reason` (string, optional)

    The reason for the restriction. Supported values:
    - `market` - The content item is not available in the given market.
    - `product` - The content item is not available for the user's subscription type.
    - `explicit` - The content item is explicit and the user's account is set to not play explicit content.
    
    Additional reasons may be added in the future.
    **Note**: If you use this field, make sure that your application safely handles unknown values.



## AlbumRestrictionObject (object)


### Properties
+ `reason` (enum[string], optional)

    The reason for the restriction. Albums may be restricted if the content is not available in a given market, to the user's subscription type, or when the user's account is set to not play explicit content.
    Additional reasons may be added in the future.

    + `market`
    + `product`
    + `explicit`


## EpisodeRestrictionObject (object)


### Properties
+ `reason` (string, optional)

    The reason for the restriction. Supported values:
    - `market` - The content item is not available in the given market.
    - `product` - The content item is not available for the user's subscription type.
    - `explicit` - The content item is explicit and the user's account is set to not play explicit content.
    
    Additional reasons may be added in the future.
    **Note**: If you use this field, make sure that your application safely handles unknown values.



## ChapterRestrictionObject (object)


### Properties
+ `reason` (string, optional)

    The reason for the restriction. Supported values:
    - `market` - The content item is not available in the given market.
    - `product` - The content item is not available for the user's subscription type.
    - `explicit` - The content item is explicit and the user's account is set to not play explicit content.
    - `payment_required` - Payment is required to play the content item.
    
    Additional reasons may be added in the future.
    **Note**: If you use this field, make sure that your application safely handles unknown values.



## ArtistObject (object)


### Properties
+ `external_urls` (ExternalUrlObject, optional) - Known external URLs for this artist.
+ `followers` (FollowersObject, optional) - Information about the followers of the artist.
+ `genres`: `["Prog rock","Grunge"]` (array[string], optional) - A list of the genres the artist is associated with. If not yet classified, the array is empty.
+ `href` (string, optional) - A link to the Web API endpoint providing full details of the artist.
+ `id` (string, optional) - The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
+ `images` (array[ImageObject], optional) - Images of the artist in various sizes, widest first.
+ `name` (string, optional) - The name of the artist.
+ `popularity` (number, optional) - The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.
+ `type` (enum[string], optional) - The object type.
    + `artist`
+ `uri` (string, optional) - The [Spotify URI](/documentation/web-api/concepts/spotify-uris-ids) for the artist.


## SimplifiedArtistObject (object)


### Properties
+ `external_urls` (ExternalUrlObject, optional) - Known external URLs for this artist.
+ `href` (string, optional) - A link to the Web API endpoint providing full details of the artist.
+ `id` (string, optional) - The [Spotify ID](/documentation/web-api/concepts/spotify-uris-ids) for the artist.
+ `name` (string, optional) - The name of the artist.
[...]
