#%RAML 1.0
title: Hetzner Cloud API
version: 1.0.0
baseUri: https://api.hetzner.cloud/v1
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: Hetzner Cloud API
  content: |
    This is the official API documentation for the Public Hetzner Cloud.


    ## Introduction


    The Hetzner Cloud API operates over HTTPS and uses JSON as its data format. The API is a RESTful API and utilizes HTTP methods and HTTP status codes to specify requests and responses.


    As an alternative to working directly with our API you may also consider to use:

    * Our CLI program [hcloud](https://github.com/hetznercloud/cli)

    * Our [library for Go](https://github.com/hetznercloud/hcloud-go)

    * Our [library for Python](https://github.com/hetznercloud/hcloud-python)


    Also you can find a [list of libraries, tools, and integrations on GitHub](https://github.com/hetznercloud/awesome-hcloud).


    If you are developing integrations based on our API and your product is Open Source you may be eligible for a free one time €50 (excl. VAT) credit on your account. Please contact us via the the support page on your Cloud Console and let us know the following:

    * The type of integration you would like to develop

    * Link to the GitHub repo you will use for the Project

    * Link to some other Open Source work you have already done (if you have done so)


    ## Getting Started

    To get started using the API you first need an API token. Sign in into the [Hetzner Cloud Console](https://console.hetzner.cloud/) choose a Project, go to `Security` → `API Tokens`, and generate a new token. Make sure to copy the token because it won’t be shown to you again. A token is bound to a Project, to interact with the API of another Project you have to create a new token inside the Project. Let’s say your new token is `jEheVytlAoFl7F8MqUQ7jAo2hOXASztX`.


    You’re now ready to do your first request against the API. To get a list of all Servers in your Project, issue the example request on the right side using [curl](https://curl.haxx.se/).


    Make sure to replace the token in the example command with the token you have just created. Since your Project probably does not contain any Servers yet, the example response will look like the response on the right side. We will almost always provide a resource root like `servers` inside the example response. A response can also contain a `meta` object with information like [Pagination](https://docs.hetzner.cloud/#overview-pagination).


    **Example Request**

    ```bash

    curl -H "Authorization: Bearer jEheVytlAoFl7F8MqUQ7jAo2hOXASztX" \
        https://api.hetzner.cloud/v1/servers
    ```


    **Example Response**

    ```json

    {
        "servers": [],
        "meta": {
            "pagination": {
                "page": 1,
                "per_page": 25,
                "previous_page": null,
                "next_page": null,
                "last_page": 1,
                "total_entries": 0
            }
        }
    }

    ```


    ## Authentication

    All requests to the Hetzner Cloud API must be authenticated via a API token. Include your secret API token in every request you send to the API with the `Authorization` HTTP header.


    To create a new API token for your Project, switch into the [Hetzner Cloud Console](https://console.hetzner.cloud/) choose a Project, go to `Security` → `API Tokens`, and generate a new token.


    **Example Authorization header**

    ```html

    Authorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj

    ```


    ## Errors

    Errors are indicated by HTTP status codes. Further, the response of the request which generated the error contains an error code, an error message, and, optionally, error details. The schema of the error details object depends on the error code.


    The error response contains the following keys:


    | Keys      | Meaning                                                               |

    |-----------|-----------------------------------------------------------------------|

    | `code`    | Short string indicating the type of error (machine-parsable)          |

    | `message` | Textual description on what has gone wrong                            |

    | `details` | An object providing for details on the error (schema depends on code) |


    **Example response**

    ```json

    {
      "error": {
        "code": "invalid_input",
        "message": "invalid input in field 'broken_field': is too long",
        "details": {
          "fields": [
            {
              "name": "broken_field",
              "messages": ["is too long"]
            }
          ]
        }
      }
    }

    ```


    ### Error Codes


    | Code                      | Description                                                                      |

    |---------------------------|----------------------------------------------------------------------------------|

    | `forbidden`               | Insufficient permissions for this request                                        |

    | `invalid_input`           | Error while parsing or processing the input                                      |

    | `json_error`              | Invalid JSON input in your request                                               |

    | `locked`                  | The item you are trying to access is locked (there is already an Action running) |

    | `not_found`               | Entity not found                                                                 |

    | `rate_limit_exceeded`     | Error when sending too many requests                                             |

    | `resource_limit_exceeded` | Error when exceeding the maximum quantity of a resource for an account           |

    | `resource_unavailable`    | The requested resource is currently unavailable                                  |

    | `service_error`           | Error within a service                                                           |

    | `uniqueness_error`        | One or more of the objects fields must be unique                                 |

    | `protected`               | The Action you are trying to start is protected for this resource                |

    | `maintenance`             | Cannot perform operation due to maintenance                                      |

    | `conflict`                | The resource has changed during the request, please retry                        |

    | `unsupported_error`       | The corresponding resource does not support the Action                           |

    | `token_readonly`          | The token is only allowed to perform GET requests                                |

    | `unavailable`             | A service or product is currently not available                                  |


    **invalid_input**

    ```json

    {
      "error": {
        "code": "invalid_input",
        "message": "invalid input in field 'broken_field': is too long",
        "details": {
          "fields": [
            {
              "name": "broken_field",
              "messages": ["is too long"]
            }
          ]
        }
      }
    }

    ```


    **uniqueness_error**

    ```json

    {
      "error": {
        "code": "uniqueness_error",
        "message": "SSH key with the same fingerprint already exists",
        "details": {
          "fields": [
            {
              "name": "public_key"
            }
          ]
        }
      }
    }

    ```


    **resource_limit_exceeded**

    ```json

    {
      "error": {
        "code": "resource_limit_exceeded",
        "message": "project limit exceeded",
        "details": {
          "limits": [
            {
              "name": "project_limit"
            }
          ]
        }
      }
    }

    ```


    ## Labels

    Labels are `key/value` pairs that can be attached to all resources.


    Valid label keys have two segments: an optional prefix and name, separated by a slash (`/`). The name segment is required and must be a string of 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (`.`), not longer than 253 characters in total, followed by a slash (`/`).


    Valid label values must be a string of 63 characters or less and must be empty or begin and end with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between.


    The `hetzner.cloud/` prefix is reserved and cannot be used.


    **Example Labels**

    ```json

    {
      "labels": {
        "environment":"development",
        "service":"backend",
        "example.com/my":"label",
        "just-a-key":""
      }
    }

    ```


    ## Label Selector

    For resources with labels, you can filter resources by their labels using the label selector query language.


    | Expression           | Meaning                                                             |

    |----------------------|---------------------------------------------------------------------|

    | `k==v` / `k=v`       | Value of key `k` does equal value `v`                               |

    | `k!=v`               | Value of key `k` does not equal value `v`                           |

    | `k`                  | Key `k` is present                                                  |

    | `!k`                 | Key `k` is not present                                              |

    | `k in (v1,v2,v3)`    | Value of key `k` is `v1`, `v2`, or `v3`                             |

    | `k notin (v1,v2,v3)` | Value of key `k` is neither `v1`, nor `v2`, nor `v3`                |

    | `k1==v,!k2`          | Value of key `k1` is `v` and key `k2` is not present                |


    ### Examples

    * Returns all resources that have a `env=production` label and that don't have a `type=database` label:

      `env=production,type!=database`
    * Returns all resources that have a `env=testing` or `env=staging` label:

        `env in (testing,staging)`
    * Returns all resources that don't have a `type` label:

        `!type`

    ## Pagination

    Responses which return multiple items support pagination. If they do support pagination, it can be controlled with following query string parameters:


    * A `page` parameter specifies the page to fetch. The number of the first page is 1.

    * A `per_page` parameter specifies the number of items returned per page. The default value is 25, the maximum value is 50 except otherwise specified in the documentation.


    Responses contain a `Link` header with pagination information.


    Additionally, if the response body is JSON and the root object is an object, that object has a `pagination` object inside the `meta` object with pagination information:


    **Example Pagination**

    ```json

    {
        "servers": [...],
        "meta": {
            "pagination": {
                "page": 2,
                "per_page": 25,
                "previous_page": 1,
                "next_page": 3,
                "last_page": 4,
                "total_entries": 100
            }
        }
    }

    ```


    The keys `previous_page`, `next_page`, `last_page`, and `total_entries` may be `null` when on the first page, last page, or when the total number of entries is unknown.


    **Example Pagination Link header**

    ```bash

    Link: <https://api.hetzner.cloud/v1/actions?page=2&per_page=5>; rel="prev",
          <https://api.hetzner.cloud/v1/actions?page=4&per_page=5>; rel="next",
          <https://api.hetzner.cloud/v1/actions?page=6&per_page=5>; rel="last"
    ```


    Line breaks have been added for display purposes only and responses may only contain some of the above `rel` values.


    ## Rate Limiting

    All requests, whether they are authenticated or not, are subject to rate limiting. If you have reached your limit, your requests will be handled with a `429 Too Many Requests` error. Burst requests are allowed. Responses contain serveral headers which provide information about your current rate limit status.


    * The `RateLimit-Limit` header contains the total number of requests you can perform per hour.

    * The `RateLimit-Remaining` header contains the number of requests remaining in the current rate limit time frame.

    * The `RateLimit-Reset` header contains a UNIX timestamp of the point in time when your rate limit will have recovered and you will have the full number of requests available again.


    The default limit is 3600 requests per hour and per Project. The number of remaining requests increases gradually. For example, when your limit is 3600 requests per hour, the number of remaining requests will increase by 1 every second.


    ## Server Metadata

    Your Server can discover metadata about itself by doing a HTTP request to specific URLs. The following data is available:


    | Data              | Format | Contents                                                     |

    |-------------------|--------|--------------------------------------------------------------|

    | hostname          | text   | Name of the Server as set in the api                         |

    | instance-id       | number | ID of the server                                             |

    | public-ipv4       | text   | Primary public IPv4 address                                  |

    | private-networks  | yaml   | Details about the private networks the Server is attached to |

    | availability-zone | text   | Name of the availability zone that Server runs in            |

    | region            | text   | Network zone, e.g. eu-central                                |


    **Example: Summary**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata

    ```


    ```yaml

    availability-zone: hel1-dc2

    hostname: my-server

    instance-id: 42

    public-ipv4: 1.2.3.4

    region: eu-central

    ```


    **Example: Hostname**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/hostname

    my-server

    ```


    **Example: Instance ID**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/instance-id

    42

    ```


    **Example: Public IPv4**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/public-ipv4

    1.2.3.4

    ```


    **Example: Private Networks**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/private-networks

    ```


    ```json

    - ip: 10.0.0.2
      alias_ips: [10.0.0.3, 10.0.0.4]
      interface_num: 1
      mac_address: 86:00:00:2a:7d:e0
      network_id: 1234
      network_name: nw-test1
      network: 10.0.0.0/8
      subnet: 10.0.0.0/24
      gateway: 10.0.0.1
    - ip: 192.168.0.2
      alias_ips: []
      interface_num: 2
      mac_address: 86:00:00:2a:7d:e1
      network_id: 4321
      network_name: nw-test2
      network: 192.168.0.0/16
      subnet: 192.168.0.0/24
      gateway: 192.168.0.1
    ```


    **Example: Availability Zone**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/availability-zone

    hel1-dc2

    ```


    **Example: Region**

    ```bash

    $ curl http://169.254.169.254/hetzner/v1/metadata/region

    eu-central

    ```


    ## Sorting

    Some responses which return multiple items support sorting. If they do support sorting the documentation states which fields can be used for sorting. You specify sorting with the `sort` query string parameter. You can sort by multiple fields. You can set the sort direction by appending `:asc` or `:desc` to the field name. By default, ascending sorting is used.


    **Example: Sorting**

    ```bash

    https://api.hetzner.cloud/v1/actions?sort=status

    https://api.hetzner.cloud/v1/actions?sort=status:asc

    https://api.hetzner.cloud/v1/actions?sort=status:desc

    https://api.hetzner.cloud/v1/actions?sort=status:asc&sort=command:desc

    ```
types:
  ActionsResponse:
    displayName: ActionsResponse
    type: object
    properties:
      actions:
        required: true
        displayName: actions
        type: array
        items:
          type: Action
      meta:
        required: false
        displayName: meta
        type: Meta
  Action:
    displayName: Action
    type: object
    properties:
      command:
        required: true
        example:
          value: start_server
        displayName: command
        description: Command executed in the Action
        type: string
      error:
        required: true
        displayName: error
        description: Error message for the Action if error occurred, otherwise null
        type:
        - Error
        - nil
      finished:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: finished
        description: Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.
        type:
        - string
        - nil
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      progress:
        required: true
        example:
          value: 100
        displayName: progress
        description: Progress of Action in percent
        type: number
        format: double
      resources:
        required: true
        displayName: resources
        description: Resources the Action relates to
        type: array
        items:
          type: Resource
      started:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: started
        description: Point in time when the Action was started (in ISO-8601 format)
        type: string
      status:
        required: true
        displayName: status
        description: Status of the Action
        type: string
        enum:
        - success
        - running
        - error
  Error:
    displayName: Error
    description: Error message for the Action if error occurred, otherwise null
    type: object
    properties:
      code:
        required: true
        example:
          value: action_failed
        displayName: code
        description: Fixed machine readable code
        type: string
      message:
        required: true
        example:
          value: Action failed
        displayName: message
        description: Humanized error message
        type: string
  Resource:
    displayName: Resource
    type: object
    properties:
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      type:
        required: true
        example:
          value: server
        displayName: type
        description: Type of resource referenced
        type: string
  Meta:
    displayName: Meta
    type: object
    properties:
      pagination:
        required: true
        displayName: pagination
        type: Pagination
  Pagination:
    displayName: Pagination
    type: object
    properties:
      last_page:
        required: true
        example:
          value: 4
        displayName: last_page
        description: ID of the last page available. Can be null if the current page is the last one.
        type:
        - number
        - nil
        format: double
      next_page:
        required: true
        example:
          value: 4
        displayName: next_page
        description: ID of the next page. Can be null if the current page is the last one.
        type:
        - number
        - nil
        format: double
      page:
        required: true
        example:
          value: 3
        displayName: page
        description: Current page number
        type: number
        format: double
      per_page:
        required: true
        example:
          value: 25
        displayName: per_page
        description: Maximum number of items shown per page in the response
        type: number
        format: double
      previous_page:
        required: true
        example:
          value: 2
        displayName: previous_page
        description: ID of the previous page. Can be null if the current page is the first one.
        type:
        - number
        - nil
        format: double
      total_entries:
        required: true
        example:
          value: 100
        displayName: total_entries
        description: The total number of entries that exist in the database for this query. Nullable if unknown.
        type:
        - number
        - nil
        format: double
  ActionResponse:
    displayName: ActionResponse
    type: object
    properties:
      action:
        required: true
        displayName: action
        type: Action
  CertificatesResponse:
    displayName: CertificatesResponse
    type: object
    properties:
      certificates:
        required: true
        displayName: certificates
        type: array
        items:
          type: Certificate
      meta:
        required: false
        displayName: meta
        type: Meta
  Certificate:
    displayName: Certificate
    type: object
    properties:
      certificate:
        required: true
        example:
          value: |
            -----BEGIN CERTIFICATE-----

            ...
        displayName: certificate
        description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding
        type:
        - string
        - nil
      created:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: created
        description: Point in time when the Resource was created (in ISO-8601 format)
        type: string
      domain_names:
        required: true
        example:
          value:
          - example.com
          - webmail.example.com
          - www.example.com
        displayName: domain_names
        description: Domains and subdomains covered by the Certificate
        type: array
        items:
          type: string
      fingerprint:
        required: true
        example:
          value: 03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f
        displayName: fingerprint
        description: SHA256 fingerprint of the Certificate
        type:
        - string
        - nil
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      labels:
        required: true
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        additionalProperties: true
        properties:
          //:
            type: string
      name:
        required: true
        example:
          value: my-resource
        displayName: name
        description: Name of the Resource. Must be unique per Project.
        type: string
      not_valid_after:
        required: true
        example:
          value: 2019-07-08T09:59:59+00:00
        displayName: not_valid_after
        description: Point in time when the Certificate stops being valid (in ISO-8601 format)
        type:
        - string
        - nil
      not_valid_before:
        required: true
        example:
          value: 2019-01-08T10:00:00+00:00
        displayName: not_valid_before
        description: Point in time when the Certificate becomes valid (in ISO-8601 format)
        type:
        - string
        - nil
      status:
        required: false
        displayName: status
        description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates
        type:
        - Status2
        - nil
      type:
        required: false
        example:
          value: uploaded
        displayName: type
        description: Type of the Certificate
        type: string
        enum:
        - uploaded
        - managed
      used_by:
        required: true
        displayName: used_by
        description: Resources currently using the Certificate
        type: array
        items:
          type: UsedBy
  Status2:
    displayName: Status2
    description: Current status of a type `managed` Certificate, always *null* for type `uploaded` Certificates
    type: object
    properties:
      error:
        required: false
        displayName: error
        description: If issuance or renewal reports `failed`, this property contains information about what happened
        type:
        - Error2
        - nil
      issuance:
        required: false
        displayName: issuance
        description: Status of the issuance process of the Certificate
        type: string
        enum:
        - pending
        - completed
        - failed
      renewal:
        required: false
        example:
          value: scheduled
        displayName: renewal
        description: Status of the renewal process of the Certificate.
        type: string
        enum:
        - scheduled
        - pending
        - failed
        - unavailable
  Error2:
    displayName: Error2
    description: If issuance or renewal reports `failed`, this property contains information about what happened
    type: object
    properties:
      code:
        required: false
        displayName: code
        type: string
      message:
        required: false
        displayName: message
        type: string
  UsedBy:
    displayName: UsedBy
    type: object
    properties:
      id:
        required: true
        example:
          value: 4711
        displayName: id
        description: ID of resource referenced
        type: integer
        format: int32
      type:
        required: true
        example:
          value: load_balancer
        displayName: type
        description: Type of resource referenced
        type: string
  CreateCertificateRequest:
    displayName: CreateCertificateRequest
    type: object
    properties:
      certificate:
        required: false
        example:
          value: |
            -----BEGIN CERTIFICATE-----

            ...
        displayName: certificate
        description: Certificate and chain in PEM format, in order so that each record directly certifies the one preceding. Required for type `uploaded` Certificates.
        type: string
      domain_names:
        required: false
        displayName: domain_names
        description: Domains and subdomains that should be contained in the Certificate issued by *Let's Encrypt*. Required for type `managed` Certificates.
        type: array
        items:
          type: string
      labels:
        required: false
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: true
        example:
          value: my website cert
        displayName: name
        description: Name of the Certificate
        type: string
      private_key:
        required: false
        example:
          value: |
            -----BEGIN PRIVATE KEY-----

            ...
        displayName: private_key
        description: Certificate key in PEM format. Required for type `uploaded` Certificates.
        type: string
      type:
        required: false
        example:
          value: uploaded
        displayName: type
        description: Choose between uploading a Certificate in PEM format or requesting a managed *Let's Encrypt* Certificate. If omitted defaults to `uploaded`.
        type: string
        enum:
        - uploaded
        - managed
  CreateCertificateResponse:
    displayName: CreateCertificateResponse
    type: object
    properties:
      action:
        required: false
        displayName: action
        type:
        - NullableAction
        - nil
      certificate:
        required: true
        displayName: certificate
        type: Certificate
  NullableAction:
    displayName: NullableAction
    type: object
    properties:
      command:
        required: true
        example:
          value: start_server
        displayName: command
        description: Command executed in the Action
        type: string
      error:
        required: true
        displayName: error
        description: Error message for the Action if error occurred, otherwise null
        type:
        - Error
        - nil
      finished:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: finished
        description: Point in time when the Action was finished (in ISO-8601 format). Only set if the Action is finished otherwise null.
        type:
        - string
        - nil
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      progress:
        required: true
        example:
          value: 100
        displayName: progress
        description: Progress of Action in percent
        type: number
        format: double
      resources:
        required: true
        displayName: resources
        description: Resources the Action relates to
        type: array
        items:
          type: Resource
      started:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: started
        description: Point in time when the Action was started (in ISO-8601 format)
        type: string
      status:
        required: true
        displayName: status
        description: Status of the Action
        type: string
        enum:
        - success
        - running
        - error
  CertificateResponse:
    displayName: CertificateResponse
    type: object
    properties:
      certificate:
        required: true
        displayName: certificate
        type: Certificate
  UpdateCertificateRequest:
    displayName: UpdateCertificateRequest
    type: object
    properties:
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: false
        example:
          value: my website cert
        displayName: name
        description: New Certificate name
        type: string
  DatacentersResponse:
    displayName: DatacentersResponse
    type: object
    properties:
      datacenters:
        required: true
        displayName: datacenters
        type: array
        items:
          type: Datacenter
      recommendation:
        required: true
        example:
          value: 1
        displayName: recommendation
        description: The Datacenter which is recommended to be used to create new Servers.
        type: number
        format: double
  Datacenter:
    displayName: Datacenter
    type: object
    properties:
      description:
        required: true
        example:
          value: Falkenstein DC Park 8
        displayName: description
        description: Description of the Datacenter
        type: string
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      location:
        required: true
        displayName: location
        type: Location
      name:
        required: true
        example:
          value: fsn1-dc8
        displayName: name
        description: Unique identifier of the Datacenter
        type: string
      server_types:
        required: true
        displayName: server_types
        description: The Server types the Datacenter can handle
        type: ServerTypes
  Location:
    displayName: Location
    type: object
    properties:
      city:
        required: true
        example:
          value: Falkenstein
        displayName: city
        description: City the Location is closest to
        type: string
      country:
        required: true
        example:
          value: DE
        displayName: country
        description: ISO 3166-1 alpha-2 code of the country the Location resides in
        type: string
      description:
        required: true
        example:
          value: Falkenstein DC Park 1
        displayName: description
        description: Description of the Location
        type: string
      id:
        required: true
        example:
          value: 1
        displayName: id
        description: ID of the Location
        type: number
        format: double
      latitude:
        required: true
        example:
          value: 50.47612
        displayName: latitude
        description: Latitude of the city closest to the Location
        type: number
        format: double
      longitude:
        required: true
        example:
          value: 12.370071
        displayName: longitude
        description: Longitude of the city closest to the Location
        type: number
        format: double
      name:
        required: true
        example:
          value: fsn1
        displayName: name
        description: Unique identifier of the Location
        type: string
      network_zone:
        required: true
        example:
          value: eu-central
        displayName: network_zone
        description: Name of network zone this Location resides in
        type: string
  ServerTypes:
    displayName: ServerTypes
    description: The Server types the Datacenter can handle
    type: object
    properties:
      available:
        required: true
        example:
          value:
          - 1
          - 2
          - 3
        displayName: available
        description: IDs of Server types that are supported and for which the Datacenter has enough resources left
        type: array
        items:
          type: number
          format: double
      available_for_migration:
        required: true
        example:
          value:
          - 1
          - 2
          - 3
        displayName: available_for_migration
        description: IDs of Server types that are supported and for which the Datacenter has enough resources left
        type: array
        items:
          type: number
          format: double
      supported:
        required: true
        example:
          value:
          - 1
          - 2
          - 3
        displayName: supported
        description: IDs of Server types that are supported in the Datacenter
        type: array
        items:
          type: number
          format: double
  DatacentersResponse1:
    displayName: DatacentersResponse1
    type: object
    properties:
      datacenter:
        required: true
        displayName: datacenter
        type: Datacenter
  FirewallsResponse:
    displayName: FirewallsResponse
    type: object
    properties:
      firewalls:
        required: true
        displayName: firewalls
        type: array
        items:
          type: Firewall
      meta:
        required: false
        displayName: meta
        type: Meta
  Firewall:
    displayName: Firewall
    type: object
    properties:
      applied_to:
        required: true
        displayName: applied_to
        type: array
        items:
          type: AppliedTo
      created:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: created
        description: Point in time when the Resource was created (in ISO-8601 format)
        type: string
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      labels:
        required: false
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        additionalProperties: true
        properties:
          //:
            type: string
      name:
        required: true
        example:
          value: my-resource
        displayName: name
        description: Name of the Resource. Must be unique per Project.
        type: string
      rules:
        required: true
        displayName: rules
        type: array
        items:
          type: Rule
  AppliedTo:
    displayName: AppliedTo
    type: object
    properties:
      applied_to_resources:
        required: false
        displayName: applied_to_resources
        type: array
        items:
          type: AppliedToResource
      label_selector:
        required: false
        displayName: label_selector
        type: LabelSelector
      server:
        required: false
        displayName: server
        type: Server
      type:
        required: true
        example:
          value: server
        displayName: type
        description: Type of resource referenced
        type: string
        enum:
        - server
        - label_selector
  AppliedToResource:
    displayName: AppliedToResource
    type: object
    properties:
      server:
        required: false
        displayName: server
        type: Server
      type:
        required: false
        example:
          value: server
        displayName: type
        description: Type of resource referenced
        type: string
        enum:
        - server
  Server:
    displayName: Server
    type: object
    properties:
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
  LabelSelector:
    displayName: LabelSelector
    type: object
    properties:
      selector:
        required: true
        example:
          value: env=prod
        displayName: selector
        description: Label selector
        type: string
  Rule:
    displayName: Rule
    type: object
    properties:
      description:
        required: false
        displayName: description
        description: Description of the Rule
        type:
        - string
        - nil
        maxLength: 255
      destination_ips:
        required: false
        example:
          value:
          - 28.239.13.1/32
          - 28.239.14.0/24
          - ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128
        displayName: destination_ips
        description: List of permitted IPv4/IPv6 addresses in CIDR notation. Use `0.0.0.0/0` to allow all IPv4 addresses and `::/0` to allow all IPv6 addresses. You can specify 100 CIDRs at most.
        type: array
        items:
          type: string
      direction:
        required: true
        displayName: direction
        description: Select traffic direction on which rule should be applied. Use `source_ips` for direction `in` and `destination_ips` for direction `out`.
        type: string
        enum:
        - in
        - out
      port:
        required: false
        example:
          value: '80'
        displayName: port
        description: Port or port range to which traffic will be allowed, only applicable for protocols TCP and UDP. A port range can be specified by separating two ports with a dash, e.g `1024-5000`.
        type: string
      protocol:
        required: true
        displayName: protocol
        description: Type of traffic to allow
        type: string
        enum:
        - tcp
        - udp
        - icmp
        - esp
        - gre
      source_ips:
        required: false
        example:
          value:
          - 28.239.13.1/32
          - 28.239.14.0/24
          - ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128
        displayName: source_ips
        description: List of permitted IPv4/IPv6 addresses in CIDR notation. Use `0.0.0.0/0` to allow all IPv4 addresses and `::/0` to allow all IPv6 addresses. You can specify 100 CIDRs at most.
        type: array
        items:
          type: string
  CreateFirewallRequest:
    displayName: CreateFirewallRequest
    type: object
    properties:
      apply_to:
        required: false
        displayName: apply_to
        description: Resources the Firewall should be applied to after creation
        type: array
        items:
          type: ApplyTo
      labels:
        required: false
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: true
        example:
          value: Corporate Intranet Protection
        displayName: name
        description: Name of the Firewall
        type: string
      rules:
        required: false
        example:
          value:
          - direction: in
            port: '80'
            protocol: tcp
            source_ips:
            - 28.239.13.1/32
            - 28.239.14.0/24
            - ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128
        displayName: rules
        description: Array of rules
        type: array
        items:
          type: Rule
  ApplyTo:
    displayName: ApplyTo
    type: object
    properties:
      label_selector:
        required: false
        displayName: label_selector
        description: Configuration for type LabelSelector, required if type is `label_selector`
        type: LabelSelector1
      server:
        required: false
        displayName: server
        description: Configuration for type Server, required if type is `server`
        type: Server2
      type:
        required: true
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
  LabelSelector1:
    displayName: LabelSelector1
    description: Configuration for type LabelSelector, required if type is `label_selector`
    type: object
    properties:
      selector:
        required: true
        displayName: selector
        description: Label selector
        type: string
  Server2:
    displayName: Server2
    description: Configuration for type Server, required if type is `server`
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: ID of the Server
        type: integer
        format: int32
  CreateFirewallResponse:
    displayName: CreateFirewallResponse
    type: object
    properties:
      actions:
        required: false
        example:
          value:
          - command: set_firewall_rules
            error:
              code: action_failed
              message: Action failed
            finished: 2016-01-30T23:56:00+00:00
            id: 13
            progress: 100
            resources:
            - id: 38
              type: firewall
            started: 2016-01-30T23:55:00+00:00
            status: success
          - command: apply_firewall
            error:
              code: action_failed
              message: Action failed
            finished: 2016-01-30T23:56:00+00:00
            id: 14
            progress: 100
            resources:
            - id: 42
              type: server
            - id: 38
              type: firewall
            started: 2016-01-30T23:55:00+00:00
            status: success
        displayName: actions
        type: array
        items:
          type: Action
      firewall:
        required: false
        displayName: firewall
        type: Firewall
  FirewallResponse:
    displayName: FirewallResponse
    type: object
    properties:
      firewall:
        required: true
        displayName: firewall
        type: Firewall
  UpdateFirewallRequest:
    displayName: UpdateFirewallRequest
    type: object
    properties:
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: false
        example:
          value: new-name
        displayName: name
        description: New Firewall name
        type: string
  ApplyToResourcesRequest:
    displayName: ApplyToResourcesRequest
    type: object
    properties:
      apply_to:
        required: true
        displayName: apply_to
        description: Resources the Firewall should be applied to
        type: array
        items:
          type: FirewallApplyToResources
  FirewallApplyToResources:
    displayName: FirewallApplyToResources
    type: object
    properties:
      label_selector:
        required: false
        displayName: label_selector
        description: Configuration for type label_selector, required if type is `label_selector`
        type: LabelSelector5
      server:
        required: false
        displayName: server
        description: Configuration for type server, required if type is `server`
        type: Server9
      type:
        required: false
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
  LabelSelector5:
    displayName: LabelSelector5
    description: Configuration for type label_selector, required if type is `label_selector`
    type: object
    properties:
      selector:
        required: true
        example:
          value: env=prod
        displayName: selector
        description: Label selector
        type: string
  Server9:
    displayName: Server9
    description: Configuration for type server, required if type is `server`
    type: object
    properties:
      id:
        required: true
        displayName: id
        description: ID of the Server
        type: integer
        format: int32
  RemoveFromResourcesRequest:
    displayName: RemoveFromResourcesRequest
    type: object
    properties:
      remove_from:
        required: true
        displayName: remove_from
        description: Resources the Firewall should be removed from
        type: array
        items:
          type: FirewallRemoveFromResources
  FirewallRemoveFromResources:
    displayName: FirewallRemoveFromResources
    type: object
    properties:
      label_selector:
        required: false
        displayName: label_selector
        description: Configuration for type label_selector, required if type is `label_selector`
        type: LabelSelector5
      server:
        required: false
        displayName: server
        description: Configuration for type server, required if type is `server`
        type: Server9
      type:
        required: false
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
  SetRulesRequest:
    displayName: SetRulesRequest
    type: object
    properties:
      rules:
        required: true
        displayName: rules
        description: Array of rules
        type: array
        uniqueItems: false
        maxItems: 50
        items:
          type: Rule
  FloatingIpsResponse:
    displayName: FloatingIpsResponse
    type: object
    properties:
      floating_ips:
        required: true
        displayName: floating_ips
        type: array
        items:
          type: FloatingIp
      meta:
        required: false
        displayName: meta
        type: Meta
  FloatingIp:
    displayName: FloatingIp
    type: object
    properties:
      blocked:
        required: true
        example:
          value: false
        displayName: blocked
        description: Whether the IP is blocked
        type: boolean
      created:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: created
        description: Point in time when the Resource was created (in ISO-8601 format)
        type: string
      description:
        required: true
        example:
          value: this describes my resource
        displayName: description
        description: Description of the Resource
        type:
        - string
        - nil
      dns_ptr:
        required: true
        displayName: dns_ptr
        description: Array of reverse DNS entries
        type: array
        items:
          type: DnsPtr
      home_location:
        required: true
        displayName: home_location
        description: Location the Floating IP was created in. Routing is optimized for this Location.
        type: HomeLocation
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      ip:
        required: true
        example:
          value: 131.232.99.1
        displayName: ip
        description: IP address
        type: string
      labels:
        required: true
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        additionalProperties: true
        properties:
          //:
            type: string
      name:
        required: true
        example:
          value: my-resource
        displayName: name
        description: Name of the Resource. Must be unique per Project.
        type: string
      protection:
        required: true
        displayName: protection
        description: Protection configuration for the Resource
        type: Protection
      server:
        required: true
        example:
          value: 42
        displayName: server
        description: ID of the Server the Floating IP is assigned to, null if it is not assigned at all
        type:
        - integer
        - nil
        format: int32
      type:
        required: true
        displayName: type
        description: Type of the Floating IP
        type: string
        enum:
        - ipv4
        - ipv6
  DnsPtr:
    displayName: DnsPtr
    type: object
    properties:
      dns_ptr:
        required: true
        example:
          value: server.example.com
        displayName: dns_ptr
        description: DNS pointer for the specific IP address
        type: string
      ip:
        required: true
        example:
          value: 2001:db8::1
        displayName: ip
        description: Single IPv4 or IPv6 address
        type: string
  HomeLocation:
    displayName: HomeLocation
    description: Location the Floating IP was created in. Routing is optimized for this Location.
    type: object
    properties:
      city:
        required: true
        example:
          value: Falkenstein
        displayName: city
        description: City the Location is closest to
        type: string
      country:
        required: true
        example:
          value: DE
        displayName: country
        description: ISO 3166-1 alpha-2 code of the country the Location resides in
        type: string
      description:
        required: true
        example:
          value: Falkenstein DC Park 1
        displayName: description
        description: Description of the Location
        type: string
      id:
        required: true
        example:
          value: 1
        displayName: id
        description: ID of the Location
        type: number
        format: double
      latitude:
        required: true
        example:
          value: 50.47612
        displayName: latitude
        description: Latitude of the city closest to the Location
        type: number
        format: double
      longitude:
        required: true
        example:
          value: 12.370071
        displayName: longitude
        description: Longitude of the city closest to the Location
        type: number
        format: double
      name:
        required: true
        example:
          value: fsn1
        displayName: name
        description: Unique identifier of the Location
        type: string
      network_zone:
        required: true
        example:
          value: eu-central
        displayName: network_zone
        description: Name of network zone this Location resides in
        type: string
  Protection:
    displayName: Protection
    description: Protection configuration for the Resource
    type: object
    properties:
      delete:
        required: true
        example:
          value: false
        displayName: delete
        description: If true, prevents the Resource from being deleted
        type: boolean
  CreateFloatingIPRequest:
    displayName: CreateFloatingIPRequest
    type: object
    properties:
      description:
        required: false
        example:
          value: Web Frontend
        displayName: description
        type: string
      home_location:
        required: false
        example:
          value: fsn1
        displayName: home_location
        description: Home Location (routing is optimized for that Location). Only optional if Server argument is passed.
        type: string
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: false
        example:
          value: Web Frontend
        displayName: name
        type: string
      server:
        required: false
        example:
          value: 42
        displayName: server
        description: Server to assign the Floating IP to
        type: integer
        format: int32
      type:
        required: true
        displayName: type
        description: Floating IP type
        type: string
        enum:
        - ipv4
        - ipv6
  FloatingIpsResponse1:
    displayName: FloatingIpsResponse1
    type: object
    properties:
      action:
        required: false
        displayName: action
        type: Action
      floating_ip:
        required: true
        displayName: floating_ip
        type: FloatingIp
  FloatingIpsResponse2:
    displayName: FloatingIpsResponse2
    type: object
    properties:
      floating_ip:
        required: true
        displayName: floating_ip
        type: FloatingIp
  UpdateFloatingIPRequest:
    displayName: UpdateFloatingIPRequest
    type: object
    properties:
      description:
        required: false
        example:
          value: Web Frontend
        displayName: description
        description: New Description to set
        type: string
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: false
        example:
          value: Web Frontend
        displayName: name
        description: New unique name to set
        type: string
  FloatingIpsActionsResponse:
    displayName: FloatingIpsActionsResponse
    type: object
    properties:
      actions:
        required: true
        displayName: actions
        type: array
        items:
          type: Action
  AssignFloatingIPRequest:
    displayName: AssignFloatingIPRequest
    description: |
      #### Call specific error codes


      | Code                          | Description                                                   |

      |------------------------------ |-------------------------------------------------------------- |

      | `floating_ip_assigned`        | The floating IP is already assigned                           |
    type: object
    properties:
      server:
        required: true
        example:
          value: 42
        displayName: server
        description: ID of the Server the Floating IP shall be assigned to
        type: integer
        format: int32
  ChangeDNSPTRRequest:
    displayName: ChangeDNSPTRRequest
    type: object
    properties:
      dns_ptr:
        required: true
        example:
          value: server02.example.com
        displayName: dns_ptr
        description: Hostname to set as a reverse DNS PTR entry, will reset to original default value if `null`
        type:
        - string
        - nil
      ip:
        required: true
        example:
          value: 1.2.3.4
        displayName: ip
        description: IP address for which to set the reverse DNS entry
        type: string
  ChangeProtectionRequest:
    displayName: ChangeProtectionRequest
    type: object
    properties:
      delete:
        required: false
        example:
          value: true
        displayName: delete
        description: If true, prevents the Floating IP from being deleted
        type: boolean
  ImagesResponse:
    displayName: ImagesResponse
    type: object
    properties:
      images:
        required: true
        displayName: images
        type: array
        items:
          type: Image
      meta:
        required: false
        displayName: meta
        type: Meta
  Image:
    displayName: Image
    type: object
    properties:
      bound_to:
        required: true
        displayName: bound_to
        description: ID of Server the Image is bound to. Only set for Images of type `backup`.
        type:
        - integer
        - nil
        format: int32
      created:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: created
        description: Point in time when the Resource was created (in ISO-8601 format)
        type: string
      created_from:
        required: true
        displayName: created_from
        description: Information about the Server the Image was created from
        type:
        - CreatedFrom
        - nil
      deleted:
        required: true
        displayName: deleted
        description: Point in time where the Image was deleted (in ISO-8601 format)
        type:
        - string
        - nil
      deprecated:
        required: true
        example:
          value: 2018-02-28T00:00:00+00:00
        displayName: deprecated
        description: Point in time when the Image is considered to be deprecated (in ISO-8601 format)
        type:
        - string
        - nil
      description:
        required: true
        example:
          value: Ubuntu 20.04 Standard 64 bit
        displayName: description
        description: Description of the Image
        type: string
      disk_size:
        required: true
        example:
          value: 10
        displayName: disk_size
        description: Size of the disk contained in the Image in GB
        type: number
        format: double
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      image_size:
        required: true
        example:
          value: 2.3
        displayName: image_size
        description: Size of the Image file in our storage in GB. For snapshot Images this is the value relevant for calculating costs for the Image.
        type:
        - number
        - nil
        format: double
      labels:
        required: true
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        additionalProperties: true
        properties:
          //:
            type: string
      name:
        required: true
        example:
          value: ubuntu-20.04
        displayName: name
        description: Unique identifier of the Image. This value is only set for system Images.
        type:
        - string
        - nil
      os_flavor:
        required: true
        example:
          value: ubuntu
        displayName: os_flavor
        description: Flavor of operating system contained in the Image
        type: string
        enum:
        - ubuntu
        - centos
        - debian
        - fedora
        - unknown
      os_version:
        required: true
        example:
          value: '20.04'
        displayName: os_version
        description: Operating system version
        type:
        - string
        - nil
      protection:
        required: true
        displayName: protection
        description: Protection configuration for the Resource
        type: Protection
      rapid_deploy:
        required: false
        example:
          value: false
        displayName: rapid_deploy
        description: Indicates that rapid deploy of the Image is available
        type: boolean
      status:
        required: true
        displayName: status
        description: Whether the Image can be used or if it's still being created or unavailable
        type: string
        enum:
        - available
        - creating
        - unavailable
      type:
        required: true
        example:
          value: snapshot
        displayName: type
        description: Type of the Image
        type: string
        enum:
        - system
        - app
        - snapshot
        - backup
        - temporary
  CreatedFrom:
    displayName: CreatedFrom
    description: Information about the Server the Image was created from
    type: object
    properties:
      id:
        required: true
        example:
          value: 1
        displayName: id
        description: ID of the Server the Image was created from
        type: integer
        format: int32
      name:
        required: true
        example:
          value: Server
        displayName: name
        description: Server name at the time the Image was created
        type: string
  ImagesResponse1:
    displayName: ImagesResponse1
    type: object
    properties:
      image:
        required: false
        displayName: image
        type: Image
  UpdateImageRequest:
    displayName: UpdateImageRequest
    type: object
    properties:
      description:
        required: false
        example:
          value: My new Image description
        displayName: description
        description: New description of Image
        type: string
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      type:
        required: false
        displayName: type
        description: Destination Image type to convert to
        type: string
        enum:
        - snapshot
  ImagesActionsChangeProtectionRequest:
    displayName: ImagesActionsChangeProtectionRequest
    type: object
    properties:
      delete:
        required: false
        example:
          value: true
        displayName: delete
        description: If true, prevents the snapshot from being deleted
        type: boolean
  IsosResponse:
    displayName: IsosResponse
    type: object
    properties:
      isos:
        required: true
        displayName: isos
        type: array
        items:
          type: Iso
      meta:
        required: false
        displayName: meta
        type: Meta
  Iso:
    displayName: Iso
    type: object
    properties:
      deprecated:
        required: true
        example:
          value: 2018-02-28T00:00:00+00:00
        displayName: deprecated
        description: ISO 8601 timestamp of deprecation, null if ISO is still available. After the deprecation time it will no longer be possible to attach the ISO to Servers.
        type:
        - string
        - nil
      description:
        required: true
        example:
          value: FreeBSD 11.0 x64
        displayName: description
        description: Description of the ISO
        type: string
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      name:
        required: true
        example:
          value: FreeBSD-11.0-RELEASE-amd64-dvd1
        displayName: name
        description: Unique identifier of the ISO. Only set for public ISOs
        type:
        - string
        - nil
      type:
        required: true
        displayName: type
        description: Type of the ISO
        type: string
        enum:
        - public
        - private
  IsosResponse1:
    displayName: IsosResponse1
    type: object
    properties:
      iso:
        required: true
        displayName: iso
        type: Iso
  LoadBalancerTypesResponse:
    displayName: LoadBalancerTypesResponse
    type: object
    properties:
      load_balancer_types:
        required: true
        displayName: load_balancer_types
        type: array
        items:
          type: LoadBalancerType
  LoadBalancerType:
    displayName: LoadBalancerType
    type: object
    properties:
      deprecated:
        required: true
        example:
          value: 2016-01-30T23:50:00+00:00
        displayName: deprecated
        description: Point in time when the Load Balancer type is deprecated (in ISO-8601 format)
        type:
        - string
        - nil
      description:
        required: true
        example:
          value: LB11
        displayName: description
        description: Description of the Load Balancer type
        type: string
      id:
        required: true
        example:
          value: 1
        displayName: id
        description: ID of the Load Balancer type
        type: number
        format: double
      max_assigned_certificates:
        required: true
        example:
          value: 10
        displayName: max_assigned_certificates
        description: Number of SSL Certificates that can be assigned to a single Load Balancer
        type: number
        format: double
      max_connections:
        required: true
        example:
          value: 20000
        displayName: max_connections
        description: Number of maximum simultaneous open connections
        type: number
        format: double
      max_services:
        required: true
        example:
          value: 5
        displayName: max_services
        description: Number of services a Load Balancer of this type can have
        type: number
        format: double
      max_targets:
        required: true
        example:
          value: 25
        displayName: max_targets
        description: Number of targets a single Load Balancer can have
        type: number
        format: double
      name:
        required: true
        example:
          value: lb11
        displayName: name
        description: Unique identifier of the Load Balancer type
        type: string
      prices:
        required: true
        displayName: prices
        description: Prices in different network zones
        type: array
        items:
          type: Price
  Price:
    displayName: Price
    type: object
    properties:
      location:
        required: true
        example:
          value: fsn1
        displayName: location
        description: Name of the Location the price is for
        type: string
      price_hourly:
        required: true
        displayName: price_hourly
        description: Hourly costs for a Resource in this Location
        type: PriceHourly
      price_monthly:
        required: true
        displayName: price_monthly
        description: Monthly costs for a Resource in this Location
        type: PriceMonthly
  PriceHourly:
    displayName: PriceHourly
    description: Hourly costs for a Resource in this Location
    type: object
    properties:
      gross:
        required: true
        example:
          value: '1.1900000000000000'
        displayName: gross
        description: Price with VAT added
        type: string
      net:
        required: true
        example:
          value: '1.0000000000'
        displayName: net
        description: Price without VAT
        type: string
  PriceMonthly:
    displayName: PriceMonthly
    description: Monthly costs for a Resource in this Location
    type: object
    properties:
      gross:
        required: true
        example:
          value: '1.1900000000000000'
        displayName: gross
        description: Price with VAT added
        type: string
      net:
        required: true
        example:
          value: '1.0000000000'
        displayName: net
        description: Price without VAT
        type: string
  LoadBalancerTypesResponse1:
    displayName: LoadBalancerTypesResponse1
    type: object
    properties:
      load_balancer_type:
        required: false
        displayName: load_balancer_type
        type: LoadBalancerType
  LoadBalancersResponse:
    displayName: LoadBalancersResponse
    type: object
    properties:
      load_balancers:
        required: true
        displayName: load_balancers
        type: array
        items:
          type: LoadBalancer
      meta:
        required: false
        displayName: meta
        type: Meta
  LoadBalancer:
    displayName: LoadBalancer
    type: object
    properties:
      algorithm:
        required: true
        displayName: algorithm
        description: Algorithm of the Load Balancer
        type: Algorithm
      created:
        required: true
        example:
          value: 2016-01-30T23:55:00+00:00
        displayName: created
        description: Point in time when the Resource was created (in ISO-8601 format)
        type: string
      id:
        required: true
        example:
          value: 42
        displayName: id
        description: ID of the Resource
        type: integer
        format: int32
      included_traffic:
        required: true
        example:
          value: 10000
        displayName: included_traffic
        description: Free Traffic for the current billing period in bytes
        type: integer
        format: int32
      ingoing_traffic:
        required: true
        displayName: ingoing_traffic
        description: Inbound Traffic for the current billing period in bytes
        type:
        - integer
        - nil
        format: int32
      labels:
        required: true
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        additionalProperties: true
        properties:
          //:
            type: string
      load_balancer_type:
        required: true
        displayName: load_balancer_type
        type: LoadBalancerType
      location:
        required: true
        displayName: location
        type: Location
      name:
        required: true
        example:
          value: my-resource
        displayName: name
        description: Name of the Resource. Must be unique per Project.
        type: string
      outgoing_traffic:
        required: true
        displayName: outgoing_traffic
        description: Outbound Traffic for the current billing period in bytes
        type:
        - integer
        - nil
        format: int32
      private_net:
        required: true
        displayName: private_net
        description: Private networks information
        type: array
        items:
          type: PrivateNet
      protection:
        required: true
        displayName: protection
        description: Protection configuration for the Resource
        type: Protection
      public_net:
        required: true
        displayName: public_net
        description: Public network information
        type: PublicNet
      services:
        required: true
        displayName: services
        description: List of services that belong to this Load Balancer
        type: array
        items:
          type: LoadBalancerService
      targets:
        required: true
        displayName: targets
        description: List of targets that belong to this Load Balancer
        type: array
        items:
          type: LoadBalancerTarget
  Algorithm:
    displayName: Algorithm
    description: Algorithm of the Load Balancer
    type: object
    properties:
      type:
        required: true
        displayName: type
        description: Type of the algorithm
        type: string
        enum:
        - round_robin
        - least_connections
  PrivateNet:
    displayName: PrivateNet
    type: object
    properties:
      ip:
        required: false
        example:
          value: 10.0.0.2
        displayName: ip
        type: string
      network:
        required: false
        example:
          value: 4711
        displayName: network
        type: integer
        format: int32
  PublicNet:
    displayName: PublicNet
    description: Public network information
    type: object
    properties:
      enabled:
        required: true
        displayName: enabled
        description: Public Interface enabled or not
        type: boolean
      ipv4:
        required: true
        displayName: ipv4
        description: IP address (v4)
        type: Ipv4
      ipv6:
        required: true
        displayName: ipv6
        description: IP address (v6)
        type: Ipv6
  Ipv4:
    displayName: Ipv4
    description: IP address (v4)
    type: object
    properties:
      dns_ptr:
        required: false
        example:
          value: lb1.example.com
        displayName: dns_ptr
        description: Reverse DNS PTR entry for the IPv4 address of this Load Balancer
        type:
        - string
        - nil
      ip:
        required: false
        example:
          value: 1.2.3.4
        displayName: ip
        description: IP address (v4) of this Load Balancer
        type:
        - string
        - nil
  Ipv6:
    displayName: Ipv6
    description: IP address (v6)
    type: object
    properties:
      dns_ptr:
        required: false
        example:
          value: lb1.example.com
        displayName: dns_ptr
        description: Reverse DNS PTR entry for the IPv6 address of this Load Balancer
        type:
        - string
        - nil
      ip:
        required: false
        example:
          value: 2001:db8::1
        displayName: ip
        description: IP address (v6) of this Load Balancer
        type:
        - string
        - nil
  LoadBalancerService:
    displayName: LoadBalancerService
    type: object
    properties:
      destination_port:
        required: true
        example:
          value: 80
        displayName: destination_port
        description: Port the Load Balancer will balance to
        type: integer
        format: int32
      health_check:
        required: true
        displayName: health_check
        description: Service health check
        type: LoadBalancerServiceHealthCheck
      http:
        required: false
        displayName: http
        description: Configuration option for protocols http and https
        type: LoadBalancerServiceHTTP
      listen_port:
        required: true
        example:
          value: 443
        displayName: listen_port
        description: Port the Load Balancer listens on
        type: integer
        format: int32
      protocol:
        required: true
        example:
          value: https
        displayName: protocol
        description: Protocol of the Load Balancer
        type: string
        enum:
        - tcp
        - http
        - https
      proxyprotocol:
        required: true
        example:
          value: false
        displayName: proxyprotocol
        description: Is Proxyprotocol enabled or not
        type: boolean
  LoadBalancerServiceHealthCheck:
    displayName: LoadBalancerServiceHealthCheck
    description: Service health check
    type: object
    properties:
      http:
        required: false
        displayName: http
        description: Additional configuration for protocol http
        type: Http
      interval:
        required: true
        example:
          value: 15
        displayName: interval
        description: Time interval in seconds health checks are performed
        type: integer
        format: int32
      port:
        required: true
        example:
          value: 4711
        displayName: port
        description: Port the health check will be performed on
        type: integer
        format: int32
      protocol:
        required: true
        example:
          value: http
        displayName: protocol
        description: Type of the health check
        type: string
        enum:
        - tcp
        - http
      retries:
        required: true
        example:
          value: 3
        displayName: retries
        description: Unsuccessful retries needed until a target is considered unhealthy; an unhealthy target needs the same number of successful retries to become healthy again
        type: integer
        format: int32
      timeout:
        required: true
        example:
          value: 10
        displayName: timeout
        description: Time in seconds after an attempt is considered a timeout
        type: integer
        format: int32
  Http:
    displayName: Http
    description: Additional configuration for protocol http
    type: object
    properties:
      domain:
        required: true
        example:
          value: example.com
        displayName: domain
        description: Host header to send in the HTTP request. May not contain spaces, percent or backslash symbols. Can be null, in that case no host header is sent.
        type:
        - string
        - nil
      path:
        required: true
        example:
          value: /
        displayName: path
        description: HTTP path to use for health checks. May not contain literal spaces, use percent-encoding instead.
        type: string
      response:
        required: false
        example:
          value:
            status: ok
        displayName: response
        description: String that must be contained in HTTP response in order to pass the health check
        type: string
      status_codes:
        required: false
        example:
          value:
          - 2??
          - 3??
        displayName: status_codes
        description: List of returned HTTP status codes in order to pass the health check. Supports the wildcards `?` for exactly one character and `*` for multiple ones. The default is to pass the health check for any status code between 2?? and 3??.
        type: array
        items:
          type: string
      tls:
        required: false
        example:
          value: false
        displayName: tls
        description: Use HTTPS for health check
        type: boolean
  LoadBalancerServiceHTTP:
    displayName: LoadBalancerServiceHTTP
    description: Configuration option for protocols http and https
    type: object
    properties:
      certificates:
        required: false
        example:
          value:
          - 897
        displayName: certificates
        description: IDs of the Certificates to use for TLS/SSL termination by the Load Balancer; empty for TLS/SSL passthrough or if `protocol` is "http"
        type: array
        items:
          type: integer
          format: int32
      cookie_lifetime:
        required: false
        example:
          value: 300
        displayName: cookie_lifetime
        description: Lifetime of the cookie used for sticky sessions
        type: integer
        format: int32
      cookie_name:
        required: false
        example:
          value: HCLBSTICKY
        displayName: cookie_name
        description: Name of the cookie used for sticky sessions
        type: string
      redirect_http:
        required: false
        example:
          value: true
        displayName: redirect_http
        description: Redirect HTTP requests to HTTPS. Only available if protocol is "https". Default `false`
        type: boolean
      sticky_sessions:
        required: false
        example:
          value: true
        displayName: sticky_sessions
        description: Use sticky sessions. Only available if protocol is "http" or "https". Default `false`
        type: boolean
  LoadBalancerTarget:
    displayName: LoadBalancerTarget
    type: object
    properties:
      health_status:
        required: false
        displayName: health_status
        description: List of health statuses of the services on this target
        type: array
        items:
          type: HealthStatus
      ip:
        required: false
        displayName: ip
        description: IP targets where the traffic should be routed through. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well.
        type: Ip
      label_selector:
        required: false
        displayName: label_selector
        description: Label selector and a list of selected targets
        type: LabelSelector7
      server:
        required: false
        displayName: server
        description: Server where the traffic should be routed through
        type: LoadBalancerTargetServer
      targets:
        required: false
        displayName: targets
        description: List of selected targets
        type: array
        items:
          type: Target
      type:
        required: true
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
        - ip
      use_private_ip:
        required: false
        displayName: use_private_ip
        description: Use the private network IP instead of the public IP. Default value is false.
        type: boolean
  HealthStatus:
    displayName: HealthStatus
    type: object
    properties:
      listen_port:
        required: false
        example:
          value: 443
        displayName: listen_port
        type: integer
        format: int32
      status:
        required: false
        example:
          value: healthy
        displayName: status
        type: string
        enum:
        - healthy
        - unhealthy
        - unknown
  Ip:
    displayName: Ip
    description: IP targets where the traffic should be routed through. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well.
    type: object
    properties:
      ip:
        required: true
        example:
          value: 203.0.113.1
        displayName: ip
        description: IP of a server that belongs to the same customer (public IPv4/IPv6) or private IP in a Subnetwork type vswitch.
        type: string
  LabelSelector7:
    displayName: LabelSelector7
    description: Label selector and a list of selected targets
    type: object
    properties:
      selector:
        required: true
        example:
          value: env=prod
        displayName: selector
        description: Label selector
        type: string
  LoadBalancerTargetServer:
    displayName: LoadBalancerTargetServer
    description: Server where the traffic should be routed through
    type: object
    properties:
      id:
        required: true
        example:
          value: 80
        displayName: id
        description: ID of the Server
        type: integer
        format: int32
  Target:
    displayName: Target
    type: object
    properties:
      health_status:
        required: false
        displayName: health_status
        type: array
        items:
          type: HealthStatus
      server:
        required: false
        displayName: server
        type: Server11
      type:
        required: false
        example:
          value: server
        displayName: type
        type: string
      use_private_ip:
        required: false
        example:
          value: false
        displayName: use_private_ip
        type: boolean
  Server11:
    displayName: Server11
    type: object
    properties:
      id:
        required: true
        example:
          value: 85
        displayName: id
        description: ID of the Server
        type: integer
        format: int32
  CreateLoadBalancerRequest:
    displayName: CreateLoadBalancerRequest
    type: object
    properties:
      algorithm:
        required: true
        displayName: algorithm
        description: Algorithm of the Load Balancer
        type: LoadBalancerAlgorithm
      labels:
        required: false
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: Labels
      load_balancer_type:
        required: true
        example:
          value: lb11
        displayName: load_balancer_type
        description: ID or name of the Load Balancer type this Load Balancer should be created with
        type: string
      location:
        required: false
        displayName: location
        description: ID or name of Location to create Load Balancer in
        type: string
      name:
        required: true
        example:
          value: Web Frontend
        displayName: name
        description: Name of the Load Balancer
        type: string
      network:
        required: false
        example:
          value: 123
        displayName: network
        description: ID of the network the Load Balancer should be attached to on creation
        type: integer
        format: int32
      network_zone:
        required: false
        example:
          value: eu-central
        displayName: network_zone
        description: Name of network zone
        type: string
      public_interface:
        required: false
        example:
          value: true
        displayName: public_interface
        description: Enable or disable the public interface of the Load Balancer
        type: boolean
      services:
        required: false
        displayName: services
        description: Array of services
        type: array
        items:
          type: LoadBalancerService
      targets:
        required: false
        displayName: targets
        description: Array of targets
        type: array
        items:
          type: LoadBalancerTarget
  LoadBalancerAlgorithm:
    displayName: LoadBalancerAlgorithm
    description: Algorithm of the Load Balancer
    type: object
    properties:
      type:
        required: true
        displayName: type
        description: Type of the algorithm
        type: string
        enum:
        - round_robin
        - least_connections
  Labels:
    displayName: Labels
    description: User-defined labels (key-value pairs)
    type: object
    properties:
      labelkey:
        required: false
        example:
          value: value
        displayName: labelkey
        description: New label
        type: string
  LoadBalancersResponse1:
    displayName: LoadBalancersResponse1
    type: object
    properties:
      action:
        required: true
        displayName: action
        type: Action
      load_balancer:
        required: true
        displayName: load_balancer
        type: LoadBalancer
  LoadBalancersResponse2:
    displayName: LoadBalancersResponse2
    type: object
    properties:
      load_balancer:
        required: true
        displayName: load_balancer
        type: LoadBalancer
  LoadBalancersRequest:
    displayName: LoadBalancersRequest
    type: object
    properties:
      labels:
        required: false
        example:
          value:
            labelkey: value
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      name:
        required: false
        example:
          value: new-name
        displayName: name
        description: New Load Balancer name
        type: string
  AddTargetRequest:
    displayName: AddTargetRequest
    type: object
    properties:
      ip:
        required: false
        displayName: ip
        description: IP targets where the traffic should be routed through. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well.
        type: Ip
      label_selector:
        required: false
        displayName: label_selector
        description: Configuration for label selector targets, required if type is `label_selector`
        type: LabelSelector12
      server:
        required: false
        displayName: server
        description: Configuration for type Server, required if type is `server`
        type: Server16
      type:
        required: true
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
        - ip
      use_private_ip:
        required: false
        example:
          value: true
        displayName: use_private_ip
        description: Use the private network IP instead of the public IP of the Server, requires the Server and Load Balancer to be in the same network. Default value is false.
        type: boolean
  LabelSelector12:
    displayName: LabelSelector12
    description: Configuration for label selector targets, required if type is `label_selector`
    type: object
    properties:
      selector:
        required: true
        example:
          value: env=prod
        displayName: selector
        description: Label selector
        type: string
  Server16:
    displayName: Server16
    description: Configuration for type Server, required if type is `server`
    type: object
    properties:
      id:
        required: true
        example:
          value: 80
        displayName: id
        description: ID of the Server
        type: number
        format: double
  LoadBalancersActionsAttachToNetworkRequest:
    displayName: LoadBalancersActionsAttachToNetworkRequest
    type: object
    properties:
      ip:
        required: false
        example:
          value: 10.0.1.1
        displayName: ip
        description: IP to request to be assigned to this Load Balancer; if you do not provide this then you will be auto assigned an IP address
        type: string
      network:
        required: true
        example:
          value: 4711
        displayName: network
        description: ID of an existing network to attach the Load Balancer to
        type: number
        format: double
  LoadBalancersActionsChangeAlgorithmRequest:
    displayName: LoadBalancersActionsChangeAlgorithmRequest
    type: object
    properties:
      type:
        required: true
        displayName: type
        description: Algorithm of the Load Balancer
        type: string
        enum:
        - round_robin
        - least_connections
  ChangeLoadbalancerDnsPtrRequest:
    displayName: ChangeLoadbalancerDnsPtrRequest
    type: object
    properties:
      dns_ptr:
        required: true
        example:
          value: lb1.example.com
        displayName: dns_ptr
        description: Hostname to set as a reverse DNS PTR entry
        type:
        - string
        - nil
      ip:
        required: true
        example:
          value: 1.2.3.4
        displayName: ip
        description: Public IP address for which the reverse DNS entry should be set
        type: string
  LoadBalancersActionsChangeProtectionRequest:
    displayName: LoadBalancersActionsChangeProtectionRequest
    type: object
    properties:
      delete:
        required: false
        example:
          value: true
        displayName: delete
        description: If true, prevents the Load Balancer from being deleted
        type: boolean
  ChangeTypeRequest:
    displayName: ChangeTypeRequest
    type: object
    properties:
      load_balancer_type:
        required: true
        example:
          value: lb21
        displayName: load_balancer_type
        description: ID or name of Load Balancer type the Load Balancer should migrate to
        type: string
  LoadBalancersActionsDeleteServiceRequest:
    displayName: LoadBalancersActionsDeleteServiceRequest
    type: object
    properties:
      listen_port:
        required: true
        example:
          value: 4711
        displayName: listen_port
        description: The listen port of the service you want to delete
        type: number
        format: double
  LoadBalancersActionsDetachFromNetworkRequest:
    displayName: LoadBalancersActionsDetachFromNetworkRequest
    type: object
    properties:
      network:
        required: true
        example:
          value: 4711
        displayName: network
        description: ID of an existing network to detach the Load Balancer from
        type: number
        format: double
  RemoveTargetRequest:
    displayName: RemoveTargetRequest
    type: object
    properties:
      ip:
        required: false
        displayName: ip
        description: IP targets where the traffic should be routed through. It is only possible to use the (Public or vSwitch) IPs of Hetzner Online Root Servers belonging to the project owner. IPs belonging to other users are blocked. Additionally IPs belonging to services provided by Hetzner Cloud (Servers, Load Balancers, ...) are blocked as well.
        type: Ip
      label_selector:
        required: false
        displayName: label_selector
        description: Configuration for label selector targets, required if type is `label_selector`
        type: LabelSelector12
      server:
        required: false
        displayName: server
        description: Configuration for type Server, required if type is `server`
        type: Server16
      type:
        required: true
        displayName: type
        description: Type of the resource
        type: string
        enum:
        - server
        - label_selector
        - ip
  LoadBalancersMetricsResponse:
    displayName: LoadBalancersMetricsResponse
    type: object
    properties:
      metrics:
        required: true
        displayName: metrics
        type: Metrics
  Metrics:
    displayName: Metrics
    type: object
    properties:
      end:
        required: true
        example:
          value: 2017-01-01T23:00:00+00:00
        displayName: end
        description: End of period of metrics reported (in ISO-8601 format)
        type: string
      start:
        required: true
        example:
          value: 2017-01-01T00:00:00+00:00
        displayName: start
        description: Start of period of metrics reported (in ISO-8601 format)
        type: string
      step:
        required: true
        example:
          value: 60
        displayName: step
        description: Resolution of results in seconds.
        type: number
        format: double
      time_series:
        required: true
        example:
          value:
            name_of_timeseries:
              values:
              - - 1435781470.622
                - '42'
              - - 1435781471.622
                - '43'
        displayName: time_series
        description: Hash with timeseries information, containing the name of timeseries as key
        type: object
        additionalProperties: true
        properties:
          //:
            type: TimeSeries
  TimeSeries:
    displayName: TimeSeries
    type: object
    properties:
      values:
        required: true
        displayName: values
        description: Metrics Timestamps with values
        type: (number | string)[][]
  LocationsResponse:
    displayName: LocationsResponse
    type: object
    properties:
      locations:
        required: true
        displayName: locations
        type: array
        items:
          type: Location
  LocationsResponse1:
    displayName: LocationsResponse1
    type: object
    properties:
      location:
        required: true
        displayName: location
        type: Location
  NetworksResponse:
    displayName: NetworksResponse
    type: object
    properties:
      meta:
        required: false
        displayName: meta
        type: Meta
      networks:
        required: true
        displayName: networks
        type: array
        items:
          type: Network
  Network:
    displayName: Network
    type: object
    properties:
      created:
        required: true
        example:
          value: 2016-01-30T23:50:00+00:00
        displayName: created
        description: Point in time when the Network was created (in ISO-8601 format)
        type: string
      id:
        required: true
        example:
          value: 4711
        displayName: id
        description: ID of the Network
        type: integer
        format: int32
      ip_range:
        required: true
        example:
          value: 10.0.0.0/16
        displayName: ip_range
        description: IPv4 prefix of the whole Network
        type: string
      labels:
        required: true
        displayName: labels
        description: User-defined labels (key-value pairs)
        type: object
        properties: {}
      load_balancers:
        required: false
        example:
          value:
          - 42
        displayName: load_balancers
        description: Array of IDs of Load Balancers attached to this Network
        type: array
        items:
          type: integer
          format: int32
      name:
        required: true
        example:
          value: mynet
        displayName: name
        description: Name of the Network
        type: string
      protection:
        required: true
        displayName: protection
        description: Protection configuration for the Network
        type: Protection11
      routes:
        required: true
        displayName: routes
        description: Array of routes set in this Network
        type: array
        items:
          type: Route
      servers:
        required: true
        example:
          value:
          - 42
        displayName: servers
        description: Array of IDs of Servers attached to this Network
        type: array
        items:
          type: integer
          format: int32
      subnets:
        required: true
        displayName: subnets
        description: Array subnets allocated in this Network
        type: array
        items:
          type: Subnet
  Protection11:
    displayName: Protection11
    description: Protection configuration for the Network
    type: object
    properties:
      delete:
        required: true
        example:
          value: false
        displayName: delete
        description: If true, prevents the Network from being deleted
        type: boolean
  Route:
    displayName: Route
    type: object
    properties:
      destination:
        required: true
        example:
          value: 10.100.1.0/24
        displayName: destination
        description: Destination network or host of this route. Must not overlap with an existing ip_range in any subnets or with any destinations in other routes or with the first IP of the networks ip_range or with 172.31.1.1. Must be one of the private IPv4 ranges of RFC1918.
        type: string
      gateway:
        required: true
        example:
          value: 10.0.1.1
        displayName: gateway
        description: Gateway for the route. Cannot be the first IP of the networks ip_range and also cannot be 172.31.1.1 as this IP is being used as a gateway for the public network interface of Servers.
        type: string
  Subnet:
    displayName: Subnet
    type: object
    properties:
      gateway:
        required: true
        example:
          value: 10.0.0.1
        displayName: gateway
        description: Gateway for Servers attached to this subnet. For subnets of type Server this is always the first IP of the network IP range.
        type: string
      ip_range:
        required: false
        example:
          value: 10.0.1.0/24
        displayName: ip_range
[...]
