#%RAML 0.8
title: Giphy API
version: '1.0'
documentation:
- title: Giphy API
  content: Giphy API
baseUri: https://api.giphy.com/v1
securedBy:
- api_key
protocols:
- HTTPS
baseUriParameters: {}
schemas:
- Gif: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Gif",
      "title": "Gif",
      "type": "object",
      "properties": {
        "bitly_url": {
          "description": "The unique bit.ly URL for this GIF",
          "example": "http://gph.is/1gsWDcL",
          "type": "string"
        },
        "content_url": {
          "description": "Currently unused",
          "type": "string"
        },
        "create_datetime": {
          "description": "The date this GIF was added to the GIPHY database.",
          "example": "2013-08-01 12:41:48",
          "type": "string",
          "format": "date-time"
        },
        "embded_url": {
          "description": "A URL used for embedding this GIF",
          "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
          "type": "string"
        },
        "featured_tags": {
          "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "description": "This GIF's unique ID",
          "example": "YsTs5ltWtEhnq",
          "type": "string"
        },
        "images": {
          "id": "Images",
          "title": "Images",
          "description": "An object containing data for various available formats and sizes of this GIF.",
          "type": "object",
          "properties": {
            "downsized": {
              "id": "Image",
              "title": "Image",
              "type": "object",
              "properties": {
                "frames": {
                  "description": "The number of frames in this GIF.",
                  "example": "15",
                  "type": "string"
                },
                "height": {
                  "description": "The height of this GIF in pixels.",
                  "example": "200",
                  "type": "string"
                },
                "mp4": {
                  "description": "The URL for this GIF in .MP4 format.",
                  "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                  "type": "string"
                },
                "mp4_size": {
                  "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                  "example": "25123",
                  "type": "string"
                },
                "size": {
                  "description": "The size of this GIF in bytes.",
                  "example": "32381",
                  "type": "string"
                },
                "url": {
                  "description": "The publicly-accessible direct URL for this GIF.",
                  "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                  "type": "string"
                },
                "webp": {
                  "description": "The URL for this GIF in .webp format.",
                  "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                  "type": "string"
                },
                "webp_size": {
                  "description": "The size in bytes of the .webp file corresponding to this GIF.",
                  "example": "12321",
                  "type": "string"
                },
                "width": {
                  "description": "The width of this GIF in pixels.",
                  "example": "320",
                  "type": "string"
                }
              }
            },
            "downsized_large": {
              "$ref": "Image"
            },
            "downsized_medium": {
              "$ref": "Image"
            },
            "downsized_small": {
              "$ref": "Image"
            },
            "downsized_still": {
              "$ref": "Image"
            },
            "fixed_height": {
              "$ref": "Image"
            },
            "fixed_height_downsampled": {
              "$ref": "Image"
            },
            "fixed_height_small": {
              "$ref": "Image"
            },
            "fixed_height_small_still": {
              "$ref": "Image"
            },
            "fixed_height_still": {
              "$ref": "Image"
            },
            "fixed_width": {
              "$ref": "Image"
            },
            "fixed_width_downsampled": {
              "$ref": "Image"
            },
            "fixed_width_small": {
              "$ref": "Image"
            },
            "fixed_width_small_still": {
              "$ref": "Image"
            },
            "fixed_width_still": {
              "$ref": "Image"
            },
            "looping": {
              "$ref": "Image"
            },
            "original": {
              "$ref": "Image"
            },
            "original_still": {
              "$ref": "Image"
            },
            "preview": {
              "$ref": "Image"
            },
            "preview_gif": {
              "$ref": "Image"
            }
          }
        },
        "import_datetime": {
          "description": "The creation or upload date from this GIF's source.",
          "example": "2013-08-01 12:41:48",
          "type": "string",
          "format": "date-time"
        },
        "rating": {
          "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
          "example": "g",
          "type": "string"
        },
        "slug": {
          "description": "The unique slug used in this GIF's URL",
          "example": "confused-flying-YsTs5ltWtEhnq",
          "type": "string"
        },
        "source": {
          "description": "The page on which this GIF was found",
          "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
          "type": "string"
        },
        "source_post_url": {
          "description": "The URL of the webpage on which this GIF was found.",
          "example": "http://cheezburger.com/5282328320",
          "type": "string"
        },
        "source_tld": {
          "description": "The top level domain of the source URL.",
          "example": "cheezburger.com",
          "type": "string"
        },
        "tags": {
          "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "trending_datetime": {
          "description": "The date on which this gif was marked trending, if applicable.",
          "example": "2013-08-01 12:41:48",
          "type": "string",
          "format": "date-time"
        },
        "type": {
          "title": "Type",
          "description": "Type of the gif. By default, this is almost always gif",
          "type": "string",
          "additionalProperties": false,
          "enum": [
            "gif"
          ]
        },
        "update_datetime": {
          "description": "The date on which this GIF was last updated.",
          "example": "2013-08-01 12:41:48",
          "type": "string",
          "format": "date-time"
        },
        "url": {
          "description": "The unique URL for this GIF",
          "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
          "type": "string"
        },
        "user": {
          "id": "User",
          "title": "User",
          "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
          "type": "object",
          "properties": {
            "avatar_url": {
              "description": "The URL for this user's avatar image.",
              "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
              "type": "string"
            },
            "banner_url": {
              "description": "The URL for the banner image that appears atop this user's profile page.",
              "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
              "type": "string"
            },
            "display_name": {
              "description": "The display name associated with this user (contains formatting the base username might not).",
              "example": "JoeCool4000",
              "type": "string"
            },
            "profile_url": {
              "description": "The URL for this user's profile.",
              "example": "https://giphy.com/cheezburger/",
              "type": "string"
            },
            "twitter": {
              "description": "The Twitter username associated with this user, if applicable.",
              "example": "@joecool4000",
              "type": "string"
            },
            "username": {
              "description": "The username associated with this user.",
              "example": "joecool4000",
              "type": "string"
            }
          }
        },
        "username": {
          "description": "The username this GIF is attached to, if applicable",
          "example": "JoeCool4000",
          "type": "string"
        }
      }
    }
- Image: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Image",
      "title": "Image",
      "type": "object",
      "properties": {
        "frames": {
          "description": "The number of frames in this GIF.",
          "example": "15",
          "type": "string"
        },
        "height": {
          "description": "The height of this GIF in pixels.",
          "example": "200",
          "type": "string"
        },
        "mp4": {
          "description": "The URL for this GIF in .MP4 format.",
          "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
          "type": "string"
        },
        "mp4_size": {
          "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
          "example": "25123",
          "type": "string"
        },
        "size": {
          "description": "The size of this GIF in bytes.",
          "example": "32381",
          "type": "string"
        },
        "url": {
          "description": "The publicly-accessible direct URL for this GIF.",
          "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
          "type": "string"
        },
        "webp": {
          "description": "The URL for this GIF in .webp format.",
          "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
          "type": "string"
        },
        "webp_size": {
          "description": "The size in bytes of the .webp file corresponding to this GIF.",
          "example": "12321",
          "type": "string"
        },
        "width": {
          "description": "The width of this GIF in pixels.",
          "example": "320",
          "type": "string"
        }
      }
    }
- Meta: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Meta",
      "title": "Meta",
      "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
      "type": "object",
      "properties": {
        "msg": {
          "description": "HTTP Response Message",
          "example": "OK",
          "type": "string"
        },
        "response_id": {
          "description": "A unique ID paired with this response from the API.",
          "example": "57eea03c72381f86e05c35d2",
          "type": "string"
        },
        "status": {
          "description": "HTTP Response Code",
          "example": 200,
          "type": "integer",
          "format": "int32"
        }
      }
    }
- Pagination: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Pagination",
      "title": "Pagination",
      "description": "The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.",
      "type": "object",
      "properties": {
        "count": {
          "description": "Total number of items returned.",
          "example": 25,
          "type": "integer",
          "format": "int32"
        },
        "offset": {
          "description": "Position in pagination.",
          "example": 75,
          "type": "integer",
          "format": "int32"
        },
        "total_count": {
          "description": "Total number of items available.",
          "example": 250,
          "type": "integer",
          "format": "int32"
        }
      }
    }
- User: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "User",
      "title": "User",
      "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
      "type": "object",
      "properties": {
        "avatar_url": {
          "description": "The URL for this user's avatar image.",
          "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
          "type": "string"
        },
        "banner_url": {
          "description": "The URL for the banner image that appears atop this user's profile page.",
          "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
          "type": "string"
        },
        "display_name": {
          "description": "The display name associated with this user (contains formatting the base username might not).",
          "example": "JoeCool4000",
          "type": "string"
        },
        "profile_url": {
          "description": "The URL for this user's profile.",
          "example": "https://giphy.com/cheezburger/",
          "type": "string"
        },
        "twitter": {
          "description": "The Twitter username associated with this user, if applicable.",
          "example": "@joecool4000",
          "type": "string"
        },
        "username": {
          "description": "The username associated with this user.",
          "example": "joecool4000",
          "type": "string"
        }
      }
    }
- GifsRandomResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsRandomResponse",
      "title": "GifsRandomResponse",
      "type": "object",
      "properties": {
        "data": {
          "id": "Gif",
          "title": "Gif",
          "type": "object",
          "properties": {
            "bitly_url": {
              "description": "The unique bit.ly URL for this GIF",
              "example": "http://gph.is/1gsWDcL",
              "type": "string"
            },
            "content_url": {
              "description": "Currently unused",
              "type": "string"
            },
            "create_datetime": {
              "description": "The date this GIF was added to the GIPHY database.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "embded_url": {
              "description": "A URL used for embedding this GIF",
              "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
              "type": "string"
            },
            "featured_tags": {
              "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "id": {
              "description": "This GIF's unique ID",
              "example": "YsTs5ltWtEhnq",
              "type": "string"
            },
            "images": {
              "id": "Images",
              "title": "Images",
              "description": "An object containing data for various available formats and sizes of this GIF.",
              "type": "object",
              "properties": {
                "downsized": {
                  "id": "Image",
                  "title": "Image",
                  "type": "object",
                  "properties": {
                    "frames": {
                      "description": "The number of frames in this GIF.",
                      "example": "15",
                      "type": "string"
                    },
                    "height": {
                      "description": "The height of this GIF in pixels.",
                      "example": "200",
                      "type": "string"
                    },
                    "mp4": {
                      "description": "The URL for this GIF in .MP4 format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                      "type": "string"
                    },
                    "mp4_size": {
                      "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                      "example": "25123",
                      "type": "string"
                    },
                    "size": {
                      "description": "The size of this GIF in bytes.",
                      "example": "32381",
                      "type": "string"
                    },
                    "url": {
                      "description": "The publicly-accessible direct URL for this GIF.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                      "type": "string"
                    },
                    "webp": {
                      "description": "The URL for this GIF in .webp format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                      "type": "string"
                    },
                    "webp_size": {
                      "description": "The size in bytes of the .webp file corresponding to this GIF.",
                      "example": "12321",
                      "type": "string"
                    },
                    "width": {
                      "description": "The width of this GIF in pixels.",
                      "example": "320",
                      "type": "string"
                    }
                  }
                },
                "downsized_large": {
                  "$ref": "Image"
                },
                "downsized_medium": {
                  "$ref": "Image"
                },
                "downsized_small": {
                  "$ref": "Image"
                },
                "downsized_still": {
                  "$ref": "Image"
                },
                "fixed_height": {
                  "$ref": "Image"
                },
                "fixed_height_downsampled": {
                  "$ref": "Image"
                },
                "fixed_height_small": {
                  "$ref": "Image"
                },
                "fixed_height_small_still": {
                  "$ref": "Image"
                },
                "fixed_height_still": {
                  "$ref": "Image"
                },
                "fixed_width": {
                  "$ref": "Image"
                },
                "fixed_width_downsampled": {
                  "$ref": "Image"
                },
                "fixed_width_small": {
                  "$ref": "Image"
                },
                "fixed_width_small_still": {
                  "$ref": "Image"
                },
                "fixed_width_still": {
                  "$ref": "Image"
                },
                "looping": {
                  "$ref": "Image"
                },
                "original": {
                  "$ref": "Image"
                },
                "original_still": {
                  "$ref": "Image"
                },
                "preview": {
                  "$ref": "Image"
                },
                "preview_gif": {
                  "$ref": "Image"
                }
              }
            },
            "import_datetime": {
              "description": "The creation or upload date from this GIF's source.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "rating": {
              "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
              "example": "g",
              "type": "string"
            },
            "slug": {
              "description": "The unique slug used in this GIF's URL",
              "example": "confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "source": {
              "description": "The page on which this GIF was found",
              "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
              "type": "string"
            },
            "source_post_url": {
              "description": "The URL of the webpage on which this GIF was found.",
              "example": "http://cheezburger.com/5282328320",
              "type": "string"
            },
            "source_tld": {
              "description": "The top level domain of the source URL.",
              "example": "cheezburger.com",
              "type": "string"
            },
            "tags": {
              "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "trending_datetime": {
              "description": "The date on which this gif was marked trending, if applicable.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "type": {
              "title": "Type",
              "description": "Type of the gif. By default, this is almost always gif",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "gif"
              ]
            },
            "update_datetime": {
              "description": "The date on which this GIF was last updated.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "url": {
              "description": "The unique URL for this GIF",
              "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "user": {
              "id": "User",
              "title": "User",
              "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
              "type": "object",
              "properties": {
                "avatar_url": {
                  "description": "The URL for this user's avatar image.",
                  "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                  "type": "string"
                },
                "banner_url": {
                  "description": "The URL for the banner image that appears atop this user's profile page.",
                  "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                  "type": "string"
                },
                "display_name": {
                  "description": "The display name associated with this user (contains formatting the base username might not).",
                  "example": "JoeCool4000",
                  "type": "string"
                },
                "profile_url": {
                  "description": "The URL for this user's profile.",
                  "example": "https://giphy.com/cheezburger/",
                  "type": "string"
                },
                "twitter": {
                  "description": "The Twitter username associated with this user, if applicable.",
                  "example": "@joecool4000",
                  "type": "string"
                },
                "username": {
                  "description": "The username associated with this user.",
                  "example": "joecool4000",
                  "type": "string"
                }
              }
            },
            "username": {
              "description": "The username this GIF is attached to, if applicable",
              "example": "JoeCool4000",
              "type": "string"
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GifsResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsResponse",
      "title": "GifsResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Gif",
            "title": "Gif",
            "type": "object",
            "properties": {
              "bitly_url": {
                "description": "The unique bit.ly URL for this GIF",
                "example": "http://gph.is/1gsWDcL",
                "type": "string"
              },
              "content_url": {
                "description": "Currently unused",
                "type": "string"
              },
              "create_datetime": {
                "description": "The date this GIF was added to the GIPHY database.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "embded_url": {
                "description": "A URL used for embedding this GIF",
                "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
                "type": "string"
              },
              "featured_tags": {
                "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "id": {
                "description": "This GIF's unique ID",
                "example": "YsTs5ltWtEhnq",
                "type": "string"
              },
              "images": {
                "id": "Images",
                "title": "Images",
                "description": "An object containing data for various available formats and sizes of this GIF.",
                "type": "object",
                "properties": {
                  "downsized": {
                    "id": "Image",
                    "title": "Image",
                    "type": "object",
                    "properties": {
                      "frames": {
                        "description": "The number of frames in this GIF.",
                        "example": "15",
                        "type": "string"
                      },
                      "height": {
                        "description": "The height of this GIF in pixels.",
                        "example": "200",
                        "type": "string"
                      },
                      "mp4": {
                        "description": "The URL for this GIF in .MP4 format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                        "type": "string"
                      },
                      "mp4_size": {
                        "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                        "example": "25123",
                        "type": "string"
                      },
                      "size": {
                        "description": "The size of this GIF in bytes.",
                        "example": "32381",
                        "type": "string"
                      },
                      "url": {
                        "description": "The publicly-accessible direct URL for this GIF.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                        "type": "string"
                      },
                      "webp": {
                        "description": "The URL for this GIF in .webp format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                        "type": "string"
                      },
                      "webp_size": {
                        "description": "The size in bytes of the .webp file corresponding to this GIF.",
                        "example": "12321",
                        "type": "string"
                      },
                      "width": {
                        "description": "The width of this GIF in pixels.",
                        "example": "320",
                        "type": "string"
                      }
                    }
                  },
                  "downsized_large": {
                    "$ref": "Image"
                  },
                  "downsized_medium": {
                    "$ref": "Image"
                  },
                  "downsized_small": {
                    "$ref": "Image"
                  },
                  "downsized_still": {
                    "$ref": "Image"
                  },
                  "fixed_height": {
                    "$ref": "Image"
                  },
                  "fixed_height_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_height_small": {
                    "$ref": "Image"
                  },
                  "fixed_height_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_height_still": {
                    "$ref": "Image"
                  },
                  "fixed_width": {
                    "$ref": "Image"
                  },
                  "fixed_width_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_width_small": {
                    "$ref": "Image"
                  },
                  "fixed_width_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_width_still": {
                    "$ref": "Image"
                  },
                  "looping": {
                    "$ref": "Image"
                  },
                  "original": {
                    "$ref": "Image"
                  },
                  "original_still": {
                    "$ref": "Image"
                  },
                  "preview": {
                    "$ref": "Image"
                  },
                  "preview_gif": {
                    "$ref": "Image"
                  }
                }
              },
              "import_datetime": {
                "description": "The creation or upload date from this GIF's source.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "rating": {
                "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
                "example": "g",
                "type": "string"
              },
              "slug": {
                "description": "The unique slug used in this GIF's URL",
                "example": "confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "source": {
                "description": "The page on which this GIF was found",
                "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
                "type": "string"
              },
              "source_post_url": {
                "description": "The URL of the webpage on which this GIF was found.",
                "example": "http://cheezburger.com/5282328320",
                "type": "string"
              },
              "source_tld": {
                "description": "The top level domain of the source URL.",
                "example": "cheezburger.com",
                "type": "string"
              },
              "tags": {
                "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "trending_datetime": {
                "description": "The date on which this gif was marked trending, if applicable.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "title": "Type",
                "description": "Type of the gif. By default, this is almost always gif",
                "type": "string",
                "additionalProperties": false,
                "enum": [
                  "gif"
                ]
              },
              "update_datetime": {
                "description": "The date on which this GIF was last updated.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "url": {
                "description": "The unique URL for this GIF",
                "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "user": {
                "id": "User",
                "title": "User",
                "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
                "type": "object",
                "properties": {
                  "avatar_url": {
                    "description": "The URL for this user's avatar image.",
                    "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                    "type": "string"
                  },
                  "banner_url": {
                    "description": "The URL for the banner image that appears atop this user's profile page.",
                    "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The display name associated with this user (contains formatting the base username might not).",
                    "example": "JoeCool4000",
                    "type": "string"
                  },
                  "profile_url": {
                    "description": "The URL for this user's profile.",
                    "example": "https://giphy.com/cheezburger/",
                    "type": "string"
                  },
                  "twitter": {
                    "description": "The Twitter username associated with this user, if applicable.",
                    "example": "@joecool4000",
                    "type": "string"
                  },
                  "username": {
                    "description": "The username associated with this user.",
                    "example": "joecool4000",
                    "type": "string"
                  }
                }
              },
              "username": {
                "description": "The username this GIF is attached to, if applicable",
                "example": "JoeCool4000",
                "type": "string"
              }
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "pagination": {
          "id": "Pagination",
          "title": "Pagination",
          "description": "The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.",
          "type": "object",
          "properties": {
            "count": {
              "description": "Total number of items returned.",
              "example": 25,
              "type": "integer",
              "format": "int32"
            },
            "offset": {
              "description": "Position in pagination.",
              "example": 75,
              "type": "integer",
              "format": "int32"
            },
            "total_count": {
              "description": "Total number of items available.",
              "example": 250,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GifsResponse1: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsResponse1",
      "title": "GifsResponse1",
      "type": "object",
      "properties": {
        "data": {
          "id": "Gif",
          "title": "Gif",
          "type": "object",
          "properties": {
            "bitly_url": {
              "description": "The unique bit.ly URL for this GIF",
              "example": "http://gph.is/1gsWDcL",
              "type": "string"
            },
            "content_url": {
              "description": "Currently unused",
              "type": "string"
            },
            "create_datetime": {
              "description": "The date this GIF was added to the GIPHY database.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "embded_url": {
              "description": "A URL used for embedding this GIF",
              "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
              "type": "string"
            },
            "featured_tags": {
              "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "id": {
              "description": "This GIF's unique ID",
              "example": "YsTs5ltWtEhnq",
              "type": "string"
            },
            "images": {
              "id": "Images",
              "title": "Images",
              "description": "An object containing data for various available formats and sizes of this GIF.",
              "type": "object",
              "properties": {
                "downsized": {
                  "id": "Image",
                  "title": "Image",
                  "type": "object",
                  "properties": {
                    "frames": {
                      "description": "The number of frames in this GIF.",
                      "example": "15",
                      "type": "string"
                    },
                    "height": {
                      "description": "The height of this GIF in pixels.",
                      "example": "200",
                      "type": "string"
                    },
                    "mp4": {
                      "description": "The URL for this GIF in .MP4 format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                      "type": "string"
                    },
                    "mp4_size": {
                      "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                      "example": "25123",
                      "type": "string"
                    },
                    "size": {
                      "description": "The size of this GIF in bytes.",
                      "example": "32381",
                      "type": "string"
                    },
                    "url": {
                      "description": "The publicly-accessible direct URL for this GIF.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                      "type": "string"
                    },
                    "webp": {
                      "description": "The URL for this GIF in .webp format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                      "type": "string"
                    },
                    "webp_size": {
                      "description": "The size in bytes of the .webp file corresponding to this GIF.",
                      "example": "12321",
                      "type": "string"
                    },
                    "width": {
                      "description": "The width of this GIF in pixels.",
                      "example": "320",
                      "type": "string"
                    }
                  }
                },
                "downsized_large": {
                  "$ref": "Image"
                },
                "downsized_medium": {
                  "$ref": "Image"
                },
                "downsized_small": {
                  "$ref": "Image"
                },
                "downsized_still": {
                  "$ref": "Image"
                },
                "fixed_height": {
                  "$ref": "Image"
                },
                "fixed_height_downsampled": {
                  "$ref": "Image"
                },
                "fixed_height_small": {
                  "$ref": "Image"
                },
                "fixed_height_small_still": {
                  "$ref": "Image"
                },
                "fixed_height_still": {
                  "$ref": "Image"
                },
                "fixed_width": {
                  "$ref": "Image"
                },
                "fixed_width_downsampled": {
                  "$ref": "Image"
                },
                "fixed_width_small": {
                  "$ref": "Image"
                },
                "fixed_width_small_still": {
                  "$ref": "Image"
                },
                "fixed_width_still": {
                  "$ref": "Image"
                },
                "looping": {
                  "$ref": "Image"
                },
                "original": {
                  "$ref": "Image"
                },
                "original_still": {
                  "$ref": "Image"
                },
                "preview": {
                  "$ref": "Image"
                },
                "preview_gif": {
                  "$ref": "Image"
                }
              }
            },
            "import_datetime": {
              "description": "The creation or upload date from this GIF's source.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "rating": {
              "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
              "example": "g",
              "type": "string"
            },
            "slug": {
              "description": "The unique slug used in this GIF's URL",
              "example": "confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "source": {
              "description": "The page on which this GIF was found",
              "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
              "type": "string"
            },
            "source_post_url": {
              "description": "The URL of the webpage on which this GIF was found.",
              "example": "http://cheezburger.com/5282328320",
              "type": "string"
            },
            "source_tld": {
              "description": "The top level domain of the source URL.",
              "example": "cheezburger.com",
              "type": "string"
            },
            "tags": {
              "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "trending_datetime": {
              "description": "The date on which this gif was marked trending, if applicable.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "type": {
              "title": "Type",
              "description": "Type of the gif. By default, this is almost always gif",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "gif"
              ]
            },
            "update_datetime": {
              "description": "The date on which this GIF was last updated.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "url": {
              "description": "The unique URL for this GIF",
              "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "user": {
              "id": "User",
              "title": "User",
              "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
              "type": "object",
              "properties": {
                "avatar_url": {
                  "description": "The URL for this user's avatar image.",
                  "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                  "type": "string"
                },
                "banner_url": {
                  "description": "The URL for the banner image that appears atop this user's profile page.",
                  "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                  "type": "string"
                },
                "display_name": {
                  "description": "The display name associated with this user (contains formatting the base username might not).",
                  "example": "JoeCool4000",
                  "type": "string"
                },
                "profile_url": {
                  "description": "The URL for this user's profile.",
                  "example": "https://giphy.com/cheezburger/",
                  "type": "string"
                },
                "twitter": {
                  "description": "The Twitter username associated with this user, if applicable.",
                  "example": "@joecool4000",
                  "type": "string"
                },
                "username": {
                  "description": "The username associated with this user.",
                  "example": "joecool4000",
                  "type": "string"
                }
              }
            },
            "username": {
              "description": "The username this GIF is attached to, if applicable",
              "example": "JoeCool4000",
              "type": "string"
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GifsSearchResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsSearchResponse",
      "title": "GifsSearchResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Gif",
            "title": "Gif",
            "type": "object",
            "properties": {
              "bitly_url": {
                "description": "The unique bit.ly URL for this GIF",
                "example": "http://gph.is/1gsWDcL",
                "type": "string"
              },
              "content_url": {
                "description": "Currently unused",
                "type": "string"
              },
              "create_datetime": {
                "description": "The date this GIF was added to the GIPHY database.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "embded_url": {
                "description": "A URL used for embedding this GIF",
                "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
                "type": "string"
              },
              "featured_tags": {
                "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "id": {
                "description": "This GIF's unique ID",
                "example": "YsTs5ltWtEhnq",
                "type": "string"
              },
              "images": {
                "id": "Images",
                "title": "Images",
                "description": "An object containing data for various available formats and sizes of this GIF.",
                "type": "object",
                "properties": {
                  "downsized": {
                    "id": "Image",
                    "title": "Image",
                    "type": "object",
                    "properties": {
                      "frames": {
                        "description": "The number of frames in this GIF.",
                        "example": "15",
                        "type": "string"
                      },
                      "height": {
                        "description": "The height of this GIF in pixels.",
                        "example": "200",
                        "type": "string"
                      },
                      "mp4": {
                        "description": "The URL for this GIF in .MP4 format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                        "type": "string"
                      },
                      "mp4_size": {
                        "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                        "example": "25123",
                        "type": "string"
                      },
                      "size": {
                        "description": "The size of this GIF in bytes.",
                        "example": "32381",
                        "type": "string"
                      },
                      "url": {
                        "description": "The publicly-accessible direct URL for this GIF.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                        "type": "string"
                      },
                      "webp": {
                        "description": "The URL for this GIF in .webp format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                        "type": "string"
                      },
                      "webp_size": {
                        "description": "The size in bytes of the .webp file corresponding to this GIF.",
                        "example": "12321",
                        "type": "string"
                      },
                      "width": {
                        "description": "The width of this GIF in pixels.",
                        "example": "320",
                        "type": "string"
                      }
                    }
                  },
                  "downsized_large": {
                    "$ref": "Image"
                  },
                  "downsized_medium": {
                    "$ref": "Image"
                  },
                  "downsized_small": {
                    "$ref": "Image"
                  },
                  "downsized_still": {
                    "$ref": "Image"
                  },
                  "fixed_height": {
                    "$ref": "Image"
                  },
                  "fixed_height_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_height_small": {
                    "$ref": "Image"
                  },
                  "fixed_height_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_height_still": {
                    "$ref": "Image"
                  },
                  "fixed_width": {
                    "$ref": "Image"
                  },
                  "fixed_width_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_width_small": {
                    "$ref": "Image"
                  },
                  "fixed_width_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_width_still": {
                    "$ref": "Image"
                  },
                  "looping": {
                    "$ref": "Image"
                  },
                  "original": {
                    "$ref": "Image"
                  },
                  "original_still": {
                    "$ref": "Image"
                  },
                  "preview": {
                    "$ref": "Image"
                  },
                  "preview_gif": {
                    "$ref": "Image"
                  }
                }
              },
              "import_datetime": {
                "description": "The creation or upload date from this GIF's source.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "rating": {
                "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
                "example": "g",
                "type": "string"
              },
              "slug": {
                "description": "The unique slug used in this GIF's URL",
                "example": "confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "source": {
                "description": "The page on which this GIF was found",
                "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
                "type": "string"
              },
              "source_post_url": {
                "description": "The URL of the webpage on which this GIF was found.",
                "example": "http://cheezburger.com/5282328320",
                "type": "string"
              },
              "source_tld": {
                "description": "The top level domain of the source URL.",
                "example": "cheezburger.com",
                "type": "string"
              },
              "tags": {
                "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "trending_datetime": {
                "description": "The date on which this gif was marked trending, if applicable.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "title": "Type",
                "description": "Type of the gif. By default, this is almost always gif",
                "type": "string",
                "additionalProperties": false,
                "enum": [
                  "gif"
                ]
              },
              "update_datetime": {
                "description": "The date on which this GIF was last updated.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "url": {
                "description": "The unique URL for this GIF",
                "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "user": {
                "id": "User",
                "title": "User",
                "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
                "type": "object",
                "properties": {
                  "avatar_url": {
                    "description": "The URL for this user's avatar image.",
                    "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                    "type": "string"
                  },
                  "banner_url": {
                    "description": "The URL for the banner image that appears atop this user's profile page.",
                    "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The display name associated with this user (contains formatting the base username might not).",
                    "example": "JoeCool4000",
                    "type": "string"
                  },
                  "profile_url": {
                    "description": "The URL for this user's profile.",
                    "example": "https://giphy.com/cheezburger/",
                    "type": "string"
                  },
                  "twitter": {
                    "description": "The Twitter username associated with this user, if applicable.",
                    "example": "@joecool4000",
                    "type": "string"
                  },
                  "username": {
                    "description": "The username associated with this user.",
                    "example": "joecool4000",
                    "type": "string"
                  }
                }
              },
              "username": {
                "description": "The username this GIF is attached to, if applicable",
                "example": "JoeCool4000",
                "type": "string"
              }
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "pagination": {
          "id": "Pagination",
          "title": "Pagination",
          "description": "The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.",
          "type": "object",
          "properties": {
            "count": {
              "description": "Total number of items returned.",
              "example": 25,
              "type": "integer",
              "format": "int32"
            },
            "offset": {
              "description": "Position in pagination.",
              "example": 75,
              "type": "integer",
              "format": "int32"
            },
            "total_count": {
              "description": "Total number of items available.",
              "example": 250,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GifsTranslateResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsTranslateResponse",
      "title": "GifsTranslateResponse",
      "type": "object",
      "properties": {
        "data": {
          "id": "Gif",
          "title": "Gif",
          "type": "object",
          "properties": {
            "bitly_url": {
              "description": "The unique bit.ly URL for this GIF",
              "example": "http://gph.is/1gsWDcL",
              "type": "string"
            },
            "content_url": {
              "description": "Currently unused",
              "type": "string"
            },
            "create_datetime": {
              "description": "The date this GIF was added to the GIPHY database.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "embded_url": {
              "description": "A URL used for embedding this GIF",
              "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
              "type": "string"
            },
            "featured_tags": {
              "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "id": {
              "description": "This GIF's unique ID",
              "example": "YsTs5ltWtEhnq",
              "type": "string"
            },
            "images": {
              "id": "Images",
              "title": "Images",
              "description": "An object containing data for various available formats and sizes of this GIF.",
              "type": "object",
              "properties": {
                "downsized": {
                  "id": "Image",
                  "title": "Image",
                  "type": "object",
                  "properties": {
                    "frames": {
                      "description": "The number of frames in this GIF.",
                      "example": "15",
                      "type": "string"
                    },
                    "height": {
                      "description": "The height of this GIF in pixels.",
                      "example": "200",
                      "type": "string"
                    },
                    "mp4": {
                      "description": "The URL for this GIF in .MP4 format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                      "type": "string"
                    },
                    "mp4_size": {
                      "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                      "example": "25123",
                      "type": "string"
                    },
                    "size": {
                      "description": "The size of this GIF in bytes.",
                      "example": "32381",
                      "type": "string"
                    },
                    "url": {
                      "description": "The publicly-accessible direct URL for this GIF.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                      "type": "string"
                    },
                    "webp": {
                      "description": "The URL for this GIF in .webp format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                      "type": "string"
                    },
                    "webp_size": {
                      "description": "The size in bytes of the .webp file corresponding to this GIF.",
                      "example": "12321",
                      "type": "string"
                    },
                    "width": {
                      "description": "The width of this GIF in pixels.",
                      "example": "320",
                      "type": "string"
                    }
                  }
                },
                "downsized_large": {
                  "$ref": "Image"
                },
                "downsized_medium": {
                  "$ref": "Image"
                },
                "downsized_small": {
                  "$ref": "Image"
                },
                "downsized_still": {
                  "$ref": "Image"
                },
                "fixed_height": {
                  "$ref": "Image"
                },
                "fixed_height_downsampled": {
                  "$ref": "Image"
                },
                "fixed_height_small": {
                  "$ref": "Image"
                },
                "fixed_height_small_still": {
                  "$ref": "Image"
                },
                "fixed_height_still": {
                  "$ref": "Image"
                },
                "fixed_width": {
                  "$ref": "Image"
                },
                "fixed_width_downsampled": {
                  "$ref": "Image"
                },
                "fixed_width_small": {
                  "$ref": "Image"
                },
                "fixed_width_small_still": {
                  "$ref": "Image"
                },
                "fixed_width_still": {
                  "$ref": "Image"
                },
                "looping": {
                  "$ref": "Image"
                },
                "original": {
                  "$ref": "Image"
                },
                "original_still": {
                  "$ref": "Image"
                },
                "preview": {
                  "$ref": "Image"
                },
                "preview_gif": {
                  "$ref": "Image"
                }
              }
            },
            "import_datetime": {
              "description": "The creation or upload date from this GIF's source.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "rating": {
              "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
              "example": "g",
              "type": "string"
            },
            "slug": {
              "description": "The unique slug used in this GIF's URL",
              "example": "confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "source": {
              "description": "The page on which this GIF was found",
              "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
              "type": "string"
            },
            "source_post_url": {
              "description": "The URL of the webpage on which this GIF was found.",
              "example": "http://cheezburger.com/5282328320",
              "type": "string"
            },
            "source_tld": {
              "description": "The top level domain of the source URL.",
              "example": "cheezburger.com",
              "type": "string"
            },
            "tags": {
              "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "trending_datetime": {
              "description": "The date on which this gif was marked trending, if applicable.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "type": {
              "title": "Type",
              "description": "Type of the gif. By default, this is almost always gif",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "gif"
              ]
            },
            "update_datetime": {
              "description": "The date on which this GIF was last updated.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "url": {
              "description": "The unique URL for this GIF",
              "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "user": {
              "id": "User",
              "title": "User",
              "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
              "type": "object",
              "properties": {
                "avatar_url": {
                  "description": "The URL for this user's avatar image.",
                  "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                  "type": "string"
                },
                "banner_url": {
                  "description": "The URL for the banner image that appears atop this user's profile page.",
                  "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                  "type": "string"
                },
                "display_name": {
                  "description": "The display name associated with this user (contains formatting the base username might not).",
                  "example": "JoeCool4000",
                  "type": "string"
                },
                "profile_url": {
                  "description": "The URL for this user's profile.",
                  "example": "https://giphy.com/cheezburger/",
                  "type": "string"
                },
                "twitter": {
                  "description": "The Twitter username associated with this user, if applicable.",
                  "example": "@joecool4000",
                  "type": "string"
                },
                "username": {
                  "description": "The username associated with this user.",
                  "example": "joecool4000",
                  "type": "string"
                }
              }
            },
            "username": {
              "description": "The username this GIF is attached to, if applicable",
              "example": "JoeCool4000",
              "type": "string"
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- GifsTrendingResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "GifsTrendingResponse",
      "title": "GifsTrendingResponse",
      "type": "object",
      "properties": {
        "data": {
          "description": "",
          "type": "array",
          "items": {
            "id": "Gif",
            "title": "Gif",
            "type": "object",
            "properties": {
              "bitly_url": {
                "description": "The unique bit.ly URL for this GIF",
                "example": "http://gph.is/1gsWDcL",
                "type": "string"
              },
              "content_url": {
                "description": "Currently unused",
                "type": "string"
              },
              "create_datetime": {
                "description": "The date this GIF was added to the GIPHY database.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "embded_url": {
                "description": "A URL used for embedding this GIF",
                "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
                "type": "string"
              },
              "featured_tags": {
                "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "id": {
                "description": "This GIF's unique ID",
                "example": "YsTs5ltWtEhnq",
                "type": "string"
              },
              "images": {
                "id": "Images",
                "title": "Images",
                "description": "An object containing data for various available formats and sizes of this GIF.",
                "type": "object",
                "properties": {
                  "downsized": {
                    "id": "Image",
                    "title": "Image",
                    "type": "object",
                    "properties": {
                      "frames": {
                        "description": "The number of frames in this GIF.",
                        "example": "15",
                        "type": "string"
                      },
                      "height": {
                        "description": "The height of this GIF in pixels.",
                        "example": "200",
                        "type": "string"
                      },
                      "mp4": {
                        "description": "The URL for this GIF in .MP4 format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                        "type": "string"
                      },
                      "mp4_size": {
                        "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                        "example": "25123",
                        "type": "string"
                      },
                      "size": {
                        "description": "The size of this GIF in bytes.",
                        "example": "32381",
                        "type": "string"
                      },
                      "url": {
                        "description": "The publicly-accessible direct URL for this GIF.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                        "type": "string"
                      },
                      "webp": {
                        "description": "The URL for this GIF in .webp format.",
                        "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                        "type": "string"
                      },
                      "webp_size": {
                        "description": "The size in bytes of the .webp file corresponding to this GIF.",
                        "example": "12321",
                        "type": "string"
                      },
                      "width": {
                        "description": "The width of this GIF in pixels.",
                        "example": "320",
                        "type": "string"
                      }
                    }
                  },
                  "downsized_large": {
                    "$ref": "Image"
                  },
                  "downsized_medium": {
                    "$ref": "Image"
                  },
                  "downsized_small": {
                    "$ref": "Image"
                  },
                  "downsized_still": {
                    "$ref": "Image"
                  },
                  "fixed_height": {
                    "$ref": "Image"
                  },
                  "fixed_height_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_height_small": {
                    "$ref": "Image"
                  },
                  "fixed_height_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_height_still": {
                    "$ref": "Image"
                  },
                  "fixed_width": {
                    "$ref": "Image"
                  },
                  "fixed_width_downsampled": {
                    "$ref": "Image"
                  },
                  "fixed_width_small": {
                    "$ref": "Image"
                  },
                  "fixed_width_small_still": {
                    "$ref": "Image"
                  },
                  "fixed_width_still": {
                    "$ref": "Image"
                  },
                  "looping": {
                    "$ref": "Image"
                  },
                  "original": {
                    "$ref": "Image"
                  },
                  "original_still": {
                    "$ref": "Image"
                  },
                  "preview": {
                    "$ref": "Image"
                  },
                  "preview_gif": {
                    "$ref": "Image"
                  }
                }
              },
              "import_datetime": {
                "description": "The creation or upload date from this GIF's source.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "rating": {
                "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
                "example": "g",
                "type": "string"
              },
              "slug": {
                "description": "The unique slug used in this GIF's URL",
                "example": "confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "source": {
                "description": "The page on which this GIF was found",
                "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
                "type": "string"
              },
              "source_post_url": {
                "description": "The URL of the webpage on which this GIF was found.",
                "example": "http://cheezburger.com/5282328320",
                "type": "string"
              },
              "source_tld": {
                "description": "The top level domain of the source URL.",
                "example": "cheezburger.com",
                "type": "string"
              },
              "tags": {
                "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "trending_datetime": {
                "description": "The date on which this gif was marked trending, if applicable.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "type": {
                "title": "Type",
                "description": "Type of the gif. By default, this is almost always gif",
                "type": "string",
                "additionalProperties": false,
                "enum": [
                  "gif"
                ]
              },
              "update_datetime": {
                "description": "The date on which this GIF was last updated.",
                "example": "2013-08-01 12:41:48",
                "type": "string",
                "format": "date-time"
              },
              "url": {
                "description": "The unique URL for this GIF",
                "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
                "type": "string"
              },
              "user": {
                "id": "User",
                "title": "User",
                "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
                "type": "object",
                "properties": {
                  "avatar_url": {
                    "description": "The URL for this user's avatar image.",
                    "example": "https://media1.giphy.com/avatars/election2016/XwYrZi5H87o6.gif",
                    "type": "string"
                  },
                  "banner_url": {
                    "description": "The URL for the banner image that appears atop this user's profile page.",
                    "example": "https://media4.giphy.com/avatars/cheezburger/XkuejOhoGLE6.jpg",
                    "type": "string"
                  },
                  "display_name": {
                    "description": "The display name associated with this user (contains formatting the base username might not).",
                    "example": "JoeCool4000",
                    "type": "string"
                  },
                  "profile_url": {
                    "description": "The URL for this user's profile.",
                    "example": "https://giphy.com/cheezburger/",
                    "type": "string"
                  },
                  "twitter": {
                    "description": "The Twitter username associated with this user, if applicable.",
                    "example": "@joecool4000",
                    "type": "string"
                  },
                  "username": {
                    "description": "The username associated with this user.",
                    "example": "joecool4000",
                    "type": "string"
                  }
                }
              },
              "username": {
                "description": "The username this GIF is attached to, if applicable",
                "example": "JoeCool4000",
                "type": "string"
              }
            }
          }
        },
        "meta": {
          "id": "Meta",
          "title": "Meta",
          "description": "The Meta Object contains basic information regarding the request, whether it was successful, and the response given by the API.  Check `responses` to see a description of types of response codes the API might give you under different cirumstances.",
          "type": "object",
          "properties": {
            "msg": {
              "description": "HTTP Response Message",
              "example": "OK",
              "type": "string"
            },
            "response_id": {
              "description": "A unique ID paired with this response from the API.",
              "example": "57eea03c72381f86e05c35d2",
              "type": "string"
            },
            "status": {
              "description": "HTTP Response Code",
              "example": 200,
              "type": "integer",
              "format": "int32"
            }
          }
        },
        "pagination": {
          "id": "Pagination",
          "title": "Pagination",
          "description": "The Pagination Object contains information relating to the number of total results available as well as the number of results fetched and their relative positions.",
          "type": "object",
          "properties": {
            "count": {
              "description": "Total number of items returned.",
              "example": 25,
              "type": "integer",
              "format": "int32"
            },
            "offset": {
              "description": "Position in pagination.",
              "example": 75,
              "type": "integer",
              "format": "int32"
            },
            "total_count": {
              "description": "Total number of items available.",
              "example": 250,
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    }
- Images: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "Images",
      "title": "Images",
      "description": "An object containing data for various available formats and sizes of this GIF.",
      "type": "object",
      "properties": {
        "downsized": {
          "id": "Image",
          "title": "Image",
          "type": "object",
          "properties": {
            "frames": {
              "description": "The number of frames in this GIF.",
              "example": "15",
              "type": "string"
            },
            "height": {
              "description": "The height of this GIF in pixels.",
              "example": "200",
              "type": "string"
            },
            "mp4": {
              "description": "The URL for this GIF in .MP4 format.",
              "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
              "type": "string"
            },
            "mp4_size": {
              "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
              "example": "25123",
              "type": "string"
            },
            "size": {
              "description": "The size of this GIF in bytes.",
              "example": "32381",
              "type": "string"
            },
            "url": {
              "description": "The publicly-accessible direct URL for this GIF.",
              "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
              "type": "string"
            },
            "webp": {
              "description": "The URL for this GIF in .webp format.",
              "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
              "type": "string"
            },
            "webp_size": {
              "description": "The size in bytes of the .webp file corresponding to this GIF.",
              "example": "12321",
              "type": "string"
            },
            "width": {
              "description": "The width of this GIF in pixels.",
              "example": "320",
              "type": "string"
            }
          }
        },
        "downsized_large": {
          "$ref": "Image"
        },
        "downsized_medium": {
          "$ref": "Image"
        },
        "downsized_small": {
          "$ref": "Image"
        },
        "downsized_still": {
          "$ref": "Image"
        },
        "fixed_height": {
          "$ref": "Image"
        },
        "fixed_height_downsampled": {
          "$ref": "Image"
        },
        "fixed_height_small": {
          "$ref": "Image"
        },
        "fixed_height_small_still": {
          "$ref": "Image"
        },
        "fixed_height_still": {
          "$ref": "Image"
        },
        "fixed_width": {
          "$ref": "Image"
        },
        "fixed_width_downsampled": {
          "$ref": "Image"
        },
        "fixed_width_small": {
          "$ref": "Image"
        },
        "fixed_width_small_still": {
          "$ref": "Image"
        },
        "fixed_width_still": {
          "$ref": "Image"
        },
        "looping": {
          "$ref": "Image"
        },
        "original": {
          "$ref": "Image"
        },
        "original_still": {
          "$ref": "Image"
        },
        "preview": {
          "$ref": "Image"
        },
        "preview_gif": {
          "$ref": "Image"
        }
      }
    }
- StickersRandomResponse: |
    {
      "$schema": "http://json-schema.org/draft-04/schema#",
      "id": "StickersRandomResponse",
      "title": "StickersRandomResponse",
      "type": "object",
      "properties": {
        "data": {
          "id": "Gif",
          "title": "Gif",
          "type": "object",
          "properties": {
            "bitly_url": {
              "description": "The unique bit.ly URL for this GIF",
              "example": "http://gph.is/1gsWDcL",
              "type": "string"
            },
            "content_url": {
              "description": "Currently unused",
              "type": "string"
            },
            "create_datetime": {
              "description": "The date this GIF was added to the GIPHY database.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "embded_url": {
              "description": "A URL used for embedding this GIF",
              "example": "http://giphy.com/embed/YsTs5ltWtEhnq",
              "type": "string"
            },
            "featured_tags": {
              "description": "An array of featured tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "id": {
              "description": "This GIF's unique ID",
              "example": "YsTs5ltWtEhnq",
              "type": "string"
            },
            "images": {
              "id": "Images",
              "title": "Images",
              "description": "An object containing data for various available formats and sizes of this GIF.",
              "type": "object",
              "properties": {
                "downsized": {
                  "id": "Image",
                  "title": "Image",
                  "type": "object",
                  "properties": {
                    "frames": {
                      "description": "The number of frames in this GIF.",
                      "example": "15",
                      "type": "string"
                    },
                    "height": {
                      "description": "The height of this GIF in pixels.",
                      "example": "200",
                      "type": "string"
                    },
                    "mp4": {
                      "description": "The URL for this GIF in .MP4 format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.mp4",
                      "type": "string"
                    },
                    "mp4_size": {
                      "description": "The size in bytes of the .MP4 file corresponding to this GIF.",
                      "example": "25123",
                      "type": "string"
                    },
                    "size": {
                      "description": "The size of this GIF in bytes.",
                      "example": "32381",
                      "type": "string"
                    },
                    "url": {
                      "description": "The publicly-accessible direct URL for this GIF.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/200.gif",
                      "type": "string"
                    },
                    "webp": {
                      "description": "The URL for this GIF in .webp format.",
                      "example": "https://media1.giphy.com/media/cZ7rmKfFYOvYI/giphy.webp",
                      "type": "string"
                    },
                    "webp_size": {
                      "description": "The size in bytes of the .webp file corresponding to this GIF.",
                      "example": "12321",
                      "type": "string"
                    },
                    "width": {
                      "description": "The width of this GIF in pixels.",
                      "example": "320",
                      "type": "string"
                    }
                  }
                },
                "downsized_large": {
                  "$ref": "Image"
                },
                "downsized_medium": {
                  "$ref": "Image"
                },
                "downsized_small": {
                  "$ref": "Image"
                },
                "downsized_still": {
                  "$ref": "Image"
                },
                "fixed_height": {
                  "$ref": "Image"
                },
                "fixed_height_downsampled": {
                  "$ref": "Image"
                },
                "fixed_height_small": {
                  "$ref": "Image"
                },
                "fixed_height_small_still": {
                  "$ref": "Image"
                },
                "fixed_height_still": {
                  "$ref": "Image"
                },
                "fixed_width": {
                  "$ref": "Image"
                },
                "fixed_width_downsampled": {
                  "$ref": "Image"
                },
                "fixed_width_small": {
                  "$ref": "Image"
                },
                "fixed_width_small_still": {
                  "$ref": "Image"
                },
                "fixed_width_still": {
                  "$ref": "Image"
                },
                "looping": {
                  "$ref": "Image"
                },
                "original": {
                  "$ref": "Image"
                },
                "original_still": {
                  "$ref": "Image"
                },
                "preview": {
                  "$ref": "Image"
                },
                "preview_gif": {
                  "$ref": "Image"
                }
              }
            },
            "import_datetime": {
              "description": "The creation or upload date from this GIF's source.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "rating": {
              "description": "The MPAA-style rating for this content. Examples include Y, G, PG, PG-13 and R",
              "example": "g",
              "type": "string"
            },
            "slug": {
              "description": "The unique slug used in this GIF's URL",
              "example": "confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "source": {
              "description": "The page on which this GIF was found",
              "example": "http://www.reddit.com/r/reactiongifs/comments/1xpyaa/superman_goes_to_hollywood/",
              "type": "string"
            },
            "source_post_url": {
              "description": "The URL of the webpage on which this GIF was found.",
              "example": "http://cheezburger.com/5282328320",
              "type": "string"
            },
            "source_tld": {
              "description": "The top level domain of the source URL.",
              "example": "cheezburger.com",
              "type": "string"
            },
            "tags": {
              "description": "An array of tags for this GIF (Note: Not available when using the Public Beta Key)",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "trending_datetime": {
              "description": "The date on which this gif was marked trending, if applicable.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "type": {
              "title": "Type",
              "description": "Type of the gif. By default, this is almost always gif",
              "type": "string",
              "additionalProperties": false,
              "enum": [
                "gif"
              ]
            },
            "update_datetime": {
              "description": "The date on which this GIF was last updated.",
              "example": "2013-08-01 12:41:48",
              "type": "string",
              "format": "date-time"
            },
            "url": {
              "description": "The unique URL for this GIF",
              "example": "http://giphy.com/gifs/confused-flying-YsTs5ltWtEhnq",
              "type": "string"
            },
            "user": {
              "id": "User",
              "title": "User",
              "description": "The User Object contains information about the user associated with a GIF and URLs to assets such as that user's avatar image, profile, and more.",
[...]
