FORMAT: 1A
HOST: https://api.hetzner.cloud/v1

# Hetzner Cloud API
This is the official API documentation for the Public Hetzner Cloud.

## Introduction

The Hetzner Cloud API operates over HTTPS and uses JSON as its data format. The API is a RESTful API and utilizes HTTP methods and HTTP status codes to specify requests and responses.

As an alternative to working directly with our API you may also consider to use:
* Our CLI program [hcloud](https://github.com/hetznercloud/cli)
* Our [library for Go](https://github.com/hetznercloud/hcloud-go)
* Our [library for Python](https://github.com/hetznercloud/hcloud-python)

Also you can find a [list of libraries, tools, and integrations on GitHub](https://github.com/hetznercloud/awesome-hcloud).

If you are developing integrations based on our API and your product is Open Source you may be eligible for a free one time €50 (excl. VAT) credit on your account. Please contact us via the the support page on your Cloud Console and let us know the following:
* The type of integration you would like to develop
* Link to the GitHub repo you will use for the Project
* Link to some other Open Source work you have already done (if you have done so)

## Getting Started
To get started using the API you first need an API token. Sign in into the [Hetzner Cloud Console](https://console.hetzner.cloud/) choose a Project, go to `Security` → `API Tokens`, and generate a new token. Make sure to copy the token because it won’t be shown to you again. A token is bound to a Project, to interact with the API of another Project you have to create a new token inside the Project. Let’s say your new token is `jEheVytlAoFl7F8MqUQ7jAo2hOXASztX`.

You’re now ready to do your first request against the API. To get a list of all Servers in your Project, issue the example request on the right side using [curl](https://curl.haxx.se/).

Make sure to replace the token in the example command with the token you have just created. Since your Project probably does not contain any Servers yet, the example response will look like the response on the right side. We will almost always provide a resource root like `servers` inside the example response. A response can also contain a `meta` object with information like [Pagination](https://docs.hetzner.cloud/#overview-pagination).

**Example Request**
```bash
curl -H "Authorization: Bearer jEheVytlAoFl7F8MqUQ7jAo2hOXASztX" \
    https://api.hetzner.cloud/v1/servers
```

**Example Response**
```json
{
    "servers": [],
    "meta": {
        "pagination": {
            "page": 1,
            "per_page": 25,
            "previous_page": null,
            "next_page": null,
            "last_page": 1,
            "total_entries": 0
        }
    }
}
```

## Authentication
All requests to the Hetzner Cloud API must be authenticated via a API token. Include your secret API token in every request you send to the API with the `Authorization` HTTP header.

To create a new API token for your Project, switch into the [Hetzner Cloud Console](https://console.hetzner.cloud/) choose a Project, go to `Security` → `API Tokens`, and generate a new token.

**Example Authorization header**
```html
Authorization: Bearer LRK9DAWQ1ZAEFSrCNEEzLCUwhYX1U3g7wMg4dTlkkDC96fyDuyJ39nVbVjCKSDfj
```

## Errors
Errors are indicated by HTTP status codes. Further, the response of the request which generated the error contains an error code, an error message, and, optionally, error details. The schema of the error details object depends on the error code.

The error response contains the following keys:

| Keys      | Meaning                                                               |
|-----------|-----------------------------------------------------------------------|
| `code`    | Short string indicating the type of error (machine-parsable)          |
| `message` | Textual description on what has gone wrong                            |
| `details` | An object providing for details on the error (schema depends on code) |

**Example response**
```json
{
  "error": {
    "code": "invalid_input",
    "message": "invalid input in field 'broken_field': is too long",
    "details": {
      "fields": [
        {
          "name": "broken_field",
          "messages": ["is too long"]
        }
      ]
    }
  }
}
```

### Error Codes

| Code                      | Description                                                                      |
|---------------------------|----------------------------------------------------------------------------------|
| `forbidden`               | Insufficient permissions for this request                                        |
| `invalid_input`           | Error while parsing or processing the input                                      |
| `json_error`              | Invalid JSON input in your request                                               |
| `locked`                  | The item you are trying to access is locked (there is already an Action running) |
| `not_found`               | Entity not found                                                                 |
| `rate_limit_exceeded`     | Error when sending too many requests                                             |
| `resource_limit_exceeded` | Error when exceeding the maximum quantity of a resource for an account           |
| `resource_unavailable`    | The requested resource is currently unavailable                                  |
| `service_error`           | Error within a service                                                           |
| `uniqueness_error`        | One or more of the objects fields must be unique                                 |
| `protected`               | The Action you are trying to start is protected for this resource                |
| `maintenance`             | Cannot perform operation due to maintenance                                      |
| `conflict`                | The resource has changed during the request, please retry                        |
| `unsupported_error`       | The corresponding resource does not support the Action                           |
| `token_readonly`          | The token is only allowed to perform GET requests                                |
| `unavailable`             | A service or product is currently not available                                  |

**invalid_input**
```json
{
  "error": {
    "code": "invalid_input",
    "message": "invalid input in field 'broken_field': is too long",
    "details": {
      "fields": [
        {
          "name": "broken_field",
          "messages": ["is too long"]
        }
      ]
    }
  }
}
```

**uniqueness_error**
```json
{
  "error": {
    "code": "uniqueness_error",
    "message": "SSH key with the same fingerprint already exists",
    "details": {
      "fields": [
        {
          "name": "public_key"
        }
      ]
    }
  }
}
```

**resource_limit_exceeded**
```json
{
  "error": {
    "code": "resource_limit_exceeded",
    "message": "project limit exceeded",
    "details": {
      "limits": [
        {
          "name": "project_limit"
        }
      ]
    }
  }
}
```

## Labels
Labels are `key/value` pairs that can be attached to all resources.

Valid label keys have two segments: an optional prefix and name, separated by a slash (`/`). The name segment is required and must be a string of 63 characters or less, beginning and ending with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between. The prefix is optional. If specified, the prefix must be a DNS subdomain: a series of DNS labels separated by dots (`.`), not longer than 253 characters in total, followed by a slash (`/`).

Valid label values must be a string of 63 characters or less and must be empty or begin and end with an alphanumeric character (`[a-z0-9A-Z]`) with dashes (`-`), underscores (`_`), dots (`.`), and alphanumerics between.

The `hetzner.cloud/` prefix is reserved and cannot be used.

**Example Labels**
```json
{
  "labels": {
    "environment":"development",
    "service":"backend",
    "example.com/my":"label",
    "just-a-key":""
  }
}
```

## Label Selector
For resources with labels, you can filter resources by their labels using the label selector query language.

| Expression           | Meaning                                                             |
|----------------------|---------------------------------------------------------------------|
| `k==v` / `k=v`       | Value of key `k` does equal value `v`                               |
| `k!=v`               | Value of key `k` does not equal value `v`                           |
| `k`                  | Key `k` is present                                                  |
| `!k`                 | Key `k` is not present                                              |
| `k in (v1,v2,v3)`    | Value of key `k` is `v1`, `v2`, or `v3`                             |
| `k notin (v1,v2,v3)` | Value of key `k` is neither `v1`, nor `v2`, nor `v3`                |
| `k1==v,!k2`          | Value of key `k1` is `v` and key `k2` is not present                |

### Examples
* Returns all resources that have a `env=production` label and that don't have a `type=database` label:

  `env=production,type!=database`
* Returns all resources that have a `env=testing` or `env=staging` label:

    `env in (testing,staging)`
* Returns all resources that don't have a `type` label:

    `!type`

## Pagination
Responses which return multiple items support pagination. If they do support pagination, it can be controlled with following query string parameters:

* A `page` parameter specifies the page to fetch. The number of the first page is 1.
* A `per_page` parameter specifies the number of items returned per page. The default value is 25, the maximum value is 50 except otherwise specified in the documentation.

Responses contain a `Link` header with pagination information.

Additionally, if the response body is JSON and the root object is an object, that object has a `pagination` object inside the `meta` object with pagination information:

**Example Pagination**
```json
{
    "servers": [...],
    "meta": {
        "pagination": {
            "page": 2,
            "per_page": 25,
            "previous_page": 1,
            "next_page": 3,
            "last_page": 4,
            "total_entries": 100
        }
    }
}
```

The keys `previous_page`, `next_page`, `last_page`, and `total_entries` may be `null` when on the first page, last page, or when the total number of entries is unknown.

**Example Pagination Link header**
```bash
Link: <https://api.hetzner.cloud/v1/actions?page=2&per_page=5>; rel="prev",
      <https://api.hetzner.cloud/v1/actions?page=4&per_page=5>; rel="next",
      <https://api.hetzner.cloud/v1/actions?page=6&per_page=5>; rel="last"
```

Line breaks have been added for display purposes only and responses may only contain some of the above `rel` values.

## Rate Limiting
All requests, whether they are authenticated or not, are subject to rate limiting. If you have reached your limit, your requests will be handled with a `429 Too Many Requests` error. Burst requests are allowed. Responses contain serveral headers which provide information about your current rate limit status.

* The `RateLimit-Limit` header contains the total number of requests you can perform per hour.
* The `RateLimit-Remaining` header contains the number of requests remaining in the current rate limit time frame.
* The `RateLimit-Reset` header contains a UNIX timestamp of the point in time when your rate limit will have recovered and you will have the full number of requests available again.

The default limit is 3600 requests per hour and per Project. The number of remaining requests increases gradually. For example, when your limit is 3600 requests per hour, the number of remaining requests will increase by 1 every second.

## Server Metadata
Your Server can discover metadata about itself by doing a HTTP request to specific URLs. The following data is available:

| Data              | Format | Contents                                                     |
|-------------------|--------|--------------------------------------------------------------|
| hostname          | text   | Name of the Server as set in the api                         |
| instance-id       | number | ID of the server                                             |
| public-ipv4       | text   | Primary public IPv4 address                                  |
| private-networks  | yaml   | Details about the private networks the Server is attached to |
| availability-zone | text   | Name of the availability zone that Server runs in            |
| region            | text   | Network zone, e.g. eu-central                                |

**Example: Summary**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata
```

```yaml
availability-zone: hel1-dc2
hostname: my-server
instance-id: 42
public-ipv4: 1.2.3.4
region: eu-central
```

**Example: Hostname**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/hostname
my-server
```

**Example: Instance ID**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/instance-id
42
```

**Example: Public IPv4**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/public-ipv4
1.2.3.4
```

**Example: Private Networks**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/private-networks
```

```json
- ip: 10.0.0.2
  alias_ips: [10.0.0.3, 10.0.0.4]
  interface_num: 1
  mac_address: 86:00:00:2a:7d:e0
  network_id: 1234
  network_name: nw-test1
  network: 10.0.0.0/8
  subnet: 10.0.0.0/24
  gateway: 10.0.0.1
- ip: 192.168.0.2
  alias_ips: []
  interface_num: 2
  mac_address: 86:00:00:2a:7d:e1
  network_id: 4321
  network_name: nw-test2
  network: 192.168.0.0/16
  subnet: 192.168.0.0/24
  gateway: 192.168.0.1
```

**Example: Availability Zone**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/availability-zone
hel1-dc2
```

**Example: Region**
```bash
$ curl http://169.254.169.254/hetzner/v1/metadata/region
eu-central
```

## Sorting
Some responses which return multiple items support sorting. If they do support sorting the documentation states which fields can be used for sorting. You specify sorting with the `sort` query string parameter. You can sort by multiple fields. You can set the sort direction by appending `:asc` or `:desc` to the field name. By default, ascending sorting is used.

**Example: Sorting**
```bash
https://api.hetzner.cloud/v1/actions?sort=status
https://api.hetzner.cloud/v1/actions?sort=status:asc
https://api.hetzner.cloud/v1/actions?sort=status:desc
https://api.hetzner.cloud/v1/actions?sort=status:asc&sort=command:desc
```

# Group Actions

Actions show the results and progress of asynchronous requests to the API.

## Actions [/actions{?id,sort,status}]

### Get all Actions [GET]
Returns all Action objects. You can `sort` the results by using the sort URI parameter, and filter them with the `status` parameter.
+ Parameters
    + id (number, optional)

        Can be used multiple times, the response will contain only Actions with specified IDs

    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (ActionsResponse)




## Actions By Id [/actions/{id}]

+ Parameters
    + id (number, required)

        ID of the Resource


### Get an Action [GET]
Returns a specific Action object.

+ Response 200 (application/json)

        The `action` key in the reply has this structure

    + Attributes (ActionResponse)





# Group Certificates

TLS/SSL Certificates prove the identity of a Server and are used to encrypt client traffic.

## Certificates [/certificates{?sort,name,label_selector,type}]

### Get all Certificates [GET]
Returns all Certificate objects.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `name` 
            + `name:asc` 
            + `name:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 

    + name (string, optional)

        Can be used to filter resources by their name. The response will only contain the resources matching the specified name

    + label_selector (string, optional)

        Can be used to filter resources by labels. The response will only contain resources matching the label selector.

    + type (enum[string], optional)

        Can be used multiple times. The response will only contain Certificates matching the type.

        + Members
            + `uploaded` 
            + `managed` 


+ Response 200 (application/json)

        The `certificates` key contains an array of Certificate objects

    + Attributes (CertificatesResponse)


    + Body

            {"certificates":[{"certificate":"-----BEGIN CERTIFICATE-----\n...","created":"2019-01-08T12:10:00+00:00","domain_names":["example.com","webmail.example.com","www.example.com"],"fingerprint":"03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f","id":897,"labels":{"env":"dev"},"name":"my website cert","not_valid_after":"2019-07-08T09:59:59+00:00","not_valid_before":"2019-01-08T10:00:00+00:00","status":null,"type":"uploaded","used_by":[{"id":4711,"type":"load_balancer"}]}]}



## Certificates [/certificates]

### Create a Certificate [POST]
Creates a new Certificate.

The default type **uploaded** allows for uploading your existing `certificate` and `private_key` in PEM format. You have to monitor its expiration date and handle renewal yourself.

In contrast, type **managed** requests a new Certificate from *Let's Encrypt* for the specified `domain_names`. Only domains managed by *Hetzner DNS* are supported. We handle renewal and timely alert the project owner via email if problems occur.

For type `managed` Certificates the `action` key of the response contains the Action that allows for tracking the issuance process. For type `uploaded` Certificates the `action` is always null.

+ Request (<<Add Header Value>>)

    + Attributes (CreateCertificateRequest)


    + Body

            {
                "domain_names": [
                    "example.com",
                    "webmail.example.com",
                    "www.example.com"
                ],
                "name": "my website cert",
                "type": "managed"
            }


+ Response 201 (application/json)

        The `certificate` key contains the Certificate that was just created. For type `managed` Certificates the `action` key contains the Action that allows for tracking the issuance process. For type `uploaded` Certificates the `action` is always null.

    + Attributes (CreateCertificateResponse)


    + Body

            {"action":{"command":"create_certificate","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":879,"type":"certificate"}],"started":"2019-01-08T12:10:00+00:00","status":"running"},"certificate":{"certificate":null,"created":"2019-01-08T12:10:00+00:00","domain_names":["example.com","webmail.example.com","www.example.com"],"fingerprint":null,"id":897,"labels":{"env":"dev"},"name":"my website cert","not_valid_after":null,"not_valid_before":null,"status":{"error":null,"issuance":"pending","renewal":"unavailable"},"type":"managed","used_by":[{"id":4711,"type":"load_balancer"}]}}



## Certificates By Id [/certificates/{id}]

+ Parameters
    + id (number, required)

        ID of the resource


### Delete a Certificate [DELETE]
Deletes a Certificate.

+ Response 204 

        Certificate deleted




### Get a Certificate [GET]
Gets a specific Certificate object.

+ Response 200 (application/json)

        The `certificate` key contains a Certificate object

    + Attributes (CertificateResponse)


    + Body

            {"certificate":{"certificate":"-----BEGIN CERTIFICATE-----\n...","created":"2019-01-08T12:10:00+00:00","domain_names":["example.com","webmail.example.com","www.example.com"],"fingerprint":"03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f","id":897,"labels":{"env":"dev"},"name":"my website cert","not_valid_after":"2019-07-08T09:59:59+00:00","not_valid_before":"2019-01-08T10:00:00+00:00","status":null,"type":"uploaded","used_by":[{"id":4711,"type":"load_balancer"}]}}


### Update a Certificate [PUT]
Updates the Certificate properties.

Note that when updating labels, the Certificate’s current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

Note: if the Certificate object changes during the request, the response will be a “conflict” error.

+ Request (<<Add Header Value>>)

    + Attributes (UpdateCertificateRequest)



+ Response 200 (application/json)

        The `certificate` key contains the Certificate that was just updated

    + Attributes (CertificateResponse)


    + Body

            {"certificate":{"certificate":"-----BEGIN CERTIFICATE-----\n...","created":"2019-01-08T12:10:00+00:00","domain_names":["example.com","webmail.example.com","www.example.com"],"fingerprint":"03:c7:55:9b:2a:d1:04:17:09:f6:d0:7f:18:34:63:d4:3e:5f","id":897,"labels":{"labelkey":"value"},"name":"my website cert","not_valid_after":"2019-07-08T09:59:59+00:00","not_valid_before":"2019-01-08T10:00:00+00:00","status":null,"type":"uploaded","used_by":[{"id":4711,"type":"load_balancer"}]}}




# Group Certificate Actions

## Certificates Actions By Id [/certificates/{id}/actions{?sort,status}]

+ Parameters
    + id (number, required)

        ID of the Resource


### Get all Actions for a Certificate [GET]
Returns all Action objects for a Certificate. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.

Only type `managed` Certificates can have Actions. For type `uploaded` Certificates the `actions` key will always contain an empty array.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"issue_certificate","error":{"code":"action_failed","message":"Action failed"},"finished":"2021-01-30T23:57:00+00:00","id":14,"progress":100,"resources":[{"id":896,"type":"certificate"}],"started":"2021-01-30T23:55:00+00:00","status":"success"}]}



## Certificates Actions Retry By Id [/certificates/{id}/actions/retry]

+ Parameters
    + id (number, required)

        ID of the Certificate


### Retry Issuance or Renewal [POST]
Retry a failed Certificate issuance or renewal.

Only applicable if the type of the Certificate is `managed` and the issuance or renewal status is `failed`.

#### Call specific error codes

| Code                                                    | Description                                                               |
|---------------------------------------------------------|---------------------------------------------------------------------------|
| `caa_record_does_not_allow_ca`                          | CAA record does not allow certificate authority                           |
| `ca_dns_validation_failed`                              | Certificate Authority: DNS validation failed                              |
| `ca_too_many_authorizations_failed_recently`            | Certificate Authority: Too many authorizations failed recently            |
| `ca_too_many_certificates_issued_for_registered_domain` | Certificate Authority: Too many certificates issued for registered domain |
| `ca_too_many_duplicate_certificates`                    | Certificate Authority: Too many duplicate certificates                    |
| `could_not_verify_domain_delegated_to_zone`             | Could not verify domain delegated to zone                                 |
| `dns_zone_not_found`                                    | DNS zone not found                                                        |
| `dns_zone_is_secondary_zone`                            | DNS zone is a secondary zone                                              |

+ Response 201 (application/json)

        The `action` key contains the resulting Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"issue_certificate","error":{"code":"action_failed","message":"Action failed"},"finished":"2021-01-30T23:57:00+00:00","id":14,"progress":100,"resources":[{"id":896,"type":"certificate"}],"started":"2021-01-30T23:55:00+00:00","status":"success"}}



## Certificates Actions By Id And Action Id [/certificates/{id}/actions/{action_id}]

+ Parameters
    + id (number, required)

        ID of the Certificate

    + action_id (number, required)

        ID of the Action


### Get an Action for a Certificate [GET]
Returns a specific Action for a Certificate. Only type `managed` Certificates have Actions.

+ Response 200 (application/json)

        The `action` key contains the Certificate Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"issue_certificate","error":{"code":"action_failed","message":"Action failed"},"finished":"2021-01-30T23:57:00+00:00","id":14,"progress":100,"resources":[{"id":896,"type":"certificate"}],"started":"2021-01-30T23:55:00+00:00","status":"success"}}




# Group Datacenters

Each Datacenter represents a *virtual* Datacenter which is made up of possible many physical Datacenters where Servers are hosted.

Datacenter names are composed from their Location and virtual Datacenter number, for example `fsn1-dc14` means virtual Datacenter `14` in Location `fsn1`.

Right now there is only one Datacenter for each Location. The Datacenter numbers for `fsn`, `nbg` and `hel` are arbitrarily set to `14`, `3` and `2` for historic reasons and do not represent real physical Hetzner datacenters.


## Datacenters [/datacenters{?name}]

### Get all Datacenters [GET]
Returns all Datacenter objects.
+ Parameters
    + name (string, optional)

        Can be used to filter Datacenters by their name. The response will only contain the Datacenter matching the specified name. When the name does not match the Datacenter name format, an `invalid_input` error is returned.


+ Response 200 (application/json)

        The reply contains the `datacenters` and `recommendation` keys

    + Attributes (Datacenters Response)




## Datacenters By Id [/datacenters/{id}]

+ Parameters
    + id (number, required)

        ID of Datacenter


### Get a Datacenter [GET]
Returns a specific Datacenter object.

+ Response 200 (application/json)

        The `datacenter` key in the reply contains a Datacenter object with this structure

    + Attributes (Datacenters Response1)





# Group Firewalls

Firewalls can limit the network access to or from your resources.

* When applying a firewall with no `in` rule all inbound traffic will be dropped. The default for `in` is `DROP`.
* When applying a firewall with no `out` rule all outbound traffic will be accepted. The default for `out` is `ACCEPT`.


## Firewalls [/firewalls{?sort,name,label_selector}]

### Get all Firewalls [GET]
Returns all Firewall objects.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `name` 
            + `name:asc` 
            + `name:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 

    + name (string, optional)

        Can be used to filter resources by their name. The response will only contain the resources matching the specified name

    + label_selector (string, optional)

        Can be used to filter resources by labels. The response will only contain resources matching the label selector.


+ Response 200 (application/json)

        The `firewalls` key contains an array of Firewall objects

    + Attributes (FirewallsResponse)




## Firewalls [/firewalls]

### Create a Firewall [POST]
Creates a new Firewall.

#### Call specific error codes

| Code                          | Description                                                   |
|------------------------------ |-------------------------------------------------------------- |
| `server_already_added`        | Server added more than one time to resource                   |
| `incompatible_network_type`   | The Network type is incompatible for the given resource       |
| `firewall_resource_not_found` | The resource the Firewall should be attached to was not found |

+ Request (<<Add Header Value>>)

    + Attributes (CreateFirewallRequest)


    + Body

            {
                "apply_to": [
                    {
                        "server": {
                            "id": 42
                        },
                        "type": "server"
                    }
                ],
                "labels": {
                    "env": "dev"
                },
                "name": "Corporate Intranet Protection",
                "rules": [
                    {
                        "description": "Allow port 80",
                        "direction": "in",
                        "port": "80",
                        "protocol": "tcp",
                        "source_ips": [
                            "28.239.13.1/32",
                            "28.239.14.0/24",
                            "ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128"
                        ]
                    }
                ]
            }


+ Response 201 (application/json)

        The `firewall` key contains the Firewall that was just created

    + Attributes (CreateFirewallResponse)




## Firewalls By Id [/firewalls/{id}]

+ Parameters
    + id (number, required)

        ID of the resource


### Delete a Firewall [DELETE]
Deletes a Firewall.

#### Call specific error codes

| Code                 | Description                               |
|--------------------- |-------------------------------------------|
| `resource_in_use`    | Firewall must not be in use to be deleted |

+ Response 204 

        Firewall deleted




### Get a Firewall [GET]
Gets a specific Firewall object.

+ Response 200 (application/json)

        The `firewall` key contains a Firewall object

    + Attributes (FirewallResponse)



### Update a Firewall [PUT]
Updates the Firewall.

Note that when updating labels, the Firewall's current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

Note: if the Firewall object changes during the request, the response will be a “conflict” error.

+ Request (<<Add Header Value>>)

    + Attributes (UpdateFirewallRequest)



+ Response 200 (application/json)

        The `firewall` key contains the Firewall that was just updated

    + Attributes (FirewallResponse)





# Group Firewall Actions

## Firewalls Actions By Id [/firewalls/{id}/actions{?sort,status}]

+ Parameters
    + id (number, required)

        ID of the Resource


### Get all Actions for a Firewall [GET]
Returns all Action objects for a Firewall. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"set_firewall_rules","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":38,"type":"firewall"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Firewalls Actions Apply To Resources [/firewalls/{id}/actions/apply_to_resources]

+ Parameters
    + id (number, required)

        ID of the Firewall


### Apply to Resources [POST]
Applies one Firewall to multiple resources.

Currently servers (public network interface) and label selectors are supported.

#### Call specific error codes

| Code                          | Description                                                   |
|-------------------------------|---------------------------------------------------------------|
| `firewall_already_applied`    | Firewall was already applied on resource                      |
| `incompatible_network_type`   | The Network type is incompatible for the given resource       |
| `firewall_resource_not_found` | The resource the Firewall should be attached to was not found |

+ Request (<<Add Header Value>>)

    + Attributes (ApplyToResourcesRequest)


    + Body

            {
                "apply_to": [
                    {
                        "server": {
                            "id": 42
                        },
                        "type": "server"
                    }
                ]
            }


+ Response 201 (application/json)

        The `actions` key contains multiple `apply_firewall` Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"apply_firewall","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":14,"progress":100,"resources":[{"id":42,"type":"server"},{"id":38,"type":"firewall"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Firewalls Actions Remove From Resources [/firewalls/{id}/actions/remove_from_resources]

+ Parameters
    + id (number, required)

        ID of the Firewall


### Remove from Resources [POST]
Removes one Firewall from multiple resources.

Currently only Servers (and their public network interfaces) are supported.

#### Call specific error codes

| Code                                  | Description                                                            |
|---------------------------------------|------------------------------------------------------------------------|
| `firewall_already_removed`            | Firewall was already removed from the resource                         |
| `firewall_resource_not_found`         | The resource the Firewall should be attached to was not found          |
| `firewall_managed_by_label_selector`  | Firewall was applied via label selector and cannot be removed manually |

+ Request (<<Add Header Value>>)

    + Attributes (RemoveFromResourcesRequest)


    + Body

            {
                "remove_from": [
                    {
                        "server": {
                            "id": 42
                        },
                        "type": "server"
                    }
                ]
            }


+ Response 201 (application/json)

        The `actions` key contains multiple `remove_firewall` Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"remove_firewall","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":14,"progress":100,"resources":[{"id":42,"type":"server"},{"id":38,"type":"firewall"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Firewalls Actions Set Rules By Id [/firewalls/{id}/actions/set_rules]

+ Parameters
    + id (number, required)

        ID of the Firewall


### Set Rules [POST]
Sets the rules of a Firewall.

All existing rules will be overwritten. Pass an empty `rules` array to remove all rules.
The maximum amount of rules that can be defined is 50.

#### Call specific error codes

| Code                          | Description                                                   |
|-------------------------------|---------------------------------------------------------------|
| `firewall_resource_not_found` | The resource the Firewall should be attached to was not found |

+ Request (<<Add Header Value>>)

    + Attributes (SetRulesRequest)


    + Body

            {
                "rules": [
                    {
                        "description": "Allow port 80",
                        "direction": "in",
                        "port": "80",
                        "protocol": "tcp",
                        "source_ips": [
                            "28.239.13.1/32",
                            "28.239.14.0/24",
                            "ff21:1eac:9a3b:ee58:5ca:990c:8bc9:c03b/128"
                        ]
                    }
                ]
            }


+ Response 201 (application/json)

        The `action` key contains one `set_firewall_rules` Action plus one `apply_firewall` Action per resource where the Firewall is active

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"set_firewall_rules","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":38,"type":"firewall"}],"started":"2016-01-30T23:55:00+00:00","status":"success"},{"command":"apply_firewall","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":14,"progress":100,"resources":[{"id":38,"type":"firewall"},{"id":42,"type":"server"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Firewalls Actions By Id And Action Id [/firewalls/{id}/actions/{action_id}]

+ Parameters
    + id (number, required)

        ID of the Firewall

    + action_id (number, required)

        ID of the Action


### Get an Action for a Firewall [GET]
Returns a specific Action for a Firewall.

+ Response 200 (application/json)

        The `action` key contains the Firewall Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"set_firewall_rules","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":38,"type":"firewall"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}




# Group Floating IPs

Floating IPs help you to create highly available setups. You can assign a Floating IP to any Server. The Server can then use this IP. You can reassign it to a different Server at any time, or you can choose to unassign the IP from Servers all together.

Floating IPs can be used globally. This means you can assign a Floating IP to a Server in one Location and later reassign it to a Server in a different Location. For optimal routing and latency Floating IPs should be used in the Location they were created in.

For Floating IPs to work with your Server, you must configure them inside your operation system.

Floating IPs of type `ipv4` use a single IPv4 address as their `ip` property. Floating IPs of type `ipv6` use a /64 network such as `fc00::/64` as their `ip` property. Any IP address within that network can be used on your host.

Floating IPs are billed on a monthly basis.


## Floating Ips [/floating_ips{?name,label_selector,sort}]

### Get all Floating IPs [GET]
Returns all Floating IP objects.
+ Parameters
    + name (string, optional)

        Can be used to filter Floating IPs by their name. The response will only contain the Floating IP matching the specified name.

    + label_selector (string, optional)

        Can be used to filter Floating IPs by labels. The response will only contain Floating IPs matching the label selector.

    + sort (enum[string], optional)

        Can be used multiple times. Choices id id:asc id:desc created created:asc created:desc

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 


+ Response 200 (application/json)

        The `floating_ips` key in the reply contains an array of Floating IP objects with this structure

    + Attributes (Floating Ips Response)




## Floating Ips [/floating_ips]

### Create a Floating IP [POST]
Creates a new Floating IP assigned to a Server. If you want to create a Floating IP that is not bound to a Server, you need to provide the `home_location` key instead of `server`. This can be either the ID or the name of the Location this IP shall be created in. Note that a Floating IP can be assigned to a Server in any Location later on. For optimal routing it is advised to use the Floating IP in the same Location it was created in.

+ Request (<<Add Header Value>>)

    + Attributes (CreateFloatingIPRequest)



+ Response 201 (application/json)

        The `floating_ip` key in the reply contains the object that was just created

    + Attributes (Floating Ips Response1)


    + Body

            {"action":{"command":"create_floating_ip","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"}],"started":"2016-01-30T23:50:00+00:00","status":"running"},"floating_ip":{"blocked":false,"created":"2016-01-30T23:50:00+00:00","description":"Web Frontend","dns_ptr":[{"dns_ptr":"server.example.com","ip":"2001:db8::1"}],"home_location":{"city":"Falkenstein","country":"DE","description":"Falkenstein DC Park 1","id":1,"latitude":50.47612,"longitude":12.370071,"name":"fsn1","network_zone":"eu-central"},"id":4711,"ip":"131.232.99.1","labels":{"env":"dev"},"name":"Web Frontend","protection":{"delete":false},"server":42,"type":"ipv4"}}



## Floating Ips By Id [/floating_ips/{id}]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Delete a Floating IP [DELETE]
Deletes a Floating IP. If it is currently assigned to a Server it will automatically get unassigned.

+ Response 204 

        Floating IP deleted




### Get a Floating IP [GET]
Returns a specific Floating IP object.

+ Response 200 (application/json)

        The `floating_ip` key in the reply contains a Floating IP object with this structure

    + Attributes (Floating Ips Response2)



### Update a Floating IP [PUT]
Updates the description or labels of a Floating IP.
Also note that when updating labels, the Floating IP’s current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

+ Request (<<Add Header Value>>)

    + Attributes (UpdateFloatingIPRequest)



+ Response 200 (application/json)

        The `floating_ip` key in the reply contains the modified Floating IP object with the new description

    + Attributes (Floating Ips Response2)


    + Body

            {"floating_ip":{"blocked":false,"created":"2016-01-30T23:50:00+00:00","description":"Web Frontend","dns_ptr":[{"dns_ptr":"server.example.com","ip":"2001:db8::1"}],"home_location":{"city":"Falkenstein","country":"DE","description":"Falkenstein DC Park 1","id":1,"latitude":50.47612,"longitude":12.370071,"name":"fsn1","network_zone":"eu-central"},"id":4711,"ip":"131.232.99.1","labels":{"labelkey":"value"},"name":"Web Frontend","protection":{"delete":false},"server":42,"type":"ipv4"}}




# Group Floating IP Actions

## Floating Ips Actions By Id [/floating_ips/{id}/actions{?sort,status}]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Get all Actions for a Floating IP [GET]
Returns all Action objects for a Floating IP. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (Floating Ips Actions Response)


    + Body

            {"actions":[{"command":"assign_floating_ip","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"server"},{"id":4712,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Floating Ips Actions Assign By Id [/floating_ips/{id}/actions/assign]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Assign a Floating IP to a Server [POST]
Assigns a Floating IP to a Server.

+ Request (<<Add Header Value>>)

    + Attributes (AssignFloatingIPRequest)



+ Response 201 (application/json)

        The `action` key contains the `assign` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"assign_floating_ip","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Floating Ips Actions Change Dns Ptr [/floating_ips/{id}/actions/change_dns_ptr]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Change reverse DNS entry for a Floating IP [POST]
Changes the hostname that will appear when getting the hostname belonging to this Floating IP.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeDNSPTRRequest)



+ Response 201 (application/json)

        The `action` key contains the `change_dns_ptr` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_dns_ptr","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Floating Ips Actions Change Protection [/floating_ips/{id}/actions/change_protection]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Change Floating IP Protection [POST]
Changes the protection configuration of the Floating IP.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeProtectionRequest)



+ Response 201 (application/json)

        The `action` key contains the `change_protection` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Floating Ips Actions Unassign By Id [/floating_ips/{id}/actions/unassign]

+ Parameters
    + id (number, required)

        ID of the Floating IP


### Unassign a Floating IP [POST]
Unassigns a Floating IP, resulting in it being unreachable. You may assign it to a Server again at a later time.

+ Response 201 (application/json)

        The `action` key contains the `unassign` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"unassign_floating_ip","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Floating Ips Actions By Id And Action Id [/floating_ips/{id}/actions/{action_id}]

+ Parameters
    + id (number, required)

        ID of the Floating IP

    + action_id (number, required)

        ID of the Action


### Get an Action for a Floating IP [GET]
Returns a specific Action object for a Floating IP.

+ Response 200 (application/json)

        The `action` key in the reply has this structure

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"assign_floating_ip","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"floating_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}




# Group Images

Images are blueprints for your VM disks. They can be of different types:

### System Images
Distribution Images maintained by us, e.g. “Ubuntu 20.04”

### Snapshot Images
Maintained by you, for example “Ubuntu 20.04 with my own settings”. These are billed per GB per month.

### Backup Images
Daily Backups of your Server. Will automatically be created for Servers which have backups enabled (`POST /servers/{id}/actions/enable_backup`)

Bound to exactly one Server. If you delete the Server, you also delete all backups bound to it. You may convert backup Images to snapshot Images to keep them.

These are billed at 20% of your instance price for 7 backup slots.

### App Images
Prebuild images with specific software configurations, e.g. “Wordpress”. All app images are created by us.


## Images [/images{?sort,type,status,bound_to,include_deprecated,name,label_selector}]

### Get all Images [GET]
Returns all Image objects. You can select specific Image types only and sort the results by using URI parameters.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `name` 
            + `name:asc` 
            + `name:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 

    + type (enum[string], optional)

        Can be used multiple times.

        + Members
            + `system` 
            + `snapshot` 
            + `backup` 
            + `app` 

    + status (enum[string], optional)

        Can be used multiple times. The response will only contain Images matching the status.

        + Members
            + `available` 
            + `creating` 

    + bound_to (string, optional)

        Can be used multiple times. Server ID linked to the Image. Only available for Images of type `backup`

    + include_deprecated (boolean, optional)

        Can be used multiple times.

    + name (string, optional)

        Can be used to filter resources by their name. The response will only contain the resources matching the specified name

    + label_selector (string, optional)

        Can be used to filter resources by labels. The response will only contain resources matching the label selector.


+ Response 200 (application/json)

        The `images` key in the reply contains an array of Image objects with this structure

    + Attributes (Images Response)




## Images By Id [/images/{id}]

+ Parameters
    + id (number, required)

        ID of the Image


### Delete an Image [DELETE]
Deletes an Image. Only Images of type `snapshot` and `backup` can be deleted.

+ Response 204 

        Image deleted




### Get an Image [GET]
Returns a specific Image object.

+ Response 200 (application/json)

        The `image` key in the reply contains an Image object with this structure

    + Attributes (Images Response1)



### Update an Image [PUT]
Updates the Image. You may change the description, convert a Backup Image to a Snapshot Image or change the Image labels. Only Images of type `snapshot` and `backup` can be updated.

Note that when updating labels, the current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

+ Request (<<Add Header Value>>)

    + Attributes (UpdateImageRequest)



+ Response 200 (application/json)

        The image key in the reply contains the modified Image object

    + Attributes (Images Response1)


    + Body

            {"image":{"bound_to":null,"build_id":"c313fe40383af26094a5a92026054320ab55abc7","created":"2016-01-30T23:50:00+00:00","created_from":{"id":1,"name":"Server"},"deleted":null,"deprecated":"2018-02-28T00:00:00+00:00","description":"My new Image description","disk_size":10,"id":4711,"image_size":2.3,"labels":{"labelkey":"value"},"name":null,"os_flavor":"ubuntu","os_version":"20.04","protection":{"delete":false},"rapid_deploy":false,"status":"available","type":"snapshot"}}




# Group Image Actions

## Images Actions By Id [/images/{id}/actions{?sort,status}]

+ Parameters
    + id (number, required)

        ID of the Image


### Get all Actions for an Image [GET]
Returns all Action objects for an Image. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"image"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Images Actions Change Protection By Id [/images/{id}/actions/change_protection]

+ Parameters
    + id (number, required)

        ID of the Image


### Change Image Protection [POST]
Changes the protection configuration of the Image. Can only be used on snapshots.

+ Request (<<Add Header Value>>)

    + Attributes (Images Actions Change Protection Request)



+ Response 201 (application/json)

        The `action` key contains the `change_protection` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"image"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Images Actions By Id And Action Id [/images/{id}/actions/{action_id}]

+ Parameters
    + id (number, required)

        ID of the Image

    + action_id (number, required)

        ID of the Action


### Get an Action for an Image [GET]
Returns a specific Action for an Image.

+ Response 200 (application/json)

        The `action` key contains the Image Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"image"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}




# Group ISOs

ISOs are read-only Images of DVDs. While we recommend using our Image functionality to install your Servers we also provide some stock ISOs so you can install more exotic operating systems by yourself.

On request our support uploads a private ISO just for you. These are marked with type `private` and only visible in your Project.

To attach an ISO to your Server use `POST /servers/{id}/actions/attach_iso`.


## Isos [/isos{?name}]

### Get all ISOs [GET]
Returns all available ISO objects.
+ Parameters
    + name (string, optional)

        Can be used to filter ISOs by their name. The response will only contain the ISO matching the specified name.


+ Response 200 (application/json)

        The `isos` key in the reply contains an array of iso objects with this structure

    + Attributes (Isos Response)




## Isos By Id [/isos/{id}]

+ Parameters
    + id (number, required)

        ID of the ISO


### Get an ISO [GET]
Returns a specific ISO object.

+ Response 200 (application/json)

        The `iso` key in the reply contains an array of ISO objects with this structure

    + Attributes (Isos Response1)





# Group Load Balancers

## Load Balancers [/load_balancers{?sort,name,label_selector}]

### Get all Load Balancers [GET]
Gets all existing Load Balancers that you have available.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `name` 
            + `name:asc` 
            + `name:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 

    + name (string, optional)

        Can be used to filter resources by their name. The response will only contain the resources matching the specified name

    + label_selector (string, optional)

        Can be used to filter resources by labels. The response will only contain resources matching the label selector.


+ Response 200 (application/json)

        The `load_balancers` key contains a list of Load Balancers

    + Attributes (Load Balancers Response)




## Load Balancers [/load_balancers]

### Create a Load Balancer [POST]
Creates a Load Balancer.

#### Call specific error codes

| Code                                    | Description                                                                                           |
|-----------------------------------------|-------------------------------------------------------------------------------------------------------|
| `cloud_resource_ip_not_allowed`         | The IP you are trying to add as a target belongs to a Hetzner Cloud resource                          |
| `ip_not_owned`                          | The IP is not owned by the owner of the project of the Load Balancer                                  |
| `load_balancer_not_attached_to_network` | The Load Balancer is not attached to a network                                                        |
| `robot_unavailable`                     | Robot was not available. The caller may retry the operation after a short delay.                      |
| `server_not_attached_to_network`        | The server you are trying to add as a target is not attached to the same network as the Load Balancer |
| `source_port_already_used`              | The source port you are trying to add is already in use                                               |
| `target_already_defined`                | The Load Balancer target you are trying to define is already defined                                  |

+ Request (<<Add Header Value>>)

    + Attributes (CreateLoadBalancerRequest)



+ Response 201 (application/json)

        The `load_balancer` key contains the Load Balancer that was just created

    + Attributes (Load Balancers Response1)


    + Body

            {"action":{"command":"create_load_balancer","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"},"load_balancer":{"algorithm":{"type":"round_robin"},"created":"2016-01-30T23:50:00+00:00","id":4711,"included_traffic":654321,"ingoing_traffic":123456,"labels":{"env":"dev"},"load_balancer_type":{"deprecated":"2016-01-30T23:50:00+00:00","description":"LB11","id":1,"max_assigned_certificates":10,"max_connections":20000,"max_services":5,"max_targets":25,"name":"lb11","prices":[{"location":"fsn1","price_hourly":{"gross":"1.1900000000000000","net":"1.0000000000"},"price_monthly":{"gross":"1.1900000000000000","net":"1.0000000000"}}]},"location":{"city":"Falkenstein","country":"DE","description":"Falkenstein DC Park 1","id":1,"latitude":50.47612,"longitude":12.370071,"name":"fsn1","network_zone":"eu-central"},"name":"Web Frontend","outgoing_traffic":123456,"private_net":[{"ip":"10.0.0.2","network":4711}],"protection":{"delete":false},"public_net":{"enabled":false,"ipv4":{"ip":"1.2.3.4"},"ipv6":{"ip":"2001:db8::1"}},"services":[{"destination_port":80,"health_check":{"http":{"domain":"example.com","path":"/","response":"{\"status\": \"ok\"}","status_codes":["2??,3??"],"tls":false},"interval":15,"port":4711,"protocol":"http","retries":3,"timeout":10},"http":{"certificates":[897],"cookie_lifetime":300,"cookie_name":"HCLBSTICKY","redirect_http":true,"sticky_sessions":true},"listen_port":443,"protocol":"http","proxyprotocol":false}],"targets":[{"health_status":[{"listen_port":443,"status":"healthy"}],"server":{"id":80},"targets":[{"health_status":[{"listen_port":443,"status":"healthy"}],"label_selector":null,"server":{"id":80},"type":"server","use_private_ip":true}],"type":"server","use_private_ip":true}]}}



## Load Balancers By Id [/load_balancers/{id}]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Delete a Load Balancer [DELETE]
Deletes a Load Balancer.

+ Response 204 

        Load Balancer deleted




### Get a Load Balancer [GET]
Gets a specific Load Balancer object.

+ Response 200 (application/json)

        The `load_balancer` key contains the Load Balancer

    + Attributes (Load Balancers Response2)



### Update a Load Balancer [PUT]
Updates a Load Balancer. You can update a Load Balancer’s name and a Load Balancer’s labels.

Note that when updating labels, the Load Balancer’s current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

Note: if the Load Balancer object changes during the request, the response will be a “conflict” error.

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Request)



+ Response 200 (application/json)

        The `load_balancer` key contains the updated Load Balancer

    + Attributes (Load Balancers Response2)


    + Body

            {"load_balancer":{"algorithm":{"type":"round_robin"},"created":"2016-01-30T23:50:00+00:00","id":4711,"included_traffic":654321,"ingoing_traffic":123456,"labels":{"labelkey":"value"},"load_balancer_type":{"deprecated":"2016-01-30T23:50:00+00:00","description":"LB11","id":1,"max_assigned_certificates":10,"max_connections":20000,"max_services":5,"max_targets":25,"name":"lb11","prices":[{"location":"fsn1","price_hourly":{"gross":"1.1900000000000000","net":"1.0000000000"},"price_monthly":{"gross":"1.1900000000000000","net":"1.0000000000"}}]},"location":{"city":"Falkenstein","country":"DE","description":"Falkenstein DC Park 1","id":1,"latitude":50.47612,"longitude":12.370071,"name":"fsn1","network_zone":"eu-central"},"name":"new-name","outgoing_traffic":123456,"private_net":[{"ip":"10.0.0.2","network":4711}],"protection":{"delete":false},"public_net":{"enabled":false,"ipv4":{"ip":"1.2.3.4"},"ipv6":{"ip":"2001:db8::1"}},"services":[{"destination_port":80,"health_check":{"http":{"domain":"example.com","path":"/","response":"{\"status\": \"ok\"}","status_codes":["2??,3??"],"tls":false},"interval":15,"port":4711,"protocol":"http","retries":3,"timeout":10},"http":{"certificates":[897],"cookie_lifetime":300,"cookie_name":"HCLBSTICKY","redirect_http":true,"sticky_sessions":true},"listen_port":443,"protocol":"http","proxyprotocol":false}],"targets":[{"health_status":[{"listen_port":443,"status":"healthy"}],"ip":{"ip":"203.0.113.1"},"label_selector":{"selector":"env=prod"},"server":{"id":80},"targets":[{"health_status":[{"listen_port":443,"status":"healthy"}],"label_selector":null,"server":{"id":80},"type":"server","use_private_ip":true}],"type":"server","use_private_ip":true}]}}



## Load Balancers Metrics By Id [/load_balancers/{id}/metrics{?type,start,end,step}]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Get Metrics for a LoadBalancer [GET]
You must specify the type of metric to get: `open_connections`, `connections_per_second`, `requests_per_second` or `bandwidth`. You can also specify more than one type by comma separation, e.g. `requests_per_second,bandwidth`.

Depending on the type you will get different time series data:

|Type | Timeseries | Unit | Description |
|---- |------------|------|-------------|
| open_connections | open_connections | number | Open connections |
| connections_per_second | connections_per_second | connections/s | Connections per second |
| requests_per_second | requests_per_second | requests/s | Requests per second |
| bandwidth | bandwidth.in | bytes/s | Ingress bandwidth |
|| bandwidth.out | bytes/s | Egress bandwidth |

Metrics are available for the last 30 days only.

If you do not provide the step argument we will automatically adjust it so that 200 samples are returned.

We limit the number of samples to a maximum of 500 and will adjust the step parameter accordingly.
+ Parameters
    + type (enum[string], required)

        Type of metrics to get

        + Members
            + `open_connections` 
            + `connections_per_second` 
            + `requests_per_second` 
            + `bandwidth` 

    + start (string, required)

        Start of period to get Metrics for (in ISO-8601 format)

    + end (string, required)

        End of period to get Metrics for (in ISO-8601 format)

    + step (string, optional)

        Resolution of results in seconds


+ Response 200 (application/json)

        The `metrics` key in the reply contains a metrics object with this structure

    + Attributes (Load Balancers Metrics Response)





# Group Load Balancer Actions

## Load Balancers Actions By Id [/load_balancers/{id}/actions{?sort,status}]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Get all Actions for a Load Balancer [GET]
Returns all Action objects for a Load Balancer. You can sort the results by using the `sort` URI parameter, and filter them with the `status` parameter.
+ Parameters
    + sort (enum[string], optional)

        Can be used multiple times.

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `command` 
            + `command:asc` 
            + `command:desc` 
            + `status` 
            + `status:asc` 
            + `status:desc` 
            + `progress` 
            + `progress:asc` 
            + `progress:desc` 
            + `started` 
            + `started:asc` 
            + `started:desc` 
            + `finished` 
            + `finished:asc` 
            + `finished:desc` 

    + status (enum[string], optional)

        Can be used multiple times, the response will contain only Actions with specified statuses

        + Members
            + `running` 
            + `success` 
            + `error` 


+ Response 200 (application/json)

        The `actions` key contains a list of Actions

    + Attributes (ActionsResponse)


    + Body

            {"actions":[{"command":"add_service","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}]}



## Load Balancers Actions Add Service By Id [/load_balancers/{id}/actions/add_service]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Add Service [POST]
Adds a service to a Load Balancer.

#### Call specific error codes

| Code                       | Description                                             |
|----------------------------|---------------------------------------------------------|
| `source_port_already_used` | The source port you are trying to add is already in use |

+ Request (<<Add Header Value>>)

    + Attributes (LoadBalancerService)



+ Response 201 (application/json)

        The `action` key contains the `add_service` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"add_service","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Add Target By Id [/load_balancers/{id}/actions/add_target]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Add Target [POST]
Adds a target to a Load Balancer.

#### Call specific error codes

| Code                                    | Description                                                                                           |
|-----------------------------------------|-------------------------------------------------------------------------------------------------------|
| `cloud_resource_ip_not_allowed`         | The IP you are trying to add as a target belongs to a Hetzner Cloud resource                          |
| `ip_not_owned`                          | The IP you are trying to add as a target is not owned by the Project owner                            |
| `load_balancer_not_attached_to_network` | The Load Balancer is not attached to a network                                                        |
| `robot_unavailable`                     | Robot was not available. The caller may retry the operation after a short delay.                      |
| `server_not_attached_to_network`        | The server you are trying to add as a target is not attached to the same network as the Load Balancer |
| `target_already_defined`                | The Load Balancer target you are trying to define is already defined                                  |

+ Request (<<Add Header Value>>)

    + Attributes (AddTargetRequest)



+ Response 201 (application/json)

        The `action` key contains the `add_target` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"add_target","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Attach To Network [/load_balancers/{id}/actions/attach_to_network]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Attach a Load Balancer to a Network [POST]
Attach a Load Balancer to a Network.

**Call specific error codes**

| Code                             | Description                                                           |
|----------------------------------|-----------------------------------------------------------------------|
| `load_balancer_already_attached` | The Load Balancer is already attached to a network                    |
| `ip_not_available`               | The provided Network IP is not available                              |
| `no_subnet_available`            | No Subnet or IP is available for the Load Balancer within the network |

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Actions Attach To Network Request)



+ Response 201 (application/json)

        The `action` key contains the `attach_to_network` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"attach_to_network","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Change Algorithm [/load_balancers/{id}/actions/change_algorithm]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Change Algorithm [POST]
Change the algorithm that determines to which target new requests are sent.

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Actions Change Algorithm Request)



+ Response 201 (application/json)

        The `action` key contains the `change_algorithm` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_algorithm","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Change Dns Ptr [/load_balancers/{id}/actions/change_dns_ptr]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Change reverse DNS entry for this Load Balancer [POST]
Changes the hostname that will appear when getting the hostname belonging to the public IPs (IPv4 and IPv6) of this Load Balancer.

Floating IPs assigned to the Server are not affected by this.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeLoadbalancerDnsPtrRequest)



+ Response 201 (application/json)

        The `action` key in the reply contains an Action object with this structure

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_dns_ptr","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"load_balancer"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Load Balancers Actions Change Protection [/load_balancers/{id}/actions/change_protection]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Change Load Balancer Protection [POST]
Changes the protection configuration of a Load Balancer.

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Actions Change Protection Request)



+ Response 201 (application/json)

        The `action` key contains the `change_protection` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Change Type By Id [/load_balancers/{id}/actions/change_type]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Change the Type of a Load Balancer [POST]
Changes the type (Max Services, Max Targets and Max Connections) of a Load Balancer.

**Call specific error codes**

| Code                         | Description                                                     |
|------------------------------|-----------------------------------------------------------------|
| `invalid_load_balancer_type` | The Load Balancer type does not fit for the given Load Balancer |

+ Request (<<Add Header Value>>)

    + Attributes (ChangeTypeRequest)



+ Response 201 (application/json)

        The `action` key contains the `change_load_balancer_type` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_load_balancer_type","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Load Balancers Actions Delete Service [/load_balancers/{id}/actions/delete_service]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Delete Service [POST]
Delete a service of a Load Balancer.

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Actions Delete Service Request)



+ Response 201 (application/json)

        The `action` key contains the `delete_service` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"delete_service","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Detach From Network [/load_balancers/{id}/actions/detach_from_network]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Detach a Load Balancer from a Network [POST]
Detaches a Load Balancer from a network.

+ Request (<<Add Header Value>>)

    + Attributes (Load Balancers Actions Detach From Network Request)



+ Response 201 (application/json)

        The `action` key contains the `detach_from_network` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"detach_from_network","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"network"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Load Balancers Actions Disable Public Interface [/load_balancers/{id}/actions/disable_public_interface]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Disable the public interface of a Load Balancer [POST]
Disable the public interface of a Load Balancer. The Load Balancer will be not accessible from the internet via its public IPs.

#### Call specific error codes

| Code                                      | Description                                                                    |
|-------------------------------------------|--------------------------------------------------------------------------------|
| `load_balancer_not_attached_to_network`   |  The Load Balancer is not attached to a network                                |
| `targets_without_use_private_ip`          | The Load Balancer has targets that use the public IP instead of the private IP |

+ Response 201 (application/json)

        The `action` key contains the `disable_public_interface` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"disable_public_interface","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"network"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Load Balancers Actions Enable Public Interface [/load_balancers/{id}/actions/enable_public_interface]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Enable the public interface of a Load Balancer [POST]
Enable the public interface of a Load Balancer. The Load Balancer will be accessible from the internet via its public IPs.

+ Response 201 (application/json)

        The `action` key contains the `enable_public_interface` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"enable_public_interface","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"network"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Load Balancers Actions Remove Target [/load_balancers/{id}/actions/remove_target]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Remove Target [POST]
Removes a target from a Load Balancer.

+ Request (<<Add Header Value>>)

    + Attributes (RemoveTargetRequest)



+ Response 201 (application/json)

        The `action` key contains the `remove_target` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"remove_target","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions Update Service [/load_balancers/{id}/actions/update_service]

+ Parameters
    + id (number, required)

        ID of the Load Balancer


### Update Service [POST]
Updates a Load Balancer Service.

#### Call specific error codes

| Code                       | Description                                             |
|----------------------------|---------------------------------------------------------|
| `source_port_already_used` | The source port you are trying to add is already in use |

+ Request (<<Add Header Value>>)

    + Attributes (LoadBalancerService)



+ Response 201 (application/json)

        The `action` key contains the `update_service` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"update_service","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Load Balancers Actions By Id [/load_balancers/{id}/actions/{action_id}]

+ Parameters
    + id (number, required)

        ID of the Load Balancer

    + action_id (number, required)

        ID of the Action


### Get an Action for a Load Balancer [GET]
Returns a specific Action for a Load Balancer.

+ Response 200 (application/json)

        The `action` key contains the Load Balancer Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"load_balancer"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}




# Group Load Balancer Types

Load Balancer types define kinds of Load Balancers offered. Each type has an hourly and a monthly cost. You will pay whichever amount is lower for your usage of this specific Load Balancer. Costs may differ between Locations.

Currency for all amounts is €. All prices exclude VAT.


## Load Balancer Types [/load_balancer_types{?name}]

### Get all Load Balancer Types [GET]
Gets all Load Balancer type objects.
+ Parameters
    + name (string, optional)

        Can be used to filter Load Balancer types by their name. The response will only contain the Load Balancer type matching the specified name.


+ Response 200 (application/json)

        The `load_balancer_types` key in the reply contains an array of Load Balancer type objects with this structure

    + Attributes (Load Balancer Types Response)




## Load Balancer Types By Id [/load_balancer_types/{id}]

+ Parameters
    + id (number, required)

        ID of Load Balancer type


### Get a Load Balancer Type [GET]
Gets a specific Load Balancer type object.

+ Response 200 (application/json)

        The `load_balancer_type` key in the reply contains a Load Balancer type object with this structure

    + Attributes (Load Balancer Types Response1)





# Group Locations

Datacenters are organized by Locations. Datacenters in the same Location are connected with very low latency links.

## Locations [/locations{?name}]

### Get all Locations [GET]
Returns all Location objects.
+ Parameters
    + name (string, optional)

        Can be used to filter Locations by their name. The response will only contain the Location matching the specified name.


+ Response 200 (application/json)

        The `locations` key in the reply contains an array of Location objects with this structure

    + Attributes (Locations Response)




## Locations By Id [/locations/{id}]

+ Parameters
    + id (number, required)

        ID of Location


### Get a Location [GET]
Returns a specific Location object.

+ Response 200 (application/json)

        The `location` key in the reply contains a Location object with this structure

    + Attributes (Locations Response1)





# Group Primary IPs

Primary IPs help you to create more flexible networking setups. You can assign at most one Primary IP of type `ipv4` and one of type `ipv6` per Server. This Server then uses these IPs.

You can only unassign a Primary IP from a Server when it's powered off. This Primary IP can then be assigned to a different powered off Server, or you can keep it around for later use.

Primary IPs are bound to a specific Datacenter. You can not assign a Primary IP from one Datacenter to a Server in a different Datacenter. If you need this capability use Floating IPs instead.

If your Server's operating system supports cloud-init there is no further configuration needed to make Primary IPs work.

Primary IPs of type `ipv4` use a single IPv4 address as their `ip` property. Primary IPs of type `ipv6` use a /64 network such as `fc00::/64` as their `ip` property. Any IP address within that network can be used on your host.

Primary IPs are billed on an hourly basis.


## Primary Ips [/primary_ips{?name,label_selector,ip,sort}]

### Get all Primary IPs [GET]
Returns all Primary IP objects.
+ Parameters
    + name (string, optional)

        Can be used to filter resources by their name. The response will only contain the resources matching the specified name

    + label_selector (string, optional)

        Can be used to filter resources by labels. The response will only contain resources matching the label selector.

    + ip (string, optional)

        Can be used to filter resources by their ip. The response will only contain the resources matching the specified ip.

        + Sample: 127.0.0.1
    + sort (enum[string], optional)

        Can be used multiple times. Choices id id:asc id:desc created created:asc created:desc

        + Members
            + `id` 
            + `id:asc` 
            + `id:desc` 
            + `created` 
            + `created:asc` 
            + `created:desc` 


+ Response 200 (application/json)

        The `primary_ips` key contains an array of Primary IP objects

    + Attributes (PrimaryIPsResponse)




## Primary Ips [/primary_ips]

### Create a Primary IP [POST]
Creates a new Primary IP, optionally assigned to a Server.

If you want to create a Primary IP that is not assigned to a Server, you need to provide the `datacenter` key instead of `assignee_id`. This can be either the ID or the name of the Datacenter this Primary IP shall be created in.

Note that a Primary IP can only be assigned to a Server in the same Datacenter later on.

#### Call specific error codes

| Code                          | Description                                                   |
|------------------------------ |-------------------------------------------------------------- |
| `server_not_stopped`          | The specified server is running, but needs to be powered off  |
| `server_has_ipv4`             | The server already has an ipv4 address                        |
| `server_has_ipv6`             | The server already has an ipv6 address                        |

+ Request (<<Add Header Value>>)

    + Attributes (CreatePrimaryIPRequest)



+ Response 201 (application/json)

        The `primary_ip` key contains the Primary IP that was just created

    + Attributes (CreatePrimaryIPResponse)


    + Body

            {"action":{"command":"create_primary_ip","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":17,"type":"server"}],"started":"2016-01-30T23:50:00+00:00","status":"running"},"primary_ip":{"assignee_id":17,"assignee_type":"server","auto_delete":true,"blocked":false,"created":"2016-01-30T23:50:00+00:00","datacenter":{"description":"Falkenstein DC Park 8","id":42,"location":{"city":"Falkenstein","country":"DE","description":"Falkenstein DC Park 1","id":1,"latitude":50.47612,"longitude":12.370071,"name":"fsn1","network_zone":"eu-central"},"name":"fsn1-dc8","server_types":{"available":[1,2,3],"available_for_migration":[1,2,3],"supported":[1,2,3]}},"dns_ptr":[{"dns_ptr":"server.example.com","ip":"2001:db8::1"}],"id":42,"ip":"131.232.99.1","labels":{"labelkey":"value"},"name":"my-ip","protection":{"delete":false},"type":"ipv4"}}



## Primary Ips By Id [/primary_ips/{id}]

+ Parameters
    + id (number, required)

        ID of the resource


### Delete a Primary IP [DELETE]
Deletes a Primary IP.

The Primary IP may be assigned to a Server. In this case it is unassigned automatically. The Server must be powered off (status `off`) in order for this operation to succeed.

+ Response 204 

        Primary IP deleted




### Get a Primary IP [GET]
Returns a specific Primary IP object.

+ Response 200 (application/json)

        The `primary_ip` key contains a Primary IP object

    + Attributes (PrimaryIPResponse)



### Update a Primary IP [PUT]
Updates the Primary IP.

Note that when updating labels, the Primary IP's current set of labels will be replaced with the labels provided in the request body. So, for example, if you want to add a new label, you have to provide all existing labels plus the new label in the request body.

If the Primary IP object changes during the request, the response will be a “conflict” error.

+ Request (<<Add Header Value>>)

    + Attributes (UpdatePrimaryIPRequest)



+ Response 200 (application/json)

        The `primary_ip` key contains the Primary IP that was just updated

    + Attributes (PrimaryIPResponse)





# Group Primary IP Actions

## Primary Ips Actions Assign By Id [/primary_ips/{id}/actions/assign]

+ Parameters
    + id (number, required)

        ID of the Primary IP


### Assign a Primary IP to a resource [POST]
Assigns a Primary IP to a Server.

A Server can only have one Primary IP of type `ipv4` and one of type `ipv6` assigned. If you need more IPs use Floating IPs.

The Server must be powered off (status `off`) in order for this operation to succeed.

#### Call specific error codes

| Code                          | Description                                                   |
|------------------------------ |-------------------------------------------------------------- |
| `server_not_stopped`          | The server is running, but needs to be powered off            |
| `primary_ip_already_assigned` | Primary ip is already assigned to a different server          |
| `server_has_ipv4`             | The server already has an ipv4 address                        |
| `server_has_ipv6`             | The server already has an ipv6 address                        |

+ Request (<<Add Header Value>>)

    + Attributes (AssignPrimaryIPRequest)



+ Response 201 (application/json)

        The `action` key in the reply contains an Action object with this structure

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"assign_primary_ip","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"primary_ip"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}



## Primary Ips Actions Change Dns Ptr By Id [/primary_ips/{id}/actions/change_dns_ptr]

+ Parameters
    + id (number, required)

        ID of the Primary IP


### Change reverse DNS entry for a Primary IP [POST]
Changes the hostname that will appear when getting the hostname belonging to this Primary IP.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeDNSPTRRequest)



+ Response 201 (application/json)

        The `action` key contains the `change_dns_ptr` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_dns_ptr","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"primary_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Primary Ips Actions Change Protection [/primary_ips/{id}/actions/change_protection]

+ Parameters
    + id (number, required)

        ID of the Primary IP


### Change Primary IP Protection [POST]
Changes the protection configuration of a Primary IP.

A Primary IP can only be delete protected if its `auto_delete` property is set to `false`.

+ Request (<<Add Header Value>>)

    + Attributes (ChangeProtectionRequest2)



+ Response 201 (application/json)

        The `action` key contains the `change_protection` Action

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"change_protection","error":{"code":"action_failed","message":"Action failed"},"finished":"2016-01-30T23:56:00+00:00","id":13,"progress":100,"resources":[{"id":4711,"type":"primary_ip"}],"started":"2016-01-30T23:55:00+00:00","status":"success"}}



## Primary Ips Actions Unassign By Id [/primary_ips/{id}/actions/unassign]

+ Parameters
    + id (number, required)

        ID of the Primary IP


### Unassign a Primary IP from a resource [POST]
Unassigns a Primary IP from a Server.

The Server must be powered off (status `off`) in order for this operation to succeed.

Note that only Servers that have at least one network interface (public or private) attached can be powered on.

#### Call specific error codes

| Code                              | Description                                                   |
|---------------------------------- |-------------------------------------------------------------- |
| `server_not_stopped`              | The server is running, but needs to be powered off            |
| `server_is_load_balancer_target`  | The server ipv4 address is a loadbalancer target              |

+ Response 201 (application/json)

        The `action` key in the reply contains an Action object with this structure

    + Attributes (ActionResponse)


    + Body

            {"action":{"command":"unassign_primary_ip","error":{"code":"action_failed","message":"Action failed"},"finished":null,"id":13,"progress":0,"resources":[{"id":42,"type":"server"},{"id":4711,"type":"primary_ip"}],"started":"2016-01-30T23:50:00+00:00","status":"running"}}




# Group Networks

Networks is a private networks feature. These Networks are optional and they coexist with the public network that every Server has by default.

They allow Servers to talk to each other over a dedicated network interface using private IP addresses not available publicly.

The IP addresses are allocated and managed via the API, they must conform to [RFC1918](https://tools.ietf.org/html/rfc1918#section-3) standard. IPs and network interfaces defined under Networks do not provide public internet connectivity, you will need to use the already existing public network interface for that.

Each network has a user selected `ip_range` which defines all available IP addresses which can be used for Subnets within the Network.

To assign individual IPs to Servers you will need to create Network Subnets, described below.

Currently Networks support IPv4 only.

### Subnets
Subnets divide the `ip_range` from the parent Network object into multiple Subnetworks that you can use for different specific purposes.

For each subnet you need to specify its own `ip_range` which must be contained within the parent Network’s `ip_range`. Additionally each subnet must belong to one of the available Network Zones described below. Subnets can not have overlapping IP ranges.

Currently there are three types of subnet:
* type `cloud` is used to connect cloud Resources into your Network.
* type `server` was used to connect only cloud Servers into your Network. This type is deprecated and is replaced by type cloud.
* type `vswitch` allows you to connect [Dedicated Server vSwitch](https://docs.hetzner.com/robot/dedicated-server/network/vswitch) - and all Dedicated Servers attached to it - into your Network

Subnets of type `vswitch` must set a `vswitch_id` which is the ID of the existing vSwitch in Hetzner Robot that should be coupled.

### Network Zones
Network Zones are groups of Locations which have special high-speed network connections between them. The [Location object](https://docs.hetzner.cloud/#locations-get-a-location) contains the `network_zone` property each Location belongs to. Currently these network zones exist:

|Network Zone|Contains Locations|
|------------|------------------|
|eu-central  | nbg1, fsn1, hel1 |
|us-east     | ash              |

### IP address management
When a cloud Server is attached to a network without the user specifying an IP it automatically gets an IP address assigned from a subnet of type `server` in the same network zone. If you specify the optional `ip` parameter when attaching then we will try to assign that IP. Keep in mind that the Server’s location must be covered by the Subnet’s Network Zone if you specify an IP, or that at least one Subnet with the zone covering Server’s location must exist.

A cloud Server can also have more than one IP address in a Network by specifying aliases. For details see the [attach to network action](https://docs.hetzner.cloud/#server-actions-attach-a-server-to-a-network).

The following IP addresses are reserved in networks and can not be used:
[...]
