#%RAML 1.0
title: DigitalOcean API
version: '2.0'
baseUri: https://api.digitalocean.com
baseUriParameters: {}
protocols:
- HTTPS
documentation:
- title: DigitalOcean API
  content: "# Introduction\n\nThe DigitalOcean API allows you to manage Droplets and resources within the\nDigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.\n\nAll of the functionality that you are familiar with in the DigitalOcean\ncontrol panel is also available through the API, allowing you to script the\ncomplex actions that your situation requires.\n\nThe API documentation will start with a general overview about the design\nand technology that has been implemented, followed by reference information\nabout specific endpoints.\n\n## Requests\n\nAny tool that is fluent in HTTP can communicate with the API simply by\nrequesting the correct URI. Requests should be made using the HTTPS protocol\nso that traffic is encrypted. The interface responds to different methods\ndepending on the action required.\n\n|Method|Usage|\n|--- |--- |\n|GET|For simple retrieval of information about your account, Droplets, or environment, you should use the GET method.  The information you request will be returned to you as a JSON object. The attributes defined by the JSON object can be used to form additional requests.  Any request using the GET method is read-only and will not affect any of the objects you are querying.|\n|DELETE|To destroy a resource and remove it from your account and environment, the DELETE method should be used.  This will remove the specified object if it is found.  If it is not found, the operation will return a response indicating that the object was not found. This idempotency means that you do not have to check for a resource's availability prior to issuing a delete command, the final state will be the same regardless of its existence.|\n|PUT|To update the information about a resource in your account, the PUT method is available. Like the DELETE Method, the PUT method is idempotent.  It sets the state of the target using the provided values, regardless of their current values. Requests using the PUT method do not need to check the current attributes of the object.|\n|PATCH|Some resources support partial modification. In these cases, the PATCH method is available. Unlike PUT which generally requires a complete representation of a resource, a PATCH request is is a set of instructions on how to modify a resource updating only specific attributes.|\n|POST|To create a new object, your request should specify the POST method. The POST request includes all of the attributes necessary to create a new object.  When you wish to create a new object, send a POST request to the target endpoint.|\n|HEAD|Finally, to retrieve metadata information, you should use the HEAD method to get the headers.  This returns only the header of what would be returned with an associated GET request. Response headers contain some useful information about your API access and the results that are available for your request. For instance, the headers contain your current rate-limit value and the amount of time available until the limit resets. It also contains metrics about the total number of objects found, pagination information, and the total content length.|\n\n\n## HTTP Statuses\n\nAlong with the HTTP methods that the API responds to, it will also return\nstandard HTTP statuses, including error codes.\n\nIn the event of a problem, the status will contain the error code, while the\nbody of the response will usually contain additional information about the\nproblem that was encountered.\n\nIn general, if the status returned is in the 200 range, it indicates that\nthe request was fulfilled successfully and that no error was encountered.\n\nReturn codes in the 400 range typically indicate that there was an issue\nwith the request that was sent. Among other things, this could mean that you\ndid not authenticate correctly, that you are requesting an action that you\ndo not have authorization for, that the object you are requesting does not\nexist, or that your request is malformed.\n\nIf you receive a status in the 500 range, this generally indicates a\nserver-side problem. This means that we are having an issue on our end and\ncannot fulfill your request currently.\n\n400 and 500 level error responses will include a JSON object in their body,\nincluding the following attributes:\n\n|Name|Type|Description|\n|--- |--- |--- |\n|id|string|A short identifier corresponding to the HTTP status code returned. For example, the ID for a response returning a 404 status code would be \"not_found.\"|\n|message|string|A message providing additional information about the error, including details to help resolve it when possible.|\n|request_id|string|Optionally, some endpoints may include a request ID that should be provided when reporting bugs or opening support tickets to help identify the issue.|\n\n### Example Error Response\n\n```\n    HTTP/1.1 403 Forbidden\n    {\n      \"id\":       \"forbidden\",\n      \"message\":  \"You do not have access for the attempted action.\"\n    }\n```\n\n## Responses\n\nWhen a request is successful, a response body will typically be sent back in\nthe form of a JSON object. An exception to this is when a DELETE request is\nprocessed, which will result in a successful HTTP 204 status and an empty\nresponse body.\n\nInside of this JSON object, the resource root that was the target of the\nrequest will be set as the key. This will be the singular form of the word\nif the request operated on a single object, and the plural form of the word\nif a collection was processed.\n\nFor example, if you send a GET request to `/v2/droplets/$DROPLET_ID` you\nwill get back an object with a key called \"`droplet`\". However, if you send\nthe GET request to the general collection at `/v2/droplets`, you will get\nback an object with a key called \"`droplets`\".\n\nThe value of these keys will generally be a JSON object for a request on a\nsingle object and an array of objects for a request on a collection of\nobjects.\n\n### Response for a Single Object\n\n```\n    {\n        \"droplet\": {\n            \"name\": \"example.com\"\n            . . .\n        }\n    }\n```\n\n### Response for an Object Collection\n\n```\n    {\n        \"droplets\": [\n            {\n                \"name\": \"example.com\"\n                . . .\n            },\n            {\n                \"name\": \"second.com\"\n                . . .\n            }\n        ]\n    }\n```\n\n## Meta\n\nIn addition to the main resource root, the response may also contain a\n`meta` object. This object contains information about the response itself.\n\nThe `meta` object contains a `total` key that is set to the total number of\nobjects returned by the request. This has implications on the `links` object\nand pagination.\n\nThe `meta` object will only be displayed when it has a value. Currently, the\n`meta` object will have a value when a request is made on a collection (like\n`droplets` or `domains`).\n\n\n### Sample Meta Object\n\n```\n    {\n        . . .\n        \"meta\": {\n            \"total\": 43\n        }\n        . . .\n    }\n```\n\n## Links & Pagination\n\nThe `links` object is returned as part of the response body when pagination\nis enabled. By default, 20 objects are returned per page. If the response\ncontains 20 objects or fewer, no `links` object will be returned. If the\nresponse contains more than 20 objects, the first 20 will be returned along\nwith the `links` object.\n\nYou can request a different pagination limit or force pagination by\nappending `?per_page=` to the request with the number of items you would\nlike per page. For instance, to show only two results per page, you could\nadd `?per_page=2` to the end of your query. The maximum number of results\nper page is 200.\n\nThe `links` object contains a `pages` object. The `pages` object, in turn,\ncontains keys indicating the relationship of additional pages. The values of\nthese are the URLs of the associated pages. The keys will be one of the\nfollowing:\n\n*   **first**: The URI of the first page of results.\n*   **prev**: The URI of the previous sequential page of results.\n*   **next**: The URI of the next sequential page of results.\n*   **last**: The URI of the last page of results.\n\nThe `pages` object will only include the links that make sense. So for the\nfirst page of results, no `first` or `prev` links will ever be set. This\nconvention holds true in other situations where a link would not make sense.\n\n### Sample Links Object\n\n```\n    {\n        . . .\n        \"links\": {\n            \"pages\": {\n                \"last\": \"https://api.digitalocean.com/v2/images?page=2\",\n                \"next\": \"https://api.digitalocean.com/v2/images?page=2\"\n            }\n        }\n        . . .\n    }\n```\n\n## Rate Limit\n\nRequests through the API are rate limited per OAuth token. Current rate limits:\n\n*   5,000 requests per hour\n*   250 requests per minute (5% of the hourly total)\n\nOnce you exceed either limit, you will be rate limited until the next cycle\nstarts. Space out any requests that you would otherwise issue in bursts for\nthe best results.\n\nThe rate limiting information is contained within the response headers of\neach request. The relevant headers are:\n\n*   **ratelimit-limit**: The number of requests that can be made per hour.\n*   **ratelimit-remaining**: The number of requests that remain before you hit your request limit. See the information below for how the request limits expire.\n*   **ratelimit-reset**: This represents the time when the oldest request will expire. The value is given in [Unix epoch time](http://en.wikipedia.org/wiki/Unix_time). See below for more information about how request limits expire.\n\nAs long as the `ratelimit-remaining` count is above zero, you will be able\nto make additional requests.\n\nThe way that a request expires and is removed from the current limit count\nis important to understand. Rather than counting all of the requests for an\nhour and resetting the `ratelimit-remaining` value at the end of the hour,\neach request instead has its own timer.\n\nThis means that each request contributes toward the `ratelimit-remaining`\ncount for one complete hour after the request is made. When that request's\ntimer runs out, it is no longer counted towards the request limit.\n\nThis has implications on the meaning of the `ratelimit-reset` header as\nwell. Because the entire rate limit is not reset at one time, the value of\nthis header is set to the time when the _oldest_ request will expire.\n\nKeep this in mind if you see your `ratelimit-reset` value change, but not\nmove an entire hour into the future.\n\nIf the `ratelimit-remaining` reaches zero, subsequent requests will receive\na 429 error code until the request reset has been reached. You can see the\nformat of the response in the examples.\n\n**Note:** The following endpoints have special rate limit requirements that\nare independent of the limits defined above.\n\n*   Only 12 `POST` requests to the `/v2/floating_ips` endpoint to create Floating IPs can be made per 60 seconds.\n*   Only 10 `GET` requests to the `/v2/account/keys` endpoint to list SSH keys can be made per 60 seconds.\n*   Only 5 requests to any and all `v2/cdn/endpoints` can be made per 10 seconds. This includes `v2/cdn/endpoints`, \n    `v2/cdn/endpoints/$ENDPOINT_ID`, and `v2/cdn/endpoints/$ENDPOINT_ID/cache`.\n*   Only 50 strings within the `files` json struct in the `v2/cdn/endpoints/$ENDPOINT_ID/cache` [payload](https://docs.digitalocean.com/reference/api/api-reference/#operation/cdn_purge_cache) \n    can be requested every 20 seconds.\n\n### Sample Rate Limit Headers\n\n```\n    . . .\n    ratelimit-limit: 1200\n    ratelimit-remaining: 1193\n    rateLimit-reset: 1402425459\n    . . .\n```\n\n### Sample Rate Exceeded Response\n\n```\n    429 Too Many Requests\n    {\n            id: \"too_many_requests\",\n            message: \"API Rate limit exceeded.\"\n    }\n```\n\n## Curl Examples\n\nThroughout this document, some example API requests will be given using the\n`curl` command. This will allow us to demonstrate the various endpoints in a\nsimple, textual format.\n  \n  These examples assume that you are using a Linux or macOS command line. To run\nthese commands on a Windows machine, you can either use cmd.exe, PowerShell, or WSL:\n\n* For cmd.exe, use the `set VAR=VALUE` [syntax](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/set_1)\nto define environment variables, call them with `%VAR%`, then replace all backslashes (`\\`) in the examples with carets (`^`).\n\n* For PowerShell, use the `$Env:VAR = \"VALUE\"` [syntax](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7.2)\nto define environment variables, call them with `$Env:VAR`, then replace `curl` with `curl.exe` and all backslashes (`\\`) in the examples with backticks (`` ` ``).\n\n* WSL is a compatibility layer that allows you to emulate a Linux terminal on a Windows machine.\nInstall WSL with our [community tutorial](https://www.digitalocean.com/community/tutorials/how-to-install-the-windows-subsystem-for-linux-2-on-microsoft-windows-10), \nthen follow this API documentation normally.\n\nThe names of account-specific references (like Droplet IDs, for instance)\nwill be represented by variables. For instance, a Droplet ID may be\nrepresented by a variable called `$DROPLET_ID`. You can set the associated\nvariables in your environment if you wish to use the examples without\nmodification.\n\nThe first variable that you should set to get started is your OAuth\nauthorization token. The next section will go over the details of this, but\nyou can set an environmental variable for it now.\n\nGenerate a token by going to the [Apps & API](https://cloud.digitalocean.com/settings/applications)\nsection of the DigitalOcean control panel. Use an existing token if you have\nsaved one, or generate a new token with the \"Generate new token\" button.\nCopy the generated token and use it to set and export the TOKEN variable in\nyour environment as the example shows.\n\nYou may also wish to set some other variables now or as you go along. For\nexample, you may wish to set the `DROPLET_ID` variable to one of your\nDroplet IDs since this will be used frequently in the API.\n\nIf you are following along, make sure you use a Droplet ID that you control\nso that your commands will execute correctly.\n\nIf you need access to the headers of a response through `curl`, you can pass\nthe `-i` flag to display the header information along with the body. If you\nare only interested in the header, you can instead pass the `-I` flag, which\nwill exclude the response body entirely.\n\n\n### Set and Export your OAuth Token\n\n```\nexport DIGITALOCEAN_TOKEN=your_token_here\n```\n\n### Set and Export a Variable\n\n```\nexport DROPLET_ID=1111111\n```\n\n## Parameters\n\nThere are two different ways to pass parameters in a request with the API.\n\nWhen passing parameters to create or update an object, parameters should be\npassed as a JSON object containing the appropriate attribute names and\nvalues as key-value pairs. When you use this format, you should specify that\nyou are sending a JSON object in the header. This is done by setting the\n`Content-Type` header to `application/json`. This ensures that your request\nis interpreted correctly.\n\nWhen passing parameters to filter a response on GET requests, parameters can\nbe passed using standard query attributes. In this case, the parameters\nwould be embedded into the URI itself by appending a `?` to the end of the\nURI and then setting each attribute with an equal sign. Attributes can be\nseparated with a `&`. Tools like `curl` can create the appropriate URI when\ngiven parameters and values; this can also be done using the `-F` flag and\nthen passing the key and value as an argument. The argument should take the\nform of a quoted string with the attribute being set to a value with an\nequal sign.\n\n### Pass Parameters as a JSON Object\n\n```\n    curl -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n        -H \"Content-Type: application/json\" \\\n        -d '{\"name\": \"example.com\", \"ip_address\": \"127.0.0.1\"}' \\\n        -X POST \"https://api.digitalocean.com/v2/domains\"\n```\n\n### Pass Filter Parameters as a Query String\n\n```\n     curl -H \"Authorization: Bearer $DIGITALOCEAN_TOKEN\" \\\n         -X GET \\\n         \"https://api.digitalocean.com/v2/images?private=true\"\n```\n\n## Cross Origin Resource Sharing\n\nIn order to make requests to the API from other domains, the API implements\nCross Origin Resource Sharing (CORS) support.\n\nCORS support is generally used to create AJAX requests outside of the domain\nthat the request originated from. This is necessary to implement projects\nlike control panels utilizing the API. This tells the browser that it can\nsend requests to an outside domain.\n\nThe procedure that the browser initiates in order to perform these actions\n(other than GET requests) begins by sending a \"preflight\" request. This sets\nthe `Origin` header and uses the `OPTIONS` method. The server will reply\nback with the methods it allows and some of the limits it imposes. The\nclient then sends the actual request if it falls within the allowed\nconstraints.\n\nThis process is usually done in the background by the browser, but you can\nuse curl to emulate this process using the example provided. The headers\nthat will be set to show the constraints are:\n\n*   **Access-Control-Allow-Origin**: This is the domain that is sent by the client or browser as the origin of the request. It is set through an `Origin` header.\n*   **Access-Control-Allow-Methods**: This specifies the allowed options for requests from that domain. This will generally be all available methods.\n*   **Access-Control-Expose-Headers**: This will contain the headers that will be available to requests from the origin domain.\n*   **Access-Control-Max-Age**: This is the length of time that the access is considered valid. After this expires, a new preflight should be sent.\n*   **Access-Control-Allow-Credentials**: This will be set to `true`. It basically allows you to send your OAuth token for authentication.\n\nYou should not need to be concerned with the details of these headers,\nbecause the browser will typically do all of the work for you."
securitySchemes: {}
securedBy:
- bearer_auth
types:
  V21ClicksResponse:
    displayName: V21ClicksResponse
    type: object
    properties:
      1_clicks:
        required: false
        displayName: 1_clicks
        type: array
        items:
          type: 1Click
  1Click:
    displayName: 1Click
    type: object
    properties:
      slug:
        required: true
        example:
          value: monitoring
        displayName: slug
        description: The slug identifier for the 1-Click application.
        type: string
      type:
        required: true
        example:
          value: kubernetes
        displayName: type
        description: The type of the 1-Click application.
        type: string
  V21Clicks401Error1:
    displayName: V21Clicks401Error1
    type: object
    properties:
      id:
        required: true
        example:
          value: not_found
        displayName: id
        description: A short identifier corresponding to the HTTP status code returned. For  example, the ID for a response returning a 404 status code would be "not_found."
        type: string
      message:
        required: true
        example:
          value: The resource you were accessing could not be found.
        displayName: message
        description: A message providing additional information about the error, including  details to help resolve it when possible.
        type: string
      request_id:
        required: false
        example:
          value: 4d9d8375-3c56-4925-a3e7-eb137fed17e9
        displayName: request_id
        description: Optionally, some endpoints may include a request ID that should be  provided when reporting bugs or opening support tickets to help  identify the issue.
        type: string
  V21ClicksKubernetesRequest:
    displayName: V21ClicksKubernetesRequest
    type: object
    properties:
      addon_slugs:
        required: true
        default: '[]'
        example:
          value:
          - kube-state-metrics
          - loki
        displayName: addon_slugs
        description: An array of 1-Click Application slugs to be installed to the Kubernetes cluster.
        type: array
        items:
          type: string
      cluster_uuid:
        required: true
        example:
          value: 50a994b6-c303-438f-9495-7e896cfe6b08
        displayName: cluster_uuid
        description: A unique ID for the Kubernetes cluster to which the 1-Click Applications will be installed.
        type: string
  V21ClicksKubernetesResponse:
    displayName: V21ClicksKubernetesResponse
    type: object
    properties:
      message:
        required: false
        example:
          value: Successfully kicked off addon job.
        displayName: message
        description: A message about the result of the request.
        type: string
  V2AccountResponse:
    displayName: V2AccountResponse
    type: object
    properties:
      account:
        required: false
        displayName: account
        type: Account
  Account:
    displayName: Account
    type: object
    properties:
      droplet_limit:
        required: true
        example:
          value: 25
        displayName: droplet_limit
        description: The total number of Droplets current user or team may have active at one time.
        type: integer
        format: int32
      email:
        required: true
        example:
          value: sammy@digitalocean.com
        displayName: email
        description: The email address used by the current user to register for DigitalOcean.
        type: string
      email_verified:
        required: true
        default: 'false'
        example:
          value: true
        displayName: email_verified
        description: If true, the user has verified their account via email. False otherwise.
        type: boolean
      floating_ip_limit:
        required: true
        example:
          value: 5
        displayName: floating_ip_limit
        description: The total number of Floating IPs the current user or team may have.
        type: integer
        format: int32
      status:
        required: true
        default: active
        example:
          value: active
        displayName: status
        description: This value is one of "active", "warning" or "locked".
        type: string
        enum:
        - active
        - warning
        - locked
      status_message:
        required: true
        displayName: status_message
        description: A human-readable message giving more details about the status of the account.
        type: string
      team:
        required: false
        displayName: team
        description: When authorized in a team context, includes information about the current team.
        type: Team
      uuid:
        required: true
        example:
          value: b6fr89dbf6d9156cace5f3c78dc9851d957381ef
        displayName: uuid
        description: The unique universal identifier for the current user.
        type: string
  Team:
    displayName: Team
    description: When authorized in a team context, includes information about the current team.
    type: object
    properties:
      name:
        required: false
        example:
          value: My Team
        displayName: name
        description: The name for the current team.
        type: string
      uuid:
        required: false
        example:
          value: 5df3e3004a17e242b7c20ca6c9fc25b701a47ece
        displayName: uuid
        description: The unique universal identifier for the current team.
        type: string
  V2AccountKeysResponse:
    example:
      value:
        links: {}
        meta:
          total: 1
        ssh_keys:
        - fingerprint: 3b:16:e4:bf:8b:00:8b:b8:59:8c:a9:d3:f0:19:fa:45
          id: 289794
          name: Other Public Key
          public_key: ssh-rsa ANOTHEREXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V anotherexample
    displayName: V2AccountKeysResponse
    type: object
    properties:
      ssh_keys:
        required: false
        displayName: ssh_keys
        type: array
        items:
          type: SshKey
      links:
        required: false
        displayName: links
        type: Links
      meta:
        required: true
        displayName: meta
        type: Meta
  SshKey:
    displayName: SshKey
    type: object
    properties:
      fingerprint:
        required: false
        example:
          value: 3b:16:bf:e4:8b:00:8b:b8:59:8c:a9:d3:f0:19:45:fa
        displayName: fingerprint
        description: A unique identifier that differentiates this key from other keys using  a format that SSH recognizes. The fingerprint is created when the key is added to your account.
        type: string
      id:
        required: false
        example:
          value: 512189
        displayName: id
        description: A unique identification number for this key. Can be used to embed a  specific SSH key into a Droplet.
        type: integer
        format: int32
      name:
        required: true
        example:
          value: My SSH Public Key
        displayName: name
        description: A human-readable display name for this key, used to easily identify the SSH keys when they are displayed.
        type: string
      public_key:
        required: true
        example:
          value: ssh-rsa AEXAMPLEaC1yc2EAAAADAQABAAAAQQDDHr/jh2Jy4yALcK4JyWbVkPRaWmhck3IgCoeOO3z1e2dBowLh64QAM+Qb72pxekALga2oi4GvT+TlWNhzPH4V example
        displayName: public_key
        description: The entire public key string that was uploaded. Embedded into the root user's `authorized_keys` file if you include this key during Droplet creation.
        type: string
  Links:
    displayName: Links
    type: object
    properties:
      pages:
        required: false
        example:
          value:
            pages:
              first: https://api.digitalocean.com/v2/account/keys?page=1
              prev: https://api.digitalocean.com/v2/account/keys?page=2
        displayName: pages
        type: any
  Pages:
    displayName: Pages
    type: object
    properties:
      last:
        required: false
        example:
          value: https://api.digitalocean.com/v2/images?page=2
        displayName: last
        description: URI of the last page of the results.
        type: string
      next:
        required: false
        example:
          value: https://api.digitalocean.com/v2/images?page=2
        displayName: next
        description: URI of the next page of the results.
        type: string
  Pages1:
    displayName: Pages1
    type: object
    properties:
      first:
        required: false
        example:
          value: https://api.digitalocean.com/v2/images?page=1
        displayName: first
        description: URI of the first page of the results.
        type: string
      prev:
        required: false
        example:
          value: https://api.digitalocean.com/v2/images?page=1
        displayName: prev
        description: URI of the previous page of the results.
        type: string
  Meta:
    displayName: Meta
    type: object
    properties:
      total:
        required: true
        example:
          value: 1
        displayName: total
        description: Number of objects returned by the request.
        type: integer
        format: int32
  V2AccountKeysResponse1:
    displayName: V2AccountKeysResponse1
    type: object
    properties:
      ssh_key:
        required: false
        displayName: ssh_key
        type: SshKey
  V2AccountKeysRequest:
    displayName: V2AccountKeysRequest
    type: object
    properties:
      name:
        required: false
        example:
          value: My SSH Public Key
        displayName: name
        description: A human-readable display name for this key, used to easily identify the SSH keys when they are displayed.
        type: string
  V2ActionsResponse:
    displayName: V2ActionsResponse
    type: object
    properties:
      actions:
        required: false
        displayName: actions
        type: array
        items:
          type: Action
      links:
        required: false
        displayName: links
        type: Links
      meta:
        required: true
        displayName: meta
        type: Meta
  Action:
    displayName: Action
    type: object
    properties:
      completed_at:
        required: false
        example:
          value: 2020-11-14T16:30:06Z
        displayName: completed_at
        description: A time value given in ISO8601 combined date and time format that represents when the action was completed.
        type:
        - datetime
        - nil
      id:
        required: false
        example:
          value: 36804636
        displayName: id
        description: A unique numeric ID that can be used to identify and reference an action.
        type: integer
        format: int32
      region:
        required: false
        displayName: region
        type: Region
      region_slug:
        required: false
        displayName: region_slug
        type:
        - string
        - nil
      resource_id:
        required: false
        example:
          value: 3164444
        displayName: resource_id
        description: A unique identifier for the resource that the action is associated with.
        type:
        - integer
        - nil
        format: int32
      resource_type:
        required: false
        example:
          value: droplet
        displayName: resource_type
        description: The type of resource that the action is associated with.
        type: string
      started_at:
        required: false
        example:
          value: 2020-11-14T16:29:21Z
        displayName: started_at
        description: A time value given in ISO8601 combined date and time format that represents when the action was initiated.
        type: datetime
      status:
        required: false
        default: in-progress
        example:
          value: completed
        displayName: status
        description: The current status of the action. This can be "in-progress", "completed", or "errored".
        type: string
        enum:
        - in-progress
        - completed
        - errored
      type:
        required: false
        example:
          value: create
        displayName: type
        description: This is the type of action that the object represents. For example, this could be "transfer" to represent the state of an image transfer action.
        type: string
  Region:
    displayName: Region
    type: object
    properties:
      available:
        required: true
        example:
          value: true
        displayName: available
        description: This is a boolean value that represents whether new Droplets can be created in this region.
        type: boolean
      features:
        required: true
        example:
          value:
          - private_networking
          - backups
          - ipv6
          - metadata
          - install_agent
          - storage
          - image_transfer
        displayName: features
        description: This attribute is set to an array which contains features available in this region
        type: array
        items:
          type: string
      name:
        required: true
        example:
          value: New York 3
        displayName: name
        description: The display name of the region.  This will be a full name that is used in the control panel and other interfaces.
        type: string
      sizes:
        required: true
        example:
          value:
          - s-1vcpu-1gb
          - s-1vcpu-2gb
          - s-1vcpu-3gb
          - s-2vcpu-2gb
          - s-3vcpu-1gb
          - s-2vcpu-4gb
          - s-4vcpu-8gb
          - s-6vcpu-16gb
          - s-8vcpu-32gb
          - s-12vcpu-48gb
          - s-16vcpu-64gb
          - s-20vcpu-96gb
          - s-24vcpu-128gb
          - s-32vcpu-192g
        displayName: sizes
        description: This attribute is set to an array which contains the identifying slugs for the sizes available in this region.
        type: array
        items:
          type: string
      slug:
        required: true
        example:
          value: nyc3
        displayName: slug
        description: A human-readable string that is used as a unique identifier for each region.
        type: string
  V2ActionsResponse1:
    displayName: V2ActionsResponse1
    type: object
    properties:
      action:
        required: false
        displayName: action
        type: Action
  V2AppsResponse:
    displayName: V2AppsResponse
    type: object
    properties:
      apps:
        required: false
        displayName: apps
        type: array
        items:
          type: Alistofapp
      links:
        required: false
        displayName: links
        type: Links
      meta:
        required: true
        displayName: meta
        type: Meta
  Alistofapp:
    displayName: Alistofapp
    description: An application's configuration and status.
    type: object
    properties:
      active_deployment:
        required: false
        displayName: active_deployment
        type: Anappdeployment
      created_at:
        required: false
        example:
          value: 2020-11-19T20:27:18Z
        displayName: created_at
        type: datetime
      default_ingress:
        required: false
        example:
          value: digitalocean.com
        displayName: default_ingress
        type: string
      domains:
        required: false
        displayName: domains
        type: array
        items:
          type: Containsalldomainsfortheapp
      id:
        required: false
        example:
          value: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
        displayName: id
        type: string
      in_progress_deployment:
        required: false
        displayName: in_progress_deployment
        type: Anappdeployment
      last_deployment_created_at:
        required: false
        example:
          value: 2020-11-19T20:27:18Z
        displayName: last_deployment_created_at
        type: datetime
      live_domain:
        required: false
        example:
          value: live_domain
        displayName: live_domain
        type: string
      live_url:
        required: false
        example:
          value: google.com
        displayName: live_url
        type: string
      live_url_base:
        required: false
        example:
          value: digitalocean.com
        displayName: live_url_base
        type: string
      owner_uuid:
        required: false
        example:
          value: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
        displayName: owner_uuid
        type: string
      pending_deployment:
        required: false
        displayName: pending_deployment
        type: PendingDeployment
      pinned_deployment:
        required: false
        displayName: pinned_deployment
        type: PinnedDeployment
      project_id:
        required: false
        example:
          value: 88b72d1a-b78a-4d9f-9090-b53c4399073f
        displayName: project_id
        type: string
      region:
        required: false
        displayName: region
        type: Geographicalinformationaboutanapporigin
      spec:
        required: true
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
      tier_slug:
        required: false
        example:
          value: basic
        displayName: tier_slug
        type: string
      updated_at:
        required: false
        example:
          value: 2020-12-01T00:42:16Z
        displayName: updated_at
        type: datetime
  Anappdeployment:
    displayName: Anappdeployment
    type: object
    properties:
      cause:
        required: false
        example:
          value: commit 9a4df0b pushed to github/digitalocean/sample-golang
        displayName: cause
        type: string
      cloned_from:
        required: false
        example:
          value: 3aa4d20e-5527-4c00-b496-601fbd22520a
        displayName: cloned_from
        type: string
      created_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: created_at
        type: datetime
      functions:
        required: false
        displayName: functions
        type: array
        items:
          type: Functionscomponentsthatarepartofthisdeployment
      id:
        required: false
        example:
          value: b6bdf840-2854-4f87-a36c-5f231c617c84
        displayName: id
        type: string
      jobs:
        required: false
        displayName: jobs
        type: array
        items:
          type: Jobcomponentsthatarepartofthisdeployment
      phase:
        required: false
        default: UNKNOWN
        example:
          value: ACTIVE
        displayName: phase
        type: string
        enum:
        - UNKNOWN
        - PENDING_BUILD
        - BUILDING
        - PENDING_DEPLOY
        - DEPLOYING
        - ACTIVE
        - SUPERSEDED
        - ERROR
        - CANCELED
      phase_last_updated_at:
        required: false
        example:
          value: 0001-01-01T00:00:00Z
        displayName: phase_last_updated_at
        type: datetime
      progress:
        required: false
        displayName: progress
        type: Progress
      services:
        required: false
        displayName: services
        type: array
        items:
          type: Servicecomponentsthatarepartofthisdeployment
      spec:
        required: false
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
      static_sites:
        required: false
        displayName: static_sites
        type: array
        items:
          type: StaticSitecomponentsthatarepartofthisdeployment
      tier_slug:
        required: false
        example:
          value: basic
        displayName: tier_slug
        type: string
      updated_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: updated_at
        type: datetime
      workers:
        required: false
        displayName: workers
        type: array
        items:
          type: Workercomponentsthatarepartofthisdeployment
  Functionscomponentsthatarepartofthisdeployment:
    displayName: Functionscomponentsthatarepartofthisdeployment
    type: object
    properties:
      name:
        required: false
        example:
          value: my-functions-component
        displayName: name
        type: string
      namespace:
        required: false
        example:
          value: ap-b2a93513-8d9b-4223-9d61-5e7272c81c32
        displayName: namespace
        description: The namespace where the functions are deployed.
        type: string
      source_commit_hash:
        required: false
        example:
          value: 54d4a727f457231062439895000d45437c7bb405
        displayName: source_commit_hash
        description: The commit hash of the repository that was used to build this functions component.
        type: string
  Jobcomponentsthatarepartofthisdeployment:
    displayName: Jobcomponentsthatarepartofthisdeployment
    type: object
    properties:
      name:
        required: false
        example:
          value: migrate-db
        displayName: name
        type: string
      source_commit_hash:
        required: false
        example:
          value: 54d4a727f457231062439895000d45437c7bb405
        displayName: source_commit_hash
        type: string
  Progress:
    displayName: Progress
    type: object
    properties:
      error_steps:
        required: false
        example:
          value: 3
        displayName: error_steps
        type: integer
        format: int32
      pending_steps:
        required: false
        example:
          value: 2
        displayName: pending_steps
        type: integer
        format: int32
      running_steps:
        required: false
        example:
          value: 2
        displayName: running_steps
        type: integer
        format: int32
      steps:
        required: false
        displayName: steps
        type: array
        items:
          type: Astepthatisrunaspartofthedeployment'slifecycle
      success_steps:
        required: false
        example:
          value: 4
        displayName: success_steps
        type: integer
        format: int32
      summary_steps:
        required: false
        displayName: summary_steps
        type: array
        items:
          type: Astepthatisrunaspartofthedeployment'slifecycle
      total_steps:
        required: false
        example:
          value: 5
        displayName: total_steps
        type: integer
        format: int32
  Astepthatisrunaspartofthedeployment'slifecycle:
    displayName: Astepthatisrunaspartofthedeployment'slifecycle
    type: object
    properties:
      component_name:
        required: false
        example:
          value: component
        displayName: component_name
        type: string
      ended_at:
        required: false
        example:
          value: 2020-11-19T20:27:18Z
        displayName: ended_at
        type: datetime
      message_base:
        required: false
        example:
          value: Building service
        displayName: message_base
        description: |
          The base of a human-readable description of the step intended to be combined with the component name for presentation. For example:


          `message_base` = "Building service"

          `component_name` = "api"
        type: string
      name:
        required: false
        example:
          value: example_step
        displayName: name
        type: string
      reason:
        required: false
        displayName: reason
        type: Reason
      started_at:
        required: false
        example:
          value: 2020-11-19T20:27:18Z
        displayName: started_at
        type: datetime
      status:
        required: false
        default: UNKNOWN
        example:
          value: SUCCESS
        displayName: status
        type: string
        enum:
        - UNKNOWN
        - PENDING
        - RUNNING
        - ERROR
        - SUCCESS
      steps:
        required: false
        displayName: steps
        type: array
        items:
          type: object
          properties: {}
  Reason:
    displayName: Reason
    type: object
    properties:
      code:
        required: false
        example:
          value: Title of Error
        displayName: code
        type: string
      message:
        required: false
        example:
          value: This is an error
        displayName: message
        type: string
  Servicecomponentsthatarepartofthisdeployment:
    displayName: Servicecomponentsthatarepartofthisdeployment
    type: object
    properties:
      name:
        required: false
        example:
          value: web
        displayName: name
        type: string
      source_commit_hash:
        required: false
        example:
          value: 54d4a727f457231062439895000d45437c7bb405
        displayName: source_commit_hash
        type: string
  AppSpec:
    displayName: AppSpec
    description: The desired configuration of an application.
    type: object
    properties:
      databases:
        required: false
        displayName: databases
        description: |
          Database instances which can provide persistence to workloads within the

          application.
        type: array
        items:
          type: Database
      domains:
        required: false
        displayName: domains
        description: A set of hostnames where the application will be available.
        type: array
        items:
          type: Domain
      functions:
        required: false
        displayName: functions
        description: Workloads which expose publicly-accessible HTTP services via Functions Components.
        type: array
        items:
          type: Function
      jobs:
        required: false
        displayName: jobs
        description: Pre and post deployment workloads which do not expose publicly-accessible HTTP routes.
        type: array
        items:
          type: Job
      name:
        required: true
        example:
          value: web-app-01
        displayName: name
        description: The name of the app. Must be unique across all apps in the same account.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      region:
        required: false
        example:
          value: nyc
        displayName: region
        description: 'The slug form of the geographical origin of the app. Default: `nearest available`'
        type: string
        enum:
        - ams
        - nyc
        - fra
        - sfo
        - sgp
        - blr
        - tor
        - lon
        - syd
      services:
        required: false
        displayName: services
        description: Workloads which expose publicly-accessible HTTP services.
        type: array
        items:
          type: Service
      static_sites:
        required: false
        displayName: static_sites
        description: Content which can be rendered to static web assets.
        type: array
        items:
          type: StaticSite
      workers:
        required: false
        displayName: workers
        description: Workloads which do not expose publicly-accessible HTTP services.
        type: array
        items:
          type: Worker
  Database:
    displayName: Database
    type: object
    properties:
      cluster_name:
        required: false
        example:
          value: cluster_name
        displayName: cluster_name
        description: The name of the underlying DigitalOcean DBaaS cluster. This is required for production databases. For dev databases, if cluster_name is not set, a new cluster will be provisioned.
        type: string
      db_name:
        required: false
        example:
          value: my_db
        displayName: db_name
        description: The name of the MySQL or PostgreSQL database to configure.
        type: string
      db_user:
        required: false
        example:
          value: superuser
        displayName: db_user
        description: The name of the MySQL or PostgreSQL user to configure.
        type: string
      engine:
        required: false
        default: UNSET
        example:
          value: PG
        displayName: engine
        description: |
          - MYSQL: MySQL

          - PG: PostgreSQL

          - REDIS: Redis
        type: string
        enum:
        - UNSET
        - MYSQL
        - PG
        - REDIS
      name:
        required: true
        example:
          value: prod-db
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      production:
        required: false
        example:
          value: true
        displayName: production
        description: Whether this is a production or dev database.
        type: boolean
      version:
        required: false
        example:
          value: '12'
        displayName: version
        description: The version of the database engine
        type: string
  Domain:
    displayName: Domain
    type: object
    properties:
      domain:
        required: true
        example:
          value: app.example.com
        displayName: domain
        description: The hostname for the domain
        type: string
        pattern: ^((xn--)?[a-zA-Z0-9]+(-[a-zA-Z0-9]+)*\.)+[a-zA-Z]{2,}\.?$
        minLength: 4
        maxLength: 253
      minimum_tls_version:
        required: false
        example:
          value: '1.3'
        displayName: minimum_tls_version
        description: 'The minimum version of TLS a client application can use to access resources for the domain.  Must be one of the following values wrapped within quotations: `"1.2"` or `"1.3"`.'
        type: string
        enum:
        - "'1.2'"
        - "'1.3'"
      type:
        required: false
        default: UNSPECIFIED
        example:
          value: DEFAULT
        displayName: type
        description: |
          - DEFAULT: The default `.ondigitalocean.app` domain assigned to this app

          - PRIMARY: The primary domain for this app that is displayed as the default in the control panel, used in bindable environment variables, and any other places that reference an app's live URL. Only one domain may be set as primary.

          - ALIAS: A non-primary domain
        type: string
        enum:
        - UNSPECIFIED
        - DEFAULT
        - PRIMARY
        - ALIAS
      wildcard:
        required: false
        example:
          value: true
        displayName: wildcard
        description: Indicates whether the domain includes all sub-domains, in addition to the given domain
        type: boolean
      zone:
        required: false
        example:
          value: example.com
        displayName: zone
        description: |
          Optional. If the domain uses DigitalOcean DNS and you would like App

          Platform to automatically manage it for you, set this to the name of the

          domain on your account.


          For example, If the domain you are adding is `app.domain.com`, the zone

          could be `domain.com`.
        type: string
  Function:
    displayName: Function
    type: object
    properties:
      alerts:
        required: false
        displayName: alerts
        type: array
        items:
          type: Alert
      cors:
        required: false
        displayName: cors
        type: Cors
      envs:
        required: false
        displayName: envs
        description: A list of environment variables made available to the component.
        type: array
        items:
          type: Env
      git:
        required: false
        displayName: git
        type: Git
      github:
        required: false
        displayName: github
        type: Github
      gitlab:
        required: false
        displayName: gitlab
        type: Gitlab
      log_destinations:
        required: false
        displayName: log_destinations
        type: Configurationsforexternallogging.
      name:
        required: true
        example:
          value: api
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      routes:
        required: false
        displayName: routes
        description: A list of HTTP routes that should be routed to this component.
        type: array
        items:
          type: AcriterionforroutingHTTPtraffictoacomponent.
      source_dir:
        required: false
        example:
          value: path/to/dir
        displayName: source_dir
        description: An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo.
        type: string
  Alert:
    displayName: Alert
    type: object
    properties:
      disabled:
        required: false
        example:
          value: false
        displayName: disabled
        description: Is the alert disabled?
        type: boolean
      operator:
        required: false
        default: UNSPECIFIED_OPERATOR
        example:
          value: GREATER_THAN
        displayName: operator
        type: string
        enum:
        - UNSPECIFIED_OPERATOR
        - GREATER_THAN
        - LESS_THAN
      rule:
        required: false
        default: UNSPECIFIED_RULE
        example:
          value: CPU_UTILIZATION
        displayName: rule
        type: string
        enum:
        - UNSPECIFIED_RULE
        - CPU_UTILIZATION
        - MEM_UTILIZATION
        - RESTART_COUNT
        - DEPLOYMENT_FAILED
        - DEPLOYMENT_LIVE
        - DOMAIN_FAILED
        - DOMAIN_LIVE
        - FUNCTIONS_ACTIVATION_COUNT
        - FUNCTIONS_AVERAGE_DURATION_MS
        - FUNCTIONS_ERROR_RATE_PER_MINUTE
        - FUNCTIONS_AVERAGE_WAIT_TIME_MS
        - FUNCTIONS_ERROR_COUNT
        - FUNCTIONS_GB_RATE_PER_SECOND
      value:
        required: false
        example:
          value: 2.32
        displayName: value
        description: Threshold value for alert
        type: number
        format: double
      window:
        required: false
        default: UNSPECIFIED_WINDOW
        example:
          value: FIVE_MINUTES
        displayName: window
        type: string
        enum:
        - UNSPECIFIED_WINDOW
        - FIVE_MINUTES
        - TEN_MINUTES
        - THIRTY_MINUTES
        - ONE_HOUR
  Cors:
    displayName: Cors
    type: object
    properties:
      allow_credentials:
        required: false
        example:
          value: false
        displayName: allow_credentials
        description: Whether browsers should expose the response to the client-side JavaScript code when the request’s credentials mode is include. This configures the `Access-Control-Allow-Credentials` header.
        type: boolean
      allow_headers:
        required: false
        example:
          value:
          - Content-Type
          - X-Custom-Header
        displayName: allow_headers
        description: The set of allowed HTTP request headers. This configures the `Access-Control-Allow-Headers` header.
        type: array
        items:
          type: string
      allow_methods:
        required: false
        example:
          value:
          - GET
          - OPTIONS
          - POST
          - PUT
          - PATCH
          - DELETE
        displayName: allow_methods
        description: The set of allowed HTTP methods. This configures the `Access-Control-Allow-Methods` header.
        type: array
        items:
          type: string
      allow_origins:
        required: false
        example:
          value:
          - exact: https://www.example.com
          - regex: ^.*example.com
        displayName: allow_origins
        description: The set of allowed CORS origins.
        type: array
        items:
          type: AllowOrigin
      expose_headers:
        required: false
        example:
          value:
          - Content-Encoding
          - X-Custom-Header
        displayName: expose_headers
        description: The set of HTTP response headers that browsers are allowed to access. This configures the `Access-Control-Expose-Headers` header.
        type: array
        items:
          type: string
      max_age:
        required: false
        example:
          value: 5h30m
        displayName: max_age
        description: An optional duration specifying how long browsers can cache the results of a preflight request. This configures the `Access-Control-Max-Age` header.
        type: string
  AllowOrigin:
    displayName: AllowOrigin
    type: object
    properties:
      exact:
        required: false
        example:
          value: https://www.example.com
        displayName: exact
        description: Exact string match. Only 1 of `exact`, `prefix`, or `regex` must be set.
        type: string
        minLength: 1
        maxLength: 256
      prefix:
        required: false
        example:
          value: https://www.example.com
        displayName: prefix
        description: Prefix-based match. Only 1 of `exact`, `prefix`, or `regex` must be set.
        type: string
        minLength: 1
        maxLength: 256
      regex:
        required: false
        example:
          value: ^.*example.com
        displayName: regex
        description: 'RE2 style regex-based match. Only 1 of `exact`, `prefix`, or `regex` must be set. For more information about RE2 syntax, see: https://github.com/google/re2/wiki/Syntax'
        type: string
        minLength: 1
        maxLength: 256
  Env:
    displayName: Env
    type: object
    properties:
      key:
        required: true
        example:
          value: BASE_URL
        displayName: key
        description: The variable name
        type: string
        pattern: ^[_A-Za-z][_A-Za-z0-9]*$
      scope:
        required: false
        default: RUN_AND_BUILD_TIME
        example:
          value: BUILD_TIME
        displayName: scope
        description: |
          - RUN_TIME: Made available only at run-time

          - BUILD_TIME: Made available only at build-time

          - RUN_AND_BUILD_TIME: Made available at both build and run-time
        type: string
        enum:
        - UNSET
        - RUN_TIME
        - BUILD_TIME
        - RUN_AND_BUILD_TIME
      type:
        required: false
        default: GENERAL
        example:
          value: GENERAL
        displayName: type
        description: |
          - GENERAL: A plain-text environment variable

          - SECRET: A secret encrypted environment variable
        type: string
        enum:
        - GENERAL
        - SECRET
      value:
        required: false
        example:
          value: http://example.com
        displayName: value
        description: The value. If the type is `SECRET`, the value will be encrypted on first submission. On following submissions, the encrypted value should be used.
        type: string
  Git:
    displayName: Git
    type: object
    properties:
      branch:
        required: false
        example:
          value: main
        displayName: branch
        description: The name of the branch to use
        type: string
      repo_clone_url:
        required: false
        example:
          value: https://github.com/digitalocean/sample-golang.git
        displayName: repo_clone_url
        description: 'The clone URL of the repo. Example: `https://github.com/digitalocean/sample-golang.git`'
        type: string
  Github:
    displayName: Github
    type: object
    properties:
      branch:
        required: false
        example:
          value: main
        displayName: branch
        description: The name of the branch to use
        type: string
      deploy_on_push:
        required: false
        example:
          value: true
        displayName: deploy_on_push
        description: Whether to automatically deploy new commits made to the repo
        type: boolean
      repo:
        required: false
        example:
          value: digitalocean/sample-golang
        displayName: repo
        description: 'The name of the repo in the format owner/repo. Example: `digitalocean/sample-golang`'
        type: string
  Gitlab:
    displayName: Gitlab
    type: object
    properties:
      branch:
        required: false
        example:
          value: main
        displayName: branch
        description: The name of the branch to use
        type: string
      deploy_on_push:
        required: false
        example:
          value: true
        displayName: deploy_on_push
        description: Whether to automatically deploy new commits made to the repo
        type: boolean
      repo:
        required: false
        example:
          value: digitalocean/sample-golang
        displayName: repo
        description: 'The name of the repo in the format owner/repo. Example: `digitalocean/sample-golang`'
        type: string
  Configurationsforexternallogging.:
    displayName: Configurationsforexternallogging.
    type: object
    properties:
      datadog:
        required: false
        displayName: datadog
        description: DataDog configuration.
        type: Datadog
      logtail:
        required: false
        displayName: logtail
        description: Logtail configuration.
        type: Logtail
      name:
        required: true
        example:
          value: my_log_destination
        displayName: name
        type: string
        pattern: ^[A-Za-z0-9()\[\]'"][-A-Za-z0-9_. \/()\[\]]{0,40}[A-Za-z0-9()\[\]'"]$
        minLength: 2
        maxLength: 42
      papertrail:
        required: false
        displayName: papertrail
        description: Papertrail configuration.
        type: Papertrail
  Datadog:
    displayName: Datadog
    description: DataDog configuration.
    type: object
    properties:
      api_key:
        required: true
        example:
          value: abcdefghijklmnopqrstuvwxyz0123456789
        displayName: api_key
        description: Datadog API key.
        type: string
      endpoint:
        required: false
        example:
          value: https://mydatadogendpoint.com
        displayName: endpoint
        description: Datadog HTTP log intake endpoint.
        type: string
  Logtail:
    displayName: Logtail
    description: Logtail configuration.
    type: object
    properties:
      token:
        required: false
        example:
          value: abcdefghijklmnopqrstuvwxyz0123456789
        displayName: token
        description: Logtail token.
        type: string
  Papertrail:
    displayName: Papertrail
    description: Papertrail configuration.
    type: object
    properties:
      endpoint:
        required: true
        example:
          value: https://mypapertrailendpoint.com
        displayName: endpoint
        description: Papertrail syslog endpoint.
        type: string
  AcriterionforroutingHTTPtraffictoacomponent.:
    displayName: AcriterionforroutingHTTPtraffictoacomponent.
    type: object
    properties:
      path:
        required: false
        example:
          value: /api
        displayName: path
        description: An HTTP path prefix. Paths must start with / and must be unique across all components within an app.
        type: string
      preserve_path_prefix:
        required: false
        example:
          value: true
        displayName: preserve_path_prefix
        description: An optional flag to preserve the path that is forwarded to the backend service. By default, the HTTP request path will be trimmed from the left when forwarded to the component. For example, a component with `path=/api` will have requests to `/api/list` trimmed to `/list`. If this value is `true`, the path will remain `/api/list`.
        type: boolean
  Job:
    displayName: Job
    type: object
    properties:
      build_command:
        required: false
        example:
          value: npm run build
        displayName: build_command
        description: An optional build command to run while building this component from source.
        type: string
      dockerfile_path:
        required: false
        example:
          value: path/to/Dockerfile
        displayName: dockerfile_path
        description: The path to the Dockerfile relative to the root of the repo. If set, it will be used to build this component. Otherwise, App Platform will attempt to build it using buildpacks.
        type: string
      environment_slug:
        required: false
        example:
          value: node-js
        displayName: environment_slug
        description: An environment slug describing the type of this app. For a full list, please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/).
        type: string
      envs:
        required: false
        displayName: envs
        description: A list of environment variables made available to the component.
        type: array
        items:
          type: Env
      git:
        required: false
        displayName: git
        type: Git
      github:
        required: false
        displayName: github
        type: Github
      gitlab:
        required: false
        displayName: gitlab
        type: Gitlab
      image:
        required: false
        displayName: image
        type: Image
      log_destinations:
        required: false
        displayName: log_destinations
        type: Configurationsforexternallogging.
      name:
        required: true
        example:
          value: api
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      run_command:
        required: false
        example:
          value: bin/api
        displayName: run_command
        description: An optional run command to override the component's default.
        type: string
      source_dir:
        required: false
        example:
          value: path/to/dir
        displayName: source_dir
        description: An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo.
        type: string
      instance_count:
        required: false
        default: '1'
        example:
          value: 2
        displayName: instance_count
        description: 'The amount of instances that this component should be scaled to. Default: 1'
        type: integer
        minimum: 1
        format: int64
      instance_size_slug:
        required: false
        default: basic-xxs
        example:
          value: basic-xxs
        displayName: instance_size_slug
        description: 'The instance size to use for this component. Default: `basic-xxs`'
        type: string
        enum:
        - basic-xxs
        - basic-xs
        - basic-s
        - basic-m
        - professional-xs
        - professional-s
        - professional-m
        - professional-1l
        - professional-l
        - professional-xl
      kind:
        required: false
        default: UNSPECIFIED
        example:
          value: PRE_DEPLOY
        displayName: kind
        description: |
          - UNSPECIFIED: Default job type, will auto-complete to POST_DEPLOY kind.

          - PRE_DEPLOY: Indicates a job that runs before an app deployment.

          - POST_DEPLOY: Indicates a job that runs after an app deployment.

          - FAILED_DEPLOY: Indicates a job that runs after a component fails to deploy.
        type: string
        enum:
        - UNSPECIFIED
        - PRE_DEPLOY
        - POST_DEPLOY
        - FAILED_DEPLOY
  Image:
    displayName: Image
    type: object
    properties:
      registry:
        required: false
        example:
          value: registry.hub.docker.com
        displayName: registry
        description: The registry name. Must be left empty for the `DOCR` registry type.
        type: string
      registry_type:
        required: false
        example:
          value: DOCR
        displayName: registry_type
        description: |
          - DOCKER_HUB: The DockerHub container registry type.

          - DOCR: The DigitalOcean container registry type.
        type: string
        enum:
        - DOCKER_HUB
        - DOCR
      repository:
        required: false
        example:
          value: origin/master
        displayName: repository
        description: The repository name.
        type: string
      tag:
        required: false
        default: latest
        example:
          value: latest
        displayName: tag
        description: The repository tag. Defaults to `latest` if not provided.
        type: string
  Service:
    displayName: Service
    type: object
    properties:
      build_command:
        required: false
        example:
          value: npm run build
        displayName: build_command
        description: An optional build command to run while building this component from source.
        type: string
      dockerfile_path:
        required: false
        example:
          value: path/to/Dockerfile
        displayName: dockerfile_path
        description: The path to the Dockerfile relative to the root of the repo. If set, it will be used to build this component. Otherwise, App Platform will attempt to build it using buildpacks.
        type: string
      environment_slug:
        required: false
        example:
          value: node-js
        displayName: environment_slug
        description: An environment slug describing the type of this app. For a full list, please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/).
        type: string
      envs:
        required: false
        displayName: envs
        description: A list of environment variables made available to the component.
        type: array
        items:
          type: Env
      git:
        required: false
        displayName: git
        type: Git
      github:
        required: false
        displayName: github
        type: Github
      gitlab:
        required: false
        displayName: gitlab
        type: Gitlab
      image:
        required: false
        displayName: image
        type: Image
      log_destinations:
        required: false
        displayName: log_destinations
        type: Configurationsforexternallogging.
      name:
        required: true
        example:
          value: api
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      run_command:
        required: false
        example:
          value: bin/api
        displayName: run_command
        description: An optional run command to override the component's default.
        type: string
      source_dir:
        required: false
        example:
          value: path/to/dir
        displayName: source_dir
        description: An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo.
        type: string
      instance_count:
        required: false
        default: '1'
        example:
          value: 2
        displayName: instance_count
        description: 'The amount of instances that this component should be scaled to. Default: 1'
        type: integer
        minimum: 1
        format: int64
      instance_size_slug:
        required: false
        default: basic-xxs
        example:
          value: basic-xxs
        displayName: instance_size_slug
        description: 'The instance size to use for this component. Default: `basic-xxs`'
        type: string
        enum:
        - basic-xxs
        - basic-xs
        - basic-s
        - basic-m
        - professional-xs
        - professional-s
        - professional-m
        - professional-1l
        - professional-l
        - professional-xl
      cors:
        required: false
        displayName: cors
        type: Cors
      health_check:
        required: false
        displayName: health_check
        type: HealthCheck
      http_port:
        required: false
        example:
          value: 3000
        displayName: http_port
        description: |
          The internal port on which this service's run command will listen. Default: 8080

          If there is not an environment variable with the name `PORT`, one will be automatically added with its value set to the value of this field.
        type: integer
        minimum: 1
        maximum: 65535
        format: int64
      internal_ports:
        required: false
        example:
          value:
          - 80
          - 443
        displayName: internal_ports
        description: The ports on which this service will listen for internal traffic.
        type: array
        items:
          type: integer
          format: int64
      routes:
        required: false
        displayName: routes
        description: A list of HTTP routes that should be routed to this component.
        type: array
        items:
          type: AcriterionforroutingHTTPtraffictoacomponent.
  HealthCheck:
    displayName: HealthCheck
    type: object
    properties:
      failure_threshold:
        required: false
        example:
          value: 2
        displayName: failure_threshold
        description: The number of failed health checks before considered unhealthy.
        type: integer
        format: int32
      http_path:
        required: false
        example:
          value: /health
        displayName: http_path
        description: The route path used for the HTTP health check ping. If not set, the HTTP health check will be disabled and a TCP health check used instead.
        type: string
      initial_delay_seconds:
        required: false
        example:
          value: 30
        displayName: initial_delay_seconds
        description: The number of seconds to wait before beginning health checks.
        type: integer
        format: int32
      period_seconds:
        required: false
        example:
          value: 60
        displayName: period_seconds
        description: The number of seconds to wait between health checks.
        type: integer
        format: int32
      port:
        required: false
        example:
          value: 80
        displayName: port
        description: The port on which the health check will be performed. If not set, the health check will be performed on the component's http_port.
        type: integer
        minimum: 1
        maximum: 65535
        format: int64
      success_threshold:
        required: false
        example:
          value: 3
        displayName: success_threshold
        description: The number of successful health checks before considered healthy.
        type: integer
        format: int32
      timeout_seconds:
        required: false
        example:
          value: 45
        displayName: timeout_seconds
        description: The number of seconds after which the check times out.
        type: integer
        format: int32
  StaticSite:
    displayName: StaticSite
    type: object
    properties:
      build_command:
        required: false
        example:
          value: npm run build
        displayName: build_command
        description: An optional build command to run while building this component from source.
        type: string
      dockerfile_path:
        required: false
        example:
          value: path/to/Dockerfile
        displayName: dockerfile_path
        description: The path to the Dockerfile relative to the root of the repo. If set, it will be used to build this component. Otherwise, App Platform will attempt to build it using buildpacks.
        type: string
      environment_slug:
        required: false
        example:
          value: node-js
        displayName: environment_slug
        description: An environment slug describing the type of this app. For a full list, please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/).
        type: string
      envs:
        required: false
        displayName: envs
        description: A list of environment variables made available to the component.
        type: array
        items:
          type: Env
      git:
        required: false
        displayName: git
        type: Git
      github:
        required: false
        displayName: github
        type: Github
      gitlab:
        required: false
        displayName: gitlab
        type: Gitlab
      image:
        required: false
        displayName: image
        type: Image
      log_destinations:
        required: false
        displayName: log_destinations
        type: Configurationsforexternallogging.
      name:
        required: true
        example:
          value: api
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      run_command:
        required: false
        example:
          value: bin/api
        displayName: run_command
        description: An optional run command to override the component's default.
        type: string
      source_dir:
        required: false
        example:
          value: path/to/dir
        displayName: source_dir
        description: An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo.
        type: string
      catchall_document:
        required: false
        example:
          value: index.html
        displayName: catchall_document
        description: The name of the document to use as the fallback for any requests to documents that are not found when serving this static site. Only 1 of `catchall_document` or `error_document` can be set.
        type: string
      cors:
        required: false
        displayName: cors
        type: Cors
      error_document:
        required: false
        default: 404.html
        example:
          value: error.html
        displayName: error_document
        description: 'The name of the error document to use when serving this static site. Default: 404.html. If no such file exists within the built assets, App Platform will supply one.'
        type: string
      index_document:
        required: false
        default: index.html
        example:
          value: main.html
        displayName: index_document
        description: 'The name of the index document to use when serving this static site. Default: index.html'
        type: string
      output_dir:
        required: false
        example:
          value: dist/
        displayName: output_dir
        description: 'An optional path to where the built assets will be located, relative to the build context. If not set, App Platform will automatically scan for these directory names: `_static`, `dist`, `public`, `build`.'
        type: string
      routes:
        required: false
        displayName: routes
        description: A list of HTTP routes that should be routed to this component.
        type: array
        items:
          type: AcriterionforroutingHTTPtraffictoacomponent.
  Worker:
    displayName: Worker
    type: object
    properties:
      build_command:
        required: false
        example:
          value: npm run build
        displayName: build_command
        description: An optional build command to run while building this component from source.
        type: string
      dockerfile_path:
        required: false
        example:
          value: path/to/Dockerfile
        displayName: dockerfile_path
        description: The path to the Dockerfile relative to the root of the repo. If set, it will be used to build this component. Otherwise, App Platform will attempt to build it using buildpacks.
        type: string
      environment_slug:
        required: false
        example:
          value: node-js
        displayName: environment_slug
        description: An environment slug describing the type of this app. For a full list, please refer to [the product documentation](https://www.digitalocean.com/docs/app-platform/).
        type: string
      envs:
        required: false
        displayName: envs
        description: A list of environment variables made available to the component.
        type: array
        items:
          type: Env
      git:
        required: false
        displayName: git
        type: Git
      github:
        required: false
        displayName: github
        type: Github
      gitlab:
        required: false
        displayName: gitlab
        type: Gitlab
      image:
        required: false
        displayName: image
        type: Image
      log_destinations:
        required: false
        displayName: log_destinations
        type: Configurationsforexternallogging.
      name:
        required: true
        example:
          value: api
        displayName: name
        description: The name. Must be unique across all components within the same app.
        type: string
        pattern: ^[a-z][a-z0-9-]{0,30}[a-z0-9]$
        minLength: 2
        maxLength: 32
      run_command:
        required: false
        example:
          value: bin/api
        displayName: run_command
        description: An optional run command to override the component's default.
        type: string
      source_dir:
        required: false
        example:
          value: path/to/dir
        displayName: source_dir
        description: An optional path to the working directory to use for the build. For Dockerfile builds, this will be used as the build context. Must be relative to the root of the repo.
        type: string
      instance_count:
        required: false
        default: '1'
        example:
          value: 2
        displayName: instance_count
        description: 'The amount of instances that this component should be scaled to. Default: 1'
        type: integer
        minimum: 1
        format: int64
      instance_size_slug:
        required: false
        default: basic-xxs
        example:
          value: basic-xxs
        displayName: instance_size_slug
        description: 'The instance size to use for this component. Default: `basic-xxs`'
        type: string
        enum:
        - basic-xxs
        - basic-xs
        - basic-s
        - basic-m
        - professional-xs
        - professional-s
        - professional-m
        - professional-1l
        - professional-l
        - professional-xl
  StaticSitecomponentsthatarepartofthisdeployment:
    displayName: StaticSitecomponentsthatarepartofthisdeployment
    type: object
    properties:
      name:
        required: false
        example:
          value: web
        displayName: name
        type: string
      source_commit_hash:
        required: false
        example:
          value: 54d4a727f457231062439895000d45437c7bb405
        displayName: source_commit_hash
        type: string
  Workercomponentsthatarepartofthisdeployment:
    displayName: Workercomponentsthatarepartofthisdeployment
    type: object
    properties:
      name:
        required: false
        example:
          value: queue-runner
        displayName: name
        type: string
      source_commit_hash:
        required: false
        example:
          value: 54d4a727f457231062439895000d45437c7bb405
        displayName: source_commit_hash
        type: string
  Containsalldomainsfortheapp:
    displayName: Containsalldomainsfortheapp
    type: object
    properties:
      certificate_expires_at:
        required: false
        example:
          value: 2024-01-29T23:59:59Z
        displayName: certificate_expires_at
        type: datetime
      id:
        required: false
        example:
          value: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
        displayName: id
        type: string
      phase:
        required: false
        default: UNKNOWN
        example:
          value: ACTIVE
        displayName: phase
        type: string
        enum:
        - UNKNOWN
        - PENDING
        - CONFIGURING
        - ACTIVE
        - ERROR
      progress:
        required: false
        displayName: progress
        type: Progress1
      rotate_validation_records:
        required: false
        displayName: rotate_validation_records
        type: boolean
      spec:
        required: false
        displayName: spec
        type: Domain
      validations:
        required: false
        displayName: validations
        type: array
        items:
          type: ListofTXTvalidationrecord
  Progress1:
    displayName: Progress1
    type: object
    properties:
      steps:
        required: false
        displayName: steps
        type: array
        items:
          type: object
          properties: {}
  ListofTXTvalidationrecord:
    displayName: ListofTXTvalidationrecord
    type: object
    properties:
      txt_name:
        required: false
        example:
          value: _acme-challenge.app.example.com
        displayName: txt_name
        type: string
      txt_value:
        required: false
        example:
          value: lXLOcN6cPv0nproViNcUHcahD9TrIPlNgdwesj0pYpk
        displayName: txt_value
        type: string
  PendingDeployment:
    displayName: PendingDeployment
    type: object
    properties:
      cause:
        required: false
        example:
          value: commit 9a4df0b pushed to github/digitalocean/sample-golang
        displayName: cause
        type: string
      cloned_from:
        required: false
        example:
          value: 3aa4d20e-5527-4c00-b496-601fbd22520a
        displayName: cloned_from
        type: string
      created_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: created_at
        type: datetime
      functions:
        required: false
        displayName: functions
        type: array
        items:
          type: Functionscomponentsthatarepartofthisdeployment
      id:
        required: false
        example:
          value: b6bdf840-2854-4f87-a36c-5f231c617c84
        displayName: id
        type: string
      jobs:
        required: false
        displayName: jobs
        type: array
        items:
          type: Jobcomponentsthatarepartofthisdeployment
      phase:
        required: false
        default: UNKNOWN
        example:
          value: ACTIVE
        displayName: phase
        type: string
        enum:
        - UNKNOWN
        - PENDING_BUILD
        - BUILDING
        - PENDING_DEPLOY
        - DEPLOYING
        - ACTIVE
        - SUPERSEDED
        - ERROR
        - CANCELED
      phase_last_updated_at:
        required: false
        example:
          value: 0001-01-01T00:00:00Z
        displayName: phase_last_updated_at
        type: datetime
      progress:
        required: false
        displayName: progress
        type: Progress
      services:
        required: false
        displayName: services
        type: array
        items:
          type: Servicecomponentsthatarepartofthisdeployment
      spec:
        required: false
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
      static_sites:
        required: false
        displayName: static_sites
        type: array
        items:
          type: StaticSitecomponentsthatarepartofthisdeployment
      tier_slug:
        required: false
        example:
          value: basic
        displayName: tier_slug
        type: string
      updated_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: updated_at
        type: datetime
      workers:
        required: false
        displayName: workers
        type: array
        items:
          type: Workercomponentsthatarepartofthisdeployment
  PinnedDeployment:
    displayName: PinnedDeployment
    type: object
    properties:
      cause:
        required: false
        example:
          value: commit 9a4df0b pushed to github/digitalocean/sample-golang
        displayName: cause
        type: string
      cloned_from:
        required: false
        example:
          value: 3aa4d20e-5527-4c00-b496-601fbd22520a
        displayName: cloned_from
        type: string
      created_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: created_at
        type: datetime
      functions:
        required: false
        displayName: functions
        type: array
        items:
          type: Functionscomponentsthatarepartofthisdeployment
      id:
        required: false
        example:
          value: b6bdf840-2854-4f87-a36c-5f231c617c84
        displayName: id
        type: string
      jobs:
        required: false
        displayName: jobs
        type: array
        items:
          type: Jobcomponentsthatarepartofthisdeployment
      phase:
        required: false
        default: UNKNOWN
        example:
          value: ACTIVE
        displayName: phase
        type: string
        enum:
        - UNKNOWN
        - PENDING_BUILD
        - BUILDING
        - PENDING_DEPLOY
        - DEPLOYING
        - ACTIVE
        - SUPERSEDED
        - ERROR
        - CANCELED
      phase_last_updated_at:
        required: false
        example:
          value: 0001-01-01T00:00:00Z
        displayName: phase_last_updated_at
        type: datetime
      progress:
        required: false
        displayName: progress
        type: Progress
      services:
        required: false
        displayName: services
        type: array
        items:
          type: Servicecomponentsthatarepartofthisdeployment
      spec:
        required: false
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
      static_sites:
        required: false
        displayName: static_sites
        type: array
        items:
          type: StaticSitecomponentsthatarepartofthisdeployment
      tier_slug:
        required: false
        example:
          value: basic
        displayName: tier_slug
        type: string
      updated_at:
        required: false
        example:
          value: 2020-07-28T18:00:00Z
        displayName: updated_at
        type: datetime
      workers:
        required: false
        displayName: workers
        type: array
        items:
          type: Workercomponentsthatarepartofthisdeployment
  Geographicalinformationaboutanapporigin:
    displayName: Geographicalinformationaboutanapporigin
    type: object
    properties:
      continent:
        required: false
        example:
          value: europe
        displayName: continent
        type: string
      data_centers:
        required: false
        example:
          value:
          - ams
        displayName: data_centers
        type: array
        items:
          type: string
      default:
        required: false
        example:
          value: true
        displayName: default
        description: Whether or not the region is presented as the default.
        type: boolean
      disabled:
        required: false
        example:
          value: true
        displayName: disabled
        type: boolean
      flag:
        required: false
        example:
          value: ams
        displayName: flag
        type: string
      label:
        required: false
        example:
          value: ams
        displayName: label
        type: string
      reason:
        required: false
        example:
          value: to crowded
        displayName: reason
        type: string
      slug:
        required: false
        example:
          value: basic
        displayName: slug
        type: string
  V2AppsRequest:
    displayName: V2AppsRequest
    type: object
    properties:
      project_id:
        required: false
        displayName: project_id
        description: The ID of the project the app should be assigned to. If omitted, it will be assigned to your default project.
        type: string
      spec:
        required: true
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
  V2AppsResponse1:
    displayName: V2AppsResponse1
    type: object
    properties:
      app:
        required: false
        displayName: app
        description: An application's configuration and status.
        type: Alistofapp
  V2AppsMetricsBandwidthDailyRequest:
    displayName: V2AppsMetricsBandwidthDailyRequest
    type: object
    properties:
      app_ids:
        required: true
        example:
          value:
          - 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
          - c2a93513-8d9b-4223-9d61-5e7272c81cf5
        displayName: app_ids
        description: A list of app IDs to query bandwidth metrics for.
        type: array
        uniqueItems: false
        maxItems: 100
        items:
          type: string
      date:
        required: false
        example:
          value: 2023-01-17T00:00:00Z
        displayName: date
        description: 'Optional day to query. Only the date component of the timestamp will be considered. Default: yesterday.'
        type: datetime
  V2AppsMetricsBandwidthDailyResponse:
    displayName: V2AppsMetricsBandwidthDailyResponse
    type: object
    properties:
      app_bandwidth_usage:
        required: false
        displayName: app_bandwidth_usage
        description: A list of bandwidth usage details by app.
        type: array
        items:
          type: AppBandwidthUsage
      date:
        required: false
        example:
          value: 2023-01-17T00:00:00Z
        displayName: date
        description: The date for the metrics data.
        type: datetime
  AppBandwidthUsage:
    displayName: AppBandwidthUsage
    description: Bandwidth usage for an app.
    type: object
    properties:
      app_id:
        required: false
        example:
          value: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
        displayName: app_id
        description: The ID of the app.
        type: string
      bandwidth_bytes:
        required: false
        example:
          value: '513668'
        displayName: bandwidth_bytes
        description: The used bandwidth amount in bytes.
        type: string
  V2AppsProposeRequest:
    displayName: V2AppsProposeRequest
    type: object
    properties:
      app_id:
        required: false
        example:
          value: b6bdf840-2854-4f87-a36c-5f231c617c84
        displayName: app_id
        description: An optional ID of an existing app. If set, the spec will be treated as a proposed update to the specified app. The existing app is not modified using this method.
        type: string
      spec:
        required: true
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
  V2AppsProposeResponse:
    displayName: V2AppsProposeResponse
    type: object
    properties:
      app_cost:
        required: false
        example:
          value: 5
        displayName: app_cost
        description: The monthly cost of the proposed app in USD using the next pricing plan tier. For example, if you propose an app that uses the Basic tier, the `app_tier_upgrade_cost` field displays the monthly cost of the app if it were to use the Professional tier. If the proposed app already uses the most expensive tier, the field is empty.
        type: integer
        format: int32
      app_is_static:
        required: false
        example:
          value: true
        displayName: app_is_static
        description: Indicates whether the app is a static app.
        type: boolean
      app_name_available:
        required: false
        example:
          value: true
        displayName: app_name_available
        description: Indicates whether the app name is available.
        type: boolean
      app_name_suggestion:
        required: false
        example:
          value: newName
        displayName: app_name_suggestion
        description: The suggested name if the proposed app name is unavailable.
        type: string
      app_tier_downgrade_cost:
        required: false
        example:
          value: 17
        displayName: app_tier_downgrade_cost
        description: The monthly cost of the proposed app in USD using the previous pricing plan tier. For example, if you propose an app that uses the Professional tier, the `app_tier_downgrade_cost` field displays the monthly cost of the app if it were to use the Basic tier. If the proposed app already uses the lest expensive tier, the field is empty.
        type: integer
        format: int32
      existing_static_apps:
        required: false
        example:
          value: '2'
        displayName: existing_static_apps
        description: The maximum number of free static apps the account can have. We will charge you for any additional static apps.
        type: string
      spec:
        required: false
        displayName: spec
        description: The desired configuration of an application.
        type: AppSpec
  V2AppsRegionsResponse:
    displayName: V2AppsRegionsResponse
    type: object
    properties:
      regions:
        required: false
        displayName: regions
        type: array
        items:
          type: Geographicalinformationaboutanapporigin
  V2AppsTiersResponse:
    displayName: V2AppsTiersResponse
    type: object
    properties:
      tiers:
        required: false
        displayName: tiers
        type: array
        items:
          type: Tier
  Tier:
    displayName: Tier
    type: object
    properties:
      build_seconds:
        required: false
        example:
          value: '233'
        displayName: build_seconds
        type: string
      egress_bandwidth_bytes:
        required: false
        example:
          value: '123'
        displayName: egress_bandwidth_bytes
        type: string
      name:
        required: false
        example:
          value: test
        displayName: name
        type: string
      slug:
        required: false
        example:
          value: test
        displayName: slug
        type: string
      storage_bytes:
        required: false
        example:
          value: '10000000'
        displayName: storage_bytes
        type: string
  V2AppsTiersInstanceSizesResponse:
    displayName: V2AppsTiersInstanceSizesResponse
    type: object
    properties:
      discount_percent:
        required: false
        example:
          value: 2.32
        displayName: discount_percent
        type: number
        format: double
      instance_sizes:
        required: false
        displayName: instance_sizes
        type: array
        items:
          type: InstanceSize
  InstanceSize:
    displayName: InstanceSize
    type: object
    properties:
      cpu_type:
        required: false
        default: UNSPECIFIED
        example:
          value: SHARED
        displayName: cpu_type
        type: string
        enum:
        - UNSPECIFIED
        - SHARED
        - DEDICATED
      cpus:
        required: false
        example:
          value: '3'
        displayName: cpus
        type: string
      memory_bytes:
        required: false
        example:
          value: '1048'
        displayName: memory_bytes
        type: string
      name:
        required: false
        example:
          value: name
        displayName: name
        type: string
      slug:
        required: false
        example:
          value: basic
        displayName: slug
        type: string
      tier_downgrade_to:
        required: false
        example:
          value: basic
        displayName: tier_downgrade_to
        type: string
      tier_slug:
        required: false
        example:
          value: basic
        displayName: tier_slug
        type: string
      tier_upgrade_to:
        required: false
        example:
          value: basic
        displayName: tier_upgrade_to
        type: string
      usd_per_month:
        required: false
        example:
          value: '23'
        displayName: usd_per_month
        type: string
      usd_per_second:
        required: false
        example:
          value: '0.00000001232'
        displayName: usd_per_second
        type: string
  V2AppsTiersInstanceSizesResponse1:
    displayName: V2AppsTiersInstanceSizesResponse1
    type: object
    properties:
      instance_size:
        required: false
        displayName: instance_size
        type: InstanceSize
  V2AppsTiersResponse1:
    displayName: V2AppsTiersResponse1
    type: object
    properties:
      tier:
[...]
