FORMAT: 1A
HOST: https://api.digitalocean.com

# DigitalOcean API
# Introduction

The DigitalOcean API allows you to manage Droplets and resources within the
DigitalOcean cloud in a simple, programmatic way using conventional HTTP requests.

All of the functionality that you are familiar with in the DigitalOcean
control panel is also available through the API, allowing you to script the
complex actions that your situation requires.

The API documentation will start with a general overview about the design
and technology that has been implemented, followed by reference information
about specific endpoints.

## Requests

Any tool that is fluent in HTTP can communicate with the API simply by
requesting the correct URI. Requests should be made using the HTTPS protocol
so that traffic is encrypted. The interface responds to different methods
depending on the action required.

|Method|Usage|
|--- |--- |
|GET|For simple retrieval of information about your account, Droplets, or environment, you should use the GET method.  The information you request will be returned to you as a JSON object. The attributes defined by the JSON object can be used to form additional requests.  Any request using the GET method is read-only and will not affect any of the objects you are querying.|
|DELETE|To destroy a resource and remove it from your account and environment, the DELETE method should be used.  This will remove the specified object if it is found.  If it is not found, the operation will return a response indicating that the object was not found. This idempotency means that you do not have to check for a resource's availability prior to issuing a delete command, the final state will be the same regardless of its existence.|
|PUT|To update the information about a resource in your account, the PUT method is available. Like the DELETE Method, the PUT method is idempotent.  It sets the state of the target using the provided values, regardless of their current values. Requests using the PUT method do not need to check the current attributes of the object.|
|PATCH|Some resources support partial modification. In these cases, the PATCH method is available. Unlike PUT which generally requires a complete representation of a resource, a PATCH request is is a set of instructions on how to modify a resource updating only specific attributes.|
|POST|To create a new object, your request should specify the POST method. The POST request includes all of the attributes necessary to create a new object.  When you wish to create a new object, send a POST request to the target endpoint.|
|HEAD|Finally, to retrieve metadata information, you should use the HEAD method to get the headers.  This returns only the header of what would be returned with an associated GET request. Response headers contain some useful information about your API access and the results that are available for your request. For instance, the headers contain your current rate-limit value and the amount of time available until the limit resets. It also contains metrics about the total number of objects found, pagination information, and the total content length.|


## HTTP Statuses

Along with the HTTP methods that the API responds to, it will also return
standard HTTP statuses, including error codes.

In the event of a problem, the status will contain the error code, while the
body of the response will usually contain additional information about the
problem that was encountered.

In general, if the status returned is in the 200 range, it indicates that
the request was fulfilled successfully and that no error was encountered.

Return codes in the 400 range typically indicate that there was an issue
with the request that was sent. Among other things, this could mean that you
did not authenticate correctly, that you are requesting an action that you
do not have authorization for, that the object you are requesting does not
exist, or that your request is malformed.

If you receive a status in the 500 range, this generally indicates a
server-side problem. This means that we are having an issue on our end and
cannot fulfill your request currently.

400 and 500 level error responses will include a JSON object in their body,
including the following attributes:

|Name|Type|Description|
|--- |--- |--- |
|id|string|A short identifier corresponding to the HTTP status code returned. For example, the ID for a response returning a 404 status code would be "not_found."|
|message|string|A message providing additional information about the error, including details to help resolve it when possible.|
|request_id|string|Optionally, some endpoints may include a request ID that should be provided when reporting bugs or opening support tickets to help identify the issue.|

### Example Error Response

```
    HTTP/1.1 403 Forbidden
    {
      "id":       "forbidden",
      "message":  "You do not have access for the attempted action."
    }
```

## Responses

When a request is successful, a response body will typically be sent back in
the form of a JSON object. An exception to this is when a DELETE request is
processed, which will result in a successful HTTP 204 status and an empty
response body.

Inside of this JSON object, the resource root that was the target of the
request will be set as the key. This will be the singular form of the word
if the request operated on a single object, and the plural form of the word
if a collection was processed.

For example, if you send a GET request to `/v2/droplets/$DROPLET_ID` you
will get back an object with a key called "`droplet`". However, if you send
the GET request to the general collection at `/v2/droplets`, you will get
back an object with a key called "`droplets`".

The value of these keys will generally be a JSON object for a request on a
single object and an array of objects for a request on a collection of
objects.

### Response for a Single Object

```
    {
        "droplet": {
            "name": "example.com"
            . . .
        }
    }
```

### Response for an Object Collection

```
    {
        "droplets": [
            {
                "name": "example.com"
                . . .
            },
            {
                "name": "second.com"
                . . .
            }
        ]
    }
```

## Meta

In addition to the main resource root, the response may also contain a
`meta` object. This object contains information about the response itself.

The `meta` object contains a `total` key that is set to the total number of
objects returned by the request. This has implications on the `links` object
and pagination.

The `meta` object will only be displayed when it has a value. Currently, the
`meta` object will have a value when a request is made on a collection (like
`droplets` or `domains`).


### Sample Meta Object

```
    {
        . . .
        "meta": {
            "total": 43
        }
        . . .
    }
```

## Links & Pagination

The `links` object is returned as part of the response body when pagination
is enabled. By default, 20 objects are returned per page. If the response
contains 20 objects or fewer, no `links` object will be returned. If the
response contains more than 20 objects, the first 20 will be returned along
with the `links` object.

You can request a different pagination limit or force pagination by
appending `?per_page=` to the request with the number of items you would
like per page. For instance, to show only two results per page, you could
add `?per_page=2` to the end of your query. The maximum number of results
per page is 200.

The `links` object contains a `pages` object. The `pages` object, in turn,
contains keys indicating the relationship of additional pages. The values of
these are the URLs of the associated pages. The keys will be one of the
following:

*   **first**: The URI of the first page of results.
*   **prev**: The URI of the previous sequential page of results.
*   **next**: The URI of the next sequential page of results.
*   **last**: The URI of the last page of results.

The `pages` object will only include the links that make sense. So for the
first page of results, no `first` or `prev` links will ever be set. This
convention holds true in other situations where a link would not make sense.

### Sample Links Object

```
    {
        . . .
        "links": {
            "pages": {
                "last": "https://api.digitalocean.com/v2/images?page=2",
                "next": "https://api.digitalocean.com/v2/images?page=2"
            }
        }
        . . .
    }
```

## Rate Limit

Requests through the API are rate limited per OAuth token. Current rate limits:

*   5,000 requests per hour
*   250 requests per minute (5% of the hourly total)

Once you exceed either limit, you will be rate limited until the next cycle
starts. Space out any requests that you would otherwise issue in bursts for
the best results.

The rate limiting information is contained within the response headers of
each request. The relevant headers are:

*   **ratelimit-limit**: The number of requests that can be made per hour.
*   **ratelimit-remaining**: The number of requests that remain before you hit your request limit. See the information below for how the request limits expire.
*   **ratelimit-reset**: This represents the time when the oldest request will expire. The value is given in [Unix epoch time](http://en.wikipedia.org/wiki/Unix_time). See below for more information about how request limits expire.

As long as the `ratelimit-remaining` count is above zero, you will be able
to make additional requests.

The way that a request expires and is removed from the current limit count
is important to understand. Rather than counting all of the requests for an
hour and resetting the `ratelimit-remaining` value at the end of the hour,
each request instead has its own timer.

This means that each request contributes toward the `ratelimit-remaining`
count for one complete hour after the request is made. When that request's
timer runs out, it is no longer counted towards the request limit.

This has implications on the meaning of the `ratelimit-reset` header as
well. Because the entire rate limit is not reset at one time, the value of
this header is set to the time when the _oldest_ request will expire.

Keep this in mind if you see your `ratelimit-reset` value change, but not
move an entire hour into the future.

If the `ratelimit-remaining` reaches zero, subsequent requests will receive
a 429 error code until the request reset has been reached. You can see the
format of the response in the examples.

**Note:** The following endpoints have special rate limit requirements that
are independent of the limits defined above.

*   Only 12 `POST` requests to the `/v2/floating_ips` endpoint to create Floating IPs can be made per 60 seconds.
*   Only 10 `GET` requests to the `/v2/account/keys` endpoint to list SSH keys can be made per 60 seconds.
*   Only 5 requests to any and all `v2/cdn/endpoints` can be made per 10 seconds. This includes `v2/cdn/endpoints`, 
    `v2/cdn/endpoints/$ENDPOINT_ID`, and `v2/cdn/endpoints/$ENDPOINT_ID/cache`.
*   Only 50 strings within the `files` json struct in the `v2/cdn/endpoints/$ENDPOINT_ID/cache` [payload](https://docs.digitalocean.com/reference/api/api-reference/#operation/cdn_purge_cache) 
    can be requested every 20 seconds.

### Sample Rate Limit Headers

```
    . . .
    ratelimit-limit: 1200
    ratelimit-remaining: 1193
    rateLimit-reset: 1402425459
    . . .
```

### Sample Rate Exceeded Response

```
    429 Too Many Requests
    {
            id: "too_many_requests",
            message: "API Rate limit exceeded."
    }
```

## Curl Examples

Throughout this document, some example API requests will be given using the
`curl` command. This will allow us to demonstrate the various endpoints in a
simple, textual format.
  
  These examples assume that you are using a Linux or macOS command line. To run
these commands on a Windows machine, you can either use cmd.exe, PowerShell, or WSL:

* For cmd.exe, use the `set VAR=VALUE` [syntax](https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/set_1)
to define environment variables, call them with `%VAR%`, then replace all backslashes (`\`) in the examples with carets (`^`).

* For PowerShell, use the `$Env:VAR = "VALUE"` [syntax](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_environment_variables?view=powershell-7.2)
to define environment variables, call them with `$Env:VAR`, then replace `curl` with `curl.exe` and all backslashes (`\`) in the examples with backticks (`` ` ``).

* WSL is a compatibility layer that allows you to emulate a Linux terminal on a Windows machine.
Install WSL with our [community tutorial](https://www.digitalocean.com/community/tutorials/how-to-install-the-windows-subsystem-for-linux-2-on-microsoft-windows-10), 
then follow this API documentation normally.

The names of account-specific references (like Droplet IDs, for instance)
will be represented by variables. For instance, a Droplet ID may be
represented by a variable called `$DROPLET_ID`. You can set the associated
variables in your environment if you wish to use the examples without
modification.

The first variable that you should set to get started is your OAuth
authorization token. The next section will go over the details of this, but
you can set an environmental variable for it now.

Generate a token by going to the [Apps & API](https://cloud.digitalocean.com/settings/applications)
section of the DigitalOcean control panel. Use an existing token if you have
saved one, or generate a new token with the "Generate new token" button.
Copy the generated token and use it to set and export the TOKEN variable in
your environment as the example shows.

You may also wish to set some other variables now or as you go along. For
example, you may wish to set the `DROPLET_ID` variable to one of your
Droplet IDs since this will be used frequently in the API.

If you are following along, make sure you use a Droplet ID that you control
so that your commands will execute correctly.

If you need access to the headers of a response through `curl`, you can pass
the `-i` flag to display the header information along with the body. If you
are only interested in the header, you can instead pass the `-I` flag, which
will exclude the response body entirely.


### Set and Export your OAuth Token

```
export DIGITALOCEAN_TOKEN=your_token_here
```

### Set and Export a Variable

```
export DROPLET_ID=1111111
```

## Parameters

There are two different ways to pass parameters in a request with the API.

When passing parameters to create or update an object, parameters should be
passed as a JSON object containing the appropriate attribute names and
values as key-value pairs. When you use this format, you should specify that
you are sending a JSON object in the header. This is done by setting the
`Content-Type` header to `application/json`. This ensures that your request
is interpreted correctly.

When passing parameters to filter a response on GET requests, parameters can
be passed using standard query attributes. In this case, the parameters
would be embedded into the URI itself by appending a `?` to the end of the
URI and then setting each attribute with an equal sign. Attributes can be
separated with a `&`. Tools like `curl` can create the appropriate URI when
given parameters and values; this can also be done using the `-F` flag and
then passing the key and value as an argument. The argument should take the
form of a quoted string with the attribute being set to a value with an
equal sign.

### Pass Parameters as a JSON Object

```
    curl -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
        -H "Content-Type: application/json" \
        -d '{"name": "example.com", "ip_address": "127.0.0.1"}' \
        -X POST "https://api.digitalocean.com/v2/domains"
```

### Pass Filter Parameters as a Query String

```
     curl -H "Authorization: Bearer $DIGITALOCEAN_TOKEN" \
         -X GET \
         "https://api.digitalocean.com/v2/images?private=true"
```

## Cross Origin Resource Sharing

In order to make requests to the API from other domains, the API implements
Cross Origin Resource Sharing (CORS) support.

CORS support is generally used to create AJAX requests outside of the domain
that the request originated from. This is necessary to implement projects
like control panels utilizing the API. This tells the browser that it can
send requests to an outside domain.

The procedure that the browser initiates in order to perform these actions
(other than GET requests) begins by sending a "preflight" request. This sets
the `Origin` header and uses the `OPTIONS` method. The server will reply
back with the methods it allows and some of the limits it imposes. The
client then sends the actual request if it falls within the allowed
constraints.

This process is usually done in the background by the browser, but you can
use curl to emulate this process using the example provided. The headers
that will be set to show the constraints are:

*   **Access-Control-Allow-Origin**: This is the domain that is sent by the client or browser as the origin of the request. It is set through an `Origin` header.
*   **Access-Control-Allow-Methods**: This specifies the allowed options for requests from that domain. This will generally be all available methods.
*   **Access-Control-Expose-Headers**: This will contain the headers that will be available to requests from the origin domain.
*   **Access-Control-Max-Age**: This is the length of time that the access is considered valid. After this expires, a new preflight should be sent.
*   **Access-Control-Allow-Credentials**: This will be set to `true`. It basically allows you to send your OAuth token for authentication.

You should not need to be concerned with the details of these headers,
because the browser will typically do all of the work for you.


## Authentication
This API uses OAuth v2 Bearer Token / Personal Access Token for its authentication.

# Group 1Click Applications

1-Click applications are pre-built Droplet images or Kubernetes apps with software,
features, and configuration details already set up for you. They can be found in the
[DigitalOcean Marketplace](https://www.digitalocean.com/docs/marketplace).

## V2 1 Clicks [/v2/1-clicks{?type}]

### oneClickslist [GET]
To list all available 1-Click applications, send a GET request to `/v2/1-clicks`. The `type` may
be provided as query paramater in order to restrict results to a certain type of 1-Click, for
example: `/v2/1-clicks?type=droplet`. Current supported types are `kubernetes` and `droplet`.

The response will be a JSON object with a key called `1_clicks`. This will be set to an array of
1-Click application data, each of which will contain the the slug and type for the 1-Click.
+ Parameters
    + type (enum[string], optional)

        Restrict results to a certain type of 1-Click.

        + Sample: kubernetes
        + Members
            + `droplet` 
            + `kubernetes` 


+ Response 200 (application/json)

        A JSON object with a key of `1_clicks`.

    + Attributes (V2 1 Clicks Response)


    + Body

            {"1_clicks":[{"slug":"monitoring","type":"kubernetes"},{"slug":"wordpress-18-04","type":"droplet"}]}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 1 Clicks Kubernetes [/v2/1-clicks/kubernetes]

### oneClicksinstallkubernetes [POST]
To install a Kubernetes 1-Click application on a cluster, send a POST request to
`/v2/1-clicks/kubernetes`. The `addon_slugs` and `cluster_uuid` must be provided as body
parameter in order to specify which 1-Click application(s) to install. To list all available
1-Click Kubernetes applications, send a request to `/v2/1-clicks?type=kubernetes`.

+ Request (<<Add Header Value>>)

    + Attributes (V2 1 Clicks Kubernetes Request)



+ Response 200 (application/json)

        The response will verify that a job has been successfully created to install a 1-Click. The
post-installation lifecycle of a 1-Click application can not be managed via the DigitalOcean
API. For additional details specific to the 1-Click, find and view its
[DigitalOcean Marketplace](https://marketplace.digitalocean.com) page.

    + Attributes (V2 1 Clicks Kubernetes Response)


    + Body

            {"message":"Successfully kicked off addon job."}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}




# Group Account

Provides information about your current account.

## V2 Account [/v2/account]

### accountget [GET]
To show information about the current user account, send a GET request to `/v2/account`.

+ Response 200 (application/json)

        A JSON object keyed on account with an excerpt of the current user account data.

    + Attributes (V2 Account Response)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}




# Group Actions

Actions are records of events that have occurred on the resources in your account.
These can be things like rebooting a Droplet, or transferring an image to a new region.

An action object is created every time one of these actions is initiated. The action
object contains information about the current status of the action, start and complete
timestamps, and the associated resource type and ID.

Every action that creates an action object is available through this endpoint. Completed
actions are not removed from this list and are always available for querying.

**Note:** You can pass the following HTTP header with the request to have the API return
the `reserved_ips` stanza instead of the `floating_ips` stanza:

- `Accept: application/vnd.digitalocean.reserveip+json`

## V2 Actions [/v2/actions{?per_page,page}]

### actionslist [GET]
This will be the entire list of actions taken on your account, so it will be quite large. As with any large collection returned by the API, the results will be paginated with only 20 on each page by default.
+ Parameters
    + per_page (number, optional) -

        Number of items returned per page

        + Default: 20
        + Sample: 2
    + page (number, optional) -

        Which 'page' of paginated results to return.

        + Default: 1
        + Sample: 1

+ Response 200 (application/json)

        The results will be returned as a JSON object with an actions key.  This will be set to an array filled with action objects containing the standard action attributes

    + Attributes (V2 Actions Response)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Actions By Action Id [/v2/actions/{action_id}]

+ Parameters
    + action_id (number, required)

        A unique numeric ID that can be used to identify and reference an action.

        + Sample: 36804636

### actionsget [GET]
To retrieve a specific action object, send a GET request to `/v2/actions/$ACTION_ID`.

+ Response 200 (application/json)

        The result will be a JSON object with an action key.  This will be set to an action object containing the standard action attributes.

    + Attributes (V2 Actions Response1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}




# Group Apps

App Platform is a Platform-as-a-Service (PaaS) offering from DigitalOcean that allows
developers to publish code directly to DigitalOcean servers without worrying about the
underlying infrastructure.

Most API operations are centered around a few core object types. Following are the
definitions of these types. These definitions will be omitted from the operation-specific
documentation.

For documentation on app specifications (`AppSpec` objects), please refer to the
[product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/)).

## V2 Apps [/v2/apps{?page,per_page,with_projects}]

### appslist [GET]
List all apps on your account. Information about the current active deployment as well as any in progress ones will also be included for each app.
+ Parameters
    + page (number, optional) -

        Which 'page' of paginated results to return.

        + Default: 1
        + Sample: 1
    + per_page (number, optional) -

        Number of items returned per page

        + Default: 20
        + Sample: 2
    + with_projects (boolean, optional)

        Whether the project_id of listed apps should be fetched and included.

        + Sample: true

+ Response 200 (application/json)

        A JSON object with a `apps` key. This is list of object `apps`.

    + Attributes (V2 Apps Response)


    + Body

            {"apps":[{"active_deployment":{"created_at":"2020-12-01T00:40:05Z","id":"3aa4d20e-5527-4c00-b496-601fbd22520a","phase_last_updated_at":"2020-12-01T00:42:12Z","services":[{"name":"sample-php","source_commit_hash":"54d4a727f457231062439895000d45437c7bb405"}],"spec":{"domains":[{"domain":"sample-php.example.com","minimum_tls_version":"1.3","type":"PRIMARY","zone":"example.com"}],"name":"sample-php","region":"fra","services":[{"environment_slug":"php","git":{"branch":"main","repo_clone_url":"https://github.com/digitalocean/sample-php.git"},"http_port":8080,"instance_count":1,"instance_size_slug":"basic-xxs","name":"sample-php","routes":[{"path":"/"}],"run_command":"heroku-php-apache2"}]},"updated_at":"2020-12-01T00:42:12Z"},"cause":"app spec updated","created_at":"2020-11-19T20:27:18Z","default_ingress":"https://sample-php-iaj87.ondigitalocean.app","domains":[{"certificate_expires_at":"2024-01-29T23:59:59Z","id":"0831f444-a1a7-11ed-828c-ef59494480b5","phase":"ACTIVE","progress":{"steps":[{"ended_at":"0001-01-01T00:00:00Z","name":"default-ingress-ready","started_at":"2023-01-30T22:15:45.021896292Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"ensure-zone","started_at":"2023-01-30T22:15:45.022017004Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:42:28.50752065Z","name":"ensure-ns-records","started_at":"2023-01-30T22:15:45.025567874Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"verify-nameservers","started_at":"2023-01-30T22:15:45.033591906Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"ensure-record","started_at":"2023-01-30T22:15:45.156750604Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:30.258626422Z","name":"ensure-alias-record","started_at":"2023-01-30T22:15:45.165933869Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:30.258808279Z","name":"ensure-wildcard-record","started_at":"2023-01-30T22:15:45.166093422Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"verify-cname","started_at":"2023-01-30T22:15:45.166205559Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:30.475903785Z","name":"ensure-ssl-txt-record-saved","started_at":"2023-01-30T22:15:45.295237186Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:30.476017236Z","name":"ensure-ssl-txt-record","started_at":"2023-01-30T22:15:45.295315291Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:30.476094058Z","name":"ensure-renewal-email","started_at":"2023-01-30T22:15:45.295374087Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"ensure-CA-authorization","started_at":"2023-01-30T22:15:45.295428101Z","status":"SUCCESS"},{"ended_at":"0001-01-01T00:00:00Z","name":"ensure-certificate","started_at":"2023-01-30T22:15:45.978756406Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:52.570612857Z","name":"create-deployment","started_at":"0001-01-01T00:00:00Z","status":"SUCCESS"},{"ended_at":"2023-01-30T15:43:31.333582377Z","name":"configuration-alert","started_at":"2023-01-30T22:15:46.278987808Z","status":"SUCCESS"}]},"rotate_validation_records":false,"spec":{"domain":"sample-php.example.com","minimum_tls_version":"1.3","type":"PRIMARY","zone":"example.com"}}],"id":"4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf","last_deployment_created_at":"2020-12-01T00:40:05Z","live_domain":"sample-php.example.com","live_url":"https://sample-php.example.com","live_url_base":"https://sample-php.example.com","owner_uuid":"ff36cbc6fd350fe12577f5123133bb5ba01a2419","pending_deployment":{"created_at":"2020-12-01T00:40:05Z","id":"3aa4d20e-5527-4c00-b496-601fbd22520a","phase_last_updated_at":"2020-12-01T00:42:12Z","services":[{"name":"sample-php","source_commit_hash":"54d4a727f457231062439895000d45437c7bb405"}],"spec":{"domains":[{"domain":"sample-php.example.com","minimum_tls_version":"1.3","type":"PRIMARY","zone":"example.com"}],"name":"sample-php","region":"fra","services":[{"environment_slug":"php","git":{"branch":"main","repo_clone_url":"https://github.com/digitalocean/sample-php.git"},"http_port":8080,"instance_count":1,"instance_size_slug":"basic-xxs","name":"sample-php","routes":[{"path":"/"}],"run_command":"heroku-php-apache2"}]},"updated_at":"2020-12-01T00:42:12Z"},"progress":{"phase":"ACTIVE","steps":[{"ended_at":"2020-12-01T00:41:26.653989756Z","name":"build","started_at":"2020-12-01T00:40:11.979257919Z","status":"SUCCESS","steps":[{"ended_at":"2020-12-01T00:40:12.470972033Z","name":"initialize","started_at":"2020-12-01T00:40:11.979305214Z","status":"SUCCESS"},{"ended_at":"2020-12-01T00:41:26.180360487Z","name":"components","started_at":"2020-12-01T00:40:12.470996857Z","status":"SUCCESS","steps":[{"component_name":"sample-php","ended_at":"0001-01-01T00:00:00Z","message_base":"Building service","name":"sample-php","started_at":"0001-01-01T00:00:00Z","status":"SUCCESS"}]}]}],"success_steps":6,"tier_slug":"basic","total_steps":6},"region":{"continent":"Europe","data_centers":["fra1"],"flag":"germany","label":"Frankfurt","slug":"fra"},"spec":{"domains":[{"domain":"sample-php.example.com","minimum_tls_version":"1.3","type":"PRIMARY","zone":"example.com"}],"name":"sample-php","services":[{"environment_slug":"php","git":{"branch":"main","repo_clone_url":"https://github.com/digitalocean/sample-php.git"},"http_port":8080,"instance_count":1,"instance_size_slug":"basic-xxs","name":"sample-php","routes":[{"path":"/"}],"run_command":"heroku-php-apache2"}]},"tier_slug":"basic","updated_at":"2020-12-01T00:42:16Z"}],"links":{"pages":{}},"meta":{"total":1}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps [/v2/apps]

### appscreate [POST]
Create a new app by submitting an app specification. For documentation on app specifications (`AppSpec` objects), please refer to [the product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/).

+ Request (application/json)
    + Headers

            Accept:application/json


    + Attributes (V2 Apps Request)


    + Body

            {
                "spec": {
                    "name": "web-app",
                    "region": "nyc",
                    "services": [
                        {
                            "environment_slug": "node-js",
                            "github": {
                                "branch": "main",
                                "deploy_on_push": true,
                                "repo": "digitalocean/sample-golang"
                            },
                            "instance_count": 2,
                            "instance_size_slug": "basic-xxs",
                            "name": "api",
                            "routes": [
                                {
                                    "path": "/api"
                                }
                            ],
                            "run_command": "bin/api"
                        }
                    ]
                }
            }


+ Response 200 (application/json)

        A JSON or YAML of a `spec` object.

    + Attributes (V2 Apps Response1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Metrics Bandwidth Daily [/v2/apps/metrics/bandwidth_daily]

### appslistmetricsbandwidthdaily [POST]
Retrieve daily bandwidth usage metrics for multiple apps.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Metrics Bandwidth Daily Request)


    + Body

            {
                "app_ids": [
                    "4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf",
                    "c2a93513-8d9b-4223-9d61-5e7272c81cf5"
                ],
                "date": "2023-01-17T00:00:00Z"
            }


+ Response 200 (application/json)

        A JSON object with a `app_bandwidth_usage` key

    + Attributes (V2 Apps Metrics Bandwidth Daily Response)


    + Body

            {"app_bandwidth_usage":[{"app_id":"4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf","bandwidth_bytes":"513668"},{"app_id":"c2a93513-8d9b-4223-9d61-5e7272c81cf5","bandwidth_bytes":"254847"}],"date":"2023-01-17T00:00:00Z"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Propose [/v2/apps/propose]

### appsvalidateappSpec [POST]
To propose and validate a spec for a new or existing app, send a POST request to the `/v2/apps/propose` endpoint. The request returns some information about the proposed app, including app cost and upgrade cost. If an existing app ID is specified, the app spec is treated as a proposed update to the existing app.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Propose Request)


    + Body

            {
                "app_id": "b6bdf840-2854-4f87-a36c-5f231c617c84",
                "spec": {
                    "name": "web-app",
                    "region": "nyc",
                    "services": [
                        {
                            "environment_slug": "node-js",
                            "github": {
                                "branch": "main",
                                "deploy_on_push": true,
                                "repo": "digitalocean/sample-golang"
                            },
                            "instance_count": 2,
                            "instance_size_slug": "basic-xxs",
                            "name": "api",
                            "routes": [
                                {
                                    "path": "/api"
                                }
                            ],
                            "run_command": "bin/api"
                        }
                    ]
                }
            }


+ Response 200 (application/json)

        A JSON object.

    + Attributes (V2 Apps Propose Response)


    + Body

            {"app_cost":5,"app_name_available":true,"app_tier_upgrade_cost":17,"existing_static_apps":"2","max_free_static_apps":"3","spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"http_port":8080,"instance_count":1,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Regions [/v2/apps/regions]

### appslistregions [GET]
List all regions supported by App Platform.

+ Response 200 (application/json)

        A JSON object with key `regions`

    + Attributes (V2 Apps Regions Response)


    + Body

            {"regions":[{"continent":"Europe","data_centers":["ams3"],"flag":"netherlands","label":"Amsterdam","slug":"ams"},{"continent":"North America","data_centers":["nyc1","nyc3"],"default":true,"flag":"usa","label":"New York","slug":"nyc"},{"continent":"Europe","data_centers":["fra1"],"flag":"germany","label":"Frankfurt","slug":"fra"},{"continent":"North America","data_centers":["sfo3"],"flag":"usa","label":"San Francisco","slug":"sfo"},{"continent":"Asia","data_centers":["sgp1"],"flag":"singapore","label":"Singapore","slug":"sgp"},{"continent":"Asia","data_centers":["blr1"],"flag":"india","label":"Bangalore","slug":"blr"},{"continent":"North America","data_centers":["tor1"],"flag":"canada","label":"Toronto","slug":"tor"},{"continent":"Europe","data_centers":["lon1"],"flag":"uk","label":"London","slug":"lon"}]}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Tiers [/v2/apps/tiers]

### appslisttiers [GET]
List all app tiers.

+ Response 200 (application/json)

        A JSON object with a `tiers` key. This will be a list of all app tiers

    + Attributes (V2 Apps Tiers Response)


    + Body

            {"tiers":[{"build_seconds":"6000","egress_bandwidth_bytes":"1073741824","name":"Starter","slug":"starter"},{"build_seconds":"24000","egress_bandwidth_bytes":"42949672960","name":"Basic","slug":"basic"},{"build_seconds":"60000","egress_bandwidth_bytes":"107374182400","name":"Professional","slug":"professional"}]}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Tiers Instance Sizes [/v2/apps/tiers/instance_sizes]

### appslistinstanceSizes [GET]
List all instance sizes for `service`, `worker`, and `job` components.

+ Response 200 (application/json)

        A JSON with key `instance_sizes`

    + Attributes (V2 Apps Tiers Instance Sizes Response)


    + Body

            {"instance_sizes":[{"cpu_type":"SHARED","cpus":"1","memory_bytes":"536870912","name":"Basic XXS","slug":"basic-xxs","tier_slug":"basic","tier_upgrade_to":"professional-xs","usd_per_month":"5.00","usd_per_second":"0.000002066799"},{"cpu_type":"SHARED","cpus":"1","memory_bytes":"1073741824","name":"Basic XS","slug":"basic-xs","tier_slug":"basic","tier_upgrade_to":"professional-xs","usd_per_month":"10.00","usd_per_second":"0.000004133598"},{"cpu_type":"SHARED","cpus":"1","memory_bytes":"2147483648","name":"Basic S","slug":"basic-s","tier_slug":"basic","tier_upgrade_to":"professional-s","usd_per_month":"20.00","usd_per_second":"0.000008267196"},{"cpu_type":"SHARED","cpus":"2","memory_bytes":"4294967296","name":"Basic M","slug":"basic-m","tier_slug":"basic","tier_upgrade_to":"professional-m","usd_per_month":"40.00","usd_per_second":"0.000016534392"},{"cpu_type":"SHARED","cpus":"1","memory_bytes":"1073741824","name":"Professional XS","slug":"professional-xs","tier_downgrade_to":"basic-xs","tier_slug":"professional","usd_per_month":"12.00","usd_per_second":"0.000004960317"},{"cpu_type":"SHARED","cpus":"1","memory_bytes":"2147483648","name":"Professional S","slug":"professional-s","tier_downgrade_to":"basic-s","tier_slug":"professional","usd_per_month":"25.00","usd_per_second":"0.000010333995"},{"cpu_type":"SHARED","cpus":"2","memory_bytes":"4294967296","name":"Professional M","slug":"professional-m","tier_downgrade_to":"basic-s","tier_slug":"professional","usd_per_month":"50.00","usd_per_second":"0.000020667989"},{"cpu_type":"DEDICATED","cpus":"1","memory_bytes":"4294967296","name":"Professional 1L","slug":"professional-1l","tier_downgrade_to":"basic-m","tier_slug":"professional","usd_per_month":"75.00","usd_per_second":"0.000031001984"},{"cpu_type":"DEDICATED","cpus":"2","memory_bytes":"8589934592","name":"Professional L","slug":"professional-l","tier_downgrade_to":"basic-s","tier_slug":"professional","usd_per_month":"150.00","usd_per_second":"0.000062003968"},{"cpu_type":"DEDICATED","cpus":"4","memory_bytes":"17179869184","name":"Professional XL","slug":"professional-xl","tier_downgrade_to":"basic-s","tier_slug":"professional","usd_per_month":"300.00","usd_per_second":"0.000124007937"}]}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Tiers Instance Sizes By Slug [/v2/apps/tiers/instance_sizes/{slug}]

+ Parameters
    + slug (string, required)

        The slug of the instance size

        + Sample: basic-xxs

### appsgetinstanceSize [GET]
Retrieve information about a specific instance size for `service`, `worker`, and `job` components.

+ Response 200 (application/json)

        A JSON with key `instance_size`

    + Attributes (V2 Apps Tiers Instance Sizes Response1)


    + Body

            {"instance_size":{"cpu_type":"SHARED","cpus":"1","memory_bytes":"536870912","name":"Basic XXS","slug":"basic-xxs","tier_slug":"basic","tier_upgrade_to":"professional-xs","usd_per_month":"5.00","usd_per_second":"0.000002066799"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Tiers By Slug [/v2/apps/tiers/{slug}]

+ Parameters
    + slug (string, required)

        The slug of the tier

        + Sample: basic

### appsgettier [GET]
Retrieve information about a specific app tier.

+ Response 200 (application/json)

        A JSON with the key `tier`

    + Attributes (V2 Apps Tiers Response1)


    + Body

            {"tier":{"build_seconds":"24000","egress_bandwidth_bytes":"42949672960","name":"Basic","slug":"basic"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Alerts By App Id [/v2/apps/{app_id}/alerts]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appslistalerts [GET]
List alerts associated to the app and any components. This includes configuration information about the alerts including emails, slack webhooks, and triggering events or conditions.

+ Response 200 (application/json)

        A JSON object with a `alerts` key. This is list of object `alerts`.

    + Attributes (V2 Apps Alerts Response)


    + Body

            {"alerts":[{"emails":["sammy@digitalocean.com"],"id":"e552e1f9-c1b0-4e6d-8777-ad6f27767306","phase":"ACTIVE","progress":{"steps":[{"ended_at":"2020-07-28T18:00:00Z","name":"alert-configure-insight-alert","started_at":"2020-07-28T18:00:00Z","status":"SUCCESS"}]},"spec":{"rule":"DEPLOYMENT_FAILED"}},{"emails":["sammy@digitalocean.com"],"id":"b58cc9d4-0702-4ffd-ab45-4c2a8d979527","phase":"ACTIVE","progress":{"steps":[{"ended_at":"2020-07-28T18:00:00Z","name":"alert-configure-insight-alert","started_at":"2020-07-28T18:00:00Z","status":"SUCCESS"}]},"spec":{"operator":"GREATER_THAN","rule":"CPU_UTILIZATION","value":85,"window":"FIVE_MINUTES"}}]}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Alerts Destinations By App Id [/v2/apps/{app_id}/alerts/{alert_id}/destinations]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + alert_id (string, required)

        The alert ID

        + Sample: 5a624ab5-dd58-4b39-b7dd-8b7c36e8a91d

### appsassignalertDestinations [POST]
Updates the emails and slack webhook destinations for app alerts. Emails must be associated to a user with access to the app.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Alerts Destinations Request)



+ Response 200 (application/json)

        A JSON object with an `alert` key. This is an object of type `alert`.

    + Attributes (V2 Apps Alerts Destinations Response)


    + Body

            {"alert":{"emails":["sammy@digitalocean.com"],"id":"e552e1f9-c1b0-4e6d-8777-ad6f27767306","phase":"ACTIVE","progress":{"steps":[{"ended_at":"2020-07-28T18:00:00Z","name":"alert-configure-insight-alert","started_at":"2020-07-28T18:00:00Z","status":"SUCCESS"}]},"spec":{"rule":"DEPLOYMENT_FAILED"}}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Components Logs By App Id [/v2/apps/{app_id}/components/{component_name}/logs{?type,follow,pod_connection_timeout}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + component_name (string, required)

        An optional component name. If set, logs will be limited to this component only.

        + Sample: component

### appsgetlogsactivedeployment [GET]
Retrieve the logs of the active deployment if one exists. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment. Note log_type=BUILD logs will return logs associated with the current active deployment (being served). To view build logs associated with in-progress build, the query must explicitly reference the deployment id.
+ Parameters
    + type (enum[string], optional)

        The type of logs to retrieve
        - BUILD: Build-time logs
        - DEPLOY: Deploy-time logs
        - RUN: Live run-time logs

        + Default: UNSPECIFIED
        + Sample: BUILD
        + Members
            + `UNSPECIFIED` 
            + `BUILD` 
            + `DEPLOY` 
            + `RUN` 

    + follow (boolean, optional)

        Whether the logs should follow live updates.

        + Sample: true
    + pod_connection_timeout (string, optional)

        An optional time duration to wait if the underlying component instance is not immediately available. Default: `3m`.

        + Sample: 3m

+ Response 200 (application/json)

        A JSON object with urls that point to archived logs

    + Attributes (V2 Apps Components Logs Response)


    + Body

            {"historic_logs":["https://logs-example/archive/build.log"],"live_url":"https://logs-example/build.log","url":"https://logs/build.log"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments By App Id [/v2/apps/{app_id}/deployments{?page,per_page}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appslistdeployments [GET]
List all deployments of an app.
+ Parameters
    + page (number, optional) -

        Which 'page' of paginated results to return.

        + Default: 1
        + Sample: 1
    + per_page (number, optional) -

        Number of items returned per page

        + Default: 20
        + Sample: 2

+ Response 200 (application/json)

        A JSON object with a `deployments` key. This will be a list of all app deployments

    + Attributes (V2 Apps Deployments Response)


    + Body

            {"deployments":[{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}],"links":{"pages":{}},"meta":{"total":1}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments By App Id [/v2/apps/{app_id}/deployments]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appscreatedeployment [POST]
Creating an app deployment will pull the latest changes from your repository and schedule a new deployment for your app.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Deployments Request)



+ Response 200 (application/json)

        A JSON object with a `deployment` key.

    + Attributes (V2 Apps Deployments Response1)


    + Body

            {"deployment":{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments By App Id [/v2/apps/{app_id}/deployments/{deployment_id}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + deployment_id (string, required)

        The deployment ID

        + Sample: 3aa4d20e-5527-4c00-b496-601fbd22520a

### appsgetdeployment [GET]
Retrieve information about an app deployment.

+ Response 200 (application/json)

        A JSON of the requested deployment

    + Attributes (V2 Apps Deployments Response1)


    + Body

            {"deployment":{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments Cancel By App Id [/v2/apps/{app_id}/deployments/{deployment_id}/cancel]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + deployment_id (string, required)

        The deployment ID

        + Sample: 3aa4d20e-5527-4c00-b496-601fbd22520a

### appscanceldeployment [POST]
Immediately cancel an in-progress deployment.

+ Response 200 (application/json)

        A JSON the `deployment` that was just cancelled.

    + Attributes (V2 Apps Deployments Response1)


    + Body

            {"deployment":{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments Components Component Name Logs [/v2/apps/{app_id}/deployments/{deployment_id}/components/{component_name}/logs{?type,follow,pod_connection_timeout}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + deployment_id (string, required)

        The deployment ID

        + Sample: 3aa4d20e-5527-4c00-b496-601fbd22520a
    + component_name (string, required)

        An optional component name. If set, logs will be limited to this component only.

        + Sample: component

### appsgetlogs [GET]
Retrieve the logs of a past, in-progress, or active deployment. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.
+ Parameters
    + type (enum[string], optional)

        The type of logs to retrieve
        - BUILD: Build-time logs
        - DEPLOY: Deploy-time logs
        - RUN: Live run-time logs

        + Default: UNSPECIFIED
        + Sample: BUILD
        + Members
            + `UNSPECIFIED` 
            + `BUILD` 
            + `DEPLOY` 
            + `RUN` 

    + follow (boolean, optional)

        Whether the logs should follow live updates.

        + Sample: true
    + pod_connection_timeout (string, optional)

        An optional time duration to wait if the underlying component instance is not immediately available. Default: `3m`.

        + Sample: 3m

+ Response 200 (application/json)

        A JSON object with urls that point to archived logs

    + Attributes (V2 Apps Components Logs Response)


    + Body

            {"historic_logs":["https://logs-example/archive/build.log"],"live_url":"https://logs-example/build.log","url":"https://logs/build.log"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Deployments Logs By App Id [/v2/apps/{app_id}/deployments/{deployment_id}/logs{?type,follow,pod_connection_timeout}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf
    + deployment_id (string, required)

        The deployment ID

        + Sample: 3aa4d20e-5527-4c00-b496-601fbd22520a

### appsgetlogsaggregate [GET]
Retrieve the logs of a past, in-progress, or active deployment. If a component name is specified, the logs will be limited to only that component. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment.
+ Parameters
    + type (enum[string], optional)

        The type of logs to retrieve
        - BUILD: Build-time logs
        - DEPLOY: Deploy-time logs
        - RUN: Live run-time logs

        + Default: UNSPECIFIED
        + Sample: BUILD
        + Members
            + `UNSPECIFIED` 
            + `BUILD` 
            + `DEPLOY` 
            + `RUN` 

    + follow (boolean, optional)

        Whether the logs should follow live updates.

        + Sample: true
    + pod_connection_timeout (string, optional)

        An optional time duration to wait if the underlying component instance is not immediately available. Default: `3m`.

        + Sample: 3m

+ Response 200 (application/json)

        A JSON object with urls that point to archived logs

    + Attributes (V2 Apps Components Logs Response)


    + Body

            {"historic_logs":["https://logs-example/archive/build.log"],"live_url":"https://logs-example/build.log","url":"https://logs/build.log"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Logs By App Id [/v2/apps/{app_id}/logs{?type,follow,pod_connection_timeout}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsgetlogsactivedeploymentaggregate [GET]
Retrieve the logs of the active deployment if one exists. The response will include links to either real-time logs of an in-progress or active deployment or archived logs of a past deployment. Note log_type=BUILD logs will return logs associated with the current active deployment (being served). To view build logs associated with in-progress build, the query must explicitly reference the deployment id.
+ Parameters
    + type (enum[string], optional)

        The type of logs to retrieve
        - BUILD: Build-time logs
        - DEPLOY: Deploy-time logs
        - RUN: Live run-time logs

        + Default: UNSPECIFIED
        + Sample: BUILD
        + Members
            + `UNSPECIFIED` 
            + `BUILD` 
            + `DEPLOY` 
            + `RUN` 

    + follow (boolean, optional)

        Whether the logs should follow live updates.

        + Sample: true
    + pod_connection_timeout (string, optional)

        An optional time duration to wait if the underlying component instance is not immediately available. Default: `3m`.

        + Sample: 3m

+ Response 200 (application/json)

        A JSON object with urls that point to archived logs

    + Attributes (V2 Apps Components Logs Response)


    + Body

            {"historic_logs":["https://logs-example/archive/build.log"],"live_url":"https://logs-example/build.log","url":"https://logs/build.log"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Metrics Bandwidth Daily [/v2/apps/{app_id}/metrics/bandwidth_daily{?date}]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsgetmetricsbandwidthdaily [GET]
Retrieve daily bandwidth usage metrics for a single app.
+ Parameters
    + date (string, optional)

        Optional day to query. Only the date component of the timestamp will be considered. Default: yesterday.

        + Sample: 2023-01-17T00:00:00Z

+ Response 200 (application/json)

        A JSON object with a `app_bandwidth_usage` key

    + Attributes (V2 Apps Metrics Bandwidth Daily Response)


    + Body

            {"app_bandwidth_usage":[{"app_id":"4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf","bandwidth_bytes":"513668"}],"date":"2023-01-17T00:00:00Z"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Rollback By App Id [/v2/apps/{app_id}/rollback]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appscreaterollback [POST]
Rollback an app to a previous deployment. A new deployment will be created to perform the rollback.
The app will be pinned to the rollback deployment preventing any new deployments from being created,
either manually or through Auto Deploy on Push webhooks. To resume deployments, the rollback must be
either committed or reverted.

It is recommended to use the Validate App Rollback endpoint to double check if the rollback is
valid and if there are any warnings.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Rollback Request)



+ Response 200 (application/json)

        A JSON object with a `deployment` key.

    + Attributes (V2 Apps Deployments Response1)


    + Body

            {"deployment":{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Rollback Commit By App Id [/v2/apps/{app_id}/rollback/commit]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appscommitrollback [POST]
Commit an app rollback. This action permanently applies the rollback and unpins the app to resume new deployments.

+ Response 200 

        The action was successful and the response body is empty.




+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Rollback Revert By App Id [/v2/apps/{app_id}/rollback/revert]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsrevertrollback [POST]
Revert an app rollback. This action reverts the active rollback by creating a new deployment from the
latest app spec prior to the rollback and unpins the app to resume new deployments.

+ Response 200 (application/json)

        A JSON object with a `deployment` key.

    + Attributes (V2 Apps Deployments Response1)


    + Body

            {"deployment":{"cause":"commit 9a4df0b pushed to github/digitalocean/sample-golang","created_at":"2020-07-28T18:00:00Z","id":"b6bdf840-2854-4f87-a36c-5f231c617c84","phase":"PENDING_BUILD","phase_last_updated_at":"0001-01-01T00:00:00Z","progress":{"pending_steps":6,"steps":[{"name":"build","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","message_base":"Building service","name":"web","status":"PENDING"}]}]},{"name":"deploy","status":"PENDING","steps":[{"name":"initialize","status":"PENDING"},{"name":"components","status":"PENDING","steps":[{"component_name":"web","name":"web","status":"PENDING","steps":[{"component_name":"web","message_base":"Deploying service","name":"deploy","status":"PENDING"},{"component_name":"web","message_base":"Waiting for service","name":"wait","status":"PENDING"}]}]},{"name":"finalize","status":"PENDING"}]}],"total_steps":6},"services":[{"name":"web","source_commit_hash":"9a4df0b8e161e323bc3cdf1dc71878080fe144fa"}],"spec":{"name":"sample-golang","region":"ams","services":[{"environment_slug":"go","github":{"branch":"branch","repo":"digitalocean/sample-golang"},"instance_count":2,"instance_size_slug":"basic-xxs","name":"web","routes":[{"path":"/"}],"run_command":"bin/sample-golang"}]},"tier_slug":"basic","updated_at":"2020-07-28T18:00:00Z"}}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps Rollback Validate By App Id [/v2/apps/{app_id}/rollback/validate]

+ Parameters
    + app_id (string, required)

        The app ID

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsvalidaterollback [POST]
Check whether an app can be rolled back to a specific deployment. This endpoint can also be used
to check if there are any warnings or validation conditions that will cause the rollback to proceed
under unideal circumstances. For example, if a component must be rebuilt as part of the rollback
causing it to take longer than usual.

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Rollback Request)



+ Response 200 (application/json)

        A JSON object with the validation results.

    + Attributes (V2 Apps Rollback Validate Response)


    + Body

            {"error":{"code":"incompatible_result","message":"deployment result \"failed\" is unsuitable for rollback"},"valid":false}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps By Id [/v2/apps/{id}]

+ Parameters
    + id (string, required)

        The ID of the app

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsdelete [DELETE]
Delete an existing app. Once deleted, all active deployments will be permanently shut down and the app deleted. If needed, be sure to back up your app specification so that you may re-create it at a later time.

+ Response 200 (application/json)

        the ID of the app deleted.

    + Attributes (V2 Apps Response2)


    + Body

            {"id":"b7d64052-3706-4cb7-b21a-c5a2f44e63b3"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}


### appsupdate [PUT]
Update an existing app by submitting a new app specification. For documentation on app specifications (`AppSpec` objects), please refer to [the product documentation](https://docs.digitalocean.com/products/app-platform/reference/app-spec/).

+ Request (<<Add Header Value>>)

    + Attributes (V2 Apps Request1)



+ Response 200 (application/json)

        A JSON object of the updated `app`

    + Attributes (V2 Apps Response1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Apps By Id [/v2/apps/{id}{?name}]

+ Parameters
    + id (string, required)

        The ID of the app

        + Sample: 4f6c71e2-1e90-4762-9fee-6cc4a0a9f2cf

### appsget [GET]
Retrieve details about an existing app by either its ID or name. To retrieve an app by its name, do not include an ID in the request path. Information about the current active deployment as well as any in progress ones will also be included in the response.
+ Parameters
    + name (string, optional)

        The name of the app to retrieve.

        + Sample: myApp

+ Response 200 (application/json)

        A JSON with key `app`

    + Attributes (V2 Apps Response1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}




# Group Billing

The billing endpoints allow you to retrieve your account balance, invoices
and billing history.

**Balance:** By sending requests to the `/v2/customers/my/balance` endpoint, you can
retrieve the balance information for the requested customer account.

**Invoices:** [Invoices](https://www.digitalocean.com/docs/accounts/billing/invoices/)
are generated on the first of each month for every DigitalOcean
customer. An invoice preview is generated daily, which can be accessed
with the `preview` keyword in place of `$INVOICE_UUID`. To interact with
invoices, you will generally send requests to the invoices endpoint at
`/v2/customers/my/invoices`.

**Billing History:** Billing history is a record of billing events for your account.
For example, entries may include events like payments made, invoices
issued, or credits granted. To interact with invoices, you
will generally send requests to the invoices endpoint at
`/v2/customers/my/billing_history`.

## V2 Customers My Balance [/v2/customers/my/balance]

### balanceget [GET]
To retrieve the balances on a customer's account, send a GET request to `/v2/customers/my/balance`.

+ Response 200 (application/json)

        The response will be a JSON object that contains the following attributes

    + Attributes (V2 Customers My Balance Response)


    + Body

            {"account_balance":"12.23","generated_at":"2019-07-09T15:01:12Z","month_to_date_balance":"23.44","month_to_date_usage":"11.21"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Billing History [/v2/customers/my/billing_history]

### billingHistorylist [GET]
To retrieve a list of all billing history entries, send a GET request to `/v2/customers/my/billing_history`.

+ Response 200 (application/json)

        The response will be a JSON object that contains the following attributes

    + Attributes (V2 Customers My Billing History Response)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Invoices [/v2/customers/my/invoices{?per_page,page}]

### invoiceslist [GET]
To retrieve a list of all invoices, send a GET request to `/v2/customers/my/invoices`.
+ Parameters
    + per_page (number, optional) -

        Number of items returned per page

        + Default: 20
        + Sample: 2
    + page (number, optional) -

        Which 'page' of paginated results to return.

        + Default: 1
        + Sample: 1

+ Response 200 (application/json)

        The response will be a JSON object contains that contains a list of invoices under the `invoices` key, and the invoice preview under the `invoice_preview` key.
Each element contains the invoice summary attributes.

    + Attributes (V2 Customers My Invoices Response)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Invoices By Invoice Uuid [/v2/customers/my/invoices/{invoice_uuid}]

+ Parameters
    + invoice_uuid (string, required)

        UUID of the invoice

        + Sample: 22737513-0ea7-4206-8ceb-98a575af7681

### invoicesgetbyUUID [GET]
To retrieve the invoice items for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID`.

+ Response 200 (application/json)

        The response will be a JSON object with a key called `invoice_items`. This will be set to an array of invoice item objects.

    + Attributes (V2 Customers My Invoices Response1)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Invoices Csv [/v2/customers/my/invoices/{invoice_uuid}/csv]

+ Parameters
    + invoice_uuid (string, required)

        UUID of the invoice

        + Sample: 22737513-0ea7-4206-8ceb-98a575af7681

### invoicesgetcsvByUUID [GET]
To retrieve a CSV for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/csv`.

+ Response 200 (text/csv)

        The response will be a CSV file.

    + Attributes (string)


    + Body

            product,group_description,description,hours,start,end,USD,project_name,category
            Floating IPs,,Unused Floating IP - 1.1.1.1,100,2020-07-01 00:00:00 +0000,2020-07-22 18:14:39 +0000,$3.11,,iaas
            Taxes,,STATE SALES TAX (6.25%),,2020-07-01 00:00:00 +0000,2020-07-31 23:59:59 +0000,$0.16,,iaas


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Invoices Pdf [/v2/customers/my/invoices/{invoice_uuid}/pdf]

+ Parameters
    + invoice_uuid (string, required)

        UUID of the invoice

        + Sample: 22737513-0ea7-4206-8ceb-98a575af7681

### invoicesgetpdfByUUID [GET]
To retrieve a PDF for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/pdf`.

+ Response 200 (application/pdf)

        The response will be a PDF file.

    + Attributes (string)



+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}



## V2 Customers My Invoices Summary [/v2/customers/my/invoices/{invoice_uuid}/summary]

+ Parameters
    + invoice_uuid (string, required)

        UUID of the invoice

        + Sample: 22737513-0ea7-4206-8ceb-98a575af7681

### invoicesgetsummaryByUUID [GET]
To retrieve a summary for an invoice, send a GET request to `/v2/customers/my/invoices/$INVOICE_UUID/summary`.

+ Response 200 (application/json)

        To retrieve a summary for an invoice, send a GET request to  `/v2/customers/my/invoices/$INVOICE_UUID/summary`.

    + Attributes (V2 Customers My Invoices Summary Response)


    + Body

            {"amount":"27.13","billing_period":"2020-01","credits_and_adjustments":{"amount":"6.78","name":"Credits & adjustments"},"invoice_uuid":"22737513-0ea7-4206-8ceb-98a575af7681","overages":{"amount":"3.45","name":"Overages"},"product_charges":{"amount":"12.34","items":[{"amount":"10.00","count":"1","name":"Spaces Subscription"},{"amount":"2.34","count":"1","name":"Database Clusters"}],"name":"Product usage charges"},"taxes":{"amount":"4.56","name":"Taxes"},"user_billing_address":{"address_line1":"101 Shark Row","city":"Atlantis","country_iso2_code":"US","created_at":"2019-09-03T16:34:46.000+00:00","postal_code":"12345","region":"OC","updated_at":"2019-09-03T16:34:46.000+00:00"},"user_company":"DigitalOcean","user_email":"sammy@digitalocean.com","user_name":"Sammy Shark"}


+ Response 401 (application/json)

        Unauthorized

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"unauthorized","message":"Unable to authenticate you."}


+ Response 404 (application/json)

        The resource was not found.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"not_found","message":"The resource you requested could not be found."}


+ Response 429 (application/json)

        API Rate limit exceeded

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"too_many_requests","message":"API Rate limit exceeded."}


+ Response 500 (application/json)

        Server error.

    + Attributes (V2 1 Clicks 401 Error1)


    + Body

            {"id":"server_error","message":"Unexpected server-side error"}




# Group Block Storage

[DigitalOcean Block Storage Volumes](https://www.digitalocean.com/docs/volumes/)
provide expanded storage capacity for your Droplets and can be moved
between Droplets within a specific region.

[...]
